{# src/Fecdas/comandesBundle/Resources/views/Facturacio/comandes.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Llista de comandes {% endblock %}

{% block body %}
	<header>
        <h1>Llistat de comandes</h1>
    </header>
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
        
    <div id="comandes-main">
	    <div id="list-forms">
	    	<form id="form_comandes" action="{{ path('FecdasBundle_novacomanda') }}" method="GET" {{ form_enctype(form) }}  class="appform">
		    	<div class="row">
				  <div class="col-md-4">
				  	<div class="form-group">
				    	{{ form_label(form.cerca, 'Cercar', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.cerca, { 'attr': {'class': 'form-control'} }) }}
					</div>
				  </div>
				  <div class="col-md-2">
				  	<div class="form-group">
				    	<div class="input-group">
					    	<span class="input-group-addon">Factura</span>
							{{ form_widget(form.numfactura, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
				  </div>
				  <div class="col-md-2">
				  	<div class="form-group">
				    	<div class="input-group">
					    	<span class="input-group-addon">Rebut</span>
							{{ form_widget(form.numrebut, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
				  </div>
				  <div class="col-md-2">
					  <div class="checkbox-inline">
					    <label>
					      {{ form_widget(form.baixes) }} Mostrar baixes
					    </label>
					  </div>
				  </div>
				  <div class="col-md-2 col-last-right">
						<button type="submit" class="btn btn-default btn-lg"><i class="fa fa-plus-circle"></i> afegir</button>
				  </div>
				</div>
		   	</form>
	    </div>
	    <div class="table-header">	
		   	<div id="list-header">
				<div id="header-comanda-id" class="col-listheader hidden">&nbsp;</div>
				<div id="header-comanda-estat" class="col-listheader collistheader-noorder">Estat</div>
		   		<div id="header-comanda-num" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(comandes, 'Num.', 'c.num') }}
		   			<span class="listheader-icon {% if comandes.isSorted('c.num') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-comanda-club" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(comandes, 'Club', 'c.club') }}
		   			<span class="listheader-icon {% if comandes.isSorted('c.club') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-comanda-items" class="col-listheader collistheader-noorder">items</div>
		   		<div id="header-comanda-total" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(comandes, 'Total', 'c.total') }}
		   			<span class="listheader-icon {% if comandes.isSorted('c.total') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-comanda-data" class="col-listheader">{{ knp_pagination_sortable(comandes, 'Data', 'c.dataentrada') }}
		   			<span class="listheader-icon {% if comandes.isSorted('c.dataentrada') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-comanda-factura" class="col-listheader">{{ knp_pagination_sortable(comandes, 'Factura', 'f.datafactura,f.num') }}
		   			<span class="listheader-icon {% if comandes.isSorted('f.datafactura,f.num') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-comanda-rebut" class="col-listheader">{{ knp_pagination_sortable(comandes, 'Rebut', 'r.datapagament,r.num') }}
		   			<span class="listheader-icon {% if comandes.isSorted('r.datapagament,r.num') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-comanda-comentaris" class="col-listheader collistheader-noorder">Comentaris</div>
		   		<div id="header-comanda-compta" class="col-listheader">{{ knp_pagination_sortable(comandes, 'Enviat\nCompta.', 'c.comptabilitat') }}
		   			<span class="listheader-icon {% if comandes.isSorted('c.comptabilitat') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-comanda-actions" class="col-listheader collistheader-noorder total-rowcount">Total: {{ comandes.getTotalItemCount|number_format(0, ',', '.') }}</div>
		   	</div>
	   	</div>
		{% if comandes|length > 0 %}
		<div class="table-scroll">
		   	<ol id="list-data">
			{% for comanda in comandes %} 
		   		<li class="data-detall {% if comanda.esBaixa %} data-detall-fosc {% endif %}">
		   			<div class="data-detall-cell comanda-id hidden">{{ comanda.id }}</div>
		   			<div class="data-detall-cell comanda-estat">{{ comanda.estat }}</div>
		   			<div class="data-detall-cell comanda-num">{{ comanda.numcomanda }}</div>
		   			<div class="data-detall-cell comanda-club">{{ comanda.club.nom }}</div>
		   			<div class="data-detall-cell comanda-items">{{ comanda.numdetalls }}</div>
		   			<div class="data-detall-cell comanda-total">{{ comanda.totalDetalls|number_format(2, ',', '.') }}€</div>
		   			<div class="data-detall-cell comanda-data">{{ comanda.dataentrada|date('d/m/Y') }}</div>
		   			<div class="data-detall-cell comanda-factura">
		   				{% if  comanda.factura is not null %}
							<a id="editar-factura" class="link" href="{{ path('FecdasBundle_editarfactura', {'id': comanda.factura.id }) }}"  title="Editar factura" alt="Editar factura">
								{{ comanda.numfactura }}</a>
						{% else %}
							<a id="crear-factura" class="link" href="{{ path('FecdasBundle_novafactura', {'comanda': comanda.id }) }}" title="Crear factura" alt="Crear factura">
								<i class="fa fa-plus-circle fa-1x"></i></a>
						{% endif %}		
					</div>
		   			<div class="data-detall-cell comanda-rebut">{{ comanda.numrebut }}</div>
		   			<div class="data-detall-cell comanda-comentaris">{{ comanda.comentaris }}</div>
		   			<div class="data-detall-cell comanda-compta">{% if  comanda.comptabilitat is not null %}{{ comanda.comptabilitat.dataenviament|date('d/m/Y') }}{% endif %}	</div>
		   			<div class="data-detall-cell comanda-actions">
		   				<a class="comanda-action-edit" href="{{ path('FecdasBundle_editarcomanda', { 'id': comanda.id }) }}" alt="Editar" title="Editar"><i class="fa fa-pencil text-info"></i></a>			
						{% if not comanda.esBaixa %}
		   				<a class="comanda-action-baixa" href="{{ path('FecdasBundle_baixacomanda', { 'id': comanda.id }) }}" alt="Baixa" title="Baixa"><i class="fa fa-trash-o text-danger"></i></a>
		   				{% else %}
		   				<i class="fa fa-trash-o transparent"></i>
		   				{% endif %}
		   			</div>
		   		</li>
		   		{% endfor %}
			</ol>
		</div>
		{% if comandes.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(comandes, null, sortparams) }}</div>{% endif %}
	   	{% else %}
	    <div class="sms-notice">No hi ha comandes per mostrar</div>
	    {% endif %}
	</div>
    <div id="dialeg-edicio-comanda" class="finestra-overlay"></div>
{% endblock %}

{% block javascripts %}


	{{ parent() }}
 	<script src="{{ asset('js/jquery.ui.datepicker-ca.js') }}" type="text/javascript"></script>

	<script type="text/javascript">
	
	
	filtreLlistacomandes = function(cerca, baixes, numfactura, numrebut) {
		
		window.location = "{{ path('FecdasBundle_comandes', sortparams)|raw }}"+"&cerca="+cerca+"&baixes="+baixes+"&numfactura="+numfactura+"&numrebut="+numrebut;
	}
	
	$(document).ready(function(){
		setMenuActive("menu-admcomandes");
		
		$("#form_cerca").change(function() {
			filtreLlistacomandes($( "#form_cerca" ).val(), ($(this).is(':checked')?1:0), $( "#form_numfactura" ).val(), $( "#form_numrebut" ).val() );
	    });

		$("#form_numfactura").change(function() {
			filtreLlistacomandes($( "#form_cerca" ).val(), ($(this).is(':checked')?1:0), $( "#form_numfactura" ).val(), $( "#form_numrebut" ).val() );
	    });

		$("#form_numrebut").change(function() {
			filtreLlistacomandes($( "#form_cerca" ).val(), ($(this).is(':checked')?1:0), $( "#form_numfactura" ).val(), $( "#form_numrebut" ).val() );
	    });
		
		$( '#form_baixes' ).change(function(e) {
			filtreLlistacomandes($( "#form_cerca" ).val(), ($(this).is(':checked')?1:0), $( "#form_numfactura" ).val(), $( "#form_numrebut" ).val() );
		});
		
		// Comanda
		init_cercaclub_JSON('#form_cerca', 'Filtrar per nom del club', "{{  path('FecdasBundle_jsonclubs') }}");
	});
	
	</script>


{% endblock %}

