{# src/Fecdas/productesBundle/Resources/views/Facturacio/productes.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block javascriptshead %}
 	{{ parent() }}
 	<script src="{{ asset('js/jquery.ui.datepicker-ca.js') }}" type="text/javascript"></script>
 	<script src="{{ asset('js/utils/purl.js') }}" type="text/javascript"></script>
 	
    {{ form_javascript(form) }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Llista de productes {% endblock %}

{% block body %}
	<header>
        <h1>Llista de productes</h1>
    </header>
    {% for flashMessage in app.session.flashbag.get('error-notice') %}
    <div class="sms-notice">
		{{ flashMessage }}
  	</div>	
	{% endfor %}
        
    <div id="productes-main">
	    <div id="list-forms">
	    	<form id="form_productes" action="{{ path('FecdasBundle_nouproducte') }}" method="POST" {{ form_enctype(form) }}  class="appform">
		    	<div class="row">
				  <div class="col-md-5">
				  	<div class="form-group">
				    	{{ form_label(form.cerca, 'Cercar', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.cerca, { 'attr': {'class': 'form-control'} }) }}
					</div>
				  </div>
				  <div class="col-md-3">
				    <div class="form-group">
				    	{{ form_label(form.tipus, 'Cercar', { 'label_attr': {'class': 'sr-only'} }) }}
						<div class="input-group"><div class="input-group-addon">tipus</div>{{ form_widget(form.tipus, { 'attr': {'class': 'form-control'} }) }}</div>
					</div>
				  </div>
				  <div class="col-md-2">
					  <div class="checkbox-inline">
					    <label>
					      {{ form_widget(form.baixes) }} Mostrar baixes
					    </label>
					  </div>
				  </div>
				  <div class="col-md-2 col-last-right">
						<button type="submit" class="btn btn-default btn-lg"><i class="fa fa-plus-circle"></i> afegir</button>
				  </div>
				</div>
		   	</form>
	    </div>
	    <div class="table-header">	
		   	<div id="list-header">
				<div id="header-producte-id" class="col-listheader hidden">&nbsp;</div>
		   		<div id="header-producte-codi" class="col-listheader">{{ knp_pagination_sortable(productes, 'Codi', 'p.codi') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.codi') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-nomcurt" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(productes, 'Abr.', 'p.abreviatura') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.abreviatura') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-descripcio" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(productes, 'Descripcio', 'p.descripcio') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.descripcio') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-tipus" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(productes, 'Tipus', 'p.tipus') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.tipus') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-import" class="col-listheader collistheader-noorder">Preu</div>
		   		<div id="header-producte-iva" class="col-listheader collistheader-noorder">IVA</div>
		   		<div id="header-producte-total" class="col-listheader collistheader-noorder">Total</div>
		   		<div id="header-producte-minim" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(productes, 'Uds. mín.', 'p.minim') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.minim') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-limit" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(productes, 'Límit avís', 'p.stockable') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.stockable') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-stock" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(productes, 'En Stock', 'p.stock') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.stock') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-actions" class="col-listheader collistheader-noorder total-rowcount">Total: {{ productes.getTotalItemCount|number_format(0, ',', '.') }}</div>
		   	</div>
	   	</div>
		{% if productes|length > 0 %}
		<div class="table-scroll">
		   	<ol id="list-data">
			{% for producte in productes %} 
		   		<li class="data-detall {% if producte.esBaixa %} data-detall-fosc {% endif %}">
		   			<div class="data-detall-cell producte-id hidden">{{ producte.id }}</div>
		   			<div class="data-detall-cell producte-codi">{{ producte.codi }}</div>
		   			<div class="data-detall-cell producte-nomcurt">{{ producte.abreviatura }}</div>
		   			<div class="data-detall-cell producte-descripcio">{{ producte.descripcio }}</div>
		   			<div class="data-detall-cell producte-tipus">{{ producte.tipustext }}</div>
		   			<div class="data-detall-cell producte-import">{{ producte.currentPreu|number_format(2, ',', '.') }}€</div>
		   			<div class="data-detall-cell producte-iva">{{ (producte.currentIva*100)|number_format(0, ',', '.') }}%</div>
		   			<div class="data-detall-cell producte-total">{{ (producte.currentPreu * (1+producte.currentIva))|number_format(2, ',', '.') }}€</div>
		   			<div class="data-detall-cell producte-minim">{{ producte.minim }}</div>
		   			<div class="data-detall-cell producte-limit">{{ producte.limitnotifica }}</div>
		   			<div class="data-detall-cell producte-stock">{{ producte.stock }}</div>
		   			<div class="data-detall-cell producte-actions">
		   				<a class="producte-action-edit" href="{{ path('FecdasBundle_editarproducte', { 'id': producte.id }) }}" alt="Editar" title="Editar"><i class="fa fa-pencil text-info"></i></a>			
						{% if not producte.esBaixa %}
		   				<a class="producte-action-baixa" href="{{ path('FecdasBundle_baixaproducte', { 'id': producte.id }) }}" alt="Baixa" title="Baixa"><i class="fa fa-trash-o text-danger"></i></a>
		   				{% endif %}
		   			</div>
		   		</li>
		   		{% endfor %}
			</ol>
		</div>
		{% if productes.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(productes, null, sortparams) }}</div>{% endif %}
	   	{% else %}
	    <div class="sms-notice">No hi ha productes per mostrar</div>
	    {% endif %}
	</div>
    <div id="dialeg-edicio-producte" class="finestra-overlay"></div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

//Cercador de productes
init_cercaproducte_JSON = function(elem_sel, placeholder_txt) {
	
	/* Inicialitza el control de cerca (input hidden) */
	$(elem_sel).select2({
		minimumInputLength: 3,
		allowClear: true,
		multiple: false,
		placeholder: placeholder_txt,

		query: function (query) {
			var data = {results: []};
			var url = "{{  path('FecdasBundle_jsonproductes') }}";

			var params = { 	cerca: query.term };
			// Consulta activitats %desc% que no tingui assignades la persona o no sigui alguna de les excepcions 
			// alert(JSON.stringify(params));
			$.get(url,	params, function(jdata) {
				//alert(JSON.stringify(jdata) + ' ' + jdata[0].text);
				data.results = jdata;
				query.callback(data);
			}).fail(function() {
				query.callback(data);
			});
		},
		initSelection: function(element, callback) {  // value del input ==> carrega per defecte llista de persones. (Retorn del POST per exemple) 
			var data = [];
			var url = "{{ path('FecdasBundle_jsonproductes') }}";
			var params = { 	id: element.val() };
			$.get(url,	params, function(jdata) {
				console.log(JSON.stringify(jdata) + ' ' + jdata['text']);
				callback(jdata);
			}).fail(function() {
				callback(data);
			});
			
	        callback(data);
		} 
	});
}

filtreLlistaProductes = function(cerca, tipusprducte, baixes) {
	
	window.location = "{{ path('FecdasBundle_productes', sortparams)|raw }}"+"&cerca="+cerca+"&tipus="+tipusprducte+"&baixes="+baixes;
}

$(document).ready(function(){
	setMenuActive("menu-admproductes");
	
	$("#form_tipus").change(function() {
		filtreLlistaProductes($( "#form_cerca" ).val(), $( "#form_tipus" ).val(), $(this).is(':checked'));
    });

	$("#form_cerca").change(function() {
		filtreLlistaProductes($( "#form_cerca" ).val(), $( "#form_tipus" ).val(), $(this).is(':checked'));
    });

	$( '#form_baixes' ).change(function(e) {
		filtreLlistaProductes($( "#form_cerca" ).val(), $( "#form_tipus" ).val(), $(this).is(':checked'));
	});
	
	// Producte
	init_cercaproducte_JSON('#form_cerca', 'Cercar descripció del producte');
});

</script>


{% endblock %}

