{# src/Fecdas/PartesBundle/Resources/views/Page/traspas.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% form_theme form 'FecdasBundle:Includes:formtheming.html.twig' %}

{% block stylesheets %}
	
	<link href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Generació de fitxers er comptabilitat {% endblock %}

{% block body %}
    <header>
        <h1>Traspàs comptabilitat</h1>
    </header>
    
	{% include 'FecdasBundle:Includes:messages.html.twig' %}    
	<form id="formtraspas" action="{{ path('FecdasBundle_fitxercomptabilitat') }}" method="get" {{ form_enctype(form) }}  class="appform">
		<div class="row">
			{% if enviaments|length > 0 %}
			<h4 class="col-md-12">darrer enviament apunts fins a <span class="blue">{{ enviaments[0].datafins|date('d/m/Y') }}</span></h4>
			{% else %}
			<h4 class="col-md-12">encara no s'ha realitzat cap enviament</h4>
			{% endif %}
			<div class="col-md-3">
				<div class="form-group">
					<label></label>
					<div id="formtraspas-datadesde" class="input-group">
		  				<span class="input-group-addon">Des de</span>
						{{ form_widget(form.datadesde, { 'attr': {'class': 'form-control form-control-center formtime-calendar'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>
				</div>
			 </div>
			 <div class="col-md-3">
				<div class="form-group">
					<label></label>
					<div id="formtraspas-datafins" class="input-group">
		  				<span class="input-group-addon">Fins</span>
						{{ form_widget(form.datafins, { 'attr': {'class': 'form-control form-control-center formtime-calendar'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>
				</div>
			 </div>
			 <div class="col-md-2">
			 	<div class="form-group">
			 		<label></label>
			 		<div class="input-group">
						<button type="submit" id="formtraspas-desar" class="btn btn-default btn-lg"><i class="fa fa-save"></i> Enviar</button>
					</div>
				</div>
			 </div>	
		</div>
		<div id="formtraspas-rest" class="sr-only">{{ form_rest(form) }}</div>
		
		<div class="row">
			<div class="col-md-9">
	    		<h4 class="blue">Històric</h4>
			</div>
			 <div class="col-md-9">
			{% if enviaments|length > 0 %}
			<div class="table-scroll enviaments">
			   	<ol id="list-data">
				{% for enviament in enviaments %} 
			   		<li class="data-detall {% if enviament.esBaixa %} data-detall-fosc {% endif %}">
			   			<div class="data-detall-cell enviament-id hidden">{{ enviament.id }}</div>
			   			<div class="data-detall-cell enviament-desc">
			   				<a href="{{ path('FecdasBundle_downloadassentaments', { 'filename' : enviament.fitxer }) }}" target="_blank">
			   					{{ enviament.fitxer }}</a>{{ enviament.textComptabilitat  }}
			   			</div>
			   			<div class="data-detall-cell enviament-actions">
							{% if not enviament.esBaixa %}
			   				<a class="enviament-action-baixa" href="{{ path('FecdasBundle_anulartraspas', { 'id': enviament.id }) }}" alt="Baixa" title="Baixa"><i class="fa fa-trash-o text-danger"></i></a>
			   				{% else %}
			   				<i class="fa fa-trash-o transparent"></i>
			   				{% endif %}
			   			</div>
			   		</li>
			   		{% endfor %}
				</ol>
			</div>
			{% if enviaments.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(enviaments, null, { 'sort': 'c.dataenviament','direction': 'desc' }) }}</div>{% endif %}
		   	{% else %}
		    <div class="sms-notice">No hi ha enviaments per mostrar</div>
		    {% endif %}
		</div></div>
				
		<div id="error" class="sms-notice" style="display:none"> </div>
		
		<div class="row"></div>
    </form>

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- Datetime plugin's. http://xdsoft.net/jqplugins/datetimepicker/ -->
	<script src="{{ asset('js/jquery.datetimepicker.js') }}" type="text/javascript"></script>

	<script type="text/javascript">

		$(document).ready(function(){
			setMenuActive("menu-admproducte");

			var current = new Date();
			
			var mindate = new Date (current.getFullYear(), current.getMonth() - 8, current.getDay());
			var maxdate = new Date (current.getFullYear(), current.getMonth() + 1, current.getDay());

			initDateTimePicker ( 
				$( '#form_datadesde' ), 
				mindate, 
				current, 
				current, 
				'datadesde-picker', 
				false,
				''
			);
			
			initDateTimePicker ( 
				$( '#form_datafins' ), 
				mindate, 
				maxdate, 
				current, 
				'datafins-picker', 
				false,
				''
			);


			// Form submit. Remove prototype
		    $( "#formtraspas" ).submit(function( event ) {
		    	  event.preventDefault();

		    	  var url = $(this).attr('action');
		    	  var params = [];

		    	  params.push( {'name':'inici','value':  $("#form_datadesde").val() } );
		    	  params.push( {'name':'final','value':  $("#form_datafins").val() } );
		    	  
		    	  console.log(url);
		    	  $( ".alert").remove();
				  $.get(url, params, function(data, textStatus) {

					    var fileRow = "<div class='data-detall-cell enviament-id hidden'>__ID__</div>";
					    fileRow += "<div class='data-detall-cell enviament-desc'><a href='";
					    fileRow += "{{ path('FecdasBundle_downloadassentaments', { 'filename' : '__FILE__' }) }}";
					    fileRow += "' target='_blank'>__FILE__</a>__TEXT__</div>";
			   			fileRow += "<div class='data-detall-cell enviament-actions'><a class='enviament-action-baixa' href='";
			   			fileRow += "{{ path('FecdasBundle_anulartraspas', { 'id': '__ID__' }) }}";
			   			fileRow += "' alt='Baixa' title='Baixa'><i class='fa fa-trash-o text-danger'></i></a></div>";
					  
					    /*var link=document.createElement('a');
					    link.href=data.filename;
					    link.text=data;*/

					    fileRow = fileRow.replace("__ID__", data.id);
					    fileRow = fileRow.replace("__FILE__", data.filename);
					    fileRow = fileRow.replace("__TEXT__", data.text);

					    var wrapper= document.createElement('li');
					    wrapper.setAttribute('class', 'data-detall');
					    wrapper.innerHTML = fileRow;
					    
					    /*$(wrapper).find('.enviament-desc').append(link);*/
					    
					    $( "#formtraspas #list-data" ).append( wrapper );

					    $(wrapper).find('.enviament-desc a').click();
	  						
				  }).fail( function(xhr, status, error) {
					 // xhr.status + " " + xhr.statusText, status, error
					 var sms = smsResultAjax('OK', error);
					 if (xhr.status != 500) {
						var sms = smsResultAjax('OK', "Error desconegut: " + error );
					 }
					
					 $( "#formtraspas" ).before( sms  );
				}); 
		    });
		});
		
	</script>


{% endblock %}

