{# src/Fecdas/PartesBundle/Resources/views/Page/cistella.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% form_theme form 'FecdasBundle:Includes:formtheming.html.twig' %}

{% block stylesheets %}
	
	<link href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. La teva cistella {% endblock %}

{% block body %}
    <header>
        <h1> La teva cistella</h1>
    </header>
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
    
	<form id="formcomanda" action="{{ path('FecdasBundle_editarcomanda') }}" method="post" {{ form_enctype(form) }}  class="appform">
		<div class="row">
			<div class="col-md-12">
				<h3 class="blue">
					Detalls de la comanda 
					{% if comanda.detallsEditables == true %}
						<a class="add-detall pull-right link" href="javascript:void(0);" ><i class="fa fa-plus-square fa-1x blue"></i></a> 
					{% else %}
						<span class="title-comment">(No es poden editar els detalls d'aquest tipus de comandes)</span> 
					{% endif %}
				</h3>
			</div>
			<div class="col-md-12">
				<div class="table-header">	
				<!-- <ul class="detalls-header">
					<li class="detall-form-header"> -->
						<div class="comanda-detall-form-header list-header">
							<div class="col-id hidden">Id</div>
							<div class="col-listheader col-producte">Producte</div>
							<div class="col-listheader col-unitats">Uds.</div>
							<div class="col-listheader col-preuunitat">Preu</div>
							<div class="col-listheader col-descompte">Descompte</div>
							<div class="col-listheader col-ivaunitat">IVA</div>
							<div class="col-listheader col-totalnet">T. net</div>
							<div class="col-listheader col-totaliva">T. IVA</div>
							<div class="col-listheader col-total">Total</div>
							<div class="col-listheader col-comentaris">Comentaris</div>
							<div class="col-listheader col-actions">&nbsp;</div>
						</div>
				<!-- </li>
				 </ul> -->
				 </div>
				 <div class="table-scroll">
		   			<ul id="list-data">
				 <!-- <ul class="detalls"> -->
					{% set detall = form.detalls.vars.prototype %}
					{% set id = -1 %}
					{% set fila = 0 %}
					{% include 'FecdasBundle:Facturacio:comandadetall.html.twig' %}			
					{% if form.detalls|length == 0 %}
					<li class="comanda-detall-buida"><div class="alert alert-success" role="alert">La comanda encara no té cap detall</div></li>
					{% else %}
						{% for key, detall in form.detalls %}
							{% set id = detall.vars.data.id %}
							{% set fila = loop.index %}
							{% if comanda.esBaixa or detall.vars.data.esbaixa == false %}
								{% include 'FecdasBundle:Facturacio:comandadetall.html.twig' %}
							{% endif %}
						{% endfor %}	
					{% endif %}
				 </ul> 
			</div>				 
		</div>
		
		<div id="formcomanda-rest" class="sr-only">{{ form_rest(form) }}</div>
		
		<div id="error" class="sms-notice sr-only"> </div>
		
    </form>

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- Datetime plugin's. http://xdsoft.net/jqplugins/datetimepicker/ -->
	<script src="{{ asset('js/jquery.datetimepicker.js') }}" type="text/javascript"></script>

	<script type="text/javascript">

		function addDetallForm($collectionHolder) {
		    // Get the data-prototype explained earlier
		    var prototype = $('.detall-form-row-prototype').html();
	
		    // get the new index
		    var index = $collectionHolder.data('index');
	
		    // Replace '__name__' in the prototype's HTML to
		    // instead be a number based on how many items we have
		    var newForm = prototype.replace(/__name__/g, index);
	
		    // increase the index with one for the next item
		    $collectionHolder.data('index', index + 1);
	
		    // Display the form in the page in an li, before the "Add a tag" link li
		    var $newFormLi = $('<li class="detall-form-row"></li>').append(newForm);
		    $collectionHolder.append($newFormLi);
		    
			// Producte
			//init_cercaproducte_JSON('#'+$newFormLi.find('.comanda_detalls_producte').attr('id'), 'Cercar la descripció del producte', "{# path('FecdasBundle_jsonproductes') #}");		

			$('#'+$newFormLi.find('.comanda_detalls_producte').attr('id')).select2({
				minimumInputLength: 2,
				allowClear: true,
				query: function (query) {
					var data = { results: [] };
					var params = { 	'cerca': query.term };
					var url = "{{ path('FecdasBundle_jsonproductes') }}";
					// Consulta activitats %desc% que no tingui assignades la persona o no sigui alguna de les excepcions 
					$.get(url,	params, function(jdata) {
						data.results = jdata;
						query.callback(data);
					}).fail(function() {
						query.callback(data);
					});
				},
			});	
		    
		}

		function recalcularCanviPreu(rowDetall) {
			var formatter = new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
			
			var preu = rowDetall.find('.data-detall-cell.col-preuunitat input').val();
			var iva  = rowDetall.find('.data-detall-cell.col-ivaunitat input').val();
			var uds  = rowDetall.find('.data-detall-cell.col-unitats input').val();
			var descompte = rowDetall.find('.data-detall-cell.col-descompte input').val();

			if (descompte > 100) {
				rowDetall.find('.data-detall-cell.col-descompte input').val(100);
				descompte = 100;
			}
			if (descompte < 0) {
				rowDetall.find('.data-detall-cell.col-descompte input').val(0);
				descompte = 0;
			}
			var totalNet = preu * uds * (1 - descompte/100);
			var totlIVA = totalNet * ( iva/100 ); 
			rowDetall.find('.data-detall-cell.col-totalnet input').val( formatter.format(totalNet) );
			rowDetall.find('.data-detall-cell.col-totaliva input').val( formatter.format(totlIVA) );
			rowDetall.find('.data-detall-cell.col-total input').val( formatter.format(totalNet + totlIVA) );

			// Recalcular total
			var totalComanda = 0;
			$('.data-detall-cell.col-total input').each( function(e) {
				totalComanda += $(this).val()*1;
			});

			
			$('#comanda_totalsuma').val( formatter.format(totalComanda) );

		}
		
		var $collectionHolder;
		
		$(document).ready(function(){
			setMenuActive("menu-admcomanda");

			var current = new Date();
			
			var maxdate = new Date (current.getFullYear(), current.getMonth() + 1, current.getDay());
			var mindate = new Date (current.getFullYear(), current.getMonth() -12, current.getDay());
			initDateTimePicker ( 
				$( '#comanda_databaixa' ), 
				current, 
				maxdate, 
				current, 
				'databaixa-picker', 
				false,
				''
			);

			var maxdate = new Date (current.getFullYear(), current.getMonth() + 1, current.getDay());
			initDateTimePicker ( 
				$( '#comanda_datapagament' ), 
				mindate, 
				current, 
				current, 
				'datapagament-picker', 
				false,
				''
			);
			
			$("select#comanda_club").select2({
				minimumInputLength: 2,
				allowClear: true,
			});


			// Afegir detalls
			// Get the ul that holds the collection of tags
		    $collectionHolder = $('ul.detalls');

			// Delegat
		    $collectionHolder.on( "click", ".baixa-detall", function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();
				
		        var parentRow = $(this).parents('li.detall-form-row');
		        // remove the li for the tag form
		        
		        parentRow.remove();
	    	});
			
			
		    // Activar select2 pels productes
		    $collectionHolder.data('index', $collectionHolder.find('li.detall-form-row').length);
	
		    $('.add-detall').on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();
				
		        // add a new tag form (see next code block)
		        addDetallForm($collectionHolder);

		        $('ul.detalls li .alert').hide();
		        
		    });

		    if ($collectionHolder.find('li.detall-form-row').length > 0 ) {
	    		
				$("select.comanda_detalls_producte").select2({
					minimumInputLength: 2,
					allowClear: true
				});

				// Actualitzar tots els detalls
				$('li.detall-form-row').each( function(e) {
					recalcularCanviPreu($(this));	 
				});

			}
			
			// Event cange qualsevol select2 de producte
			$collectionHolder.on( "change", ".comanda_detalls_producte", function (e) {

		    	var rowDetall = $(this).parents('li.detall-form-row');
		    	
		    	if ($(this).val() == "") {
		    		rowDetall.find('.data-detall-cell.col-preuunitat input').val( 0 );
			    	rowDetall.find('.data-detall-cell.col-ivaunitat input').val( 0 );

			    	recalcularCanviPreu(rowDetall);		
			    	
			    	return;
		    	} 

		    	var formatter = new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });

			    var url = "{{ path('FecdasBundle_jsonpreu') }}";
			    url += "?id="+$(this).val()+"&anypreu="+current.getFullYear();

			    $.get(url, function(data, textStatus) {

					var preu = data.preu;
					var iva = data.iva;
					rowDetall.find('.data-detall-cell.col-preuunitat input').val( formatter.format(data.preu) );
			    	rowDetall.find('.data-detall-cell.col-ivaunitat input').val( Math.round( data.iva * 100 ) );
					
			    	recalcularCanviPreu(rowDetall);					
			    }); 
			});

			$collectionHolder.on( "change", ".comanda_detalls_unitats", function (e) {
		    	
		    	var rowDetall = $(this).parents('li.detall-form-row');
		    	recalcularCanviPreu(rowDetall)
		    });

		    $collectionHolder.on( "change", ".comanda_detalls_descompte", function (e) {

		    	if ($(this).val() < 0) $(this).val(0);
		    	if ($(this).val() > 100) $(this).val(100);

		    	
		    	var rowDetall = $(this).parents('li.detall-form-row'); 
		    	recalcularCanviPreu(rowDetall)
		    });


		    // Form submit. Remove prototype
		    $( "#formcomanda" ).submit(function( event ) {
		    	  //event.preventDefault();

		    	  $('.detall-form-row-prototype').remove();

		    	  $(this).submit();
		    });
		    
		});


		
	</script>


{% endblock %}

