{% if detallbaixa == false %}

<li class="{% if id == -1 %}detall-form-row-prototype{% else %}detall-form-row{% endif %}">
	<div class="comanda-detall-form">
		<div class="col-id col-seq hidden">{{ form_widget(detall.id) }}</div>
		<div class="data-detall-cell col-producte">
			{{ form_widget(detall.producte, { 'attr': {'class': 'form-control form-control-left comanda_detalls_producte'} }) }}{{ form_errors(detall.producte)  }}</div>
		<div class="data-detall-cell col-unitats">{{ form_widget(detall.unitats, { 'attr': {'class': 'form-control form-control-center comanda_detalls_unitats'} }) }}{{ form_errors(detall.unitats)  }}</div>
		<div class="data-detall-cell col-preuunitat">{{ form_widget(detall.preuunitat, { 'attr': {'class': 'form-control form-control-center'} }) }}</div>
		<div class="data-detall-cell col-descompte">
			<div class="input-group">{{ form_widget(detall.descomptedetall, { 'attr': {'class': 'form-control form-control-center comanda_detalls_descompte'} }) }}
				<span class="input-group-addon input-group-addon-icon">%</span></div></div>
		<div class="data-detall-cell col-ivaunitat">
			<div class="input-group">{{ form_widget(detall.ivaunitat, { 'attr': {'class': 'form-control form-control-center'} }) }}
				<span class="input-group-addon input-group-addon-icon">%</span></div></div>
		<div class="data-detall-cell col-totalnet">{{ form_widget(detall.totalnet, { 'attr': {'class': 'form-control form-control-center blue'} }) }}</div>
		<!-- <div class="data-detall-cell col-totaliva">{# form_widget(detall.totaliva, { 'attr': {'class': 'form-control form-control-center blue'} }) #}</div>
		<div class="data-detall-cell col-total">
			<div class="input-group">{# form_widget(detall.total, { 'attr': {'class': 'form-control form-control-center blue'} }) #}
				<span class="input-group-addon input-group-addon-icon">€</span></div></div> -->
		<div class="data-detall-cell col-comentaris">{{ form_widget(detall.anotacions, { 'attr': {'class': 'form-control'} }) }}</div>
		<div class="data-detall-cell col-actions">
			{# if comanda.detallsEditables == true #}
			<a class="baixa-detall link" href="javascript:void(0);" ><i class="fa fa-remove fa-1x red"></i></a>
			{# endif #}
		</div>
	</div>
</li>

{% else %}

<li class="detall-form-row">
	<div class="comanda-detall-form">
		<div class="col-id col-seq hidden">{{ detall.id }}</div>
		<div class="data-detall-cell col-producte">{{ detall.producte.descripcio  }}</div>
		<div class="data-detall-cell col-unitats">(baixa {{ detall.unitatsbaixa  }})</div>
		<div class="data-detall-cell col-preuunitat">{{ detall.preuunitat|number_format(2, ',', '.') }}€</div>
		<div class="data-detall-cell col-descompte">{{ detall.descomptedetall }}</div>
		<div class="data-detall-cell col-ivaunitat">{{ detall.ivaunitat  }}</div>
		<div class="data-detall-cell col-totalnet">{{ detall.totalnet }}</div>
		<!-- <div class="data-detall-cell col-totaliva">{# detall.total - detall.totalnet #}</div>
		<div class="data-detall-cell col-total">{# detall.total #}</div> -->
		<div class="data-detall-cell col-comentaris">{{ detall.anotacions }}</div>
		<div class="data-detall-cell col-actions"></div>
	</div>
</li>

{% endif %}
