{# src/Fecdas/comandesBundle/Resources/views/Facturacio/comandes.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Llista de comandes {% endblock %}

{% block body %}
	<header>
        <h1>Comandes</h1>
    </header>
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
        
    <div id="comandes-main">
	    <div id="list-forms">
	    	{{ form_start(form, {'action': path('FecdasBundle_comandes'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'form_comandes'}}) }}
	    		{% if admin == true %}
				<div class="row">
					<div class="col-md-3  col-xs-12">
					  	<div class="form-group">
					    	{{ form_label(form.clubs, 'Clubs (Admins.)', { 'label_attr': {'class': ''} }) }}
							{{ form_widget(form.clubs, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
				</div>
				{% endif %}
				<div class="row">
				  <div class="col-md-3 col-xs-4">
				  	<div class="form-group">
				    	<div class="input-group">
					    	<span class="input-group-addon"># Comanda</span>
							{{ form_widget(form.numcomanda, { 'attr': {'class': 'form-control'} }) }}
							<span class="input-group-addon input-group-addon-icon input-group-addon-icon-search">
								<span class="fa fa-search fa-1x"></span>
							</span>
						</div>
					</div>
				  </div>				   
				  <div class="col-md-3 col-xs-4">
				  	<div class="form-group">
				    	<div class="input-group">
					    	<span class="input-group-addon"># Factura</span>
							{{ form_widget(form.numfactura, { 'attr': {'class': 'form-control'} }) }}
							<span class="input-group-addon input-group-addon-icon input-group-addon-icon-search">
								<span class="fa fa-search fa-1x"></span>
							</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-3 col-xs-4">
				  	<div class="form-group">
				    	<div class="input-group">
					    	<span class="input-group-addon"># Rebut</span>
							{{ form_widget(form.numrebut, { 'attr': {'class': 'form-control'} }) }}
							<span class="input-group-addon input-group-addon-icon input-group-addon-icon-search">
								<span class="fa fa-search fa-1x"></span>
							</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-1  col-xs-4">
					  <div class="checkbox">
					    <label>
					      {{ form_widget(form.baixes) }} Baixes
					    </label>
					  </div>
				  </div>
				  <div class="col-md-1  col-xs-4">
					  <div class="checkbox">
					    <label>
					      {{ form_widget(form.pendents) }} Pendents pagament
					    </label>
					  </div>
				  </div>
				  <div class="hidden">{{ form_rest(form) }}</div>
				</div>
		   	{{ form_end(form) }}
	    </div>
	    <div class="table-header">	
		   	<div id="list-header" class="{% if admin == true  %}list-header-adm{% endif %}">
				<div id="header-comanda-id" class="col-listheader hidden">&nbsp;</div>
				<div id="header-comanda-estat" class="col-listheader collistheader-noorder">&nbsp;</div>
		   		<div id="header-comanda-num" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(comandes, 'Num.', 'c.num') }}
		   			<span class="listheader-icon {% if comandes.isSorted('c.num') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		{% if admin == true  %}	
		   		<div id="header-comanda-club" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(comandes, 'Club', 'c.club') }}
		   			<span class="listheader-icon {% if comandes.isSorted('c.club') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		{% endif %}
		   		<div id="header-comanda-items" class="col-listheader collistheader-noorder">items</div>
		   		<div id="header-comanda-total" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(comandes, 'Total', 'c.total') }}
		   			<span class="listheader-icon {% if comandes.isSorted('c.total') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-comanda-data" class="col-listheader">{{ knp_pagination_sortable(comandes, 'Data', 'c.dataentrada') }}
		   			<span class="listheader-icon {% if comandes.isSorted('c.dataentrada') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-comanda-factura" class="col-listheader">{{ knp_pagination_sortable(comandes, 'Factura/es', 'f.datafactura,f.num') }}
		   			<span class="listheader-icon {% if comandes.isSorted('f.datafactura,f.num') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-comanda-rebut" class="col-listheader">{{ knp_pagination_sortable(comandes, 'Rebut/s', 'r.datapagament,r.num') }}
		   			<span class="listheader-icon {% if comandes.isSorted('r.datapagament,r.num') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-comanda-comentaris" class="col-listheader collistheader-noorder">Comentaris</div>
		   		<div id="header-comanda-actions" class="col-listheader collistheader-noorder">
		   			{% if admin == true  %}&nbsp;{% else %}Pagament<br/>On-line{% endif %}
		   		</div>
		   	</div>
	   	</div>
		{% if comandes|length > 0 %}
		<div class="table-scroll">
		   	<ol id="list-data" class="{% if admin == true  %}list-data-adm{% endif %}">
			{% for comanda in comandes %} 
		   		<li class="data-detall {% if comanda.esBaixa %} data-detall-fosc {% endif %}">
		   			<div class="data-detall-cell comanda-id hidden">{{ comanda.id }}</div>
		   			<div class="data-detall-cell comanda-estat">
		   				{% if admin == true  %}
		   					{% if comanda.comandaPagada != true %}<i class="fa fa-exclamation fa-1x red" style="color:red"></i>{% else %}{{ comanda.estat }}{% endif %}
		   				{% else %}
		   					{% if comanda.comandaPagada != true and comanda.totalComanda > 0 and saldo < 0 %}<i class="fa fa-exclamation fa-1x red" style="color:red"></i>{% endif %}
		   				{% endif %}
		   			</div>
		   			<div class="data-detall-cell comanda-num">{{ comanda.numcomanda }}</div>
		   			{% if admin == true  %}	
		   				<div class="data-detall-cell comanda-club">
		   					<a href="/club?codiclub={{ comanda.club.codi }}" title="Veure dades del club" alt="Veure dades del club">{{ comanda.club.nom }}</a>
		   					
		   				</div>
		   			{% endif %}
		   			<div class="data-detall-cell comanda-items">{{ comanda.numdetalls }}</div>
		   			<div class="data-detall-cell comanda-total">
		   				{% if comanda.isFacturaModificada == true %}
			   			<strike>{{ comanda.getTotalDetalls|number_format(2, ',', '.') }}€</strike><br/>
			   			{{ comanda.totalComanda|number_format(2, ',', '.') }}€
			   			{% else %}
			   			{{ comanda.totalComanda|number_format(2, ',', '.') }}€
			   			{% endif %}
		   			</div>
		   			<div class="data-detall-cell comanda-data">
		   				{% if admin == true  %}
		   					{{ comanda.dataentrada|date('d/m/y') }}
		   				{% else %}
		   					{{ comanda.dataentrada|date('d/m/Y') }}
		   				{% endif %}
		   			</div>
		   			<div class="data-detall-cell comanda-factura">
		   				{% if comanda.mostrarFactura == true %}
		   					{% set factura = comanda.factura %}
		   					{% if factura.comptabilitat == null %} <span class="fa fa-exclamation-triangle fa-1x orange"></span> {% endif %}
		   					<a class="comanda-action-factura link" href="{{ path('FecdasBundle_facturatopdf', { 'id': factura.id}) }}" alt="{{ factura.infoToolTip(admin) }}" title="{{ factura.infoToolTip(admin) }}">
		   						{% if factura.import < 0 %}<span class="red">(-){{ factura.numfactura }}</span>
								{% else %}{{ factura.numfactura }}{% endif %}
								<i class="fa fa-file-pdf-o fa-1x red"></i></a>
						{% else %}
							{% if comanda.factura != null %}
						  	<span>en tramitació <i class="fa fa-clock-o fa-1x orange"></i></span>
						  	{% else %}
						  	<span>Sense factura</span>
						  	{% endif %}
			   			{% endif %}
		   				{% for factura in comanda.facturesanulacions %} 
							<br/>{% if factura.comptabilitat == null %} <span class="fa fa-exclamation-triangle fa-1x orange"></span> {% endif %}
		   					<a class="comanda-action-factura link" href="{{ path('FecdasBundle_facturatopdf', { 'id': factura.id}) }}" alt="{{ factura.infoToolTip(admin) }}" title="{{ factura.infoToolTip(admin) }}">
		   						<span class="red">(-){{ factura.numfactura }}</span>
								<i class="fa fa-file-pdf-o fa-1x red"></i></a>
						{% endfor %}
					</div>
		   			<div class="data-detall-cell comanda-rebut">
		   				{% if comanda.comandaPagada == true %}
		   					{% set rebut = comanda.rebut %}
		   					{% if rebut.comptabilitat == null %}<span class="fa fa-exclamation-triangle fa-1x orange"></span>{% endif %}
		   					<a class="comanda-action-edit-rebut link" href="{{ path('FecdasBundle_editarrebut', { 'id': rebut.id}) }}" alt="{{ rebut.infoToolTip(admin) }}" title="{{ rebut.infoToolTip(admin) }}">
		   						{{ rebut.numrebut }}</a>
		   					<a class="comanda-action-pdf-rebut link" href="{{ path('FecdasBundle_rebuttopdf', { 'id': rebut.id}) }}" alt="{{ rebut.infoToolTip(admin) }}" title="{{ rebut.infoToolTip(admin) }}">
								<i class="fa fa-file-pdf-o fa-1x red"></i></a>
			   			{% endif %}
		   				{% for rebut in comanda.rebutsanulacions %} 
		   					{% if not rebut.esBaixa %}
    							<br/>{% if rebut.comptabilitat == null %}<span class="fa fa-exclamation-triangle fa-1x orange"></span>{% endif %}
    		   				
    		   					<a class="comanda-action-pdf-rebut link" href="{{ path('FecdasBundle_editarrebut', { 'id': rebut.id}) }}" alt="{{ rebut.infoToolTip(admin) }}" title="{{ rebut.infoToolTip(admin) }}">
    		   						<span class="red">(-){{ rebut.numrebut }}</span></a>
    		   					
    		   					<a class="comanda-action-pdf-rebut link" href="{{ path('FecdasBundle_rebuttopdf', { 'id': rebut.id}) }}" alt="{{ rebut.infoToolTip(admin) }}" title="{{ rebut.infoToolTip(admin) }}">
    								<i class="fa fa-file-pdf-o fa-1x red"></i></a>
							{% endif %}
						{% endfor %}
					</div>
		   			<div class="data-detall-cell comanda-comentaris">{{ comanda.infoLlistat|nl2br }}</div>
		   			<div class="data-detall-cell comanda-actions">
						{% if admin == true  %}
							{% if comanda.comandaPagada != true and comanda.totalComanda > 0  %}
				   				<a class="confirmar-pagament link" href="{{ path('FecdasBundle_confirmapagament', { 'id': comanda.id }) }}" 
				   					alt="Confirmar pagament" title="Confirmar pagament"><i class="fa fa-euro green"></i></a>
		   					{% endif %}
							<a class="comanda-action-edit link" href="{{ path('FecdasBundle_editarcomanda', { 'id': comanda.id }) }}" alt="Editar" title="Editar">
								<i class="fa fa-pencil text-info blue"></i></a>
							{% if not comanda.esBaixa %}			   				
								<a class="comanda-action-baixa link" href="{{ path('FecdasBundle_baixacomanda', sortparams|merge({ 'id': comanda.id }) ) }}" alt="Baixa" title="Baixa">
			   						<i class="fa fa-trash-o text-danger red"></i></a>
			   				{% endif %}
			   			{% else %}
							{% if comanda.comandaPagada != true and comanda.totalComanda > 0 and saldo < 0 %}
								{% set saldo = saldo + comanda.totalComanda %}
				        		<a class="link pagar-comanda" href="{{ path('FecdasBundle_pagamentcomanda', { 'id': comanda.id}) }}" alt="Pagament On-Line" title="Pagament On-Line">
				        			<i class="fa fa-credit-card fa-1x green"></i></a>
							{% endif %}
	   					{% endif %}
		   			</div>
		   		</li>
		   		{% endfor %} 
			</ol>
		</div>
		{% if comandes.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(comandes, null, sortparams) }}</div>{% endif %}
	   	{% else %}
	    <div class="sms-notice">No hi ha comandes per mostrar</div>
	    {% endif %}
	</div>
    <div id="dialeg-edicio-comanda" class="finestra-overlay"></div>
{% endblock %}

{% block javascripts %}


	{{ parent() }}

	<script type="text/javascript">
	
	
	getUrlWithFilterParams = function(url) {
		var cerca = $( "#form_clubs" ).val();
		var baixes = ($( '#form_baixes' ).is(':checked')?1:0);
		var pendents = ($( '#form_pendents' ).is(':checked')?1:0)
		var numfactura = $( "#form_numfactura" ).val();
		var numrebut = $( "#form_numrebut" ).val();
		var numcomanda = $( "#form_numcomanda" ).val();  

		return url + "&cerca="+cerca+"&baixes="+baixes+"&numcomanda="+numcomanda+"&numfactura="+numfactura+"&numrebut="+numrebut+"&pendents="+pendents;
	}


	filtreLlistacomandes = function() {

		window.location = getUrlWithFilterParams("{{ path('FecdasBundle_comandes', sortparams)|raw }}");
	}

	$(document).ready(function(){

		{% if admin == true  %}
			setMenuActive("menu-admcomandes");

		{% else %}
			setMenuActive("menu-comandes");
		{% endif %}

		$( ".pagar-comanda" ).click( function(e) {
			e.preventDefault();	
			var url = $(this).attr("href");
			
			dialegConfirmacio( pagamentComandaSMS( false, "{{ iban }}", "{{ ibanescola }}" ), "Abans de continuar...", 0, 500, function() {
	        	window.location = url+'&comentaris='+$('#comanda_comentaris').val();
	        	
	        }, function() { closeDialegConfirmacio(); }, function() {});
		});

		
		$("#form_clubs").change(function() {
			filtreLlistacomandes();
	    });

		$("#form_numfactura").change(function() {
			filtreLlistacomandes();
	    });

		$("#form_numrebut").change(function() {
			filtreLlistacomandes();
	    });

		$("#form_numcomanda").change(function() {
			filtreLlistacomandes();
	    });
	    
		$( '#form_baixes' ).change(function(e) {
			filtreLlistacomandes();
		});

		$( '#form_pendents' ).change(function(e) {
			filtreLlistacomandes();
		});
		
		// Comanda filtre clubs disponible per admin's
		{% if admin == true  %} 

			$('.comanda-action-baixa').click( function(e) {
				e.preventDefault();
	
				var url = getUrlWithFilterParams($(this).attr('href'));
				
				var strHtml = '<p>Segur que vols anul·lar la comanda?</p>';

				/*strHtml += "<div class='form-group'>";
				strHtml += "	<label for='comanda_datafactura'>Factura anul·lació</label>";
				strHtml += "    <div class='input-group'>";
				strHtml += "    	<span class='input-group-addon'>Data</span>";
				strHtml += "	    <input type='text' id='datafacturacio' class='form-control form-control-center' />";
				strHtml += "      	<span class='input-group-addon input-group-addon-icon open-calendar'>";
				strHtml += "      		<span class='fa fa-calendar fa-1x'></span>";
				strHtml += "      	</span>";
				strHtml += "	</div>";
				strHtml += "</div>";*/

				
				dialegConfirmacio(strHtml, 'Baixa comanda', 'auto', 350, function() { 
					
					//window.location = url+'&datafacturacio='+$('#datafacturacio').val();
					window.location = url;
					 
				}, function() { closeDialegConfirmacio(); }, function() { 

					/*var current = new Date();
					var mindate = new Date (current.getFullYear() - 2, current.getMonth(), current.getDay());
					var maxdate = new Date (current.getFullYear(), current.getMonth()+2, current.getDay());

					initDateTimePicker ( 
						$( '#datafacturacio' ), 
						mindate, 
						maxdate,
						current, 
						'datafacturacio-picker', 
						false,
						function() {} 
					);*/
				});
			});
		
			$('.confirmar-pagament').click(function(e) {
				e.preventDefault();
				confirmarPagament($(this).attr("href"), "Confirmació de pagament");
			});
		    
			$("select#form_clubs").select2({
				minimumInputLength: 2,
				allowClear: true,
				placeholder: 'Escollir club'
			});
		{% endif %}
	});
	
	</script>


{% endblock %}

