{# src/Fecdas/productesBundle/Resources/views/Facturacio/graellaproductes.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block javascriptshead %}
 	
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Graella de {{ title }} {% endblock %}

{% block body %}
	<header>
        <h1>{{ title }}</h1>
    </header>
	
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
        
    <div id="productes-main">
    
		<div class="cistella-resum">
    		{% include 'FecdasBundle:Facturacio:graellaproductescistella.html.twig' %} 
    	</div>
    	
    	{% if productes|length > 0 %}
   		<div class="grid-productes-header">
			<form id="form_productes" action="{{ path('FecdasBundle_nouproducte') }}" method="POST" {{ form_enctype(form) }}  class="appform">
				{{ form_widget(form.tipus, { 'attr': {'class': 'form-control'} }) }}
			  	<div class="form-group">
			    	{{ form_label(form.cerca, 'Filtrar per descripció', { 'label_attr': {'class': ''} }) }}
					{{ form_widget(form.cerca, { 'attr': {'class': 'form-control'} }) }}
				</div>
		   	</form>
		   	<h3 class="button-top total-productes-grid">Total productes: {{ productes|length }}</h3>
		</div>
	    <div class="row grid-productes">	
    	    <div class="col-md-12 col-last-right">
				<div class="buttons-top-bootstrap">
					
				</div>	
   		    </div>
   		    <div class="clearfix">
	    	<div class="block-mask" style="opacity: 0.6; display: block;"><div><span class="fa fa-spinner fa-spin fa-2x green"></span></div></div>
			{% for producte in productes %}
		   		<div class="col-md-2 col-sm-3 col-xs-6 graella-item graella-item-show {% if producte.disponible == false %} graella-item-esgotat {% endif %}">
					<div>
						<h4>{{ producte.abreviatura }}<span class="graella-item-preu">{{ producte.getPreuAny("now"|date('Y'))|number_format(2, ',', '.') }} €</span></h4>
							<h5>{{ producte.descripcio }}</h5>
						{% if producte.minim != null %}<div class="graella-item-with-min">Quantitat mínima: {{ producte.minim }}</div> {% endif %}
						{% if producte.transport == true %}<div class="graella-item-transport">Transport a partir de {{ constant('FecdasBundle\\Controller\\BaseController::TARIFA_TRANSPORT1') }} €</div> {% endif %}
						<p class="graella-item-add">
							{% if producte.disponible == true %} 
								{% set min = 1 %}
								{% if producte.minim != null %}{% set min = producte.minim %}{% endif %}
								{% set max = 0 %}
								{% if producte.stockable == 1 and producte.stock != null %}{% set max = producte.stock %}{% endif %}
								<input class="producte-action-add-uds form-control form-control-center" type="number"  
									value="{{ min }}" data-min="{{ min }}" data-max="{{ max }}">
								<a class="producte-action-add-cart link" href="{{ path('FecdasBundle_afegircistella', { 'id': producte.id, 'tipus' : tipus }) }}" alt="Afegir a la cistella" title="Afegir a la cistella"><i class="fa fa-cart-plus green"></i></a>
							{% else %}
								<i class="fa fa-remove red"></i> esgotat
							{% endif %}
						</p>
					</div>
				</div>
				{% if loop.index % 6 == 0 %} <div class="clearfix visible-md-block visible-lg-block"></div> {%  endif %}
				{% if loop.index % 4 == 0 %} <div class="clearfix visible-sm-block"></div> {%  endif %}
				{% if loop.index % 2 == 0 %} <div class="clearfix visible-xs-block"></div> {%  endif %}
			{% endfor %} 	
		</div>
		{% endif %}	    
	</div>
    <div id="dialeg-edicio-producte" class="finestra-overlay"></div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	
 	<script src="{{ asset('js/utils/masonry.pkgd.min.js') }}"></script>
 	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script> -->
 	
	<script type="text/javascript">

	$(document).ready(function(){

		$('#form_transport_1').prop('checked', false); // Recollir
		$('#form_transport_0').prop('checked', true); // Pagar

		$( ".cistella-resum" ).on( "click", ".pagar-cistella-admin", function(e) {
			e.preventDefault();
			var url = $(this).attr("href")+'&transport='+($('#form_transport_0').is(':checked')?1:0);
			
			confirmarPagament(url, "Confirmació de pagament", "{{ path('FecdasBundle_comandes') }}");
		});
		
		$( ".cistella-resum" ).on( "click", ".desar-cistella, .pagar-cistella", function(e) {
			e.preventDefault();	
			var url = $(this).attr("href");
			
			dialegConfirmacio( pagamentComandaSMS(), "Abans de continuar...", 0, 550, function() {
	        	window.location = url+'&transport='+($('#form_transport_0').is(':checked')?1:0)+'&comentaris='+$('#comanda_comentaris').val();
	        }, function() {} );
		});

		
		$( ".grid-productes" ).on( "click", ".producte-action-add-cart", function(e) {
			e.preventDefault();			
			
			var unitats = $(this).prev().val();
			var url = $(this).attr('href')+'&unitats='+unitats;

			$.get(url, function(data) {

				$('.cistella-resum').html(data);	
					
			}).fail( function(xhr, status, error) {
				 // xhr.status + " " + xhr.statusText, status, error
				 console.log(JSON.stringify(xhr));
				 var sms = smsResultAjax('KO', xhr.responseText);
	 			 
				 $('.cistella-resum').html(sms);
			     
			}); 
		});

		$( ".grid-productes" ).on( "change", ".producte-action-add-uds", function(e) {
			//e.preventDefault();			
			
			var unitats = $(this).val()*1;
			var max = $(this).attr('data-max')*1;
			var min = $(this).attr('data-min')*1;
			
			if (max > 0 && unitats > max) {
				$(this).val(max);
			} else {

				{% if admin != true %} 				
				if (unitats < min) {
					$(this).val(min);
				}
				{% endif %}
			}
		});

		
		$( ".cistella-resum" ).on( "click", ".producte-action-remove-cart", function(e) {
			e.preventDefault();			
			
			var url = $(this).attr('href');

			$.get(url, function(data) {

				$('.cistella-resum').html(data);	
					
			}).fail( function(xhr, status, error) {
				 // xhr.status + " " + xhr.statusText, status, error
				 console.log(JSON.stringify(xhr));
				 var sms = smsResultAjax('KO', xhr.responseText);
	 			 
				 $('.cistella-resum').html(sms);
			     
			});
		});

		$( ".cistella-resum" ).on( "click", "#form_transport_0", function(e) {
			var total = $('#form_importcomanda').val()*1 + $('#form_tarifatransport').val()*1; 
			$('#totalcomanda').html(  total.toFixed(2) );
			
		});
		
		$( ".cistella-resum" ).on( "click", "#form_transport_1", function(e) {
			//e.preventDefault();			
			var total = $('#form_importcomanda').val()*1;
			$('#totalcomanda').html( total.toFixed(2) );
			
		});
		
		
		
		//obrirMascaraBlock('.grid-productes');
		
		var $grid = $('.grid-productes').masonry({
			  // options
			  itemSelector: '.graella-item-show',
			  percentPosition: true,
			  isFitWidth: true
		});

		$grid.on( 'layoutComplete', function( event, items ) {
			  tancarMascaraBlock('.grid-productes');
		});

		$('.grid-productes').masonry('layout');
		
		$("#form_cerca").change(function() {
			var toSearch = $(this).val();
			toSearch = toSearch.toLowerCase();

			$('.grid-productes .alert').remove();
			var i = 0, numItems = $('.grid-productes .graella-item').length;
			
			//if (toSearch != '') {
				$('.grid-productes .graella-item').each( function() {
					var description = $(this).find('h5').html(); 
					description = description.toLowerCase();
					
					if (description.indexOf(toSearch) >= 0) {
						$(this).removeClass('graella-item-hide');
						$(this).addClass('graella-item-show');
						if (!$(this).is(':visible')) {
							//$(this).show('slow');
						}
					}
					else {
						$(this).removeClass('graella-item-show');
						$(this).addClass('graella-item-hide');
						
						if ($(this).is(':visible'))  {
							//$(this).hide('slow');
						}
						
					} 

					i++;
					
					if(i >= numItems) {
						$('.grid-productes').masonry('reloadItems');
						$('.grid-productes').masonry('layout');

						if ( $('.alert').length == 0 &&
							$('.grid-productes .graella-item-show').length == 0) {
							var sms = smsResultAjax('OK', 'cap producte coincideix amb la cerca');
							$('.grid-productes-header').after( $( sms ) );
						}						
					}

	        	});
			//}			

			//filtreLlistaProductes($( "#form_cerca" ).val(), $( "#form_tipus" ).val(), $(this).is(':checked'));
	    });

		$("#form_cerca").keyup( function () {
			// Per cada polsació de tecla
			$(this).change();
		});

		setMenuActive("menu-comanda");

		$("#form_cerca").val('');
	});
	
	</script>


{% endblock %}

