	<table>
		{% set total = 0 %}
		{% for idProducte, item in cart.productes  %}
			{% set iva = 0 %}
			<tr>
	   			<td>{{ item.unitats }} x </td>
	   			<td>{{ item.abreviatura }} - {{ item.descripcio }} ({{ item.import|number_format(2, ',', '.') }} €/u)</td>
	   			<td>
	   			    {{ (item.import * item.unitats)|number_format(2, ',', '.') }}€
	   			    {% if item.iva is defined and item.iva > 0 %}
	   			    	{% set iva = (item.import * item.unitats)*item.iva %}
	   			    	<br/><span class="red">IVA {{ ((item.import * item.unitats)*item.iva)|number_format(2, ',', '.') }}€</span>
	   			    {% endif %}	
	   			</td>
	   			<td>
	   				{% if allowremove %}
		   				<a class="producte-action-remove-cart link" href="{{ path('FecdasBundle_treurecistella', { 'id': idProducte, 'tipus' : tipus }) }}" alt="Treure de la cistella" title="Treure de la cistella"><i class="fa fa-remove red"></i></a>
	   				{% endif %}
	   			</td>
	   		</tr>
	   		{% set total = total + (item.import * item.unitats) + iva %}
		{% endfor %}
		{% if cart.tarifatransport > 0 %}
			<tr class="cistella-transport">
	   			<td colspan="2"><label> incloure enviament ({{ cart.tarifatransport|number_format(2, ',', '.') }} €/u)</label></td>
	   			<td>{{ form_widget(formtransport.transport[0], { 'attr': {'class': 'radio'} }) }}</td>
	   			<td>&nbsp;</td>
	   		</tr>
	   		{% set total = total + cart.tarifatransport %}
	   		<tr class="cistella-transport">
	   			<td colspan="2"><label> Recollir a la federació	</label></td>
	   			<td>{{ form_widget(formtransport.transport[1], { 'attr': {'class': 'radio'} }) }}</td>
	   			<td>&nbsp;</td>
	   		</tr>
		{% endif %}
		<tr class="cistella-summary">
			<td class="blue" colspan="2">Total:</td><td class="blue"><i id="totalcomanda">{{ total|number_format(2, ',', '.') }}</i> €</td><td>&nbsp;</td>
   		</tr>
	</table>
	{{ form_widget(formtransport.tarifatransport) }}
	{{ form_widget(formtransport.importcomanda) }}
