{# src/Fecdas/productesBundle/Resources/views/Facturacio/graellaproductes.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block javascriptshead %}
 	
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Graella de {{ title }} {% endblock %}

{% block body %}
	<header>
        <h1>{{ title }}</h1>
    </header>
	
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
        
    <div id="productes-main">
    
		<div class="row cistella-resum">
			<div class="col-md-12 col-sm-12 col-xs-12">
    		{% include 'FecdasBundle:Facturacio:graellaproductescistella.html.twig' %}
    		</div> 
    	</div>
    	
    	{% if productes|length > 0 %}
   		<div class="grid-productes-header">
			{{ form_start(form, {'action': path('FecdasBundle_graellaproductes'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'form_productes'}}) }}
				<div class="row">		
					{{ form_widget(form.tipus, { 'attr': {'class': 'form-control'} }) }}
					<div class="{% if admin != true %}hidden{% else %}col-md-3 col-sm-6 col-xs-10{% endif %}">
					  	<div class="form-group">
					    	{{ form_label(form.clubs, 'Clubs (Admins.)', { 'label_attr': {'class': ''} }) }}
							{{ form_widget(form.clubs, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
				    <div class="col-md-4 col-sm-6 col-xs-7">
					  	<div class="form-group">
					    	{{ form_label(form.cerca, 'Filtrar per descripció', { 'label_attr': {'class': ''} }) }}
							{{ form_widget(form.cerca, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
					<div class="col-md-3 col-sm-4 {% if admin != true %}col-md-offset-5 col-sm-offset-2{% else %}col-md-offset-2 col-sm-offset-8{% endif %} col-xs-5">
						<label class="required">&nbsp;</label>
						<p class="total-productes-grid">Total productes: <span>{{ productes|length }}</span></p>
					</div>
				</div>	
		   	{{ form_end(form) }}
		   	
		</div>
	    <div class="row grid-productes gutter-10">	
   		    
	    	<div class="block-mask" style="opacity: 0.6; display: block;"><div><span class="fa fa-spinner fa-spin fa-2x green"></span></div></div>
			{% for producte in productes %}
		   		<div class="col-md-2 col-sm-3 col-xs-6 graella-item graella-item-show {% if producte.disponible == false %} graella-item-esgotat {% endif %}">
					<div {% if admin == true %}class="graella-item-admin"{% endif %}>
						<h4>{{ producte.abreviatura }}
							<span class="graella-item-preu">
							    {{ producte.getPreuAny("now"|date('Y'))|number_format(2, ',', '.') }} €
							    {% if producte.getIvaAny("now"|date('Y')) > 0 %}
							    	<span class="graella-item-iva red">(IVA {{ producte.getIvaAny("now"|date('Y'))*100|number_format(0, ',', '.') }}%)</span>
							    {% endif %}
							</span>
						</h4>
						<h5>{{ producte.descripcio }}</h5>
						{% if producte.minim != null %}<div class="graella-item-with-min">Quantitat mínima: {{ producte.minim }}</div> {% endif %}
						{% if producte.transport == true %}<div class="graella-item-transport">Transport a partir de {{ transport|number_format(2, ',', '.') }} €</div> {% endif %}
						<p class="graella-item-add">
							{% set min = 1 %}
							{% if producte.minim != null %}{% set min = producte.minim %}{% endif %}
							{% set max = 999 %}
							<input class="producte-action-add-uds form-control form-control-center" type="number"  
								value="{{ min }}" data-min="{{ min }}" data-max="{{ max }}">
							<a class="producte-action-add-cart link" href="{{ path('FecdasBundle_afegircistella', { 'id': producte.id, 'tipus' : tipus }) }}" alt="Afegir a la cistella" title="Afegir a la cistella"><i class="fa fa-cart-plus green"></i></a>
						</p>
						{% if admin == true %}
							<div class="graella-item-admin-actions">
								<p>Admin:<a title="Editar" alt="Editar" href="{{ path('FecdasBundle_editarproducte', { 'id': producte.id }) }}" class="producte-action-edit link"><i class="fa fa-pencil blue"></i></a></p>
								{% if producte.stockable == 1 and stock[producte.id] is defined %}
									<span class="graella-item-admin-comment">stock {{ stock[producte.id] }}.</span>
								{% endif %}
								{% if producte.transport == true %}
									<span class="graella-item-admin-comment">{{ producte.pes }} gr./u</span>
								{% endif %}
							</div>
						{% endif %}
					</div>
				</div>
				{% if loop.index % 6 == 0 %} <div class="clearfix visible-md-block visible-lg-block"></div>{%  endif %}
				{% if loop.index % 4 == 0 %} <div class="clearfix visible-sm-block"></div>{%  endif %}
				{% if loop.index % 2 == 0 %} <div class="clearfix visible-xs-block"></div>{%  endif %}
			{% endfor %} 	
			
		</div>
		{% endif %}	    
	
    <div id="dialeg-edicio-producte" class="finestra-overlay"></div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	
 	<script src="{{ asset('js/utils/masonry.pkgd.min.js') }}"></script>
 	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script> -->
 	
	<script type="text/javascript">

	$(document).ready(function(){

		$('#form_transport_1').prop('checked', false); // Recollir
		$('#form_transport_0').prop('checked', true); // Pagar

		$( ".cistella-resum" ).on( "click", ".pagar-cistella-admin", function(e) {
		
			e.preventDefault();
			
			var url = $(this).attr("href")+'&club='+$('#form_clubs').val()+'&transport='+($('#form_transport_0').is(':checked')?1:0);
			
			confirmarPagament(url, "Confirmació de pagament", false, "{{ path('FecdasBundle_comandes') }}");
		});
		
		$( ".cistella-resum" ).on( "click", ".desar-cistella, .pagar-cistella", function(e) {
			
			e.preventDefault();

			var url = $(this).attr("href")+'&club='+$('#form_clubs').val();

			$(".alert.alert-dismissible").remove();
			
			dialegConfirmacio( pagamentComandaSMS( {% if admin == true %} true {% else %} false {% endif %}, "{{ iban }}", "{{ ibanescola }}" ), "Abans de continuar...", 0, 500, function() {
				var datafacturacio = '';

				if ($('#datafacturacio').length != 0) {
					datafacturacio = $('#datafacturacio').val();
				} else {
					var current = new Date();
					datafacturacio = current.getDayFormatted()+'/'+current.getMonthFormatted()+'/'+current.getFullYear();
				}

				var params 	 = '&transport='+($('#form_transport_0').is(':checked')?1:0);
				params 		+= '&comentaris='+$('#comanda_comentaris').val();
				params 		+= '&datafacturacio='+datafacturacio;
				params 		+= '&comptefactura='+($('#comptefactura').length?$('#comptefactura').val():'');		
				
	        	window.location = url+params;

	        }, function() { closeDialegConfirmacio(); }, function() {

	        	var current = new Date();
	    		var mindate = new Date (current.getFullYear() - 1, 11, 31); // 31/12 any anterior

				initDateTimePicker ( 
					$( '#datafacturacio' ), 
					mindate, 
					current,
					current, 
					'datafacturacio-picker', 
					false,
					function() {} 
				);

				$( '#datafacturacio' ).datetimepicker({
					value: current,
					format:'d/m/Y'
				});
	        	
			});
			
		});

		$( ".cistella-resum" ).on( "click", ".anular-cistella", function(e) {
			e.preventDefault();	
			var url = $(this).attr("href")+'&club='+$('#form_clubs').val();
			window.location = url;
		});
		
		
		$( ".grid-productes" ).on( "click", ".producte-action-add-cart", function(e) {

			e.preventDefault();			
			
			var unitats = $(this).prev().val();
			var url = $(this).attr('href')+'&unitats='+unitats;

			$('.alert-dismissible').remove();
			
			$.get(url, function(data) {

				$('.cistella-resum').html(data);	
					
			}).fail( function(xhr, status, error) {
				 // xhr.status + " " + xhr.statusText, status, error
				 var sms = smsResultAjax('KO', xhr.responseText);

				 $('#productes-main').prepend(sms);
			     
			}); 
		});

		$( ".grid-productes" ).on( "change", ".producte-action-add-uds", function(e) {
			//e.preventDefault();			
			
			var unitats = $(this).val()*1;
			var max = $(this).attr('data-max')*1;
			var min = $(this).attr('data-min')*1;
			
			if (max > 0 && unitats > max) {
				$(this).val(max);
			} else {

				{% if admin != true %} 				
				if (unitats < min) {
					$(this).val(min);
				}
				{% endif %}
			}
		});

		
		$( ".cistella-resum" ).on( "click", ".producte-action-remove-cart", function(e) {
			e.preventDefault();			
			
			var url = $(this).attr('href');

			$('.alert-dismissible').remove();
			
			$.get(url, function(data) {

				$('.cistella-resum').html(data);	
					
			}).fail( function(xhr, status, error) {
				 // xhr.status + " " + xhr.statusText, status, error
				 
				 var sms = smsResultAjax('KO', xhr.responseText);

				 $('#productes-main').prepend(sms);
			     
			});
		});

		transportCistella();
		
		
		
		//obrirMascaraBlock('.grid-productes');
		
		/*var $grid = $('.grid-productes').masonry({
			  // options
			  itemSelector: '.graella-item-show',
			  percentPosition: true,
			  isFitWidth: true
		});

		$grid.on( 'layoutComplete', function( event, items ) {
			  tancarMascaraBlock('.grid-productes');
		});

		$('.grid-productes').masonry('layout');*/

		resizeGridItemHeight( '.grid-productes .graella-item-show > div' );
		
		$("#form_cerca").change(function() {
			var toSearch = $(this).val();
			toSearch = toSearch.toLowerCase();

			$('.grid-productes .alert').remove();
			var i = 0, numItems = $('.grid-productes .graella-item').length;
			
			//if (toSearch != '') {
				$('.grid-productes .graella-item').each( function() {
					var description = $(this).find('h5').html(); 
					description = description.toLowerCase();
					
					if (description.indexOf(toSearch) >= 0) {
						$(this).removeClass('graella-item-hide');
						$(this).addClass('graella-item-show');
						if (!$(this).is(':visible')) {
							//$(this).show('slow');
						}
					}
					else {
						$(this).removeClass('graella-item-show');
						$(this).addClass('graella-item-hide');
						
						if ($(this).is(':visible'))  {
							//$(this).hide('slow');
						}
					} 

					i++;
					
					if(i >= numItems) {
						
						/*$('.grid-productes').masonry('reloadItems');
						$('.grid-productes').masonry('layout');*/
						resizeGridItemHeight( '.grid-productes .graella-item-show > div' );

						$('.total-productes-grid span').html( $('.grid-productes .graella-item-show').length );
						
						if ( $('.alert').length == 0 &&
							$('.grid-productes .graella-item-show').length == 0) {
							var sms = smsResultAjax('OK', 'cap producte coincideix amb la cerca');
							$('.grid-productes-header').after( $( sms ) );
						}						
					}

	        	});
			//}			

			//filtreLlistaProductes($( "#form_cerca" ).val(), $( "#form_tipus" ).val(), $(this).is(':checked'));
	    });

		$("#form_cerca").keyup( function () {
			// Per cada polsació de tecla
			$(this).change();
		});

		setMenuActive("menu-comanda");

		$("#form_cerca").val('');

		// Comanda filtre clubs disponible per admin's
		{% if admin == true  %} 
			$("#form_clubs").change(function() {
				window.location = $("#form_productes").attr('action')+'?tipus='+$('#form_tipus').val()+'&club='+$(this).val();
		    });
		
			$("select#form_clubs").select2({
				minimumInputLength: 2,
				allowClear: true,
				placeholder: 'Escollir club'
			});
		{% endif %}
	});

	resizeGridItemHeight = function ( itemSel ) {
		var height = 200; // alçada mínima 

		var heightInRow = [];
		var row = 0;
		
		var i = 0, numItems = $( itemSel ).length;

		$('.visible-md-block, .visible-lg-block, .visible-sm-block, .visible-xs-block').remove();
		
		$( itemSel ).each( function() {

			if ((i + 1) % 6 == 0) $(this).parent().after('<div class="clearfix visible-md-block visible-lg-block"></div>');
			if ((i + 1) % 4 == 0) $(this).parent().after('<div class="clearfix visible-sm-block"></div>');
			if ((i + 1) % 2 == 0) $(this).parent().after('<div class="clearfix visible-xs-block"></div>');
			
			var itemHeight = $(this).height();

			var currentY = $(this).parent().position().top;

			if (i == 0) {
				// Start
				heightInRow[row] = { yposition: currentY, height: itemHeight };
			 
			} else {
				if (heightInRow[row].yposition < currentY) {
					// new row
					row++;
					heightInRow[row] = { yposition: currentY, height: itemHeight };
				} else {
					// item in same row
					if (itemHeight > heightInRow[row].height) {
						heightInRow[row].height = itemHeight;
					}
				}
			}
			$(this).addClass('row-'+row);			
			
			if (itemHeight > height) height = itemHeight;

			i++;
			
			if(i >= numItems) {
				// last item. Resize all 
				//$( itemSel ).height( height );

				len = heightInRow.length;
				for (row=0; row<len; ++row) {
					$( itemSel + '.row-'+row).height( heightInRow[row].height );
					
				}
				
				tancarMascaraBlock('.grid-productes');

			}
			
		});	 
		
	}
	
	</script>


{% endblock %}

