
	    <div class="table-header">	
		   	<div id="list-header" class="list-data-adm">
				<div id="header-candidata-id" class="col-listheader hidden">&nbsp;</div>
		   		<div id="header-candidata-num" class="col-listheader collistheader-noorder">Num</div>
				<div id="header-candidata-data" class="col-listheader collistheader-noorder">Data</div>
		   		<div id="header-candidata-items" class="col-listheader collistheader-noorder">items</div>
		   		<div id="header-candidata-factura" class="col-listheader collistheader-noorder">Factura</div>
		   		<div id="header-candidata-total" class="col-listheader collistheader-noorder">Total</div>
		   		<div id="header-candidata-comentaris" class="col-listheader collistheader-noorder">Comentaris</div>
		   		<div id="header-candidata-actions" class="col-listheader collistheader-noorder">Escollir</div>
		   	</div>
	   	</div>
		{% if comandes|length > 0 %}
		<div class="table-scroll">
		   	<ol id="list-data" class="list-data-adm">
			{% for comanda in comandes %} 
		   		<li class="data-detall">
		   			<div class="data-detall-cell candidata-id hidden">{{ comanda.id }}</div>
		   			<div class="data-detall-cell candidata-num">{{ comanda.numcomanda }}</div>
		   			<div class="data-detall-cell candidata-data">{{ comanda.dataentrada|date('d/m/Y') }}</div>
		   			<div class="data-detall-cell candidata-items">{{ comanda.numdetalls }}</div>
		   			<div class="data-detall-cell candidata-factura">
		   				{% if comanda.comandaConsolidada == true and comanda.factura != null %}
		   					{% set factura = comanda.factura %}
	   						{{ comanda.factura.numfactura }}
			   			{% endif %}
		   				{% for factura in comanda.facturesanulacions %} 
		   					<a class="candidata-action-factura link" href="{{ path('FecdasBundle_facturatopdf', { 'id': factura.id}) }}" alt="{{ factura.infoToolTip(admin) }}" title="{{ factura.infoToolTip(admin) }}">
		   						<span class="red">(-){{ factura.numfactura }}</span>
								<i class="fa fa-file-pdf-o fa-1x red"></i></a>
						{% endfor %}
					</div>
		   			<div class="data-detall-cell candidata-total">{{ comanda.totalDetalls|number_format(2, ',', '.') }}€</div>
		   			<div class="data-detall-cell candidata-comentaris">{{ comanda.infoLlistat|raw }}</div>
		   			<div class="data-detall-cell candidata-actions">
						<a class="candidata-action-select link" href="javascript.void();" data-total="{{ comanda.totalDetalls }}" alt="Afegir/Treure comanda" title="Afegir/Treure comanda">
								<i class="fa fa-close fa-shown red"></i><i class="fa fa-check fa-hidden green"></i></a>
		   			</div>
		   		</li>
		   		{% endfor %} 
			</ol>
		</div>
	   	{% else %}
	    <div class="sms-notice">No hi ha comandes per mostrar</div>
	    {% endif %}


