
	    <div class="table-header">	
		   	<div id="list-header" class="list-data-adm">
				<div id="header-comanda-id" class="col-listheader hidden">&nbsp;</div>
		   		<div id="header-comanda-num" class="col-listheader collistheader-noorder">Num</div>
		   		<div id="header-comanda-club" class="col-listheader collistheader-noorder">Club</div>
		   		<div id="header-comanda-items" class="col-listheader collistheader-noorder">items</div>
		   		<div id="header-comanda-total" class="col-listheader collistheader-noorder">Total</div>
		   		<div id="header-comanda-data" class="col-listheader collistheader-noorder">Data</div>
		   		<div id="header-comanda-factura" class="col-listheader collistheader-noorder">Factura</div>
		   		<div id="header-comanda-comentaris" class="col-listheader collistheader-noorder">Comentaris</div>
		   		<div id="header-comanda-actions" class="col-listheader collistheader-noorder">Escollir</div>
		   	</div>
	   	</div>
		{% if comandes|length > 0 %}
		<div class="table-scroll">
		   	<ol id="list-data" class="list-data-adm">
			{% for comanda in comandes %} 
		   		<li class="data-detall">
		   			<div class="data-detall-cell comanda-id hidden">{{ comanda.id }}</div>
		   			<div class="data-detall-cell comanda-num">{{ comanda.numcomanda }}</div>
	   				<div class="data-detall-cell comanda-club">
	   					<a href="/club?codiclub={{ comanda.club.codi }}" title="Veure dades del club" alt="Veure dades del club">{{ comanda.club.nom }}</a>
	   				</div>
		   			<div class="data-detall-cell comanda-items">{{ comanda.numdetalls }}</div>
		   			<div class="data-detall-cell comanda-total">{{ comanda.totalDetalls|number_format(2, ',', '.') }}€</div>
		   			<div class="data-detall-cell comanda-data">{{ comanda.dataentrada|date('d/m/y') }}</div>
		   			<div class="data-detall-cell comanda-factura">
		   				{% if comanda.comandaConsolidada == true and comanda.factura != null %}
		   					{% set factura = comanda.factura %}
	   						<a class="comanda-action-factura link" href="{{ path('FecdasBundle_facturatopdf', { 'id': factura.id}) }}" alt="{{ factura.infoToolTip(admin) }}" title="{{ factura.infoToolTip(admin) }}">
	   							{{ factura.numfactura }}
								<i class="fa fa-file-pdf-o fa-1x red"></i></a>
			   			{% endif %}
		   				{% for factura in comanda.facturesanulacions %} 
		   					<a class="comanda-action-factura link" href="{{ path('FecdasBundle_facturatopdf', { 'id': factura.id}) }}" alt="{{ factura.infoToolTip(admin) }}" title="{{ factura.infoToolTip(admin) }}">
		   						<span class="red">(-){{ factura.numfactura }}</span>
								<i class="fa fa-file-pdf-o fa-1x red"></i></a>
						{% endfor %}
					</div>
		   			<div class="data-detall-cell comanda-comentaris">{{ comanda.infoLlistat|raw }}</div>
		   			<div class="data-detall-cell comanda-actions">
						<a class="comanda-action-select link" href="javascript.void();" alt="Escollir comanda" title="Escollir comanda">
								<i class="fa fa-close text-info red"></i></a>
		   			</div>
		   		</li>
		   		{% endfor %} 
			</ol>
		</div>
	   	{% else %}
	    <div class="sms-notice">No hi ha comandes per mostrar</div>
	    {% endif %}


