{# src/Fecdas/ingresosBundle/Resources/views/Facturacio/ingresos.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Llista d'ingresos (a compte) i rebuts {% endblock %}

{% block body %}
	<header>
        <h1>Llistat d'ingresos (a compte) i rebuts</h1>
    </header>
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
        
    <div id="ingresos-main">
	    <div id="list-forms">
	    	{{ form_start(form, {'action': path('FecdasBundle_nouingres'), 'method': 'GET', 'attr': {'class': 'appform', 'id':'form_ingresos'}}) }}
		    	<div class="row">
		    	  {% if admin == true %}
				  <div class="col-md-3 col-xs-5">
				  	<div class="form-group">
				    	{{ form_label(form.clubs, 'Clubs (Admins.)', { 'label_attr': {'class': ''} }) }}
						{{ form_widget(form.clubs, { 'attr': {'class': 'form-control'} }) }}
					</div>
				  </div>
				  {% endif %}
				  <div class="col-md-3 col-xs-4">
				  	<div class="form-group">
				  		{% if admin == true %}<label class="" for="form_numrebut">&nbsp;</label>{% endif %}
				    	<div class="input-group">
					    	<span class="input-group-addon">Rebut</span>
							{{ form_widget(form.numrebut, { 'attr': {'class': 'form-control'} }) }}
							<span class="input-group-addon input-group-addon-icon input-group-addon-icon-search">
								<span class="fa fa-search fa-1x"></span>
							</span>
						</div>
					</div>
				  </div>
				  {% if admin == true %}	
				  <div class="col-md-2 col-md-offset-4  col-xs-3 col-last-right">
				  	<div class="form-group">
				  		{% if admin == true %}<label class="" for="form_button">&nbsp;</label>{% endif %}
						<button type="submit" class="btn btn-default"><i class="fa fa-plus-circle"></i> afegir</button>
					</div>	
				  </div>
				  {% endif %}
				</div>
		   	{{ form_end(form) }}
	    </div>
	    <div id="llista-ingresos">
	   	    {% block rebutstaula %}{% include 'FecdasBundle:Facturacio:ingresostaula.html.twig' %}{% endblock %}
	    </div>
	</div>
    <div id="dialeg-edicio-ingres" class="finestra-overlay"></div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	<script type="text/javascript">
	
	
	reloadLlistaingresos = function(cerca, numrebut) {

		var url = "{{ path('FecdasBundle_ingresos', sortparams)|raw }}"+"&cerca="+cerca+"&numrebut="+numrebut;
		
		$.get(url, function(data) {

			$('#llista-ingresos').html( data );	
			
		})
	};
	
	$(document).ready(function(){
		{% if admin == true %}
			setMenuActive("menu-admingresos");
		{% else %}
			setMenuActive("menu-ingresos");
		{% endif %}
		
		$("#form_clubs").change(function() {
			reloadLlistaingresos($( "#form_clubs" ).val(), $( "#form_numrebut" ).val() );
	    });

		$("#form_numrebut").change(function() {
			reloadLlistaingresos($( "#form_clubs" ).val(), $( "#form_numrebut" ).val() );
	    });


		$( '#llista-ingresos' ).on( "click", ".remove-rebut", function( e ) {
			e.preventDefault();	
			var url = $(this).attr("href")+"?cerca="+$( "#form_clubs" ).val();
			var strHtml = '<h4>Segur que vols esborrar aquest rebut?</h4>';
			strHtml += '<p>Aquest canvi no es podrà recuperar</p>';
			
			dialegConfirmacio( strHtml, "Baixa rebut", 0, 500, function() {

				$('.alert.alert-dismissible').remove();
				
				$.get(url, function(data) {

					$('#llista-ingresos').html( data );	
					closeDialegConfirmacio();
					
				}).fail( function(xhr, status, error) {
					var sms = smsResultAjax('KO', xhr.responseText);
	    			 
		   			$('#form_dadespersonals').append(sms);
		   			closeDialegConfirmacio();
		    	});	
				
	        	
	        }, function() { closeDialegConfirmacio(); }, function() {});
		});

		// ingres
		$("select#form_clubs").select2({
			minimumInputLength: 2,
			allowClear: true,
			placeholder: 'Escollir club'
		});

		$('#form_ingresos').submit( function(e){
			e.preventDefault();

			var url = $(this).attr("action");
			window.location = url;
		});
		
	});
	
	</script>


{% endblock %}

