{# src/Fecdas/PartesBundle/Resources/views/Page/contact.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Test Notificacions {% endblock %}

{% block stylesheets %}
{{ parent() }}

<style>
	input {width:400px; margin-bottom:10px;}
	#urltest div {width:400px;} 
</style>
{% endblock %}

{% block body %}
    <header>
        <h1>Test Notificacions TPV</h1>
    </header>
	
    {% include 'FecdasBundle:Includes:messages.html.twig' %}
    <div id="form-notificaciotest">    
	   	<form id="testform" action="{{ path('FecdasBundle_notificaciotest') }}" method="post" {{ form_enctype(form) }} class="appform">
	   		{{ form_errors(form) }}
	
			<div class="error-box"></div>
		   	
		   	<div>
				{{ form_label(form.accio, 'Acció', { 'label_attr': {'class': 'formlabel-outside'} }) }}
				{{ form_widget(form.accio, { 'id': 'accio', 'attr': {'class': 'forminput-outside'} }) }}
			</div>
		   	<div>
				{{ form_label(form.Ds_Response, 'Codi resposta', { 'label_attr': {'class': 'formlabel-outside'} }) }}
				{{ form_widget(form.Ds_Response, { 'id': 'Ds_Response', 'attr': {'class': 'forminput-outside'} }) }}
			</div>
			<div>
				{{ form_label(form.Ds_MerchantData, 'Dades Mercchant (itemId&source(llicencies,duplicat o varis)&entorn)', { 'label_attr': {'class': 'formlabel-outside'} }) }}
				{{ form_widget(form.Ds_MerchantData, { 'id': 'Ds_MerchantData', 'attr': {'class': 'forminput-outside'} }) }}
			</div>
		   	<div>
				{{ form_label(form.Ds_Date, 'Data', { 'label_attr': {'class': 'formlabel-outside'} }) }}
				{{ form_widget(form.Ds_Date, { 'id': 'Ds_Date', 'attr': {'class': 'forminput-outside'} }) }}
			</div>
		   	<div>
				{{ form_label(form.Ds_Hour, 'Hora', { 'label_attr': {'class': 'formlabel-outside'} }) }}
				{{ form_widget(form.Ds_Hour, { 'id': 'Ds_Hour', 'attr': {'class': 'forminput-outside'} }) }}
			</div>
		   	<div>
				{{ form_label(form.Ds_Order, 'Ordre (12 dig)', { 'label_attr': {'class': 'formlabel-outside'} }) }}
				{{ form_widget(form.Ds_Order, { 'id': 'Ds_Order', 'attr': {'class': 'forminput-outside'} }) }}
			</div>
			
			{{ form_rest(form) }}
		
		    <div><input type="submit" class="forminput-inside" value="Crear resposta" /></div>        
	   
		</form> 
    </div>
    <a href="{{ path('FecdasBundle_notificaciotest') }}">reiniciar</a>
   	
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">
	$(document).ready(function(){

		
		
		$("#testform").submit(function(e) {
			// Ajax	
			e.preventDefault();

			var url = $(this).attr('action');
			
			$.post(url, $(this).serializeArray(),
			function(data, textStatus) {

				$('#form-notificaciotest').html(data);
				
			}).fail( function(xhr, status, error) {
				 // xhr.status + " " + xhr.statusText, status, error
					 
				console.log(JSON.stringify(xhr));
					 
				var sms = smsResultAjax('KO', xhr.responseText);
						 
				$(".error-box").html(sms);
					     
			});
		});
			
		//"#responseform"
		
	});
</script>
{% endblock %}
