{# src/Fecdas/PartesBundle/Resources/views/Page/contact.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Test Notificacions {% endblock %}

{% block stylesheets %}
{{ parent() }}

<style>
	input {width:400px; margin-bottom:10px;}
	#urltest div {width:400px;} 
</style>
{% endblock %}

{% block body %}
    <header>
        <h1>Test Notificacions TPV</h1>
    </header>
	
    {% include 'FecdasBundle:Includes:messages.html.twig' %}
        
   	<form id="testform" action="{{ path('FecdasBundle_notificacio') }}" method="post" {{ form_enctype(form) }} class="appform">
   	{{ form_errors(form) }}

	<div class="error-box"></div>
   	<div id="urltest">
   	<div>
		{{ form_label(form.accio, 'Acció', { 'label_attr': {'class': 'formlabel-outside'} }) }}
		{{ form_widget(form.accio, { 'id': 'accio', 'attr': {'class': 'forminput-outside'} }) }}
	</div>
   	<div>
		{{ form_label(form.Ds_Response, 'Codi resposta', { 'label_attr': {'class': 'formlabel-outside'} }) }}
		{{ form_widget(form.Ds_Response, { 'id': 'Ds_Response', 'attr': {'class': 'forminput-outside'} }) }}
	</div>
	<div>
		{{ form_label(form.Ds_MerchantData, 'Dades Mercchant (itemId&source(llicencies,duplicat o varis)&entorn)', { 'label_attr': {'class': 'formlabel-outside'} }) }}
		{{ form_widget(form.Ds_MerchantData, { 'id': 'Ds_MerchantData', 'attr': {'class': 'forminput-outside'} }) }}
	</div>
   	<div>
		{{ form_label(form.Ds_Date, 'Data', { 'label_attr': {'class': 'formlabel-outside'} }) }}
		{{ form_widget(form.Ds_Date, { 'id': 'Ds_Date', 'attr': {'class': 'forminput-outside'} }) }}
	</div>
   	<div>
		{{ form_label(form.Ds_Hour, 'Hora', { 'label_attr': {'class': 'formlabel-outside'} }) }}
		{{ form_widget(form.Ds_Hour, { 'id': 'Ds_Hour', 'attr': {'class': 'forminput-outside'} }) }}
	</div>
   	<div>
		{{ form_label(form.Ds_Order, 'Ordre (12 dig)', { 'label_attr': {'class': 'formlabel-outside'} }) }}
		{{ form_widget(form.Ds_Order, { 'id': 'Ds_Order', 'attr': {'class': 'forminput-outside'} }) }}
	</div>
   	<div>
		{{ form_label(form.Ds_PayMethod, 'Mètode (Pot estar buit)', { 'label_attr': {'class': 'formlabel-outside'} }) }}
		{{ form_widget(form.Ds_PayMethod, { 'id': 'Ds_PayMethod', 'attr': {'class': 'forminput-outside'} }) }}
	</div>
	
	
	{{ form_rest(form) }}

    <div>	
		<input type="submit" class="forminput-inside" value="Test" />
	</div>        
   
</form> 
    
   	
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">
	$(document).ready(function(){

		$("#testform").submit(function(e) {
			e.preventDefault();

			var params = new Array();
			var url = $('#accio').val();

			params.push( {'name':'Ds_Response','value': $('#Ds_Response').val() } );
			params.push( {'name':'Ds_MerchantData','value': $('#Ds_MerchantData').val()} );
			params.push( {'name':'Ds_Date','value': $('#Ds_Date').val() } );
			params.push( {'name':'Ds_Hour','value': $('#Ds_Hour').val() } );
			params.push( {'name':'Ds_Order','value': $('#Ds_Order').val() } );
			params.push( {'name':'Ds_PayMethod','value': $('#Ds_PayMethod').val() } );

			if ($('#accio').val() == "/notificacio") {
				$.post(url, params,
				function(data, textStatus) {
					alert("fi post" + data);
					location.reload();
				}).fail( function(xhr, status, error) {
					 // xhr.status + " " + xhr.statusText, status, error
					 
					 console.log(JSON.stringify(xhr));
					 
					 var sms = smsResultAjax('KO', xhr.responseText);
					 
					 $(".error-box").html(sms);
				     
				});
			} else {
				var str = jQuery.param( params );
				
				var myWindow = window.open(url+'?'+str,'tpv','width=800,height=600,scrollbars=yes,resizable=yes,status=yes,menubar=no,location=no');

				/*myWindow.onload = function() { 
					alert("5");
					$(this).contents().find("#close-notificacio a").click(function(e) {
						e.preventDefault();
						alert("82");
					});
					$("#close-notificacio a").click(function(e) {
						e.preventDefault();
						url = $(this).attr("href");
						alert("1");
						window.opener.location.href=url;
						alert("2");
						window.close();
						e.preventDefault();
						alert("52");
					});
				};
				

				$(myWindow).ready(function() {
					alert("1");
					$("#close-notificacio a").click(function(e) {
						e.preventDefault();
						url = $(this).attr("href");
						alert("1");
						window.opener.location.href=url;
						alert("2");
						window.close();
						alert("32");
					});
				});
				$(myWindow).unload(function() {
					url = $("#close-notificacio a").attr("href");
					window.opener.location.href=url;
					window.close();
				});*/
				/*
				$.get(url, params,
				function(data, textStatus) {
			    	myWindow.document.write(data);
						
					location.reload();
				}).fail(function() { alert("Error get"); });*/
			}
				
			return false;

		});

		
	});
</script>
{% endblock %}
