{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Pagament {{ comanda.origenpagament }} {% endblock %}

{% form_theme formpayment _self %}

{% block hidden_widget %}
	<input type="hidden" {{ block('attributes') }} value="{{ value }}" name="{{ name }}"/>
{% endblock %}

{% block body %}
	<header>
        <h1><a href="{{ backurl }}">{{ comanda.backTextPagament }}</a> > Pagament {{ comanda.origenpagament }} </h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('error-notice') %}
    <div class="sms-notice">
		{{ flashMessage }}
  	</div>	
	{% endfor %}
        
    <div id="fact-header">
	   	<div id="fact-dadesclub">
    		<ol class="fact-summary-table table-noscroll">
    			{% set club = comanda.club %}
	   			<li class="data-detall">
	   				<div class="data-detall-cell fact-titol">Club</div>
	   				<div id="fact-club" class="data-detall-cell">{{ club.nom }}</div>
	   		   	</li>
	   		   	<li class="data-detall">
	   		   		<div class="data-detall-cell fact-titol">Adreça</div>
	   		   		<div id="fact-adreca" class="data-detall-cell">{{ club.addradreca }}</div>
	   		   	</li>
	   		   	<li class="data-detall">
	   		   		<div class="data-detall-cell fact-titol">Població</div>
	   		   		<div id="fact-pobcp" class="data-detall-cell">{{ club.addrpob }} ({{ club.addrcp}}) </div>
	   		   	</li>
	   		   	<li class="data-detall">
	   		   		<div class="data-detall-cell fact-titol">Província</div>
	   		   		<div id="fact-prov" class="data-detall-cell">{{ club.addrprovincia }}</div>
	   		   	</li>
	   		   	<li class="data-detall">
	   		   		<div class="data-detall-cell fact-titol">Telèfon</div>
	   		   		<div id="fact-telefon" class="data-detall-cell">{{ club.telefon }}</div>
		   		</li>
			</ol>
	   	</div>	   		
	   	<div id="fact-dadesfactura">
    		<ol class="fact-summary-table table-noscroll">
	   			<li class="data-detall">
	   		   		<div class="data-detall-cell fact-titol">Data</div>
	   		   		<div id="fact-data" class="data-detall-cell">{{ "now"|date("m/d/Y") }}</div>
	   		   	</li>
	   		   	<li class="data-detall">
	   		   		<div class="data-detall-cell fact-titol">CIF</div>
	   		   		<div id="fact-cif" class="data-detall-cell">{{ club.cif }}</div>
	   		   	</li>
	   		</ol>
	   		
	   		<form id="formpayment" action="{{ payment.url }}" method="post" {{ form_enctype(formpayment) }}  class="appform">
	   			{{ form_widget(formpayment.preu, { 'name': 'Ds_Merchant_Amount'} ) }}
	   			{{ form_widget(formpayment.numordre, { 'name': 'Ds_Merchant_Order'} ) }}
	   			{{ form_widget(formpayment.codi, { 'name': 'Ds_Merchant_MerchantCode'} ) }}
	   			{{ form_widget(formpayment.terminal, { 'name': 'Ds_Merchant_Terminal'} ) }}
	   			{{ form_widget(formpayment.moneda, { 'name': 'Ds_Merchant_Currency'} ) }}
	   			{{ form_widget(formpayment.tipusTx, { 'name': 'Ds_Merchant_TransactionType'} ) }}
	   			{{ form_widget(formpayment.urlmerchant, { 'name': 'Ds_Merchant_MerchantURL'} ) }}
	   			{{ form_widget(formpayment.paymethods, { 'name': 'Ds_Merchant_PayMethods'} ) }}
	   			{{ form_widget(formpayment.lang, { 'name': 'Ds_Merchant_ConsumerLanguage'} ) }}
	   			{{ form_widget(formpayment.desc, { 'name': 'Ds_Merchant_ProductDescription'} ) }}
	   			{{ form_widget(formpayment.titular, { 'name': 'Ds_Merchant_Titular'} ) }}
	   			{{ form_widget(formpayment.fecdas, { 'name': 'Ds_Merchant_MerchantName'} ) }}
	   			{{ form_widget(formpayment.dades, { 'name': 'Ds_Merchant_MerchantData'} ) }}
	   			{{ form_widget(formpayment.signatura, { 'name': 'Ds_Merchant_MerchantSignature'} ) }}
	   			<div id="formpayment-buttons" class="payment-submit">
					<input type="submit" id="formpayment-button-payment" class="forminput-inside" value="Confirmar" name="formpayment-button-payment"/>
				</div> 
	   		</form>
	   	</div>
    </div>
   
    <div class="table-header">
    	<div id="list-header" >
   			<div id="header-factdetallcodi" class="col-listheader">Codi</div>
		   	<div id="header-factdetalldesc" class="col-listheader">Descripció</div>
		   	<div id="header-factdetallquantitat" class="col-listheader">Quantitat</div>
		   	<div id="header-factdetallpreuunitat" class="col-listheader">Preu<br/>Unitat</div>
		   	<div id="header-factdetallpreusiva" class="col-listheader">Preu<br/>Total</div>
		   	<div id="header-factdetalliva" class="col-listheader">I.V.A.</div>
		   	<div id="header-factdetallpreutotal" class="col-listheader">Total</div>
   		</div>
   	</div>
	{% if detall|length > 0 %}
   		<div class="table-scroll">
	   		<ol id="list-data">
			{% for lineadetall in detall %}
		   		<li class="data-detall">
			   		<div class="data-detall-cell factdetall-codi">{{ lineadetall.codi }}</div>
			   		<div class="data-detall-cell factdetall-desc">{{ lineadetall.producte|raw }}</div>
			   		<div class="data-detall-cell factdetall-quantitat">{{ lineadetall.total }}</div>
			   		<div class="data-detall-cell factdetall-preuunitat">{{ lineadetall.preuunitat|number_format(2, '.', ',') }} €</div>
			   		<div class="data-detall-cell factdetall-preusiva">{{ (lineadetall.total*lineadetall.preuunitat)|number_format(2, '.', ',') }} €</div>
			   		<div class="data-detall-cell factdetall-iva">{{ (lineadetall.ivaunitat*lineadetall.total*lineadetall.preuunitat)|number_format(2, '.', ',') }} €</div>
			   		<div class="data-detall-cell factdetall-preutotal">{{ lineadetall.import|number_format(2, '.', ',') }} €</div>
		   		</li>
	   		{% endfor %}
	   		</ol>
	   		<ol id="list-data">
	   			<li id="factdetall-totals" class="data-detall">
	   				<div class="data-detall-cell factdetall-tab"></div>
			   		<div class="data-detall-cell factdetall-totalparcial">{{ comanda.totalDetalls|number_format(2, '.', ',') }} €</div>
			   		<div class="data-detall-cell factdetall-iva">{{ comanda.totalIVADetalls|number_format(2, '.', ',') }} €</div>
			   		<div class="data-detall-cell factdetall-total">{{ comanda.totalDetalls|number_format(2, '.', ',') }} €</div>
			   	</li>	
			</ol>
		</div>
		{%  if (comanda.totalIVADetalls == 0) %}
		<div class="sms-footer">Exempt d'I.V.A. segons la llei 49/2002</div>
		{% endif %}
  	 {% endif %}

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function() {
	setMenuActive("{{ comanda.menuActiuPagament }}");
	
    $('#formpayment').submit(function() {
    	window.open('','tpv','width=800,height=600,scrollbars=yes,resizable=yes,status=yes,menubar=no,location=no');
        this.target = 'tpv';
        location.reload(); // Refresca pàgina i ordre TPV
    });
});


</script>
{% endblock %}

