{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Pagament {{ comanda.origenpagament }} {% endblock %}

{% form_theme formpayment _self %}

{% block hidden_widget %}
	<input type="hidden" {{ block('attributes') }} value="{{ value }}" name="{{ name }}"/>
{% endblock %}

{% block usermessages %}
	<span class="hidden"> {{ parent() }}</span>
{% endblock %}

{% block body %}
	<header>
		<div class="row">
    		<div class="col-md-9 col-sm-9 col-xs-12"><h1><a href="{{ backurl }}">{{ comanda.backTextPagament }}</a> > Pagament {{ comanda.origenpagament }}</h1></div>
    		<div class="col-md-1 col-sm-1 col-xs-12 col-last-right">
    			<div class="buttons-top-bootstrap">
    				<div class="button-top">
    					<a class="link pagament-tpv" href="{{ payment.url }}" alt="Passarel·la de pagament" 
    					title="Passarel·la de pagament"><i class="fa fa-credit-card fa-1x green"></i></a>
    				</div>	
    			</div> 
    		</div>
    	</div>
    </header>

	<div class="pagament-llicencies container-fluid">
		<div class="row"><div class="col-md-10 col-sm-10 col-xs-12 form-viewport">
        {{ form_start(formpayment, {'action': payment.url, 'method': 'POST', 'attr': {'class': 'appform', 'id':'formpayment'}}) }}
       			{# form_widget(formpayment.preu, { 'name': 'Ds_Merchant_Amount'} ) }}
	   			{{ form_widget(formpayment.numordre, { 'name': 'Ds_Merchant_Order'} ) }}
	   			{{ form_widget(formpayment.codi, { 'name': 'Ds_Merchant_MerchantCode'} ) }}
	   			{{ form_widget(formpayment.terminal, { 'name': 'Ds_Merchant_Terminal'} ) }}
	   			{{ form_widget(formpayment.moneda, { 'name': 'Ds_Merchant_Currency'} ) }}
	   			{{ form_widget(formpayment.tipusTx, { 'name': 'Ds_Merchant_TransactionType'} ) }}
	   			{{ form_widget(formpayment.urlmerchant, { 'name': 'Ds_Merchant_MerchantURL'} ) }}
	   			{{ form_widget(formpayment.paymethods, { 'name': 'Ds_Merchant_PayMethods'} ) }}
	   			{{ form_widget(formpayment.lang, { 'name': 'Ds_Merchant_ConsumerLanguage'} ) }}
	   			{{ form_widget(formpayment.desc, { 'name': 'Ds_Merchant_ProductDescription'} ) }}
	   			{{ form_widget(formpayment.titular, { 'name': 'Ds_Merchant_Titular'} ) }}
	   			{{ form_widget(formpayment.fecdas, { 'name': 'Ds_Merchant_MerchantName'} ) }}
	   			{{ form_widget(formpayment.dades, { 'name': 'Ds_Merchant_MerchantData'} ) #}
	   			{{ form_widget(formpayment.params, { 'name': 'Ds_MerchantParameters'} ) }}
	   			{{ form_widget(formpayment.signatura, { 'name': 'Ds_Signature'} ) }}
	   			{{ form_widget(formpayment.version, { 'name': 'Ds_SignatureVersion'} ) }}
    	<div class="row">
			 <div class="col-md-12 col-sm-12 col-xs-12">
                {% include 'FecdasBundle:Includes:messages.html.twig' %}
			 </div>
		</div>
        
        <div class="row">
        	<div class="col-md-6 col-md-offset-6 col-sm-10 col-sm-offset-2 col-xs-12">
        		<div class="row row-no-gutters blue" style="text-align: right;">
        			<div class="col-md-10">
        				Federació Catalana d'Activitats Subaquàtiques<br/>
        				Moll de la Vela, 1 (Zona Fòrum)<br/>
                		08930 - Sant Adrià de Besòs<br/>
                		Barcelona </div>
                	<div class="col-md-2"><img width="40" src="{{ asset('images/fecdaslogo.png') }}"></div>
				</div>
        	</div>
        	<div class="col-md-4 col-sm-6 col-xs-12">
            	<div class="factura-dadesclub">
            		<h3 class="underline blue bottom25">Facturar a</h3>
            		{% if comanda.comandaUsuari == true %}
                	    {% set usuari = comanda.usuari %}
                	    {% set metapersona = usuari.metapersona %}
                	    {% set persona = metapersona.getPersona(constant('FecdasBundle\\Controller\\BaseController::CODI_CLUBLLICWEB')) %}
        				<table class="table">
                   		   	<tbody class="table-noscroll">
               					<tr class="data-detall">
                   				   	<td class="data-detall-cell fact-titol fact-fixed-width data-detall-cell-left">Nom</td>
                   				   	<td class="data-detall-cell fact-info data-detall-cell-left">{{ persona.getNomCognoms() }}</td>
               			   		</tr>
               			   		<tr class="data-detall">
                   				   	<td class="data-detall-cell fact-titol fact-fixed-width data-detall-cell-left">DNI/NIE</td>
                   				   	<td class="data-detall-cell fact-info data-detall-cell-left">{{ persona.dni }}</td>
               			   		</tr>
               			   		<tr class="data-detall">
                   				   	<td class="data-detall-cell fact-titol fact-fixed-width data-detall-cell-left">Adreça</td>
                   				   	<td class="data-detall-cell fact-info data-detall-cell-left">
                   				   	    {{ persona.addradreca }}<br/>
                   				   	    {{ persona.addrpob }} {% if persona.addrcp != '' %} ({{ persona.addrcp}}) {% endif %}
                   				   	    {{ persona.addrprovincia }}
                   				   	</td>
               			   		</tr>
               			   		<tr class="data-detall">
                   				   	<td class="data-detall-cell fact-titol fact-fixed-width data-detall-cell-left">Telèfon</td>
                   				   	<td class="data-detall-cell fact-info data-detall-cell-left">{{ persona.getTelefons() }}</td>
               			   		</tr>
                   			</tbody>
        		   		</table> 
    		   		{% else %}
    		   		    {% set club = comanda.club %}
        				<table class="table">
                   		   	<tbody class="table-noscroll">
               					<tr class="data-detall">
                   				   	<td class="data-detall-cell fact-titol fact-fixed-width data-detall-cell-left">Club</td>
                   				   	<td class="data-detall-cell data-detall-cell-left">{{ club.nomfactura }}</td>
               			   		</tr>
               			   		<tr class="data-detall">
                   				   	<td class="data-detall-cell fact-titol fact-fixed-width data-detall-cell-left">DNI/NIE</td>
                   				   	<td class="data-detall-cell fact-info data-detall-cell-left">{{ club.cif }}</td>
               			   		</tr>
               			   		<tr class="data-detall">
                   				   	<td class="data-detall-cell fact-titol fact-fixed-width data-detall-cell-left">Adreça</td>
                   				   	<td class="data-detall-cell fact-info data-detall-cell-left">
                   				   	    {{ club.addradreca }}<br/>
                   				   	    {{ club.addrpob }} {% if club.addrcp != '' %} ({{ club.addrcp}}){% endif %}<br/>
                   				   	    {{ club.addrprovincia }}
                   				   	</td>
               			   		</tr>
               			   		<tr class="data-detall">
                   				   	<td class="data-detall-cell fact-titol fact-fixed-width data-detall-cell-left">Telèfon</td>
                   				   	<td class="data-detall-cell fact-info data-detall-cell-left">{{ club.telefons }}</td>
               			   		</tr>
                   			</tbody>
        		   		</table> 
    		   		{% endif %}
    			</div>
        	</div>
        	<div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
        		<div class="factura-dadesfederacio">
            		<h3 class="underline blue bottom25">{% if comanda.numFactures(true) > 1 %}Factures{% else %}Factura{% endif %}</h3>
       				<table class="table">
               		   	<tbody class="table-noscroll">
          					<tr class="data-detall">
                  				<td class="data-detall-cell fact-titol data-detall-cell-right">Núm. factura</td>
                  				<td class="data-detall-cell fact-fixed-width data-detall-cell-right">{{ comanda.factura.numFactura }}</td>
               			   	</tr>
              			   	<tr class="data-detall">
                   			   	<td class="data-detall-cell fact-titol data-detall-cell-right">Data</td>
                   			   	<td class="data-detall-cell fact-fixed-width data-detall-cell-right">{{ "now"|date("m/d/Y") }}</td>
               			   	</tr>
                   		</tbody>
       		   		</table> 
    			</div>
    			{% if comanda.numFactures(true) > 1 %}
    			<div class="factura-dadesfederacio">
            		<h3 class="underline blue bottom25">Anul·lacions</h3>
       				<table class="table">
               		   	<tbody class="table-noscroll">
          					<tr class="data-detall">
                  				<td class="data-detall-cell fact-titol data-detall-cell-right">
                  				{% set numAnulacions = [] %}
                  				{% for anulacio in comanda.facturesanulacions %}
                  					{% set numAnulacions = numAnulacions|merge(['(-)'~anulacio.numFactura]) %}
                  				{% endfor %}
                  				{{ numAnulacions|join(', ') }}
                  				</td>
               			   	</tr>
                   		</tbody>
       		   		</table> 
    			</div>
    			{% endif %}
        	</div>
        </div>
        
    
    	<table class="table">
    		<thead>	
    		   	<tr class="data-detall-header">
    		   		<th scope="col" id="header-factdetallid" class="col-listheader hidden">id</th>
    		   		<th scope="col" id="header-factdetallcodi" class="col-listheader col-noresponsive">Codi</th>
    		   		<th scope="col" id="header-factdetalldesc" class="col-listheader data-detall-cell-left col-noresponsive data-detall-cell-left">Descripció</th>
    		   		<th scope="col" id="header-factdetallquantitat" class="col-listheader col-noresponsive">Quantitat</th>
    		   		<th scope="col" id="header-factdetallpreuunitat" class="col-listheader data-detall-cell-right col-noresponsive">Preu<br/>Unitat</th>
    		   		<th scope="col" id="header-factdetallpreusiva" class="col-listheader data-detall-cell-right col-noresponsive">Preu<br/>Total</th>
    		   		<!-- <th scope="col" id="header-factdetalliva" class="col-listheader data-detall-cell-right col-noresponsive">I.V.A.</th>
    		   		<th scope="col" id="header-factdetallpreutotal" class="col-listheader data-detall-cell-right col-noresponsive">Total</th> -->
    		   	</tr>
    		</thead>
			<tbody class="table-noscroll table-noscroll-large">	
				{% for lineadetall in detall %}
				<tr class="data-detall">
					<td class="data-detall-cell factdetall-id hidden">{{ lineadetall.id }}</td>
			   		<td class="data-detall-cell factdetall-codi col-noresponsive">{{ lineadetall.codi }}</td>
			   		<td class="data-detall-cell data-detall-cell-left factdetall-desc col-noresponsive">{{ lineadetall.producte|raw }}</td>
			   		<td class="data-detall-cell factdetall-quantitat col-noresponsive">{{ lineadetall.total }}</td>
			   		<td class="data-detall-cell data-detall-cell-right factdetall-preuunitat col-noresponsive">{{ lineadetall.preuunitat|number_format(2, '.', ',') }}€</td>
			   		<td class="data-detall-cell data-detall-cell-right factdetall-preusiva col-noresponsive">{{ (lineadetall.preuunitat*lineadetall.total)|number_format(2, '.', ',') }}€</td>
			   		<!-- <td class="data-detall-cell data-detall-cell-right factdetall-iva col-noresponsive">{# (lineadetall.ivaunitat*lineadetall.total*lineadetall.preuunitat)|number_format(2, '.', ',') #}€</td>
			   		<td class="data-detall-cell data-detall-cell-right factdetall-preutotal col-noresponsive">{# lineadetall.import|number_format(2, '.', ',') #}€</td> -->
				</tr>
				{% endfor %}
				<tr id="factdetall-totals" class="data-detall">
					<td class="data-detall-cell hidden">&nbsp;</td>
					<td class="data-detall-cell data-detall-cell-right col-noresponsive" colspan="4">B.Imposable</td>
					<td class="data-detall-cell data-detall-cell-right factdetall-totalparcial col-noresponsive">{{ baseimponible|number_format(2, '.', ',') }}€</td>
				</tr>
				{% if ivaDetalls|length > 0 %}
				    {% for iva, acumulatIva in ivaDetalls %}
    				    <tr id="factdetall-totals" class="data-detall">
        					<td class="data-detall-cell hidden">&nbsp;</td>
        					<td class="data-detall-cell data-detall-cell-right col-noresponsive" colspan="4">IVA {{ (iva*100)|number_format(0, '.', ',') }}%</td>
        					<td class="data-detall-cell data-detall-cell-right factdetall-iva col-noresponsive">{{ (acumulatIva*iva)|number_format(2, '.', ',') }}€</td>
        				</tr>
				    {% endfor %}
    			{% else %}
        			<tr id="factdetall-totals" class="data-detall">
    					<td class="data-detall-cell hidden">&nbsp;</td>
    					<td class="data-detall-cell data-detall-cell-right col-noresponsive" colspan="4">IVA</td>
    					<td class="data-detall-cell data-detall-cell-right factdetall-iva col-noresponsive">--</td>
    				</tr>
                {% endif %}
       			<tr id="factdetall-totals" class="data-detall">
   					<td class="data-detall-cell hidden">&nbsp;</td>
   					<td class="data-detall-cell data-detall-cell-right col-noresponsive" colspan="4">TOTAL COMANDA</td>
   					<td class="data-detall-cell data-detall-cell-right factdetall-total col-noresponsive">{{ comanda.totalComanda|number_format(2, '.', ',') }}€</td>
   				</tr>
			</tbody>
		</table>
   
        {%  if (comanda.totalIVADetalls == 0) %}
			<div class="sms-footer">Factura exempta d'I.V.A. d'acord a l'article UNO 20.13 de la llei de l'IVA</div>
		{% endif %} 
   
	 	{{ form_end(formpayment) }}
		</div></div>
	</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

    $(document).ready(function() {
    	setMenuActive("{{ comanda.menuActiuPagament }}");
    	
    	$('.pagament-tpv').click(function (e) {	
        	e.preventDefault();
            
            $('#formpayment').submit();
        });
            
        $('#formpayment').submit(function() {
        	//event.preventDefault();
            
        	window.open('','tpv','width=800,height=600,scrollbars=yes,resizable=yes,status=yes,menubar=no,location=no');
            this.target = 'tpv';
            location.reload(); // Refresca pàgina i ordre TPV
        });
    });


</script>
{% endblock %}

