{# src/Fecdas/productesBundle/Resources/views/Facturacio/productes.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block javascriptshead %}
 	
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Llistat de productes {% endblock %}

{% block body %}
    <header>
		<div class="row">
			<div class="col-md-8"><h1>Llistat de productes</h1></div>
	        <div class="col-md-4 col-last-right">
				<div class="buttons-top-bootstrap">
					<div class="button-top"><a class="link export-pdf" href="{{ path('FecdasBundle_productes', { 'format': 'pdf' } ) }}" alt="Descarregar els productes" 
							title="Descarregar els productes"><i class="fa fa-file-pdf-o fa-1x red"></i></a></div> 
					<div class="button-top"><a class="link export-csv" href="{{ path('FecdasBundle_productes', { 'format': 'csv' } ) }}" alt="Exportar dades dels productes" 
							title="Exportar dades dels productes"><i class="fa fa-file-excel-o fa-1x green"></i></a></div>
				</div> 
			</div>
		</div>
   	</header>
    
    <div id="productes-main">
    	<div class="row">
			<div class="col-md-12 col-xs-12">
		   		{% include 'FecdasBundle:Includes:messages.html.twig' %}
		   	</div>
		</div>
		<div class="row">
    	    <div id="list-forms" class="col-md-12 col-xs-12">
    	    	{{ form_start(form, {'action': path('FecdasBundle_nouproducte'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'form_productes'}}) }}
    		    	<div class="row">
    		    	  <div class="col-md-2">
    				  	<div class="form-group">
    				    	{{ form_label(form.compte, 'Compte', { 'label_attr': {'class': 'sr-only'} }) }}
    						{{ form_widget(form.compte, { 'attr': {'class': 'form-control'} }) }}
    					</div>
    				  </div>
    				  <div class="col-md-4">
    				  	<div class="form-group">
    				    	{{ form_label(form.cerca, 'Descripció', { 'label_attr': {'class': 'sr-only'} }) }}
    						<div class="input-group"><div class="input-group-addon">Descripció</div>{{ form_widget(form.cerca, { 'attr': {'class': 'form-control'} }) }}</div>
    					</div>
    				  </div>
    				  <div class="col-md-3">
    				    <div class="form-group">
    				    	{{ form_label(form.tipus, 'Cercar', { 'label_attr': {'class': 'sr-only'} }) }}
    						<div class="input-group"><div class="input-group-addon">tipus</div>{{ form_widget(form.tipus, { 'attr': {'class': 'form-control'} }) }}</div>
    					</div>
    				  </div>
    				  <div class="col-md-1">
    					  <div class="checkbox">
    					    <label>
    					      {{ form_widget(form.baixes) }} Baixes
    					    </label>
    					  </div>
    				  </div>
    				  <div class="col-md-2 col-last-right">
    						<button type="submit" class="btn btn-default"><i class="fa fa-plus-circle"></i> afegir</button>
    				  </div>
    				</div>
    		   	{{ form_end(form) }}
    	    </div>
	    </div>
	    <div class="table-header">	
		   	<div id="list-header">
				<div id="header-producte-id" class="col-listheader hidden">&nbsp;</div>
				<!-- <div id="header-producte-estat" class="col-listheader collistheader-noorder">Estat</div> -->
		   		<div id="header-producte-codi" class="col-listheader">{{ knp_pagination_sortable(productes, 'Codi', 'p.codi') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.codi') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-nomcurt" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(productes, 'Abr.', 'p.abreviatura') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.abreviatura') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-descripcio" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(productes, 'Descripcio', 'p.descripcio') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.descripcio') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-tipus" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(productes, 'Tipus', 'p.tipus') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.tipus') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-import" class="col-listheader collistheader-noorder">Preu</div>
		   		<!-- <div id="header-producte-iva" class="col-listheader collistheader-noorder">IVA</div> -->
		   		<!-- <div id="header-producte-total" class="col-listheader collistheader-noorder">Total</div> -->
		   		<div id="header-producte-transport" class="col-listheader col-listheader-noorder"><i class="fa fa-truck"></i></div>
		   		<div id="header-producte-minim" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(productes, 'Uds. mín.', 'p.minim') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.minim') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-limit" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(productes, 'Avís', 'p.stockable') }}
		   			<span class="listheader-icon {% if productes.isSorted('p.stockable') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-producte-stock" class="col-listheader col-listheader-noorder">Stock</div>
		   		<div id="header-producte-actions" class="col-listheader collistheader-noorder total-rowcount">Total: {{ productes.getTotalItemCount|number_format(0, ',', '.') }}</div>
		   	</div>
	   	</div>
		{% if productes|length > 0 %}
		<div class="table-scroll">
		   	<ol id="list-data">
			{% for producte in productes %} 
		   		<li class="data-detall {% if producte.esBaixa %} data-detall-fosc {% endif %}">
		   			<div class="data-detall-cell producte-id hidden">{{ producte.id }}</div>
		   			<!-- <div class="data-detall-cell producte-estat">{# producte.estat #}</div> -->
		   			<div class="data-detall-cell producte-codi">
		   			    {{ producte.codi }}
		   			    {% if producte.esBaixa %}<span class="subtitle">({{ producte.estat }})</span>{% endif %}
		   			</div>
		   			<div class="data-detall-cell producte-nomcurt">{{ producte.abreviatura }}</div>
		   			<div class="data-detall-cell producte-descripcio">{{ producte.descripcio }}</div>
		   			<div class="data-detall-cell producte-tipus">{{ producte.tipustext }}</div>
		   			<div class="data-detall-cell producte-import">{{ producte.currentPreu|number_format(2, ',', '.') }}€ ({{ producte.currentAny }})</div>
		   			<!-- <div class="data-detall-cell producte-iva">{# (producte.currentIva*100)|number_format(0, ',', '.') #}%</div> -->
		   			<!-- <div class="data-detall-cell producte-total">{# (producte.currentPreu * (1+producte.currentIva))|number_format(2, ',', '.') #}€</div> -->
		   			<div class="data-detall-cell producte-transport">{% if producte.transport == 1 %}<i class="fa fa-check-circle"></i>{% endif %}</div>
		   			<div class="data-detall-cell producte-minim">{{ producte.minim }}</div>
		   			<div class="data-detall-cell producte-limit">{{ producte.limitnotifica }}</div>
		   			<div class="data-detall-cell producte-stock">{% if stock[producte.id] is defined %} {{ stock[producte.id] }} {% endif %}</div>
		   			<div class="data-detall-cell producte-actions">
		   				<a class="producte-action-edit link" href="{{ path('FecdasBundle_editarproducte', { 'id': producte.id }) }}" alt="Editar" title="Editar"><i class="fa fa-pencil blue"></i></a>			
						{% if not producte.esBaixa %}
		   				<a class="producte-action-baixa link" href="{{ path('FecdasBundle_baixaproducte', { 'id': producte.id }) }}" alt="Baixa" title="Baixa"><i class="fa fa-trash-o red"></i></a>
		   				{% else %}
		   				<i class="fa fa-trash-o transparent"></i>
		   				{% endif %}
		   			</div>
		   		</li>
		   		{% endfor %}
			</ol>
		</div>
		{% if productes.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(productes, null, sortparams) }}</div>{% endif %}
	   	{% else %}
	    <div class="sms-notice">No hi ha productes per mostrar</div>
	    {% endif %}
	</div>
    <div id="dialeg-edicio-producte" class="finestra-overlay"></div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	<script type="text/javascript">

	getUrlWithFilterParams = function(url) {
		var cerca = $( "#form_cerca" ).val();
		var compte = $( "#form_compte" ).val();
		var tipusproducte = $( "#form_tipus" ).val();
		var baixes = $( '#form_baixes' ).is(':checked');

		return url + "&cerca="+cerca+"&compte="+compte+"&tipus="+tipusproducte+"&baixes="+(baixes?1:0);
	}

	filtreLlistaProductes = function() {

		window.location = getUrlWithFilterParams("{{ path('FecdasBundle_productes', sortparams)|raw }}");
	}
	
	$(document).ready(function(){
		setMenuActive("menu-admproductes");
		
		$("#form_tipus").change(function() {
			filtreLlistaProductes();
	    });

		$("#form_compte").change(function() {
			filtreLlistaProductes();
	    });
		
		$("#form_cerca").change(function() {
			filtreLlistaProductes();
	    });
	
		$( '#form_baixes' ).change(function(e) {
			filtreLlistaProductes();
		});
		
		// Compte contable producte
		init_cercaproducte_JSON('#form_compte', 'compte', 'Compte...', "{{  path('FecdasBundle_jsonproductes') }}", 1);

		$('.export-pdf, .export-csv').click( function(e) {
			e.preventDefault();

			var url = getUrlWithFilterParams($(this).attr('href'));
			window.location = url;
		});
	});
	
	</script>


{% endblock %}

