{# src/Fecdas/PartesBundle/Resources/views/Facturacio/rebut.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% form_theme form 'FecdasBundle:Includes:formtheming.html.twig' %}

{% block stylesheets %}
	
	<link href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Gestió de rebut i ingressos{% endblock %}

{% block body %}
    <header>
        <h1><a href="{{ path('FecdasBundle_ingresos') }}">Llistat d'ingressos i rebuts</a> > Rebut </h1>
    </header>
    
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
	
	{{ form_start(form, {'action': path('FecdasBundle_editarrebut'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'formingres'}}) }}
		<div class="row">
			{{ form_widget(form.id) }}{{ form_widget(form.num) }}
			 <div class="col-md-5">
			 	<div class="form-group">
					<label>Club</label>
					<div id="formrebut-club"  class="">
						{{ form_widget(form.club, { 'attr': {'class': 'form-control form-control-left'} }) }}
					</div>{{ form_errors(form.club) }}
				</div>
			 </div>
		</div>
		<div class="row">
			 <div class="col-md-7">
				<div class="row">
					 <div class="col-md-4">
					 	<div class="form-group">
							{{ form_label(form.numrebut, 'Núm. rebut') }}
							<div id="formrebut-num"  class="">
								{{ form_widget(form.numrebut, { 'attr': {'class': 'form-control form-control-center'} }) }}
							</div>{{ form_errors(form.numrebut)  }}
						</div>
					 </div>
					 <div class="col-md-3">
						<div class="form-group">
							{{ form_label(form.import, 'Import') }}
							<div id="formrebut-totalsuma"  class="input-group ">
								{{ form_widget(form.import, { 'attr': {'class': 'form-control form-control-center'} }) }}
								<span class="input-group-addon"><i class="fa fa-euro"></i></span>
							</div>{{ form_errors(form.import)  }}
						</div>
					 </div>
					 <div class="col-md-5">
						<div class="form-group">
							{{ form_label(form.tipuspagament, 'Tipus de pagament') }}
							<div id="formrebut-tipuspagament"  class="input-group ">
								<span class="input-group-addon"><i class="fa fa-university"></i></span>
								{{ form_widget(form.tipuspagament, { 'attr': {'class': 'form-control form-control-left'} }) }}
							</div>{{ form_errors(form.tipuspagament)  }}
						</div>
					 </div>
					 <div class="col-md-4">
						<div class="form-group">
							{{ form_label(form.datapagament, 'Data de pagament') }}
							<div id="formproducte-databaixa" class="input-group">
				  				<span class="input-group-addon"></span>
								{{ form_widget(form.datapagament, { 'attr': {'class': 'form-control form-control-center formtime-calendar'} }) }}
								<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
							</div>{{ form_errors(form.datapagament)  }}
						</div>
					 </div>
					 <div class="col-md-4">
						<div class="form-group">
							{{ form_label(form.dadespagament, 'Dades pagament') }}
							<div id="formrebut-dadespagament">
								{{ form_widget(form.dadespagament, { 'attr': {'class': 'form-control form-control-center'} }) }}
							</div>{{ form_errors(form.dadespagament)  }}
						</div>
					 </div>
					 <div class="col-md-4">
						<div class="form-group">
							{{ form_label(form.comptabilitat, 'Enviat a Comptabilitat') }}
							<div id="formrebut-comptabilitat" class="input-group">
				  				<span class="input-group-addon"></span>
								{{ form_widget(form.comptabilitat, { 'attr': {'class': 'form-control form-control-center formtime-calendar'} }) }}
								<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
							</div>{{ form_errors(form.comptabilitat)  }}
						</div>
					 </div>
				</div>
			 </div>
			 <div class="col-md-5">
			 	<div class="form-group">
			 		{{ form_label(form.comentari, 'Comentari') }}
					<div id="formrebut-comentari"  class="">
					{{ form_widget(form.comentari, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>{{ form_errors(form.comentari)  }}
			 </div> 
		</div>
		<div class="row">
			 <div class="col-md-12">
			 	{% if rebut.estaComptabilitzat == true %}
			 		<a id="formrebut-anular-traspas" class="btn btn-default btn-lg" href="{{ path('FecdasBundle_anulartraspas', { 'rebut': rebut.id }) }}" role="button"><i class="fa fa-undo red"></i> Anul·lar trapàs. El rebut no existeix a comptabilitat</a>
			 	{% else %}
			 		<button type="submit" id="formrebut-desar" class="btn btn-default btn-lg"><i class="fa fa-save"></i> Modificar</button>
			 		{% if rebut.isCurrentYear and rebut.tipuspagament != constant('FecdasBundle\\Controller\\BaseController::TIPUS_PAGAMENT_TPV') %}
			 			{% if maxnum == rebut.num %}
			 				<a id="formrebut-esborrar" class="btn btn-default btn-lg" href="{{ path('FecdasBundle_esborrarultimrebut', { 'rebut': rebut.id }) }}" role="button"><i class="fa fa-trash-o red"></i> Esborrar (Últim rebut)</a>
			 			{% else %}
			 				{# <a id="formrebut-esborrar" class="btn btn-default btn-lg" href="{{ path('FecdasBundle_esborrarultimrebut', { 'rebut': rebut.id }) }}" role="button"><i class="fa fa-trash-o red"></i> Esborrar (La numeració deixarà de ser consecutiva)</a>#}
			 			{% endif %}
			 		{% endif %}
			 	{% endif %}
			 </div>
		</div>
		<div class="row"><div class="col-md-12"><hr></div></div>
		<div class="row">
			<div class="col-md-12">
				{% if rebut.esAnulacio == true %}
					{% set comanda = rebut.comandaanulacio %}
					<h4 class="blue">Comanda anul·lada associada al rebut</h4>
					<ul class="list-comandes">
						<li class="data-detall-cell"><a class="rebut-action-comanda link" href="{{ path('FecdasBundle_editarcomanda', { 'id': comanda.id}) }}" alt="Veure comanda" title="Veure comanda">
							<span {% if comanda.esbaixa == true %}class="red"{% endif %}>{{ comanda.numcomanda }}</span></a></li>
						<li class="data-detall-cell">{{ comanda.dataentrada|date|date('Y-m-d') }}</li>
				   		<li class="data-detall-cell">{{ comanda.totalComanda|number_format(2, ',', '.') }} €</li>
				   		<li class="data-detall-cell">Factures: {{ comanda.llistaNumsFactures(false, true) }} </li>
						<li class="data-detall-cell">{{ comanda.infoLlistat }}</li>
					</ul>
				{% else %}
					<h4 class="blue">Comandes relacionades amb el rebut</h4>
					{% for comanda in rebut.comandes %}
						<ul class="list-comandes">
							<li class="data-detall-cell"><a class="rebut-action-comanda link" href="{{ path('FecdasBundle_editarcomanda', { 'id': comanda.id}) }}" alt="Veure comanda" title="Veure comanda">
					   				<span {% if comanda.esbaixa == true %}class="red"{% endif %}>{{ comanda.numcomanda }}</span></a></li>
							<li class="data-detall-cell data-detall-datacomanda">{{ comanda.dataentrada|date|date('Y-m-d') }}</li>
				   			<li class="data-detall-cell">{{ comanda.totalComanda|number_format(2, ',', '.') }} €</li>
				   			<li class="data-detall-cell">Factures: {{ comanda.llistaNumsFactures(false, true) }} </li>
							<li class="data-detall-cell">{{ comanda.infoLlistat }}</li>
						</ul>
					{% else %}
						<div class="alert alert-info form-alert alert-dismissible">
							<button data-dismiss="alert" class="close" type="button">
							<span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<ul>
							  	<li><span class="fa fa-exclamation-circle fa-1x"></span> La informació de facturació no es troba disponible</li>
							</ul>
						</div>
					{% endfor %}
				{% endif %}				
			</div>
		</div>
		
		<div id="formrebut-rest" class="sr-only">{{ form_rest(form) }}</div>
		
		<div id="error" class="sms-notice" style="display:none"> </div>
		
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- Datetime plugin's. http://xdsoft.net/jqplugins/datetimepicker/ -->
	<script src="{{ asset('js/jquery.datetimepicker.js') }}" type="text/javascript"></script>

	<script type="text/javascript">

		var formatter = new Intl.NumberFormat('es-CA', {
			  style: 'currency',
			  currency: 'EUR',
			  minimumFractionDigits: 2,
		});

		calcularTotalsSeleccionats = function() {
			var totalSeleccionat = 0;
			var elems = $(".candidata-action-select.selected").length;
			if (elems == 0) actualitzarTotals(0);
			
			$('.candidata-action-select.selected').each( function(i) {
				totalSeleccionat += $(this).attr('data-total')*1;
				if (i >= elems - 1) {
					var totalIngres = $("input#rebut_import").val()*1;
					if (totalSeleccionat > totalIngres) {
						$('.informacio-resultat-ingres span.label').removeClass('label-success').addClass('label-danger'); 
					} else {
						$('.informacio-resultat-ingres span.label').removeClass('label-danger').addClass('label-success');
					}
						
					actualitzarTotals(totalSeleccionat);
				}
			});
		};

		actualitzarTotals = function(totalSeleccionat) {
			$('.import-seleccionat-candidats span').html( formatter.format(totalSeleccionat) );
			
			$('.romanent-rebut span').html( formatter.format( ($("input#rebut_import").val()*1) - totalSeleccionat ) );

			if (totalSeleccionat == 0) {
				$('#llista-candidates .data-detall').removeClass('candidata-selected');
				$('.candidata-action-select.selected').children('.fa').toggleClass('fa-shown').toggleClass('fa-hidden');
				$(".candidata-action-select").removeClass('selected');
			}
		};
		
		$(document).ready(function(){
			setMenuActive("menu-admrebut");

			$("input#rebut_import").change( function() {
				// Canviar el valor de l'import ingresat reinicia selecció i valors
				actualitzarTotals(0);
			});

			$("#formrebut-anular-traspas").click( function(e) {
				e.preventDefault();

				var url = $(this).attr("href");
				
				$.get(url, function(data) {
					dialegInfoCallback('Apunt anul·lat', data, 300, "auto", function() {
					 	location.reload()
				 	});
				 	
				}).fail( function(xhr, status, error) {
					 // xhr.status + " " + xhr.statusText, xhr.responseText status, error
					 var sms = smsResultAjax('KO', xhr.responseText );
					 $("form").append(sms);
				});
				
			});
			
			// Seleccionar comanda
			$("#llista-candidates").on( "click", ".candidata-action-select:not(.selected)", function(e) {
				 
			//$(".candidata-action-select").not('selected').click( function(e) {
				e.preventDefault();

				$(this).parents('.data-detall').addClass('candidata-selected');
				$(this).addClass('selected');
				$(this).children('.fa').toggleClass('fa-shown').toggleClass('fa-hidden');

				calcularTotalsSeleccionats();
			});
			// Treure de la selecció comanda
			$("#llista-candidates").on( "click", ".candidata-action-select.selected", function(e) {
			//$(".candidata-action-select.selected").click( function(e) {
				e.preventDefault();

				$(this).parents('.data-detall').removeClass('candidata-selected');
				$(this).removeClass('selected');
				$(this).children('.fa').toggleClass('fa-shown').toggleClass('fa-hidden');

				calcularTotalsSeleccionats();
			});
			
			var current = new Date();
			
			var mindate = new Date (current.getFullYear() - 1, current.getMonth() + 1, current.getDay());
			var maxdate = new Date (current.getFullYear(), current.getMonth() + 1, current.getDay());

			initDateTimePicker ( 
				$( '#rebut_datapagament' ), 
				mindate, 
				current, 
				current, 
				'datapagament-picker', 
				false,
				''
			);

		});
		
	</script>


{% endblock %}

