{# src/Fecdas/comandesBundle/Resources/views/Facturacio/registresaldos.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Registre saldos històric {% endblock %}

{% block body %}
	<header>
		<div class="row">
			<div class="col-md-8"><h1>Històric de saldos</h1></div>
		    <div class="col-md-4 col-last-right">
				{% if saldos|length > 0 %}
					<div class="buttons-top-bootstrap">
						<div class="button-top"><a class="link export-csv" href="{{ path('FecdasBundle_registresaldos', { 'format': 'csv' }) }}" alt="Exportar dades" 
							title="Exportar dades"><i class="fa fa-file-excel-o fa-1x green"></i></a></div>	
					</div> 
				{% endif %}
			</div>
		</div>
    </header>
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
    
    <div class="row">
		<div class="col-md-12">    
		    <div id="registresaldos-main">
			    <div id="list-forms">
			    	{{ form_start(form, {'action': path('FecdasBundle_registresaldos'), 'method': 'GET', 'attr': {'class': 'appform', 'id':'form_registresaldos'}}) }}
						<div class="row">
							  <div class="col-md-3 col-xs-12">
							  	<div class="form-group">
							    	{{ form_label(form.clubs, 'Clubs (Admins.)', { 'label_attr': {'class': ''} }) }}
									{{ form_widget(form.clubs, { 'attr': {'class': 'form-control'} }) }}
								</div>
							  </div>
							  <div class="col-md-3 col-xs-4">
							 	<div class="form-group">
							 		<label class="" for="form_desde">&nbsp;</label>
									<div class="input-group">
										<span class="input-group-addon">Des de</span>
										{{ form_widget(form.desde, { 'attr': {'class': 'form-control form-control-center'} }) }}
										<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
									</div>{{ form_errors(form.desde)  }}
								</div>
							  </div>
							  <div class="col-md-3 col-xs-4">
							 	<div class="form-group">
							 		<label class="" for="form_fins">&nbsp;</label>
									<div class="input-group">
										<span class="input-group-addon">Fins</span>
										{{ form_widget(form.fins, { 'attr': {'class': 'form-control form-control-center'} }) }}
										<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
									</div>{{ form_errors(form.fins)  }}
								</div>
							  </div>
							  <div class="col-md-3 col-xs-4">
							  	<div class="form-group">
							 		<label class="" for="form_grup">&nbsp;</label>
							 		<div class="input-group">	
									  	<label class="radio-inline">
											{{ form_widget(form.grup[0], { 'attr': {'class': 'agrupar-dates'} }) }} Diari
										</label>
										<label class="radio-inline">
											{{ form_widget(form.grup[1], { 'attr': {'class': 'agrupar-dates'} }) }} Mensual
										</label>
										<label class="radio-inline">
											{{ form_widget(form.grup[2], { 'attr': {'class': 'agrupar-dates'} }) }} Anual
										</label>
									</div>
								</div>
							   </div>							  
						</div>
						{% if rebutscontrol|length > 0 %}
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<h4 class="blue">Rebuts entrats al 2016 amb data de pagament de 2015 !!!!!! POSSIBLES FONTS D'ERRADES</h4>  		
							</div>
							<div class="col-md-12 col-xs-12">
								<div class="alert alert-danger">
									<div class="row">
									{% for rebut in rebutscontrol %} 
										<div class="col-md-offset-1 col-md-11 col-xs-offset-2 col-xs-10"> 
											- Rebut {{ rebut.numrebut  }}&nbsp;&nbsp;&nbsp;{{ rebut.datapagament|date('d/m/Y') }}&nbsp;&nbsp;&nbsp;
												{{ rebut.import|number_format(2, ',', '.') }}€&nbsp;&nbsp;&nbsp;{{ rebut.concepteRebutCurt }}
										</div>
									{% endfor %}
									</div>
								</div>
							</div>
						</div>	
						{% endif %}
				   	{{ form_end(form) }}
			    </div>
			    <div class="table-scroll table-scroll-vertical">
			    	<table>	
				    	<thead id="list-header">
						   	<tr>
						   		{% for headcol in saldos.header %}
						   			 <th class="header-saldos-{{ headcol.class }} col-listheader collistheader-noorder">{{ headcol.text }}</th>
						   		{% endfor %}
						   	</tr>
					   	</thead>
					   	<tbody id="list-data">
					   	{% set registres = 0 %}
						{% for saldo in saldos.data %} 
							{% set registres = registres + 1 %}  
								<tr class="data-detall">
									<td class="data-detall-cell saldos-compte">{{ saldo.compte }}</td>
									<td class="data-detall-cell saldos-club">{{ saldo.club }}</td>
									<td class="data-detall-cell saldos-exercici">{{ saldo.exercici }}</td>
									<td class="data-detall-cell saldos-romanent">{{ saldo.romanent|number_format(2, ',', '.') }}€</td>
									<td class="data-detall-cell saldos-acumulat">{{ saldo.acumulat|number_format(2, ',', '.') }}€</td>
									{% for saldoPeriode in saldo.saldos %}
										<td class="data-detall-cell saldos-entrades {% if saldoPeriode.entrades != 0 %} green {% endif %}">{{ saldoPeriode.entrades|number_format(2, ',', '.') }}€</td>
							   			<td class="data-detall-cell saldos-sortides {% if saldoPeriode.sortides != 0 %} red {% endif %}">{{ saldoPeriode.sortides|number_format(2, ',', '.') }}€</td>
										<td class="data-detall-cell saldos-saldocompta">{{ saldoPeriode.saldocompta|number_format(2, ',', '.') }}€</td>
									{% endfor %}
								</tr>
					   	{% endfor %} 
					   	{% if registres == 0 %}
					   		<tr class="data-detall">
						    	<td colspan="{{ saldos.header|length }}"><div class="sms-notice">No hi ha registres de saldos per mostrar</div></td>
						    </tr>
					    {% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{% if saldos.data|length > 1 %}
		<div class="col-md-12">
			<p class="title-comment">Només es mostren clubs actius i amb compte comptable informat</p>
		</div>
		{% endif %}
		
		{# if saldos.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(saldos, null) }}</div>{% endif #}
	   	
	</div>
{% endblock %}

{% block javascripts %}

 	{{ parent() }}

	<!-- Datetime plugin's. http://xdsoft.net/jqplugins/datetimepicker/ -->
	<script src="{{ asset('js/jquery.datetimepicker.js') }}" type="text/javascript"></script>

	<script type="text/javascript">

	function reloadUrlParams() {
		var grup = $(".agrupar-dates:checked").val();
		
		return 'cerca='+$( "#form_clubs" ).val()+'&desde='+$( '#form_desde' ).val()+'&fins='+$( '#form_fins' ).val()+'&grup='+grup;
	    
	}
	
	function reloadData() {
		var url = $( "#form_registresaldos" ).attr('action');

		window.location = url+'?'+reloadUrlParams();
	}
	
	$(document).ready(function(){

		setMenuActive("menu-admhistoricsaldos");

		$("select#form_clubs").select2({
			minimumInputLength: 2,
			allowClear: true,
			placeholder: 'Escollir club'
		});

		$("#form_clubs").change(function() {

			reloadData();
	    });

		$(".agrupar-dates").click(function( e ) {
			e.preventDefault();
			reloadData();
		});

		$(".export-csv").click(function( e ) {
			e.preventDefault();

			var url = $( this ).attr('href');
			
			window.location = url+'&'+reloadUrlParams();
		});

		var current = new Date();
		
		var mindate = new Date (current.getFullYear() - 2, current.getMonth(), current.getDay());
		initDateTimePicker ( 
			$( '#form_desde' ), 
			mindate, 
			current, 
			current, 
			'datadesde-picker', 
			false,
			function() {

				reloadData();
		    } 
		);
		
		initDateTimePicker ( 
			$( '#form_fins' ), 
			mindate, 
			current, 
			current, 
			'datafins-picker', 
			false,
			function() {

				reloadData();
		    }
		);

		if ($('#list-data').height() > $('.table-scroll').height()) {
			// Scroll
			$('.table-scroll').width($('.table-scroll').width() + 12 );
		}

		helpBubblesLlista("span.fa-info-circle", ".saldo-info"); 
		
	});
	
	</script>


{% endblock %}

