{# src/Fecdas/productesBundle/Resources/views/Facturacio/stock.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block javascriptshead %}
 	
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Kits disponibles {% endblock %}

{% block body %}
	<header>
        <div class="row">
			<div class="col-md-12"><h1>Kits disponibles</h1></div>
		</div>
    </header>
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
    <div class="row">
    	<div class="col-md-12">    
            <div id="stock-club">
            	{{ form_start(form, {'action': path('FecdasBundle_stockclub'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'formstockclub'}}) }}
        	    <div id="list-forms">
        	    	<div class="row">
        				{% if admin %}
        				<div class="col-md-3 col-xs-12">
        					<div class="form-group">
        					   	{{ form_label(form.clubs, 'Clubs (Admins.)', { 'label_attr': {'class': 'sr-only'} }) }}
        						{{ form_widget(form.clubs, { 'attr': {'class': 'form-control'} }) }}
        					</div>
        				</div>
        				{% endif %}
        				<div class="col-md-4  col-xs-12">
        					<div class="form-group">
        				    	{{ form_label(form.cerca, 'Cercar', { 'label_attr': {'class': 'sr-only'} }) }}
        						{{ form_widget(form.cerca, { 'attr': {'class': 'form-control'} }) }}
        					</div>
        				</div>
        				{% if admin %}
        				<div class="col-md-offset-2 col-md-3 col-last-right">
        					<a type="submit" class="btn btn-default stockclub-submit" href="{{ path('FecdasBundle_stockclub') }}" alt="Desar stock club" title="Desar stock club"><i class="fa fa-save green"></i> (Admins) desar</a>
        				</div>
        				{% endif %}
        			</div>
        	    </div>
        	    <div class="table-stockclub">{% include 'FecdasBundle:Facturacio:stockclubtaula.html.twig' %}</div>
        	    {{ form_end(form) }}
        	</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	<script type="text/javascript">

	function reloadTaulaStock() {
		var url = $('#formstockclub').attr('action');
		url += "?cerca="+$('#form_cerca').val();
		if ($('#form_clubs').val() != '') url += "&clubs="+$('#form_clubs').val();

		showMask();	
		$.get(url, function(data) {
			$(".table-stockclub").html(data);
			hideMask();
		}).fail( function(xhr, status, error) {
			 // xhr.status + " " + xhr.statusText, status, error
			 hideMask();
			 var sms = smsResultAjax('KO', xhr.responseText);
			 $(".table-stockclub").prepend(sms);
		});
	}

	$(document).ready(function(){
		setMenuActive("menu-stockkits");

		{% if admin == true  %}
    		$("select#form_clubs").select2({
    			minimumInputLength: 2,
    			allowClear: true,
    			placeholder: 'Escollir club'
    		});
    	{% endif %}
		
		
		// Descripcio producte
		$("#form_cerca").select2({
			minimumInputLength: 2,
			allowClear: true,
			placeholder: 'Escollir producte'
		});

		$("#form_cerca").change(function() {
			reloadTaulaStock();
	    });

		$("#form_clubs").change(function() {
			reloadTaulaStock();
	    });


		$(".stockclub-submit").click(function(e) {
			e.preventDefault();
			
			url = $(this).attr('href');

			$('.alert-dismissible').remove();	

			showMask();	
			var params = $('#formstockclub').serializeArray();
			$.post(url, params, function(data) {
				$(".table-stockclub").html(data);
				
				var sms = smsResultAjax('OK', 'Stock de Kits del club desat correctament');
				
				$(".table-stockclub").prepend(sms);

				hideMask();

			}).fail( function(xhr, status, error) {
				 // xhr.status + " " + xhr.statusText, status, error
				 hideMask();
				 
				 var sms = smsResultAjax('KO', xhr.responseText);
	 			 
				 $(".table-stockclub").prepend(sms);
			});
	    });


		{% if admin != true  %}
    		$( ".table-stockclub" ).on( "change", "input.form-control-unitats", function(e) {
    			//e.preventDefault();			
    			
    			var unitats = $(this).val()*1;
    			var max = $(this).attr('data-max')*1;
    			var min = $(this).attr('data-min')*1;
    
    			if (max > 0 && unitats > max) {
    				$(this).val(max);
    			} else {
    				if (unitats < min) {
    					$(this).val(min);
    				}
    			}
    		});
		{% endif %}

		$( ".table-stockclub" ).on( "click", ".stockclub-addtocart", function(e) {

			e.preventDefault();			
			
			var unitats = $(this).parent().prev().val();
			var url = $(this).attr('href')+'&unitats='+unitats;

			$('.alert-dismissible').remove();
	
			$.get(url, function(data) {

				// Redirecció a la cistella de la compra	
				window.location = '{{ path('FecdasBundle_graellaproductes', { 'tipus': constant('FecdasBundle\\Controller\\BaseController::TIPUS_PRODUCTE_KITS') }) }}';	
					
			}).fail( function(xhr, status, error) {
				 // xhr.status + " " + xhr.statusText, status, error
				 var sms = smsResultAjax('KO', xhr.responseText);

				 $('.table-stockclub').prepend(sms);
			}); 
		});
		
		if ($('.list-data').height() > $('.table-scroll').height()) {
			// Scroll
			$('.table-scroll').width($('.table-scroll').width() + 12 );
		}
	});
	
	</script>


{% endblock %}
