{# src/Fecdas/productesBundle/Resources/views/Facturacio/stock.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	<!-- Select2 styles -->
	<link href="{{ asset('css/select2.css') }}" type="text/css" rel="stylesheet" />
	<link href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block javascriptshead %}
 	
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Registre d'inventari {% endblock %}

{% block body %}
	<header>
        <div class="row">
			<div class="col-md-8"><h1>{% block stockpagetitle %}Registre d'inventari detall producte{% endblock %}</h1></div>
		    <div class="col-md-4 col-last-right">
				<div class="buttons-top-bootstrap">
					<div class="button-top"><a class="link export-csv" href="{{ path('FecdasBundle_stock') }}" alt="Exportar dades" 
						title="Exportar dades"><i class="fa fa-file-excel-o fa-1x green"></i></a></div>	
				</div> 
			</div>
		</div>
    </header>
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
    <div class="row">
	<div class="col-md-12">    
    <div id="stock-main">
	    <div id="list-forms">
	    	<div class="row">
				<div class="col-md-4">
					<div class="form-group">
				    	{{ form_label(form.cerca, 'Cercar', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.cerca, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Des de</span>
							{{ form_widget(form.desde, { 'attr': {'class': 'form-control form-control-center'} }) }}
							<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
				  	<label class="radio-inline">
						{{ form_widget(form.view[0], { 'attr': {'class': 'agrupar-dates'} }) }} Detall
					</label>
					<label class="radio-inline">
						{{ form_widget(form.view[1], { 'attr': {'class': 'agrupar-dates'} }) }} Mensual
					</label>
				</div>	
				<div class="col-md-2 col-last-right">
					<a type="submit" class="btn btn-default btn-lg registrestock-action-new" href="{{ path('FecdasBundle_registrestock', { 'action': 'new', 'id': 0 }) }}" alt="Nou registre" title="Nou registre"><i class="fa fa-plus-circle"></i> afegir</a>
				</div>
			</div>
	    </div>
	    {% block stocktaula %}{% include 'FecdasBundle:Facturacio:taulastock.html.twig' %}{% endblock %}
	</div>
	</div>
	</div>
    <div id="dialeg-edicio-producte" class="finestra-overlay"></div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	<!-- Datetime plugin's. http://xdsoft.net/jqplugins/datetimepicker/ -->
	<script src="{{ asset('js/jquery.datetimepicker.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/jquery.ui.datepicker-ca.js') }}" type="text/javascript"></script>
	
	<script type="text/javascript">

	function getUrlStock() {
		var url = "{{ path('FecdasBundle_stock') }}";

		var view = $(".agrupar-dates:checked").val();

		url += "?view="+view;
		
		if ($('#form_cerca').val() != '') url += "&cerca="+$('#form_cerca').val();

		if ($('#form_desde').val() != '') url += "&desde="+$('#form_desde').val();
		
		return url;
	}

	$(document).ready(function(){
		setMenuActive("menu-admstock");

		var current = new Date();
		var mindate = new Date (current.getFullYear() - 2, current.getMonth(), current.getDay());
		
		$("#form_cerca").change(function() {

			url = getUrlStock();
			window.location = url;
	    });

		$(".agrupar-dates").click(function( e ) {
			e.preventDefault();
			url = getUrlStock();
			window.location = url;
		});
		
		// Delegate event
		$( "#stock-main" ).on( "click", ".registrestock-action-new, .registrestock-action-edit", function( e ) {
			e.preventDefault();
			
			var url = $(this).attr("href");

			if ($(this).hasClass('registrestock-action-new') && $('#form_cerca').val() != '') {
				url += '&producte='+$('#form_cerca').val();
			}
			
			$('.alert').remove();
			
			showMask();
			
			$.get(url, function(data) {

				$( '#dialeg' ).html(data);
				
				$( '#dialeg' ).dialog({
					 resizable: false,
					 title: "Registre stock",
					 height: "auto",
					 width:  600,
					 modal: false, /* Important sinó tabindex=-1 dona error amb els selec2 */
					 buttons: {
					 	"Desar": function() {

							var url = $('#formregistrestock').attr("action");
					 		var params = $('#formregistrestock').serializeArray();

					 		$('#progressbar').show();  // Rellotge

					 		$('#formregistrestock .alert').remove();
					 		
							$.post(url, params, function(data, textStatus) {
								$('#progressbar').hide();  // Rellotge

								hideMask();
								
								var sms = smsResultAjax('OK', 'El registre s\'ha desat correctament');

								$(".table-stock").remove();
								$("#stock-main").append(sms);
								$("#stock-main").append(data);

						 		$( '#dialeg' ).html('');
						 		$( '#dialeg' ).dialog( "close" );
						 		
							}).fail( function(xhr, status, error) {
								 var sms = smsResultAjax('KO', xhr.responseText);
								 
								 $('#progressbar').hide();  // Rellotge
							    	
							     $("#formregistrestock").prepend(sms);
							});
					 	},
					 	"Cancel·lar": function() {

					 		hideMask();					 		
	
					 		$( '#dialeg' ).html('');
					 		$( '#dialeg' ).dialog( "close" );
					 	}
					 },
					 close: function() {
						 hideMask();
						 $( '#dialeg' ).html('');
					 	 $( '#dialeg' ).dialog( "close" );
					 },	 
					 open: function() {

						// Select factura
						init_cercagenerica_JSON('#registrestock_factura', 'Cercar factura', "{{ path('FecdasBundle_jsonfactures') }}");
						 
						$("select#registrestock_producte").select2({
							minimumInputLength: 2,
							allowClear: true,
							placeholder: 'Escollir producte'
						});

						var maxdate = new Date (current.getFullYear(), current.getMonth()+2, current.getDay());
								
						initDateTimePicker ( 
							$( '#registrestock_dataregistre' ), 
							mindate, 
							maxdate,
							current, 
							'dataregistre-picker', 
							false,
							function() {} 
						);

						if ($( '#registrestock_databaixa' ).val() != '') {
							initDateTimePicker ( 
								$( '#registrestock_databaixa' ), 
								mindate, 
								maxdate,
								current, 
								'databaixa-picker', 
								false,
								function() {} 
							);
						}
					
					 }
				});

			}).fail( function(xhr, status, error) {
				 // xhr.status + " " + xhr.statusText, status, error
				 hideMask();
				 
				 var sms = smsResultAjax('KO', xhr.responseText);
	 			 
				 $("#stock-main").prepend(sms);
			});	
		});
		
		$( "#stock-main" ).on( "click", ".registrestock-action-baixa", function( e ) {
			e.preventDefault();

			$('.alert').remove();

			var row = $(this).parents('.data-detall');
			
			var url = $(this).attr('href');
			
			var strHtml = '<p>Segur que vols anul·lar el registre?</p>';

			dialegConfirmacio(strHtml, 'Baixa registre', 'auto', 400, function() { 

				showMask();
				
				$.get(url, function(data) {
					hideMask();

					var sms = smsResultAjax('OK', 'Registre esborrat correctament');

					$(".table-stock").remove();
					$("#stock-main").append(sms);
					$("#stock-main").append(data);

				}).fail( function(xhr, status, error) {
					 // xhr.status + " " + xhr.statusText, status, error
					 hideMask();
					 
					 var sms = smsResultAjax('KO', xhr.responseText);
		 			 
					 $("#stock-main").prepend(sms);
				});	
				 
			}, function() { }, function() { });
		});

		
		$("a.export-csv").click(function(e) {
			e.preventDefault();

			url = getUrlStock();
			url += "&format=csv";
			
			window.location = url;
		});

		// Descripcio producte
		$("#form_cerca").select2({
			minimumInputLength: 2,
			allowClear: true,
			placeholder: 'Escollir producte'
		});

		initDateTimePicker ( 
			$( '#form_desde' ), 
			mindate, 
			current, 
			current, 
			'datadesde-picker', 
			false,
			function() {
				url = getUrlStock();
				window.location = url;
		    } 
		);


		if ($('#list-data').height() > $('.table-scroll').height()) {
			// Scroll
			$('.table-scroll').width($('.table-scroll').width() + 12 );
		}
	});
	
	</script>


{% endblock %}

