{# src/Fecdas/PartesBundle/Resources/views/Page/parte.html.twig #}
{% extends 'FecdasPartesBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Renovació de llistes d'assegurats {% endblock %}

{% block body %}
    <header>
        <h1>Renovació de llicència</h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('error-notice') %}
	    <div class="sms-notice">
  			{{ flashMessage }}
  		</div>	 
	{% endfor %}    
    
	<form id="formrenovar" action="{{ path('FecdasPartesBundle_renovarllicencia') }}" method="post" {{ form_enctype(form) }}  class="appform">
		<div class="table-header">	
	    	<div id="list-header">
				<div class="col-listheader">Tipus: {{ parte.tipus.descripcio }} - {{ parte.club.nom }}</div>
			</div>
		</div>
	
		<div id="formparte-llicencia" class="parte-llicencia">
	
			<div class="form-row clearfix">
				<div id="formllicencia-persona" class="form-left">
					{{ form_label(form.personashow, 'Nom i cognoms', { 'label_attr': {'class': 'formlabel-outside'} }) }}
					{{ form_widget(form.personashow, { 'attr': {'class': 'formfield-outside'} }) }}
				</div>
				<div id="formllicencia-categoria" class="form-left">
					{{ form_label(form.categoria, 'Tipus', { 'label_attr': {'class': 'formlabel-outside'} }) }}
					{{ form_widget(form.categoria, { 'attr': {'class': 'formfield-outside'}, 'id': 'parte_llicencies_categoria_select' }) }}
				</div> 
				<div id="formllicencia-datacaducitat" class="form-left data-field">
					{{ form_label(form.datacaducitatshow, 'Data de caducitat', { 'label_attr': {'class': 'formlabel-outside'} }) }}
					{{ form_widget(form.datacaducitatshow, { 'attr': {'class': 'formfield-outside formdate-calendar'} }) }}
					{{ form_widget(form.datacaducitat, { 'id': 'parte_llicencies_datacaducitat' }) }}
				</div>
	    	</div>
		 
			<div class="form-row clearfix">
				<div class="llicencia-check check-correu" class="form-left">
					{{ form_label(form.enviarllicencia, 'Rebre llicència per correu?', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
					{{ form_widget(form.enviarllicencia, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
			</div>
			<!--  NO mostra checks per Fusell i No CMAs, no habilitada per competició -->
			<div class="form-row clearfix" {% if (parte.asseguranca == true) %} style="display:none" {% endif %}>
				<div class="llicencia-check seleccionar-tot">
			 		<label class="formlabel-lefttocheckbox"  for="llicencia_seleccionat-tot">Seleccionar tot</label>
					<input id="llicencia_seleccionat-tot" class="formcheckbox-right" type="checkbox" name="seleccionar-tot">
				</div>
			</div>
			<div class="form-row clearfix" {% if (parte.asseguranca == true) %} style="display:none" {% endif %}>
				<div class="llicencia-check">
				{{ form_label(form.apnea, 'Apnea', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.apnea, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.escafandrisme, 'Escafandrisme', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.escafandrisme, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.fotosubapnea, 'Foto Sub Apnea', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.fotosubapnea, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.fotocine, 'Fotografia Sub.', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.fotocine, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.hockey, 'Hockei Sub', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.hockey, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.natacio, 'Natació amb Aletes', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.natacio, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.biologia, 'Biologia i Medi', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.biologia, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.orientacio, 'Orientació', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.orientacio, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.pesca, 'Pesca Submarina', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.pesca, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.videosub, 'Video Subaquàtic', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.videosub, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.rugbi, 'Rugbi Subaquàtic', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.rugbi, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.besportiu, 'Busseig Esportiu', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.besportiu, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.bampolles, 'Busseig Ampolles', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.bampolles, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
			</div>
			<div class="form-row clearfix">
				<div class="form-left">
					<div class="textaccio"><a id="formllicencia-renovar" href="javascript:void(0);" name="renovar-llicencia">Renovar llicència</a></div>
				</div>
			</div>
	
			<div id="formrenovar-rest" style="display:none">
				<div class="formparte-id">{{ form_widget(form.cloneid) }}</div>
	        	{{ form_rest(form) }}
	        </div>
        
        </div>
    </form>
     
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-partes");

	selectAllChecks();

	$('#formllicencia-renovar').click(function(e) {
		//Cancel the link behavior
	    e.preventDefault();
	    $("#formrenovar").submit();
	});
	        
});

</script>

{% endblock %}

