<form id="formenquesta" action="{{ path('FecdasPartesBundle_enquestausuari') }}" method="post" {{ form_enctype(form) }}  class="modalform appform">
	<a class="close" href="#"><img src="{{ asset('images/close.png') }}" style="cursor: pointer;"></a>
	<h1>Enquesta</h1>
	<div id="formenquesta-preguntes">
		<div class="enquesta-enunciat sms-footer">{{ enquesta.descripcio }}</div>
		<div class="enquesta-resposta  sms-footer">0-gens .....  5-Molt</div>
		
	{% for camp in form %}
		{% if "hidden" in camp.vars.types %}
			{{ form_widget(camp) }}
		{% else %}
    	<div class="enquesta-row clearfix">
        	{{ form_label(camp, null, { 'attr': {'class': 'enquesta-enunciat'} }) }}
        	{{ form_widget(camp, { 'attr': {'class': 'enquesta-resposta'} }) }}
    	</div>
    	{% endif %}
	{% endfor %}
		<div id="formenquesta-rest">{{ form_rest(form) }}</div>
	</div>
	
	<div class="form-row clearfix">
		<div id="formenquesta-cancel" class="persona-submit">	
			<input type="submit" class="form-button-cancel forminput-inside" value="Cancel·lar" name="formenquesta-button-cancel" />
		</div>
		<div id="formenquesta-save" class="persona-submit">	
			<input type="submit" class="form-button-save forminput-inside" value="Desar" name="formenquesta-button-save" 
			{% if action == "preview" %} disabled="disabled" {% endif %} />
		</div>
		<div id="formenquesta-submit" class="persona-submit">	
			<input type="submit" class="form-button-submit forminput-inside" value="Desar i tancar" name="formenquesta-button-submit"
			{% if action == "preview" %} disabled="disabled" {% endif %} />
		</div>
	</div>	
	<div id="error-enquesta"></div>
</form>




