	<p>Representació de l'evolució d'una pregunta amb respostes quantitatives en les diferents enquestes realitzades </p>

	<div id="resultats-valors" class="resultats-hidden">{{ valors }}</div>
	<div id="resultats-dades-evolucio" class="resultats-hidden">{{ dades }}</div>
	<div id="resultats-mesures" class="resultats-hidden">{{ mesures }}</div>
	
	<div class="clearfix">
		<div class="bloc-preguntes">
			<div id="list-header" class="clearfix">
				<div class="col-listheader">Seleccionar pregunta ...</div> 
			</div>
			<ul id="preguntes-selectable" class="list-preguntes-select list-variableheight">
			{% for pregunta in preguntes %}
				<li id="pregunta_{{ pregunta.id }}" class="list-variableheight-detall clearfix {% if pselected == pregunta.id %} ui-selected {%  endif %} ">
	  				<div class="pregunta-id">{{ pregunta.id }}</div>
	  				<div class="pregunta-enunciat">{{ pregunta.enunciat }}</div>
  				</li>
		   	{% endfor %}
			</ul>
		</div>
		<div id="resultats-plot-evolucio"></div>
    </div>
    
<script type="text/javascript">

$(document).ready(function(){
	createPlotEvolucio(); 

	$( "#preguntes-selectable" ).selectable({
		selected: function( event, ui ) {
			var preguntaid = $(ui.selected).find(".pregunta-id").html();

			location = location.pathname + "?preguntaid="+preguntaid+"&tab=1";
		},
		selecting: function(event, ui) { 
		     if ($(".ui-selected, .ui-selecting").length > 1) {
		       $(ui.selecting).removeClass("ui-selecting");
		     }
		}
	});
	
});

</script>

