{# src/Fecdas/PartesBundle/Resources/views/Enquestes/estadistiques.html.twig #}
{% extends 'FecdasPartesBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
   	<script src="{{ asset('js/jquery.ui.datepicker-ca.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jquery.jqplot.min.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jplotplugins/jqplot.json2.min.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jplotplugins/jqplot.barRenderer.min.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jplotplugins/jqplot.pointLabels.min.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jplotplugins/jqplot.categoryAxisRenderer.min.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jplotplugins/jqplot.canvasTextRenderer.min.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jplotplugins/jqplot.canvasAxisTickRenderer.min.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jplotplugins/jqplot.canvasAxisLabelRenderer.min.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jplotplugins/jqplot.enhancedLegendRenderer.min.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jplotplugins/jqplot.jqplot.highlighter.min.js') }}" type="text/javascript"></script>
   	
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/jquery.jqplot.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}


{% block title %}Aplicació gestió FECDAS. Evolució enquestes {% endblock %}

{% block body %}
    <header>
        <h1>Evolució de les enquestes</h1>
    </header>
   
   	<div id="tabs">
		<ul>
			<li><a href="{{ path('FecdasPartesBundle_estadistiquestab1') }}">Resultats globals</a></li>
			<li><a href="{{ path('FecdasPartesBundle_estadistiquestab2') }}">Evolució per pregunta</a></li>
		</ul>
   	</div>

     
{% endblock %}

{% block javascripts %}

{{ parent() }}
<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-enquestas");

	$(function() {
		$( "#tabs" ).tabs();
	});

	
});

</script>

{% endblock %}
