{% if app.session.hasFlash('error-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('error-notice') }}
    </div>
{% endif %}
	<a class="close" href="#"><img src="{{ asset('images/close.png') }}" style="cursor: pointer;"></a>
	<div class="form-row clearfix">
		<div id="formuserclub-user">
			{{ form_label(userclub.user, 'Usuari*', { 'attr': {'class': 'formlabel-outside'} }) }}
			{{ form_widget(userclub.user, { 'attr': {'class': 'formfield-outside'}}) }}
		</div>
		<div id="formuserclub-role">
			{{ form_label(userclub.role, 'Rol*', { 'attr': {'class': 'formlabel-outside'} }) }}
			{{ form_widget(userclub.role, { 'attr': {'class': 'formfield-outside'}}) }}
		</div>
	</div>
	<div class="form-row clearfix">
		<div id="formuserclub-passwords">
			<div id="formuserclub-pwd">
				{{ form_label(userclub.pwd.first, 'Nova paraula clau*', { 'attr': {'class': 'formlabel-outside'} }) }}
				{{ form_widget(userclub.pwd.first, { 'attr': {'class': 'formfield-outside'}}) }}
			</div> 
			<div id="formuserclub-pwdrepeat">
				{{ form_label(userclub.pwd.second, 'Repeteix la paraula clau*', { 'attr': {'class': 'formlabel-outside'} }) }}
				{{ form_widget(userclub.pwd.second, { 'attr': {'class': 'formfield-outside'}}) }}
			</div> 
		</div>
		<div id="formuserclub-autopasswords" style="display:none">
			<label class="formlabel-outside required">Paraula clau generada</label>
			<input id="formuserclub-randompassword" class="formfield-outside" type="text" disabled>
		</div>
		<div id="formuserclub-random">
			<label class="formlabel-outside required">Auto</label>
			<a id="formuserclub-random" href="#">
			<img src="{{ asset('images/icon-wizard.png') }}"></a>
		</div>
		<div id="formuserclub-forceupdate">
			<div id="formuserclub-iforceupdate">
			{{ form_widget(userclub.forceupdate, { 'attr': {'class': 'formfield-outside-multicheck'} }) }}
			</div>
			<div id="formuserclub-lforceupdate">
			{{ form_label(userclub.forceupdate, 'Obliga a actualitzar', { 'attr': {'class': 'formlabel-outside'} }) }}
			</div>
		</div>
		<div>{{ form_widget(userclub.recoverytoken) }}</div>
		<div>{{ form_widget(userclub.usertoken) }}</div>
 		
	</div>
	<div class="textaccio">
		<a id="formuserclub-add" href="#" name="add-userclub">
		Confirmar usuari 
		<img src="{{ asset('images/icon_down16.png') }}"></a>
	</div>
	<div class="clearfix">
		<div id="formuserclub-rest">{{ form_rest(userclub) }}</div>
	</div>
	
