{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	
	<link href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Relació d'assegurats del Club{% endblock %}

{% block body %}
   	<form id="form_assegurats" action="{{ path('FecdasBundle_assegurats') }}" class="appform" method="post" {{ form_enctype(form) }}>
		<header>
			<div class="row">
				<div class="col-md-8"><h1>Relació d'assegurats</h1></div>
    		    <div class="col-md-4 col-last-right">
					{% if persones.getTotalItemCount <= 3000 %}
						<div class="buttons-top-bootstrap">
							<div class="button-top"><a class="link" href="{{ path('FecdasBundle_asseguratstopdf', persones.params) }}" alt="Descarregar les llistes" 
								title="Descarregar les llistes">
								<i class="fa fa-file-pdf-o fa-1x red"></i></a></div> 
							<div class="button-top"><a class="print link" target="_blank" href="{{ path('FecdasBundle_asseguratstopdf', persones.params|merge({ 'print': 1 })) }}" alt="Descarregar les llistes" 
								title="Descarregar les llistes">
								<i class="fa fa-print fa-1x blue"></i></a></div>
						</div> 
					{% endif %}
				</div>
			</div>
   		</header>
   		<div class="row">
			{% if admin == true %}
			<div class="col-md-3">
				<div class="checkbox">
			    	<label>
			      		{{ form_widget(form.tots) }} (Admins.) Qualsevol club
			    	</label>
				</div>
			</div>
			{% endif %}
			<div class="col-md-5">
				<div class="checkbox">
			    	<label>
			      		{{ form_widget(form.vigent) }} Només mostrar les llicències vigents
			    	</label>
				</div>
			</div>
		</div>
   		<div class="row">
			<div class="col-md-2">
			  	<div class="form-group">
			  		<div class="input-group">
				    	{{ form_label(form.dni, 'DNI/NIE', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.dni, { 'attr': {'class': 'form-control','placeholder':'DNI/NIE' } }) }}
						<span class="input-group-addon input-group-addon-icon"><span class="fa fa-search fa-1x"></span></span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
			  	<div class="form-group">
			  		<div class="input-group">
				    	{{ form_label(form.nom, 'Nom', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder':'Nom' } }) }}
						<span class="input-group-addon input-group-addon-icon"><span class="fa fa-search fa-1x"></span></span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
			  	<div class="form-group">
			  		<div class="input-group">
				    	{{ form_label(form.cognoms, 'Cognoms', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.cognoms, { 'attr': {'class': 'form-control', 'placeholder':'Cognoms' } }) }}
						<span class="input-group-addon input-group-addon-icon"><span class="fa fa-search fa-1x"></span></span>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-last-right">
				<button id="formassegurats-submit"  type="submit" class="btn btn-default btn-lg"><i class="fa fa-search blue"></i> cerca</button>
			</div>
		</div>
    </form>

    {% for flashMessage in app.session.flashbag.get('error-notice') %}
    <div class="sms-notice">
		{{ flashMessage }}
  	</div>	
	{% endfor %}
	<div id="llista-assegurats">
		<div class="table-header">	
		   	<div id="list-header">
		   		<div id="header-asseguratid" class="col-listheader">id</div>
		   		<div id="header-asseguratcompacte" class="col-listheader col-responsive">Assegurat<span class="listheader-order"></span></div>
		   		<div id="header-asseguratdni" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(persones, 'DNI', 'e.dni') }}
		   				<span class="listheader-icon {% if persones.isSorted('e.dni') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-asseguratnom" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(persones, 'Nom', 'e.nom') }}
		   				<span class="listheader-icon {% if persones.isSorted('e.nom') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-asseguratcognoms" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(persones, 'Cognoms', 'e.cognoms', {'direction': 'desc'}) }}
		   				<span class="listheader-icon {% if sortparams['direction'] == '' %} listheader-icon-asc {% endif %}{% if sortparams['sort'] == 'e.cognoms' %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-asseguratnaixement" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(persones, 'Nascut/da', 'e.datanaixement') }}
		   				<span class="listheader-icon {% if persones.isSorted('e.nom') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-assegurattipusdesc" class="col-listheader listheader-noorder">Llicències</div>
		   		<div id="header-asseguratactions" class="col-listheader listheader-noorder total-rowcount">Total: {{ persones.getTotalItemCount|number_format(0, ',', '.') }}</div>
		   	</div>
	   	</div>
		{% if persones|length > 0 %}
		<div class="table-scroll">
		   	<ol id="list-data">
			{% for persona in persones %}
			   		<li class="data-detall">
				   		<div class="data-detall-cell assegurat-id">{{ persona.id }}</div>
				   		<div class="data-detall-cell assegurat-compacte col-responsive">{{ persona.cognoms }}, {{ persona.nom }} ({{ persona.dni }})</div>
				   		<div class="data-detall-cell assegurat-dni col-noresponsive">{{ persona.dni }}</div>
				   		<div class="data-detall-cell assegurat-nom col-noresponsive">{{ persona.nom }}</div>
				   		<div class="data-detall-cell assegurat-cognoms col-noresponsive">{{ persona.cognoms }}</div>
				   		<div class="data-detall-cell assegurat-naixement col-noresponsive">{% if persona.datanaixement is not null %} {{ persona.datanaixement|date('d/m/Y') }}{% endif %}</div>
				   		<div class="data-detall-cell assegurat-tipusdesc">
				   			<a class="llicencia-historial" href="{{ path('FecdasBundle_historialLlicencies', { 'id': persona.id }) }}"  alt="Historial llicències" title="Historial llicències">
				   			<i class="fa fa-history orange"></i><span>{{ persona.getInfoAssegurats(admin) }}</span>
			   				</a>
						</div>
				   		{% if persona.llicenciaVigent is not null and persona.llicenciaVigent.parte is not null %}
							<div class="data-detall-cell assegurat-actions">
								{% if persona.llicenciaVigent.parte.allowPrintLlicencia == true %}
									<a class="llicencia-imprimir link" href="{{ path('FecdasBundle_licensetopdf', { 'id': persona.llicenciaVigent.id}) }}" alt="Imprimir llicència" title="Imprimir llicència">
										<i class="fa fa-newspaper-o fa-1x blue"></i></a>
								{% endif %}
								{% if persona.llicenciaVigent.parte.allowRenovar %}
									<a class="llicencia-renovar link" href="{{ path('FecdasBundle_renovarllicencia', { 'id': persona.llicenciaVigent.id }) }}" alt="Renovar llicència" title="Renovar llicència">
					   					<i class="fa fa-retweet fa-1x orange"></i></a>
				   				{% endif %}
				   				<a class="parte-action-view link" href="{{ path('FecdasBundle_parte', { 'id': persona.llicenciaVigent.parte.id, 'action':'view' }) }}"  alt="Veure llicència" title="Veure llicència">
				   					<i class="fa fa-search fa-1x green"></i></a>
								<a class="assegurats-openmodal link" href="{{ path('FecdasBundle_persona') }}" name="modal" alt="Editar dades federat" title="Editar dades federat">
				   					<i class="fa fa-user fa-1x red"></i></a>
			   				</div>
			   			{% else %}
			   				{% if persona.lastLlicencia is not null and persona.lastLlicencia.parte is not null %}
				   				<div class="data-detall-cell assegurat-actions">
			   					<a class="llicencia-renovar link" href="{{ path('FecdasBundle_renovarllicencia', { 'id': persona.lastLlicencia.id }) }}" alt="Renovar llicència" title="Renovar llicència">
			   						<i class="fa fa-retweet fa-1x orange"></i></a>
			   					<a class="parte-action-view link" href="{{ path('FecdasBundle_parte', { 'id': persona.lastLlicencia.parte.id, 'action':'view' }) }}" alt="Veure llicència" title="Veure llicència">
			   						<i class="fa fa-search fa-1x green"></i></a>
				   				<a class="assegurats-openmodal link" href="{{ path('FecdasBundle_persona') }}" name="modal"  alt="Editar dades federat" title="Editar dades federat">
			   						<i class="fa fa-user fa-1x red"></i></a>
			   					</div>
			   				{% else %}
			   					<div class="data-detall-cell assegurat-actions">
			   					<a class="assegurats-openmodal link" href="{{ path('FecdasBundle_persona') }}" name="modal"  alt="Editar dades federat" title="Editar dades federat">
			   						<i class="fa fa-user fa-1x red"></i></a>
			   					</div>
			   				{% endif %}	
				   		{% endif %}		
			   		</li>
			{% endfor %}
			</ol>
		</div>
		{% if persones.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(persones, null, sortparams) }}</div>{% endif %}		
	   	{% else %}
	   		
	        <div class="sms-notice">Cerca sense resultats</div>
	    {% endif %}
	</div>
    
    <div id="historial-llicencies" class="finestra-overlay"></div>
    <div id="edicio-persona" class="finestra-overlay"></div>
    
{% endblock %}

{% block javascripts %}

{{ parent() }}

	<!-- Datetime plugin's. http://xdsoft.net/jqplugins/datetimepicker/ -->
	<script src="{{ asset('js/jquery.datetimepicker.js') }}" type="text/javascript"></script>

	<script src="{{ asset('js/utils/purl.js') }}" type="text/javascript"></script>
	
	{{ form_javascript(form) }}
	
	<script type="text/javascript">
	
	$(document).ready(function(){
		setMenuActive("menu-assegurats");
		
		helpBubbles("#form_dni", '<p>Indica tot o part del <b>DNI/NIE</b> a cercar</p>');
		
		helpBubbles("#form_nom", '<p>Indica tot o part del <b>NOM</b> a cercar</p>\
		<p>La cerca no distingeix majúscules o minúscules</p>');
	
		helpBubbles("#form_cognoms", '<p>Indica tot o part dels <b>COGNOMS</b> a cercar</p>\
		<p>La cerca no distingeix majúscules o minúscules</p>');
	
		showPersonClickAssegurats();
	
		showHistorialLlicencies();
	
		$('#form_assegurats').submit(function () {
			// Recarrega consulta afegint la dades del formulari
			asseguratsReload("{{ path('FecdasBundle_assegurats', sortparams)|raw }}");
			return false;
		});
	
		$('#form_tots').change(function () {
			// Recarrega consulta afegint la dades del formulari
			asseguratsReload("{{ path('FecdasBundle_assegurats', sortparams)|raw }}");
			
		});
	
		$('#form_vigent').change(function () {
			// Recarrega consulta afegint la dades del formulari
			asseguratsReload("{{ path('FecdasBundle_assegurats', sortparams)|raw }}");
			
		});
		
		
		//sortLlista("col-listheader", "list-data");
		//llistaPaginationAndSort($('#form_assegurats'));
	
		var tableScroll = $('.table-scroll');
		if (tableScroll.hasOverflowY()) {
			$('.table-scroll').css({"width":"101.5%"});
		}
	});
	
	</script>


{% endblock %}
