<div class="assegurat-historial">
	<a class="close" href="#"><img style="cursor: pointer;" src="/images/close.png"></a>
	<div class="assegurat-historial-titol">Historial de llicències</div>
{% for llicencia in llicencies %}
	<div class="assegurat-llicencia {% if llicencia.isBaixa %}data-detall-fosc{% endif %}">
		<div class="assegurat-llicencia-camp assegurat-llicencia-vigencia">
		{{ llicencia.parte.dataalta|date('d/m/Y') }} - {{ llicencia.parte.datacaducitat|date('d/m/Y') }}
		</div>
		<div class="assegurat-llicencia-camp assegurat-llicencia-categoria">{{ llicencia.categoria.categoria }}</div>
		<div class="assegurat-llicencia-camp assegurat-llicencia-club">({{ llicencia.parte.club.nom }})</div>
		<div class="assegurat-llicencia-camp assegurat-llicencia-desc">{{ llicencia.categoria.descripcio }} {% if llicencia.isBaixa %}(anul·lada){% endif %}</div>
		{% if admin == true %}
			<div class="assegurat-llicencia-camp assegurat-llicencia-action"><a class="parte-action-view link" href="{{ path('FecdasBundle_parte', { 'id': llicencia.parte.id, 'action':'view' }) }}" alt="Veure llicència" title="Veure llicència">
				<i class="fa fa-search fa-1x blue"></i></a></div>
		{% endif %}
	</div>

{% else %}
	Historial sense dades
{% endfor %}
</div>



