{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Consulta Llicència Activa per DNI{% endblock %}

{% block body %}
	<div class="consulta-dni row space50"> 
	    
		<div class="formdni-main col-md-offset-4 col-md-4"> 
		    <header>
		        <h1>Consulta de llicències</h1>
		    </header>
		
		    <div class="row">
		    	<div class="col-md-12 block-errors">
		    		{% include 'FecdasBundle:Includes:messages.html.twig' %}
		    	</div>
		    </div>
		    
		    <div class="row">
			{{ form_start(form, {'action': path('FecdasBundle_busseig'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'form-consultadni'}}) }}		    
		    	<div class="col-md-12 col-xs-12 form-inline">
    				<div class="form-group">
    					{{ form_label(form.dni, 'Indicar el dni (amb lletra)') }}
    					<div class="input-group" >
    						<span class="input-group-addon input-group-addon-icon"></span>
    						{{ form_widget(form.dni, { 'attr': {'class': 'form-control'} }) }}
    					</div>
    					<a class="btn btn-default btn-lg consulta-dni" title="Consulta llicència vigent" href="javascript:void(0);" >Consulta</a>
    					<img width="21" id="help-querydni" src="{{ asset('images/icon-query.png') }}">
    				</div>
    			</div>
		    	<div class="col-md-12 col-xs-12 ">
    				<div class="sms-footer">Consulta si una persona té una llicència / assegurança vigent a data d'avui.<br/>
                	Per garantir la protecció de les dades personals el resultat només serà afirmatiu o negatiu.<br/>
                	En cas de dubte poseu-vos en contacte directament amb la federació</div>
    			</div>
    		{{ form_end(form) }}
    		</div> 
    	</div> 	
    	<div class="formdni-main col-md-offset-3 col-md-6">     
        	
		</div>
   	</div>


{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-busseig");
	
	validarConsultaBusseig();

	helpBubbles("#help-querydni", '<p align="left">El format del DNI ha de ser <b>12345678X</b></p>\
			<p align="left">En cas de menors que no disposin de DNI</p>\
			<p align="left">cal afegir el prèfix \'P\' o \'M\' al DNI del</p>\
			<p align="left">pare o la mare respectivament. P.e. <b>P12345678X.</b></p>\
			<p align="left">Per estrangers indicar el número d\'identificació equivalet</p>');
			
});

</script>


{% endblock %}

