{# src/Fecdas/PartesBundle/Resources/views/Page/contact.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Contacte{% endblock %}

{% block body %}
	<div class="contact page-center">

		{{ parent() }}

		<div class="login-content content-center"> 
			<header>
		        <h1>Contacte</h1>
		    </header>
			<h3>Incidències i/o suggeriments</h3>
			
		    {% for flashMessage in app.session.flashbag.get('sms-notice') %}
		    <div class="sms-notice">
				{{ flashMessage }}
		  	</div>	
			{% endfor %}
		    
			{{ form_start(form, {'action': path('FecdasBundle_contact'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'form-contact'}}) }}
		    	{{ form_errors(form) }}
				<div id="formcontact-name">
					{{ form_label(form.name, 'Nom', { 'label_attr': {'class': 'formlabel-inside'} }) }}
					{{ form_widget(form.name, { 'attr': {'class': 'forminput-inside'} }) }}
				</div>
		        <div id="formcontact-email">
					{{ form_label(form.email, 'Adreça de correu', { 'label_attr': {'class': 'formlabel-inside'} }) }}
					{{ form_widget(form.email, { 'attr': {'class': 'forminput-inside'} }) }}
					{{ form_errors(form.email) }}
				</div>
				<div id="formcontact-subject">
					{{ form_label(form.subject, 'Assumpte', { 'label_attr': {'class': 'formlabel-inside'} }) }}
					{{ form_widget(form.subject, { 'attr': {'class': 'forminput-inside'} }) }}
				</div>
				<div id="formcontact-body">
					{{ form_label(form.body, 'Text del missatge', { 'label_attr': {'class': 'formlabel-inside'} }) }}
					{{ form_widget(form.body, { 'attr': {'class': 'forminput-inside'} }) }}
				</div>
				<div id="formcontact-rest">	{{ form_rest(form) }}</div>
		        <div id="formcontact-submit">	
					<input type="submit" class="forminput-inside" value="Tramet la consulta" />
				</div>        
		    {{ form_end(form) }}
		</div>
    </div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">
	$(document).ready(function(){
		setMenuActive("menu-contact");
	});
</script>


{% endblock %}