{% extends 'FecdasBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
	<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.core.js"></script>
	<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.slide.js"></script>
   	{{ form_javascript(form) }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Petició de duplicats de carnets{% endblock %}

{% block body %}
	<header>
        <h1>Petició de duplicats</h1>
    </header>

   	<form id="formduplicats" action="{{ path('FecdasBundle_duplicats') }}" method="post"  enctype="multipart/form-data" class="appform">
   		<div class="form-row clearfix">
   			<div id="formduplicats-persones" class="form-left">
				{{ form_widget(form.persona, { 'attr': {'class': 'forminput-inside ', 'style': 'width:100%'} }) }}
			</div> 
			<div id="formduplicats-carnets" class="form-left">
				{{ form_widget(form.carnet, { 'attr': {'class': 'formfield-outside'} }) }}
			</div>
		</div>
		<div id="formduplicats-dades" class="form-row clearfix"></div>
    </form>

    {% for flashMessage in app.session.flashbag.get('error-notice') %}
    <div class="sms-notice">
		{{ flashMessage }}
  	</div>	
	{% endfor %}
    
	<div id="llista-duplicats">
		<div class="table-header">	
		   	<div id="list-header">
		   		<div id="header-duplicatid" class="col-listheader">{{ knp_pagination_sortable(duplicats, 'Albarà', 'd.id') }}
		   			<span class="listheader-icon {% if duplicats.isSorted('d.id') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-duplicatpeticio" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(duplicats, 'Petició', 'd.datapeticio') }}
		   			<span class="listheader-icon {% if duplicats.isSorted('d.datapeticio') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-duplicatdni" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(duplicats, 'DNI', 'p.dni') }}
		   			<span class="listheader-icon {% if duplicats.isSorted('p.dni') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-duplicatnom" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(duplicats, 'Nom', 'p.cognoms, p.nom') }}
		   			<span class="listheader-icon {% if duplicats.isSorted('p.cognoms, p.nom') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-duplicatcarnet" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(duplicats, 'Carnet', 'c.tipus') }}
		   			<span class="listheader-icon {% if duplicats.isSorted('c.tipus') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-duplicatfoto" class="col-listheader listheader-noorder">Foto<span class="listheader-order"></span></div>
		   		<div id="header-duplicatimpressio" class="col-listheader listheader-noorder">Impresa<span class="listheader-order"></span></div>
		   		<div id="header-duplicatextra" class="col-listheader listheader-noorder">Observacions<span class="listheader-order"></span></div>
		   		<div id="header-duplicatactions" class="col-listheader listheader-noorder total-rowcount">Total: {{ duplicats.getTotalItemCount|number_format(0, ',', '.') }}</div>
		   	</div>
	   	</div>
		{% if duplicats|length > 0 %}
		<div class="table-scroll">
		   	<ol id="list-data">
			{% for duplicat in duplicats %}
				{% if admin == true or (admin != true and duplicat.databaixa is null) %}
					{% if duplicat.databaixa is null %}
					<li class="data-detall">
				   		<div class="data-detall-cell duplicat-id">{{ duplicat.numalbara }}</div>
				   		<div class="data-detall-cell duplicat-peticio"><time datetime="{{ duplicat.datapeticio|date('c') }}">{{ duplicat.datapeticio|date('d/m/y') }}</time></div>
				   		<div class="data-detall-cell duplicat-dni">{{ duplicat.persona.dni }}</div>
				   		<div class="data-detall-cell duplicat-nom">{{ duplicat.persona.cognomsNom }}
				   			{% if admin == true %}<br><span>({{ duplicat.club.nom }})</span>{% endif %}</div>
				   		<div class="data-detall-cell duplicat-carnet">{{ duplicat.textCarnet }}</div>
				   		<div class="data-detall-cell duplicat-foto">
				   		{% if duplicat.carnet.foto == true %}
				   			{% if duplicat.foto is not null and duplicat.foto.width > 0 and duplicat.foto.height > 0 %}
				   			<a href="{{ duplicat.foto.webPath }}" target="_blank" download="{{ duplicat.foto.path }}"><img src="{{ duplicat.foto.webPath }}" alt="{{ duplicat.foto.titol }}" width="30px"/></a>
				   			{% else %}
				   			<span class="noimage-available">Foto no<br/>Disponible</span>{% endif %}
				   		{% endif %}
				   		</div>
				   		<div class="data-detall-cell duplicat-impressio">
				   		{% if duplicat.dataimpressio is null %}
				   			{% if admin == true %}
					   			<a class="duplicat-impres link" href="{{ path('FecdasBundle_imprespeticio', duplicats.params|merge({ 'id': duplicat.id })) }}" alt="Duplicat imprès" title="Duplicat imprès">
			   							<i class="fa fa-print orange"></i></a>
			   				{% endif %}
			   			{% else %}
			   				{{ duplicat.dataimpressio|date('d/m/y') }}
			   			{% endif %}
			   			</div>
				   		<div class="data-detall-cell duplicat-extra">{{ duplicat.infoLlistat }}</div>
				   		<div class="data-detall-cell duplicat-actions">
					   		{% if duplicat.factura is not null %} 
								<a class="duplicat-factura link" href="{{ path('FecdasBundle_facturatopdf', { 'id': duplicat.id}) }}" alt="Factura" title="Factura">
										<i class="fa fa-file-pdf-o fa-1x orange"></i></a>
							{% else %}
								<i class="fa fa-file-pdf-o fa-1x transparent"></i>
							{% endif %}
							
							{% if duplicat.comandaPagada == true %} 
								<a class="duplicat-albara link" href="{{ path('FecdasBundle_albaratopdf', { 'id': duplicat.id}) }}"  alt="Albarà" title="Albarà">
									<i class="fa fa-file-text-o fa-1x blue"></i></a>
							{% else %}
								<a class="duplicat-albara link" href="{{ path('FecdasBundle_rebuttopdf', { 'id': duplicat.id}) }}"  alt="Rebut" title="Rebut">
									<i class="fa fa-file-text-o fa-1x blue"></i></a>
							{% endif %}
							{% if duplicat.datapagament is null %} 
								<a class="duplicat-pagament link" href="{{ path('FecdasBundle_pagamentpeticio', { 'id': duplicat.id}) }}"  alt="Pagament On-line" title="Pagament On-line">
									<i class="fa fa-euro fa-1x green"></i></a>
							{%  else %}
								<i class="fa fa-euro fa-1x transparent"></i>
							{% endif %}	
				   			{% if admin == true %}
				   				{% if duplicat.factura is not null  %}
								{% 	 set nf = duplicat.factura.num %}
								{% else %}
								{% 	 set nf = '' %}
								{% endif %}
		   						<a class="duplicat-esborrar" href="{{ path('FecdasBundle_anularpeticio', duplicats.params|merge({ 'id': duplicat.id })) }}" alt="Anul·lar petició" title="Anul·lar petició">
			   						<i class="fa fa-trash-o fa-1x red"></i></a>
				   			{% endif %}
			   			</div>
			   		</li>
					{% else %}
			   		<li class="data-detall data-detall-fosc">
				   		<div class="data-detall-cell duplicat-id">{{ duplicat.numalbara }}</div>
				   		<div class="data-detall-cell duplicat-peticio"><time datetime="{{ duplicat.datapeticio|date('c') }}">{{ duplicat.datapeticio|date('d/m/y') }}</time></div>
				   		<div class="data-detall-cell duplicat-dni">{{ duplicat.persona.dni }}</div>
				   		<div class="data-detall-cell duplicat-nom">{{ duplicat.persona.cognomsNom }}
				   			{% if admin == true %}<br><span>({{ duplicat.club.nom }})</span>{% endif %}</div>
				   		<div class="data-detall-cell duplicat-carnet">{{ duplicat.textCarnet }}</div>
				   		<div class="data-detall-cell duplicat-foto">
				   		{% if duplicat.carnet.foto == true %}
				   			{% if duplicat.foto is not null and duplicat.foto.width > 0 and duplicat.foto.height > 0 %}
				   			<a href="{{ duplicat.foto.webPath }}" target="_blank" download="{{ duplicat.foto.path }}" class="link">
				   				<img src="{{ duplicat.foto.webPath }}" alt="{{ duplicat.foto.titol }}" width="30px"/></a>
				   			{% else %}
				   			<span class="noimage-available">Foto no<br/>Disponible</span>{% endif %}
				   		{% endif %}
				   		</div>
				   		<div class="data-detall-cell duplicat-impressio"></div>
				   		<div class="data-detall-cell duplicat-extra">{{ duplicat.infoLlistat }}</div>
				   		<div class="data-detall-cell duplicat-actions"></div>
			   		</li>
			   		{% endif %}
			   	{% endif %}
			{% endfor %}
			</ol>
		</div>
		{% if duplicats.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(duplicats, null, sortparams) }}</div>{% endif %}		
	   	{% else %}
	        <div class="sms-notice">Sense peticions</div>
	    {% endif %}
	</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){

	setMenuActive("menu-duplicats");

	actionsFormDuplicats("{{ path('FecdasBundle_duplicatsform') }}");

	varisAdminPeticioDuplicat();
	
	//sortLlista("col-listheader", "list-data");

	var tableScroll = $('.table-scroll');
	if (tableScroll.hasOverflowY()) {
		$('.table-scroll').css({"width":"101.5%"});
	}

});

</script>


{% endblock %}
