{% for flashMessage in app.session.flashbag.get('error-notice') %}
    <div class="sms-notice">
		{{ flashMessage }}
  	</div>	
{% endfor %} 
	<a class="close" href="javascript:void(0);"><img src="{{ asset('images/close.png') }}" style="cursor: pointer;"></a>
	<div id="formllicencia-id">
		{{ form_widget(llicencia.id, { 'id': 'parte_llicencies_id' }) }}
	</div>
	<div class="form-row clearfix">
		<div id="formllicencia-persona" class="form-left">
			{{ form_label(llicencia.persona, 'Assegurats del Club', { 'label_attr': {'class': 'formlabel-outside'} }) }}
			{{ form_widget(llicencia.persona, { 'attr': {'class': 'formfield-outside'}, 'id': 'parte_llicencies_persona_select' }) }}
			{# form_errors(llicencia.persona) #}
		</div>
		{% if llicenciadades.parte.allowEdit == true or admin == true %}
		<div class="form-left">
			<label>&nbsp;</label>
			<button type="button" class="formpersona-openmodal" class="btn btn-default btn-lg" name="modal" 
				href="{{ path('FecdasBundle_persona') }}">
				{% if llicenciadades.persona is not null %}	modifica assegurat <i class="fa fa-user"></i> 
				{% else %} nou assegurat <i class="fa fa-users"></i>{% endif %}</button>
		</div>
		{% endif %} 
		<div id="formllicencia-categoria" class="form-left">
			{{ form_label(llicencia.categoria, 'Tipus', { 'label_attr': {'class': 'formlabel-outside'} }) }}
			{{ form_widget(llicencia.categoria, { 'attr': {'class': 'formfield-outside'}, 'id': 'parte_llicencies_categoria_select' }) }}
		</div> 
		<div id="formllicencia-datacaducitat" class="form-left data-field">
			{{ form_label(llicencia.datacaducitatshow, 'Data de caducitat', { 'label_attr': {'class': 'formlabel-outside'} }) }}
			{{ form_widget(llicencia.datacaducitatshow, { 'attr': {'class': 'form-control form-control-center formfield-outside formdate-calendar'} }) }}
			{{ form_widget(llicencia.datacaducitat, { 'id': 'parte_llicencies_datacaducitat' }) }}
		</div> 
	</div>
	{% if llicenciadades.parte.perImprimir == true and llicenciadades.parte.perEnviarFederat != true %}
		<div class="form-row clearfix">
			<div class="llicencia-check check-correu">
			    <label>
			      Rebre llicència per correu? 
			      <div class="checkbox-inline">{{ form_widget(llicencia.enviarllicencia[0]) }}{{ form_label(llicencia.enviarllicencia[0]) }}</div>
			      <div class="checkbox-inline">{{ form_widget(llicencia.enviarllicencia[1]) }}{{ form_label(llicencia.enviarllicencia[1]) }}</div>
			    </label>
			</div>
			
		</div>
	{% else %}
		{{ form_widget(llicencia.enviarllicencia) }}
	{% endif %}
	<!--  NO mostra checks per Fusell i No CMAs, no habilitada per competició -->
	
	<div class="form-row clearfix hidden" {% if (asseguranca == true) %} style="display:none" {% endif %}>
		{% if llicenciadades.parte.allowEdit == true or admin == true%}
		<div class="llicencia-check seleccionar-tot">
	 		<label class="formlabel-lefttocheckbox"  for="llicencia_seleccionat-tot">Seleccionar tot</label>
			<input id="llicencia_seleccionat-tot" class="formcheckbox-right" type="checkbox" name="seleccionar-tot">
		</div>
		{% endif %}
	</div>
	<div class="form-row clearfix hidden" {% if (asseguranca == true) %} style="display:none" {% endif %}>
		<div class="llicencia-check">
		{{ form_label(llicencia.apnea, 'Apnea', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.apnea, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.escafandrisme, 'Escafandrisme', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.escafandrisme, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.fotosubapnea, 'Foto Sub Apnea', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.fotosubapnea, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.fotocine, 'Fotografia Sub.', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.fotocine, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.hockey, 'Hockei Sub', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.hockey, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.natacio, 'Natació amb Aletes', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.natacio, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.biologia, 'Biologia i Medi', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.biologia, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.orientacio, 'Orientació', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.orientacio, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.pesca, 'Pesca Submarina', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.pesca, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.videosub, 'Video Subaquàtic', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.videosub, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.rugbi, 'Rugbi Subaquàtic', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.rugbi, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.besportiu, 'Busseig Esportiu', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.besportiu, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
		<div class="llicencia-check">
		{{ form_label(llicencia.bampolles, 'Busseig Ampolles', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
		{{ form_widget(llicencia.bampolles, { 'attr': {'class': 'formcheckbox-right'} }) }}
		</div>
	</div>
	{% if llicenciadades.parte.allowEdit == true or admin == true %}
	<div class="form-row clearfix">
		<button type="button" id="formllicencia-add" class="btn btn-default btn-lg" name="add-llicencia">confirmar llicència <i class="fa fa-check"></i></button>
		
	</div>
	{% endif %}
	<div class="clearfix">
		<div id="formllicencia-fusell" style="display:none">
			{{ form_label(llicencia.fusell, 'Fusell', { 'label_attr': {'class': 'formlabel-outside'} }) }}
			{{ form_widget(llicencia.fusell, { 'attr': {'class': 'formfield-outside-multicheck'} }) }}
		</div>
		<div id="formllicencia-nocmas" style="display:none">
			{{ form_label(llicencia.nocmas, 'No CMAS', { 'label_attr': {'class': 'formlabel-outside'} }) }}
			{{ form_widget(llicencia.nocmas, { 'attr': {'class': 'formfield-outside-multicheck'} }) }}
		</div>
		<div id="formllicencia-rest">	{{ form_rest(llicencia) }}</div>
	</div>
