<div class="parte-llicencies">
	<a class="close" href="#"><i class="fa fa-times-circle-o fa-1x blue"></i></a>
	<div class="parte-llicencies-titol">Llicències fins a {{ parte.datacaducitat|date('d/m/Y') }}</div>
{% for llicencia in llicencies %}
	<div class="parte-llicencia-row">
		<div class="parte-llicencia-row-camp parte-llicencia-row-categoria">{{ llicencia.categoria.categoria }}.</div>
		<div class="parte-llicencia-row-camp parte-llicencia-row-dni">{{ llicencia.persona.dni }} - </div>
		<div class="parte-llicencia-row-camp parte-llicencia-row-nom">{{ llicencia.persona.nom }} {{ llicencia.persona.cognoms }}</div>
		<div class="parte-llicencia-row-camp parte-llicencia-row-desc">(Activitats: {{ llicencia.activitats }})</div>
	</div>

{% else %}
	Historial sense dades
{% endfor %}
</div>



