{# src/Fecdas/PartesBundle/Resources/views/Page/parte.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block stylesheets %}
	
	<link href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Gestió de llistes d'assegurats{% endblock %}

{% block body %}
    <header>
        <h1><a href="{{ path('FecdasBundle_partes') }}">Llistes d'assegurats</a> > Llicències</h1>
    </header>
   
	<form id="formparte" action="{{ path('FecdasBundle_parte') }}" method="post" {{ form_enctype(form) }}  class="appform">
		{%  if form_errors(form) is not empty %}
			<div class="sms-notice">{{ form_errors(form)  }}</div>
		{% endif %}	
		
		<div id="formparte-id">
			{{ form_widget(form.id) }}
		</div>
		
		<div class="form-row clearfix">
			<div class="sms-header-info">{{ parte.infoParte }}</div>
			{% if ((parte.esnova != true) and (parte.numLlicencies > 0))  %} 
			<div class="buttons-top">
				{% if not parte.comandaPagada and (parte.pendent or parte.pendentSincronitzar)  %}
				<!-- No Pagat -->
	        	<div id="parte-pagament" class="button-top">	
	        		<a id="formparte-payment" class="link" href="{{ path('FecdasBundle_pagament', { 'id': parte.id}) }}" alt="Pagament" title="Pagament">
	        			<i class="fa fa-credit-card fa-1x blue"></i></a>
				</div>
				{% endif %}	
				<div id="parte-to-pdf" class="button-top">
					<a class="link" href="{{ path('FecdasBundle_partetopdf', { 'id': parte.id}) }}" alt="llista llicències" title="llista llicències">
						<i class="fa fa-file-text-o fa-1x orange"></i></a>
				</div>
					<!-- només factures amb número factura del web -->
				{% if parte.factura is not null %} 
					<div id="factura-to-pdf" class="button-top">
						<a class="link" href="{{ path('FecdasBundle_facturatopdf', { 'id': parte.id}) }}" alt="Factura" title="Factura">
							<i class="fa fa-file-pdf-o fa-1x red"></i></a>
					</div>
				{% else %}
					<div id="albara-to-pdf" class="button-top">
						<a class="link" href="{{ path('FecdasBundle_albaratopdf', { 'id': parte.id}) }}" alt="Albarà" title="Albarà">
							<i class="fa fa-list fa-1x red"></i></a>
					</div>
				{% endif %}
				{% if parte.comandaPagada %} 
					<div id="rebut-to-pdf" class="button-top">
						<a class="link" href="{{ path('FecdasBundle_rebuttopdf', { 'id': parte.rebut.id}) }}" alt="Rebut" title="Rebut">
							<i class="fa fa-file-text fa-1x green"></i></a>
					</div>
				{% endif %}
				
			</div>	
			{% endif %}
		</div>
		

		<div class="row">
			 <div class="col-md-1">
				<div class="form-group">
					{{ form_label(form.any) }}
					<div id="formparte-any"  class="input-group ">
						<span class="input-group-addon"></span>		  				
						{{ form_widget(form.any, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
			 </div>
			 <div class="col-md-4">
				<div class="form-group">
					{{ form_label(form.dataalta, 'Validesa') }}
					<div id="formparte-dataalta" class="input-group">
		  				<span class="input-group-addon">Des de</span>
						{{ form_widget(form.dataalta, { 'attr': {'class': 'form-control formtime-calendar'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>
				</div>
			  </div>
			  <div class="col-md-4">
			    <div id="formparte-tipus" class="form-group">
			    	{{ form_label(form.tipus, 'Tipus de llista d\'assegurats') }}
					<div class="input-group"><div class="input-group-addon">tipus</div>{{ form_widget(form.tipus, { 'attr': {'class': 'form-control'} }) }}</div>
				</div>
			  </div>
  			  <div class="col-md-2" {% if parte.datapagament is null %} style="display: none" {% endif %}>
				<div class="form-group">
					<label>&nbsp;</label>
					<div id="formparte-datapagament" class="input-group" >
		  				<span class="input-group-addon required">Data Pagament</span>
						{{ form_widget(form.datapagament, { 'attr': {'class': 'form-control formtime-calendar'} }) }}
					</div>
				</div>
			  </div>
  			  <div class="col-md-1 {% if parte.datapagament is null %} col-md-offset-2 {% endif %} col-last-right">
			  {% if admin == true and parte.datapagament is null and parte.esnova != true  %}
					<label>&nbsp;</label>
					<button type="button" id="formparte-button-pagat" class="btn btn-default btn-lg" 
						data-href="{{ path('FecdasBundle_confirmapagament', { 'id': parte.id }) }}"><i class="fa fa-euro"></i></button>
			  {% else %}	
			  		
					<label>&nbsp;</label>
					<button type="button" id="formparte-novallicencia" class="btn btn-default btn-lg" 
					{% if parte.esnova == true  %} style="display:none;" {% endif %}
						 onclick="loadLlicencia.call(this, 0)"><i class="fa fa-chevron-down"></i></button>
						 
			  {% endif %}	
		   	  </div>
		</div>
         
		<div id="formparte-rest">	{{ form_rest(form) }}</div>
		
		<div id="error" class="sms-notice" style="display:none"> </div>
    </form>

    <div id="progressbar" style="display:none"><img src="/images/icon_progress.gif"></div>
    <div id="edicio-llicencies" >
	    <form id="formllicencia" action="{{ path('FecdasBundle_llicencia') }}" method="post" {{ form_enctype(form) }}  class="appform">
			<div id="formparte-llicencia" class="parte-llicencia" style="display: none"></div>
			{#  include "FecdasBundle:Page:partellicencia.html.twig" #}
		</form>	
	</div>
    
	<div id="llista-llicencies" class="maxwidth-bloc">
	{% include "FecdasBundle:Page:partellistallicencies.html.twig" %}
	</div> 
	<div class="sms-footer">Per esborrar alguna llicència cal posar-se en contacte amb la Federació</div>
	
    <div id="edicio-persona" class="finestra-overlay"></div>
     
{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<script src="{{ asset('js/jquery.ui.datepicker-ca.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jquery-ui-timepicker-addon.js') }}" type="text/javascript"></script>
   	<script src="{{ asset('js/jquery-ui-timepicker-ca.js') }}" type="text/javascript"></script>
	
	<!-- Datetime plugin's. http://xdsoft.net/jqplugins/datetimepicker/ -->
	<script src="{{ asset('js/jquery.datetimepicker.js') }}" type="text/javascript"></script>
	
	{{ form_javascript(form) }}

<script type="text/javascript">

$(document).ready(function() {

	setMenuActive("menu-parte");
	
	{% if parte.esnova == true %}
		$('#parte_tipus').val(0);
		if ($('#formparte-novallicencia option').length > 1) $('#formparte-novallicencia').hide();
		
		var mindate = new Date( {{ datesparte['min']['any'] }}, {{ datesparte['min']['mes'] }} - 1, {{ datesparte['min']['dia'] }});
		var maxdate = new Date ( {{ datesparte['max']['any'] }}, {{ datesparte['max']['mes'] }} - 1, {{ datesparte['max']['dia'] }});
		initDateTimePicker ( 
			$( '#parte_dataalta' ), 
			mindate, 
			maxdate, 
			new Date (), 
			'dataalta-picker', 
			true,
			function (selectedDateTime) {
				reloadParteData(selectedDateTime);
			}
		);
	{% endif %} 
	
	{% if parte.allowedit == true %}
		reloadParteTipus();
	{% endif %} 
	
	removeLlicenciaClick();

	confirmarPartePagat();
	
	partePagamentButton();
	
	showResumParteDetall();

	sortLlista("col-listheader", "list-data");

	$('.table-scroll').each(function() {
		if ($(this).hasOverflowY()) {
			$(this).css({"width":"101.5%"});
		}
	});
	
	
	if ($("#parte_tipus option").length == 1) {
	/* Només si hi ha disponible més d'una llicència */
		$("#help-tipusparte").hide();
	} else {
		helpBubbles("#help-tipusparte", '<p align="left" style="text-decoration: underline"><b>Llicències federatives habilitades per competir</b></p>\
			<p align="left"><b>A</b>: Llicència federativa anual fins a 31/12.</p>\
			<p align="left"><b>AC</b>: Llicència federativa habilitada per competició temporada, fins 31/08</p>\
			<p align="left"><b>AE</b>: Llicència federativa 365 dies a partir de l\'alta.</p>\
			<p align="left"><b>AQ</b>: Llicència federativa Reduïda, darrer Quatrimestre, des del 01/09 fins 31/12. <br/>Habilitada per competició temporada</p>\
			<p align="left" style="text-decoration: underline"><b>Assegurances no habilitades per competir</b></p>\
			<p align="left"><b>B</b>: Assegurança federativa anual fins a 31/12.</p>\
			<p align="left"><b>B 365</b>: Assegurança federativa 365 dies a partir de l\'alta. <br/>\
			Per a bussejadors o instructors que no tenen una titulació FECDAS/CMAS. <br/>\
			No habilitada per competició ni per fer cursos federats.</p>\
			<p align="left"><b>D</b>: Assegurança per un dia.</p>');
	};	
});

</script>


{% endblock %}

