{% for flashMessage in app.session.flashbag.get('sms-notice') %}
    <div class="sms-notice">
		{{ flashMessage }}
  	</div>	
{% endfor %}

{% if parte.esnova != true %}
<div class="table-header">
	<div id="summary-header" class="row">
		<div id="header-totals" class="col-listheader col-md-8">Resum - 
		Llicències vàlides des de <time datetime="{{ parte.dataalta|date('c') }}">{{ parte.dataalta|date('d/m/Y') }}</time>
	  	fins a <time datetime="{{ parte.datacaducitat|date('c') }}">{{ parte.datacaducitat|date('d/m/Y') }}</time></div>
	   	<div id="parte-preu" class="col-listheader col-md-4">Total: {{ parte.getTotalDetalls|number_format(2, ',', '.') }} (iva inc.)</div>
	</div>
</div>
<div class="table-noscroll">
	<ul id="summary-data">
		<li class="data-totals data-detall">
			<div class="data-detall-cell parte-titol">Per categoria</div>
	  		<div class="data-detall-cell parte-totals">Aficionats</div>
	   		<div class="data-detall-cell parte-totals">Infantils</div>
	   		<div class="data-detall-cell parte-totals">Tècnics</div>
	   	</li>
		<li class="data-totals data-detall">
			<div class="data-detall-cell parte-totals" style="text-align:left">   	
			<a id="parte-resum-more-show" href="javascript:void(0);"><img style="cursor: pointer;" src="{{ asset('images/icon_dropdown.png') }}"></a>
	   		<a id="parte-resum-more-hide" href="javascript:void(0);" style="display:none"><img style="cursor: pointer;" src="{{ asset('images/icon_dropup.png') }}"></a>
			</div>
	  		<div class="data-detall-cell parte-totals">{{ parte.numAficionats }}</div>
	   		<div class="data-detall-cell parte-totals">{{ parte.numInfantils }}</div>
	   		<div class="data-detall-cell parte-totals">{{ parte.numTecnics }}</div>
	   	</li>
	</ul>
   	{% if (parte.isAsseguranca != true) %}
	<ul id="summary-data-hidden">
	   	<li class="data-detall">
			<div class="data-detall-cell parte-titol">Per activitat</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Apnea</div><div class="parte-totals-n"> {{ parte.getNumActivitat('apnea') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Natació amb Aletes</div><div class="parte-totals-n"> {{ parte.getNumActivitat('natacio') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Video Subaquàtic</div><div class="parte-totals-n"> {{ parte.getNumActivitat('videosub') }}</div></div>
	   	</li>
		<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Escafandrisme</div><div class="parte-totals-n"> {{ parte.getNumActivitat('escafandrisme') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Biologia i Medi</div><div class="parte-totals-n"> {{ parte.getNumActivitat('biologia') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Rugbi Subaquàtic</div><div class="parte-totals-n"> {{ parte.getNumActivitat('rugbi') }}</div></div>
	   	</li>
		<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Foto Sub Apnea</div><div class="parte-totals-n"> {{ parte.getNumActivitat('fotosubapnea') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Orientació</div><div class="parte-totals-n"> {{ parte.getNumActivitat('orientacio') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Busseig Esportiu</div><div class="parte-totals-n"> {{ parte.getNumActivitat('besportiu') }}</div></div>
	   	</li>
	   	<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Fotografia Sub.</div><div class="parte-totals-n"> {{ parte.getNumActivitat('fotocine') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Pesca Submarina</div><div class="parte-totals-n"> {{ parte.getNumActivitat('pesca') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Busseig Ampolles</div><div class="parte-totals-n"> {{ parte.getNumActivitat('bampolles') }}</div></div>
	   	</li>
	   	<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Hockei Sub</div><div class="parte-totals-n"> {{ parte.getNumActivitat('hockey') }}</div></div>
	   	</li>
	</ul>
	{% endif %} 
</div>
{% endif %}   	

<div class="table-header">
	<div id="list-header">
		<div id="header-llicenciaparteid" class="col-listheader">{{ parte.id }}</div>
		<div id="header-llicenciaparteindex" class="col-listheader  hidden">#</div>  
		<!-- recull parte id, per informar input parte_id quan es fa l'alta de la 
		primera llicència que crea el parte. Veure my-jquery-scripts / addLlicenciaClick -->
	   	<div id="header-llicenciapersona" class="col-listheader">Llicències<span class="listheader-order"></span></div>
	   	<div id="header-llicenciadni" class="col-listheader">DNI o equivalent<span class="listheader-order"></span></div>
	   	<div id="header-llicenciacategoria" class="col-listheader">Categoria<span class="listheader-order"></span></div>
	   	<div id="header-llicenciaactivitats" class="col-listheader">Activitats</div>
	   	<div id="header-llicenciaenviarllicencia" class="col-listheader"><i class="fa fa-envelope fa-1x"></i></div>
	   	<div id="header-llicenciacheck" class="col-listheader">{% if admin == true %}<i class="fa fa-check-square-o fa-1x"></i>{% endif %}</div>
	   	<div id="header-llicenciaactions" class="col-listheader">&nbsp;</div>
	</div>
</div>
{% if parte.numLlicencies > 0 %}
<div class="table-scroll">
	<ol id="list-data">
		{% for llicencia in parte.llicenciessortedbyname %}
			{# if llicencia.id != "" #}
			{% if llicencia.persona.nom is defined %}
				<li class="data-detall">
	  				<div class="data-detall-cell llicencia-id">{{ llicencia.id }}</div>
	  				<div class="data-detall-cell llicencia-index hidden">{{ loop.index }}</div>
					<div class="data-detall-cell llicencia-persona">{{ llicencia.persona.cognomsNom }}</div>
					<div class="data-detall-cell llicencia-dni">{{ llicencia.persona.dni }}</div>
					<div class="data-detall-cell llicencia-categoria">{{ llicencia.categoria.categoria }}</div>
					<div class="data-detall-cell llicencia-activitats">{{ llicencia.activitats }}</div>
					<div class="data-detall-cell llicencia-enviarllicencia">		
					{% if llicencia.enviarllicencia == 1 %} Si 	{% else %} No {% endif %}
					</div>
					<div class="data-detall-cell llicencia-checkllicencia">
						{% if admin == true %}
						<div class="checkbox-inline"><input type="checkbox" class="check-llicencia-remove" value="0" data-id="{{ llicencia.id }}" name="form[llicencies][{{ loop.index0 }}][baixa]" id="form_llicencies_{{ loop.index0 }}_baixa"></div>
						{% endif %}
					</div>
					<div class="data-detall-cell llicencia-actions link">
					{% if parte.allowPrintLlicencia == true %}
						<a href="{{ path('FecdasBundle_licensetopdf', { 'id': llicencia.id}) }}" alt="llicència" title="llicència"><i class="fa fa-credit-card fa-1x orange"></i></a>
					{% endif %}
					<a class="label-edit-llicencia link" href="javascript:loadLlicencia({{ llicencia.id }});" alt="editar" title="editar"><i class="fa fa-search fa-1x blue"></i></a>
					{% if admin == true %}
						<a href="{{ path('FecdasBundle_llicencia') }}" value="{{ llicencia.id }}" class="link remove-llicencia" name="remove-llicencia" alt="esborrar" title="esborrar"><i class="fa fa-remove fa-1x red"></i></a>
					{% endif %}
					</div>
	  			</li>
	   		{% endif %}
	   	{% endfor %}
	</ol>
</div>
{% else %}
<div class="sms-notice">No hi ha llicències en aquesta llistats d'assegurats</div>
{% endif %}

<div class="row">
	<div class="col-md-9"><div class="sms-footer">Per esborrar alguna llicència cal posar-se en contacte amb la Federació</div></div>
	{% if parte.numLlicencies > 0 and admin == true %}
		<div class="col-md-3 col-last-right">
			<a id="button-llicencies-remove" href="{{ path('FecdasBundle_baixallicencies', { 'id': parte.id}) }}" class="btn btn-default btn-lg"><i class="fa fa-trash"></i> Anul·lar seleccionades</a>
		</div>
	{% endif %}
</div>
	

