{# src/Fecdas/PartesBundle/Resources/views/Page/parte.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Gestió de llistes d'assegurats{% endblock %}

{% block body %}
		{{ form_start(form, {'action': path('FecdasBundle_parte'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'formparte'}}) }}
		<div class="row">
			<header>
				<div class="col-md-6"><h1><a href="{{ path('FecdasBundle_partes', { 'sort': 'p.dataalta', 'direction' : 'desc'}) }}" class="link-parent">Llistes d'assegurats</a> > Comunicat</h1></div>
				 <div class="col-md-6 col-last-right">
					<div class="buttons-top-bootstrap" {% if ((parte.esnova == true) or (parte.numLlicencies == 0))  %} style="display:none" {% endif %}>
						{% if not parte.esSenseCarrec %}
    						{% if not parte.comandaPagada and (parte.pendent or parte.pendentSincronitzar)  %}
    						<!-- No Pagat -->
    			        	<div class="button-top">	
    			        		<a id="formparte-payment" class="link" href="{{ path('FecdasBundle_pagamentcomanda', { 'id': parte.id}) }}" alt="Pagament On-Line" title="Pagament On-Line">
    			        			<i class="fa fa-credit-card fa-1x green"></i></a>
    			        		<span class="subtext">pagar</span>
    						</div>
    						{% endif %}	
    						{% if parte.comandaPagada %} 
    							<div id="rebut-to-pdf" class="button-top">
    								{% for rebut in parte.rebuts %} 
    								<a class="rebut-to-pdf {% if rebut.esanulacio %} rebut-anulacio {% endif %} link" href="{{ path('FecdasBundle_rebuttopdf', { 'id': rebut.id}) }}" alt="{{ rebut.infoToolTip(admin) }}" title="{{ rebut.infoToolTip(admin) }}">
    									<i class="fa fa-file-text fa-1x blue"></i></a>
    								{% endfor %}	
    								<span class="subtext">rebuts</span>
    							</div>
    						{% endif %}
    						{% if parte.comandaConsolidada %} 
    							<div id="factures-to-pdf" class="button-top">
    							{% for factura in parte.factures %} 
    				   				<a class="factura-to-pdf {% if factura.esanulacio %} factura-anulacio {% endif %} link" href="{{ path('FecdasBundle_facturatopdf', { 'id': factura.id}) }}" alt="{{ factura.infoToolTip(admin) }}" title="{{ factura.infoToolTip(admin) }}">
    				   					<i class="fa fa-file-pdf-o fa-1x red"></i></a>
    							{% endfor %}
    								<span class="subtext">factures</span>
    							</div>
    						{% endif %}
    					{% endif %}
						<div id="parte-to-pdf" class="button-top">
							<a class="link" href="{{ path('FecdasBundle_partetopdf', { 'id': parte.id}) }}" alt="llista llicències" title="llista llicències">
								<i class="fa fa-file-text-o fa-1x orange"></i></a>
							<span class="subtext">llistat</span>
						</div>
						
					</div>	
    		    </div>
				<div id="formparte-id">
					{{ form_widget(form.id) }}
				</div>
		    </header>
		</div>
		{% if parte.infoParte != '' %}
			<div class="row">
				<div class="col-md-12"><span class="sms-header-info">{{ parte.infoParte }}</span></div>
			</div>
		{% endif %}

		{%  if form_errors(form) is not empty %}
			<div class="row">
				<div class="col-md-12"><span class="sms-notice">{{ form_errors(form)  }}</span></div>
			</div>
		{% endif %}	

        {% if admin %}
        <div class="row">
			<div class="col-md-3 col-xs-6">
		  		<div class="form-group">
		    	    {{ form_label(form.club, 'Clubs (Admins.)', { 'label_attr': {'class': ''} }) }}
				    {{ form_widget(form.club, { 'attr': {'class': 'form-control', 'autocomplete': 'off'} }) }}
				</div>
			</div>
		</div>
        {% endif %}
		<div class="row">
			 <div class="col-md-1 col-xs-2">
				<div class="form-group">
					{{ form_label(form.any) }}
					<div id="formparte-any"  class="input-group ">
						<span class="input-group-addon group-addon-xs"></span>		  				
						{{ form_widget(form.any, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
			 </div>
			 <div class="col-md-3 col-xs-5">
				<div class="form-group">
					{{ form_label(form.dataalta, 'Validesa') }}
					<div id="formparte-dataalta" class="input-group">
		  				<span class="input-group-addon">Des de</span>
						{{ form_widget(form.dataalta, { 'attr': {'class': 'form-control formtime-calendar'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>
				</div>
			  </div>
			  <div class="col-md-4 col-xs-5">
			    <div id="formparte-tipus" class="form-group">
			    	{{ form_label(form.tipus, 'Tipus de llista d\'assegurats') }}
					<div class="input-group"><div class="input-group-addon">tipus</div>{{ form_widget(form.tipus, { 'attr': {'class': 'form-control'} }) }}</div>
				</div>
			  </div>
  			 
  			 
              {% if parte.datapagament is not null %}
                  <div class="col-md-2 col-xs-5">
    				<div class="form-group">
    			  		<label>Data Pagament</label>
    					<div id="formparte-datapagament" class="input-group" >
    			  			<span class="input-group-addon required"></span>
    						{{ form_widget(form.datapagament, { 'attr': {'class': 'form-control form-control-center formtime-calendar'} }) }}
    			  		</div>
    			  	</div>
    			  </div>
              {% else %}
				{% if not parte.esnova %}
					{% if admin %}
						<div class="col-md-1 col-last-right">
							<div class="form-group">
    							<label>Pagament</label>
    							<div id="formparte-pagament" class="input-group" >
    								<a class="confirmar-pagament btn btn-default" 
    									href="{{ path('FecdasBundle_confirmapagament', { 'id': parte.id }) }}"><i class="fa fa-euro"></i></a>
    							</div>  			 
	      			 		</div>
    	  			 	</div>
      		 		{% endif %}
      			 	{% if parte.isAllowEdit %}
      			 		<div class="{% if admin %}col-md-3{% else %}col-md-4{% endif %} col-last-right">
							<div class="form-group">
      			 				<label>&nbsp;</label>
    							<a id="formparte-novallicencia" class="btn btn-default" 
    								onclick="loadLlicencia.call(this, 0)"><i class="fa fa-plus"></i></a>
	      			 		</div>
    	  			 	</div>
      			 	{% endif %}
  			    {% endif %}
  			 {% endif %}
		</div>
         
		<div id="formparte-rest">	{{ form_rest(form) }}</div>
		
		<div id="error" class="sms-notice" style="display:none"> </div>
    {{ form_end(form) }}

    <div id="progressbar" style="display:none"><img src="/images/icon_progress.gif"></div>
    <div id="edicio-llicencies" >
	    {{ form_start(form, {'action': path('FecdasBundle_llicencia'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'formllicencia'}}) }}
			<div id="formparte-llicencia" class="parte-llicencia" style="display: none"></div>
			{#  include "FecdasBundle:Page:partellicencia.html.twig" #}
		{{ form_end(form) }}	
	</div>
    
	<div id="llista-llicencies" class="maxwidth-bloc">
	{% include "FecdasBundle:Page:partellistallicencies.html.twig" %}
	</div> 
	
    <div id="edicio-persona" class="finestra-overlay"></div>
     
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	
    <script type="text/javascript">
    
    $(document).ready(function() {
    
    	setMenuActive("menu-parte");
    	
    	{% if parte.esnova == true %}
    		$('#parte_tipus').val(0);
    		//if ($('#formparte-novallicencia option').length > 1) $('#formparte-novallicencia').hide();
    
    		var current = new Date();
   			var mindate = new Date( {{ datesparte['min']['any'] }}, {{ datesparte['min']['mes'] }} - 1, {{ datesparte['min']['dia'] }});	
    		var maxdate = new Date ( {{ datesparte['max']['any'] }}, {{ datesparte['max']['mes'] }} - 1, {{ datesparte['max']['dia'] }});
    		initDateTimePicker ( 
    			$( '#parte_dataalta' ), 
    			mindate, 
    			maxdate, 
    			current, 
    			'dataalta-picker', 
    			true,
    			function (ct) {
    				var url = "{{ path('FecdasBundle_gettipuspartes') }}";
    				
    				queryParteTipus(url, $("select#parte_club").val(), ct, 
    	    		function( data ) {
    	        		//callbackko
    	        		
    					$('select#parte_tipus').html(data); 
    					$('#parte_any').val(ct.getFullYear());

    					if ($('select#parte_tipus').val() != "") {
    						loadLlicencia(0);
    					} else {
    						if ($.browser.msie) $('#formparte-llicencia').hide(); 
    	    				else $('#formparte-llicencia').stop().slideUp('fast');
    	    			}
    	        	});
    			}
    		);
    		
    		
    	{% endif %} 
    	
    	{% if parte.allowedit == true %}
    		reloadParteTipus();
    	{% endif %} 

    	// Comanda filtre clubs disponible per admin's
		{% if admin == true  %} 

			if ($("select#parte_club option").length > 1) {
    			$("select#parte_club").select2({
    				minimumInputLength: 2,
    				allowClear: true,
    				placeholder: 'Escollir club'
    			});
			}

			$("select#parte_club").change(function() {

				var url = "{{ path('FecdasBundle_gettipuspartes') }}";
				
				queryParteTipus(url, $(this).val(), $( '#parte_dataalta' ).datetimepicker('getValue'), function( data ) {
	        		//callbackko
	        		
					$('select#parte_tipus').html(data); 

					if ($('select#parte_tipus').val() != "") {
						loadLlicencia(0);
					} else {
						if ($.browser.msie) $('#formparte-llicencia').hide(); 
						else $('#formparte-llicencia').stop().slideUp('fast');
					}
	        	});
				
		    });
			
		{% endif %}
    	
    	removeLlicenciaClick();
    
    	$('.confirmar-pagament').click(function(e) {
    		e.preventDefault();
    		confirmarPagament($(this).attr("href"), "Confirmació de pagament");
    	});
    
    	tramitarPagamentButton("#formparte-payment", "{{ iban }}" );
    	
    	showResumParteDetall();
    
    	//sortLlista("col-listheader", "list-data");
    
    	/*$('.table-scroll').each(function() {
    		if ($(this).hasOverflowY()) {
    			$(this).css({"width":"101.5%"});
    		}
    	});*/
    
    
    	if ($("#parte_tipus option").length == 1) {
    	/* Només si hi ha disponible més d'una llicència */
    		$("#help-tipusparte").hide();
    	} else {
    		helpBubbles("#help-tipusparte", '<p align="left" style="text-decoration: underline"><b>Llicències federatives habilitades per competir</b></p>\
    			<p align="left"><b>A</b>: Llicència federativa anual fins a 31/12.</p>\
    			<p align="left"><b>AC</b>: Llicència federativa habilitada per competició temporada, fins 31/08</p>\
    			<p align="left"><b>AE</b>: Llicència federativa 365 dies a partir de l\'alta.</p>\
    			<p align="left"><b>AQ</b>: Llicència federativa Reduïda, darrer Quatrimestre, des del 01/09 fins 31/12. <br/>Habilitada per competició temporada</p>\
    			<p align="left" style="text-decoration: underline"><b>Assegurances no habilitades per competir</b></p>\
    			<p align="left"><b>B</b>: Assegurança federativa anual fins a 31/12.</p>\
    			<p align="left"><b>B 365</b>: Assegurança federativa 365 dies a partir de l\'alta. <br/>\
    			Per a bussejadors o instructors que no tenen una titulació FECDAS/CMAS. <br/>\
    			No habilitada per competició ni per fer cursos federats.</p>\
    			<p align="left"><b>D</b>: Assegurança per un dia.</p>');
    	};	

    	$('#llista-llicencies').on('change', '#parte_baixes_checkall', function () {
    		var checked = $(this).is(':checked');
    		if (checked) {
    			$('.check-llicencia-remove:not(:checked)').each(function(){ 
    				this.checked = true; 
    			});				
    		} else {
    			$('.check-llicencia-remove:checked').each(function(){ 
    				this.checked = false; 
    			});
    		};
    	});

    	$('#llista-llicencies').on('click', '#button-llicencies-remove', function (e) {	
    		e.preventDefault();
    
    		var url = $(this).attr('href');
    		var idsLlicencies = [];
    		// Comprovar que hi hagi alguna llicències seleccionada
    		$('input.check-llicencia-remove').each( function() {
    			if ( $(this).is(':checked') ) {
    				var idCurrent = $(this).attr('data-id');
    				idsLlicencies.push(idCurrent);
    			}
    	    });
    
    		if (idsLlicencies.length == 0) {
    			dialegError("Error", "No hi ha cap llicència seleccionada", 400, 0);
    			return false;
    		}
    
    		var strHtml = '<p>Segur que vols anul·lar les llicències?</p>';
    		/*strHtml += "   <p>Data factura anul·lació<br/>";
    		strHtml += "	  <input type='text' id='datafacturacio' disabled='disabled'/>";
    		strHtml += "   </p>";*/
    		
    		dialegConfirmacio( strHtml, "Abans de continuar...", 0, 400, function() {
    			//url += '&datafacturacio='+$('#datafacturacio').val()+'&llicencies='+encodeURIComponent(JSON.stringify(idsLlicencies));
    			url += '&llicencies='+encodeURIComponent(JSON.stringify(idsLlicencies));
        		window.location = url;	
            }, 
            function() { closeDialegConfirmacio(); /* Cancel */ }, 
            function() {
    
            	/*var current = new Date();
        		var mindate = new Date (current.getFullYear()-1, current.getMonth(), current.getDay());
        		var maxdate = new Date (current.getFullYear()+1, current.getMonth(), current.getDay());
        		initDateTimePicker ( 
        			$( '#datafacturacio' ), 
        			mindate, 
        			maxdate, 
        			current, 
        			'facturacio-picker', 
        			false,
        			function (selectedDateTime) {
        				
        			}
        		);*/
            });
    		
    	});
    	
    	$('#llista-llicencies').on('change', '#parte_plastics_checkall', function () {
    		var checked = $(this).is(':checked');
    		if (checked) {
    			$('.check-llicencia-plastic:not(:checked):not(:disabled)').each(function(){
    				this.checked = true; 
    			});				
    		} else {
    			$('.check-llicencia-plastic:checked:not(:disabled)').each(function(){
    				this.checked = false; 
    			});
    		};
    	});

    	$('#llista-llicencies').on('click', '#button-llicencies-plastic', function (e) {	
    		e.preventDefault();
    
    		var url = $(this).attr('href');
    		var idsLlicencies = [];
    		// Comprovar que hi hagi alguna llicències seleccionada
    		$('input.check-llicencia-plastic').each( function() {
    			if ( $(this).is(':checked') ) {
    				var idCurrent = $(this).attr('data-id');
    				idsLlicencies.push(idCurrent);
    			}
    	    });
    
    		if (idsLlicencies.length == 0) {
    			dialegError("Error", "No hi ha cap llicència seleccionada per imprimir", 400, 0);
    			return false;
    		}

    		url += '&llicencies='+encodeURIComponent(JSON.stringify(idsLlicencies));
    		var urlComanda = url+'&action=consultar';
    		
    		$.get(urlComanda, function(data) {

				var html = '<div class="cistella-resum">';
				html += '<h3><i class="fa fa-shopping-cart"></i> Impressió de targetes</h3>';
				html += data+'</div>';
        		
        		dialegConfirmacio( html, "Abans de continuar...", 0, 500, function() {

        			url += '&action=desar'+'&transport='+($('#form_transport_0').is(':checked')?1:0);
            		window.location = url;	
                }, 
                function() { closeDialegConfirmacio(); /* Cancel */ }, 
                function() { transportCistella(); }
                );
        		
        	}).fail( function(xhr, status, error) {
        		 var sms = smsResultAjax('KO', xhr.responseText);
        		 
        		 $("#list-forms").prepend(sms);
        	});
    	});
    });

</script>


{% endblock %}

