{% for flashMessage in app.session.flashbag.get('sms-notice') %}
    <div class="sms-notice">
		{{ flashMessage }}
  	</div>	
{% endfor %}

{% if parte.esnova != true %}
<div class="table-header">
	<div id="summary-header" class="row">
		<div id="header-totals" class="col-listheader col-md-8">Resum - 
		Llicències vàlides des de <time datetime="{{ parte.dataalta|date('c') }}">{{ parte.dataalta|date('d/m/Y') }}</time>
	  	fins a <time datetime="{{ parte.datacaducitat|date('c') }}">{{ parte.datacaducitat|date('d/m/Y') }}</time></div>
	   	<div id="parte-preu" class="col-listheader col-md-4">Total: {{ parte.getTotalParte( admin )|raw }}</div>
	</div>
</div>
<div class="table-noscroll">
	<ul id="summary-data">
		<li class="data-totals data-detall">
			<div class="data-detall-cell parte-titol">Per categoria</div>
	  		<div class="data-detall-cell parte-totals">Aficionats</div>
	   		<div class="data-detall-cell parte-totals">Infantils</div>
	   		<div class="data-detall-cell parte-totals">Tècnics</div>
	   	</li>
		<li class="data-totals data-detall">
			<div class="data-detall-cell parte-totals" style="text-align:left">   	
			<!-- <a id="parte-resum-more-show" href="javascript:void(0);"><img style="cursor: pointer;" src="{{ asset('images/icon_dropdown.png') }}"></a>
	   		<a id="parte-resum-more-hide" href="javascript:void(0);" style="display:none"><img style="cursor: pointer;" src="{{ asset('images/icon_dropup.png') }}"></a> -->
			</div>
	  		<div class="data-detall-cell parte-totals">{{ parte.numAficionats }}</div>
	   		<div class="data-detall-cell parte-totals">{{ parte.numInfantils }}</div>
	   		<div class="data-detall-cell parte-totals">{{ parte.numTecnics }}</div>
	   	</li>
	</ul>
   	{% if (parte.isAsseguranca != true) %}
	<ul id="summary-data-hidden">
	   	<li class="data-detall">
			<div class="data-detall-cell parte-titol">Per activitat</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Apnea</div><div class="parte-totals-n"> {{ parte.getNumActivitat('apnea') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Natació amb Aletes</div><div class="parte-totals-n"> {{ parte.getNumActivitat('natacio') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Video Subaquàtic</div><div class="parte-totals-n"> {{ parte.getNumActivitat('videosub') }}</div></div>
	   	</li>
		<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Escafandrisme</div><div class="parte-totals-n"> {{ parte.getNumActivitat('escafandrisme') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Biologia i Medi</div><div class="parte-totals-n"> {{ parte.getNumActivitat('biologia') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Rugbi Subaquàtic</div><div class="parte-totals-n"> {{ parte.getNumActivitat('rugbi') }}</div></div>
	   	</li>
		<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Foto Sub Apnea</div><div class="parte-totals-n"> {{ parte.getNumActivitat('fotosubapnea') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Orientació</div><div class="parte-totals-n"> {{ parte.getNumActivitat('orientacio') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Busseig Esportiu</div><div class="parte-totals-n"> {{ parte.getNumActivitat('besportiu') }}</div></div>
	   	</li>
	   	<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Fotografia Sub.</div><div class="parte-totals-n"> {{ parte.getNumActivitat('fotocine') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Pesca Submarina</div><div class="parte-totals-n"> {{ parte.getNumActivitat('pesca') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Busseig Ampolles</div><div class="parte-totals-n"> {{ parte.getNumActivitat('bampolles') }}</div></div>
	   	</li>
	   	<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Hockei Sub</div><div class="parte-totals-n"> {{ parte.getNumActivitat('hockey') }}</div></div>
	   	</li>
	</ul>
	{% endif %} 
</div>
{% endif %}   	

<div class="row">
    <div class="col-md-12">
    	<div id="list-llicenciesllista" class="table-scroll table-fixheader">
        	<table class="table">	
           		<thead>
       			   	<tr class="header">
    					<th class="header-llicenciaparteid th-listheader col-listheader collistheader-noorder hidden">{{ parte.id }}</th>
    					<th class="header-llicenciaparteindex th-listheader col-listheader collistheader-noorder">#</th>
    				   	<th class="header-llicenciapersona th-listheader col-listheader data-detall-cell-left collistheader-noorder">Llicències</th>
    				   	<th class="header-llicenciadni th-listheader col-listheader collistheader-noorder">DNI</th>
    				   	<th class="header-llicenciamail th-listheader col-listheader data-detall-cell-left collistheader-noorder">Correu</th>
    				   	<th class="header-llicenciacategoria th-listheader col-listheader collistheader-noorder">Categoria</th>
    				   	{% if not parte.esNova() and parte.perImprimir %}
        				   	<th class="header-llicenciacheckplastic th-listheader col-listheader data-detall-cell-center">
        				   		<i class="fa fa-address-card-o fa-1x green"></i><br/>
        				   		<div class="checkbox-inline"><label><input id="parte_plastics_checkall" name="parte_plastics_checkall" value="0" type="checkbox"> <i class="fa fa-check-circle fa-1x"></i></label></div>
        				   	</th>
    				   	{% endif %}
    				   	{% if not parte.esNova() and admin == true %}
        				   	<th class="header-llicenciacheck th-listheader col-listheader data-detall-cell-center">
        				   		<i class="fa fa-remove fa-1x red"></i><br/>
        				   		<div class="checkbox-inline"><label><input id="parte_baixes_checkall" name="parte_baixes_checkall" value="0" type="checkbox"> <i class="fa fa-check-circle fa-1x"></i></label></div>
        				   	</th>
    				   	{% endif %}
    				   	<th class="header-llicenciaactions th-listheader col-listheader collistheader-noorder"> </th>
    				</tr>
    	   		</thead>
       		   	<tbody>
                {% for llicencia in parte.llicenciessortedbyname %}
    				<tr class="data-detall">
      					<td class="data-detall-cell llicencia-id hidden">{{ llicencia.id }}</td>
       					<td class="data-detall-cell llicencia-index">{{ loop.index }}</td>
      					<td class="data-detall-cell data-detall-cell-left llicencia-persona">{{ llicencia.persona.cognomsNom }}</td>
       					<td class="data-detall-cell llicencia-dni">{{ llicencia.persona.dni }}</td>
       					<td class="data-detall-cell data-detall-cell-left llicencia-mail">{{ llicencia.persona.mail }}</td>
       					<td class="data-detall-cell llicencia-categoria">{{ llicencia.categoria.categoria }}</td>
       				   	{% if not parte.esNova() and parte.perImprimir %}
           					<td class="data-detall-cell llicencia-checkplastic">
           					    {% if not llicencia.impresa and not llicencia.imprimir %}
                   					<div class="checkbox-inline"><input type="checkbox" autocomplete="off" class="check-llicencia-plastic" value="0" data-id="{{ llicencia.id }}" name="form[llicencies][{{ loop.index0 }}][plastic]" id="form_llicencies_{{ loop.index0 }}_plastic"></div>
                   				{% else %}
                   					<div class="checkbox-inline"><input type="checkbox" autocomplete="off" class="check-llicencia-plastic" value="1" checked="checked" data-id="{{ llicencia.id }}" name="form[llicencies][{{ loop.index0 }}][plastic]" id="form_llicencies_{{ loop.index0 }}_plastic" disabled="disabled"></div>
                   				{% endif %}
           					</td>
       					{% endif %}
       					{% if not parte.esNova() and admin %}
           					<td class="data-detall-cell llicencia-checkllicencia">
           						<div class="checkbox-inline"><input type="checkbox" class="check-llicencia-remove" value="0" data-id="{{ llicencia.id }}" name="form[llicencies][{{ loop.index0 }}][baixa]" id="form_llicencies_{{ loop.index0 }}_baixa"></div>
           					</td>
       					{% endif %}
       					<td class="data-detall-cell data-detall-cell-right llicenciaactions">
       						{% if not parte.esNova() and parte.allowPrintLlicencia == true %}
           						<a href="{{ path('FecdasBundle_licensetopdf', { 'id': llicencia.id}) }}" alt="llicència" title="llicència"><i class="fa fa-credit-card fa-1x orange"></i></a>
           					{% endif %}
           					<a class="label-edit-llicencia link" href="javascript:loadLlicencia({{ llicencia.id }});" alt="editar" title="editar"><i class="fa fa-search fa-1x blue"></i></a>
           					{% if not parte.esNova() and admin %}
           						<a href="{{ path('FecdasBundle_llicencia') }}" value="{{ llicencia.id }}" class="link remove-llicencia" name="remove-llicencia" alt="esborrar" title="esborrar"><i class="fa fa-remove fa-1x red"></i></a>
           					{% endif %}
       					</td>
    				</tr>
    	   		{% else %}
        			{% set colspan = 7 %}
                    {% if admin == true %}{% set colspan = colspan + 1 %}{% endif %}
                    {% if parte.perImprimir %}{% set colspan = colspan + 1 %}{% endif %}
        			<tr class="data-detall">
    					<td class="data-detall-cell hidden">&nbsp;</td>
    					<td class="data-detall-cell" 
    						colspan="{{ colspan }}"><div class="sms-notice">No hi ha cap llicència</div>
    					</td>
    				</tr>
        		{% endfor %} 
        		</tbody>
        	</table>
        </div>
    </div>
</div>


<div class="row">
	<div class="col-md-7"><div class="sms-footer">Per esborrar alguna llicència cal posar-se en contacte amb la Federació</div></div>
	{% if parte.numLlicencies > 0 %}
		<div class="col-md-5 col-last-right">
			{% if parte.perImprimir %}
				<a id="button-llicencies-plastic" href="{{ path('FecdasBundle_plasticllicencies', { 'id': parte.id}) }}" class="btn btn-default"><i class="fa fa-address-card-o green"></i> Impressió targetes</a>
			{% endif %}
			{% if admin == true %}
				<a id="button-llicencies-remove" href="{{ path('FecdasBundle_baixallicencies', { 'id': parte.id}) }}" class="btn btn-default"><i class="fa fa-trash red"></i> Anul·lar seleccionades</a>
			{% endif %}
		</div>
	{% endif %}
</div>
	

