<form id="formpersona" action="{{ path('FecdasBundle_persona') }}" method="post" {{ form_enctype(formpersona) }}  class="modalform appform container-fluid">
	<a class="close" href="#"><img src="{{ asset('images/close.png') }}" style="cursor: pointer;"></a>
	<h1>Dades personals<div id="sms-mailpersona">* Cal omplir <strong>l'adreça de correu</strong> per poder fer la tramitació</div></h1>
	<div class="row">
		{{ form_widget(formpersona.id, { 'id': 'parte_persona_id' }) }}
		<div id="formpersona-nom" class="col-md-3  col-xs-3">
		  	<div class="form-group">
				{{ form_label(formpersona.nom, 'Nom', { 'label_attr': {'class': 'sr-only'} }) }}
				{{ form_widget(formpersona.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
			</div>{{ form_errors(formpersona.nom) }}
		</div>
		<div id="formpersona-cognoms"  class="col-md-5  col-xs-5">
			{{ form_label(formpersona.cognoms, 'Cognoms', { 'label_attr': {'class': 'sr-only'} }) }}
			{{ form_widget(formpersona.cognoms, { 'attr': {'class': 'form-control', 'placeholder': 'Cognoms'} }) }}
		</div> 
		<div id="formpersona-dni" class="col-md-4  col-xs-4">
	  		<div class="form-group">
		  		<div class="input-group">
		  			<span class="input-group-addon"></span>				
					{{ form_label(formpersona.dni, 'DNI', { 'label_attr': {'class': 'sr-only'} }) }}
					{{ form_widget(formpersona.dni, { 'attr': {'class': 'form-control', 'placeholder': 'DNI'} }) }}
					<span id="help-dni" class="input-group-addon input-group-addon-action">
						<a class="" href="javascript:void(0);">
							<i class="fa fa-info-circle fa-lg"></i>
						</a>
					</span>
				</div>
			</div>			
		</div>
	</div>
	<div class="row">
		<div id="formpersona-datanaixement" class="col-md-4  col-xs-4">
		  	<div class="form-group">
		  		<div  class="input-group">
			  		<span class="input-group-addon"></span>
					{{ form_label(formpersona.datanaixement, 'Data de naixement', { 'label_attr': {'class': 'sr-only'}}) }}
					{{ form_widget(formpersona.datanaixement, { 'attr': {'class': 'form-control form-control-center', 'placeholder': 'Data de naixement' } }) }}
					<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
				</div>
			</div>
		</div>
		<div id="formpersona-sexe" class="col-md-4  col-xs-4">
	  		<label class="radio-inline">
				{{ form_widget(formpersona.sexe[0]) }} Home
			</label>
			<label class="radio-inline">
				{{ form_widget(formpersona.sexe[1]) }} Dona
			</label>
		</div>
		<div id="formpersona-estranger" class="col-md-offset-2 col-md-2 col-xs-offset-2 col-xs-2">
		  	<div class="checkbox">
		    	<label>
		     		{{ form_widget(formpersona.estranger) }} Estranger? 
		    	</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="formpersona-tlf1" class="col-md-3  col-xs-3">
		  	<div class="form-group">
		  		<div class="input-group">
			  		<span class="input-group-addon"><span class="fa fa-phone fa-1x"></span></span>
					{{ form_label(formpersona.telefon1, 'Telf1', { 'label_attr': {'class': 'sr-only'} }) }}
					{{ form_widget(formpersona.telefon1, { 'attr': {'class': 'form-control', 'placeholder': 'Telèfon' } }) }}
					<span class="input-group-addon"></span>
				</div>
			</div>
		</div>
		<div id="formpersona-tlf2" class="col-md-3  col-xs-3">
		  	<div class="form-group">
		  		<div class="input-group">
			  		<span class="input-group-addon"><span class="fa fa-mobile fa-1x"></span></span>
					{{ form_label(formpersona.telefon2, 'Telf2', { 'label_attr': {'class': 'sr-only'} }) }}
					{{ form_widget(formpersona.telefon2, { 'attr': {'class': 'form-control', 'placeholder': 'Telèfon'} }) }}
					<span class="input-group-addon"></span>
				</div>
			</div>
		</div>
		<div id="formpersona-mail"  class="col-md-6  col-xs-6">
		  	<div class="form-group">
		  		<div class="input-group">
			  		<span class="input-group-addon"><span class="fa fa-mail fa-1x"></span></span>
					{{ form_label(formpersona.mail, 'Adreça electrònica 1; Adreça electrònica 2; ...', { 'label_attr': {'class': 'sr-only'} }) }}
					{{ form_widget(formpersona.mail, { 'attr': {'class': 'form-control', 'placeholder': 'Adreça electrònica 1; Adreça electrònica 2; ...'} }) }}
					<span class="input-group-addon"></span>
				</div>
			</div>
		</div>
	</div> 
	<div class="row">
	 	<div id="adreca-header" class="col-md-12  col-xs-12">
			<h3>Adreça<div id="sms-mailpersona">Es poden indicar vàries adreces de correu separades per  <strong>';'</strong></div></h3>
		</div>
		<div id="formpersona-addradreca" class="col-md-6  col-xs-6">
		  	<div class="form-group">
				{{ form_label(formpersona.addradreca, 'Adreça', { 'label_attr': {'class': 'sr-only'} }) }}
				{{ form_widget(formpersona.addradreca, { 'attr': {'class': 'form-control', 'placeholder': 'Adreça'} }) }}
			</div>
		</div>
		<div id="formpersona-addrpob" class="col-md-4  col-xs-4">
		  	<div class="form-group">
				{{ form_label(formpersona.addrpob, 'Població', { 'label_attr': {'class': 'sr-only required'} }) }}
				{{ form_widget(formpersona.addrpob, { 'attr': {'class': 'form-control', 'placeholder': 'Població'}, 'id': 'parte_persona_addrpob'  }) }}
			</div>
		</div>
		<div id="formpersona-addrcp" class="col-md-2  col-xs-2">
		  	<div class="form-group">
				{{ form_label(formpersona.addrcp, 'CP', { 'label_attr': {'class': 'sr-only required'} }) }}
				{{ form_widget(formpersona.addrcp, { 'attr': {'class': 'form-control', 'placeholder': 'CP'}, 'id': 'parte_persona_addrcp'  }) }}
			</div>
		</div>
	</div> 
	<div class="row">
		<div id="formpersona-addrprovincia" class="col-md-3  col-xs-3">
		  	<div class="form-group">
				{{ form_label(formpersona.addrprovincia, 'Província', { 'label_attr': {'class': 'sr-only required'} }) }}
				{{ form_widget(formpersona.addrprovincia, { 'attr': {'class': 'form-control  form-control-center', 'placeholder': 'Província'}, 'separator': '=====', 'id': 'parte_persona_addrprovincia'  }) }}
			</div>
		</div>
		<div id="formpersona-addrcomarca" class="col-md-3  col-xs-3">
		  	<div class="form-group">
				{{ form_label(formpersona.addrcomarca, 'Comarca', { 'label_attr': {'class': 'sr-only required'} }) }}
				{{ form_widget(formpersona.addrcomarca, { 'attr': {'class': 'form-control  form-control-center', 'placeholder': 'Comarca'}, 'id': 'parte_persona_addrcomarca'  }) }}
			</div>
		</div>
		<div id="formpersona-addrnacionalitat" class="col-md-offset-3 col-md-3 col-xs-offset-3 col-xs-3">
		  	<div class="form-group">
				{{ form_label(formpersona.addrnacionalitat, 'Nacionalitat', { 'label_attr': {'class': 'sr-only required'} }) }}
				{{ form_widget(formpersona.addrnacionalitat, { 'attr': {'class': 'form-control', 'placeholder': 'Nacionalitat'}, 'id': 'parte_persona_addrnacionalitat'  }) }}
			</div>
		</div>
	</div> 
	<div class="row">
		<div id="formpersona-cancel" class="persona-submit form-right">	
			<input type="submit" id="formpersona-button-cancel" class="form-button-cancel forminput-inside" value="Cancel·lar" name="formpersona-button-cancel" />
		</div>
		<div id="formpersona-remove" class="persona-submit form-right">	
			<input type="submit" id="formpersona-button-remove" class="forminput-inside" value="Esborrar" name="formpersona-button-remove"/>
		</div>
		<div id="formpersona-submit" class="persona-submit form-right">	
			<input type="submit" id="formpersona-button-save" class="forminput-inside" value="Desar" name="formpersona-button-save"/>
		</div>
	</div>	
	<div id="error-persona"></div>
	<a id="formpersona-autocompleters" href="{{ path('FecdasBundle_ajaxpoblacions') }}" style="display:none">
	<div id="formpersona-rest">	{{ form_rest(formpersona) }}</div>
</form>
