{% form_theme formpersona 'FecdasBundle:Includes:formtheming.html.twig' %}

{% block formpersona_start %}
{{ form_start(formpersona, {'action': path('FecdasBundle_persona'), 'method': 'POST', 'attr': {'class': 'modalform appform container-fluid', 'id':'formpersona'}}) }}
	<a class="close" href="#"><img src="{{ asset('images/close.png') }}" style="cursor: pointer;"></a>
	<h1>Dades personals<div id="sms-mailpersona">* Cal omplir <strong>l'adreça de correu</strong> per poder fer la tramitació</div></h1>
{% endblock %}

	{% block formpersona_principal %}
	<div class="row errors-persona"><div class="col-md-12 block-errors">{% include 'FecdasBundle:Includes:messages.html.twig' %}</div></div>
	<div class="row dades-persona">
		<div class="col-md-10 col-sm-10 col-xs-12">
		{{ form_widget(formpersona.id) }}
			<div class="row">
				<div class="col-md-8 col-sm-7 col-xs-12">
					<div class="row">
        				<div id="formpersona-nom" class="col-md-5 col-sm-5 col-xs-5">
        				  	<div class="form-group">
        						{{ form_label(formpersona.nom, 'Nom*', { 'label_attr': {'class': 'sr-only'} }) }}
        						{{ form_widget(formpersona.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom*', 'tabindex': 1} }) }}
        						{{ form_errors(formpersona.nom) }}
        					</div>
        				</div>
        				<div id="formpersona-cognoms"  class="col-md-7 col-sm-7 col-xs-7">
        					<div class="form-group">
            					{{ form_label(formpersona.cognoms, 'Cognoms*', { 'label_attr': {'class': 'sr-only'} }) }}
            					{{ form_widget(formpersona.cognoms, { 'attr': {'class': 'form-control', 'placeholder': 'Cognoms*', 'tabindex': 2} }) }}
            					{{ form_errors(formpersona.cognoms) }}
        					</div>
        				</div> 
        				
        				<!-- <div class="clearfix visible-sm-block visible-xs-block"></div> -->
        				
        				<div id="formpersona-datanaixement" class="col-md-6 col-sm-7 col-xs-10">
        				  	<div class="form-group">
        				  		<div  class="input-group">
        					  		<span class="input-group-addon"></span>
        							{{ form_label(formpersona.datanaixement, '*Data naixement', { 'label_attr': {'class': 'sr-only'}}) }}
        							{{ form_widget(formpersona.datanaixement, { 'attr': {'class': 'form-control form-control-center', 'placeholder': '*Data de naixement', 'tabindex': 4 } }) }}
        							<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
        							{{ form_errors(formpersona.datanaixement) }}
        						</div>
        					</div>
        				</div>
        				<div id="formpersona-sexe" class="col-md-6 col-sm-5 col-xs-12 bottom10">
        			  		<label class="radio-inline">
        						{{ form_widget(formpersona.sexe[0], { 'attr': {'tabindex': 5 } }) }} Home
        					</label>
        					<label class="radio-inline">
        						{{ form_widget(formpersona.sexe[1], { 'attr': {'tabindex': 6 } }) }} Dona
        					</label>
        				</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-5 col-xs-12">
					<div class="row">
        				<div id="formpersona-dni" class="col-md-12 col-sm-12 col-xs-10">
        			  		<div class="form-group">
        				  		<div class="input-group">
        				  			<span class="input-group-addon"></span>				
        							{{ form_label(formpersona.dni, 'DNI*', { 'label_attr': {'class': 'sr-only'} }) }}
        							{{ form_widget(formpersona.dni, { 'attr': {'class': 'form-control form-control-center', 'placeholder': 'DNI*', 'tabindex': 3} }) }}
        							<span id="help-dni" class="input-group-addon input-group-addon-action">
        								<a class="" href="javascript:void(0);">
        									<i class="fa fa-info-circle fa-lg"></i>
        								</a>
        							</span>
        							{{ form_errors(formpersona.dni) }}
        						</div>
        					</div>			
        				</div>
        				
        				{% block formpersona_estranger %}
        				<div id="formpersona-estranger" class="col-md-12 col-sm-12 col-xs-2">
        				  	<div class="checkbox">
        				    	<label>
        				     		{{ form_widget(formpersona.estranger, { 'attr': {'tabindex': 7 } }) }} Estranger? 
        				    	</label>
        					</div>
        				</div>
                        {% endblock %}
                	</div>
                </div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
    				<div class="row bottom10">
        				<div id="formpersona-tlf1" class="col-md-6 col-sm-6 col-xs-6">
        				  	<div class="form-group">
        				  		<div class="input-group">
        					  		<span class="input-group-addon"><span class="fa fa-phone fa-1x"></span></span>
        							{{ form_label(formpersona.telefon1, 'Telf1', { 'label_attr': {'class': 'sr-only'} }) }}
        							{{ form_widget(formpersona.telefon1, { 'attr': {'class': 'form-control', 'placeholder': 'Telèfon', 'tabindex': 8 } }) }}
        							<span class="input-group-addon"></span>
        							{{ form_errors(formpersona.telefon1) }}
        						</div>
        					</div>
        				</div>
        				<div id="formpersona-tlf2" class="col-md-6 col-sm-6 col-xs-6">
        				  	<div class="form-group">
        				  		<div class="input-group">
        					  		<span class="input-group-addon"><span class="fa fa-mobile fa-1x"></span></span>
        							{{ form_label(formpersona.telefon2, 'Telf2', { 'label_attr': {'class': 'sr-only'} }) }}
        							{{ form_widget(formpersona.telefon2, { 'attr': {'class': 'form-control', 'placeholder': 'Telèfon', 'tabindex': 9} }) }}
        							<span class="input-group-addon"></span>
        							{{ form_errors(formpersona.telefon2) }}
        						</div>
        					</div>
        				</div>
        				<div id="formpersona-mail"  class="col-md-12 col-sm-12 col-xs-12">
        				  	<div class="form-group">
        				  		<div class="input-group">
        					  		<span class="input-group-addon"><span class="fa fa-mail fa-1x"></span></span>
        							{{ form_label(formpersona.mail, 'Adreça electrònica 1; Adreça electrònica 2; ...', { 'label_attr': {'class': 'sr-only'} }) }}
        							{{ form_widget(formpersona.mail, { 'attr': {'class': 'form-control', 'placeholder': 'Adreça electrònica 1; Adreça electrònica 2; ...', 'tabindex': 9} }) }}
        							<span class="input-group-addon"></span>
        							<div class="input-subtext bottom10">Adreces de correu separades per  <strong>';'</strong></div>
        						</div>
        					</div>
        				</div>
    				</div>
				</div>
				
				<div id="formpersona-professio"  class="col-md-6 col-sm-12 col-xs-12">
				  	<div class="form-group">
				  		<div class="input-group">
					  		<span class="input-group-addon"><span class="fa fa-mail fa-1x"></span></span>
							{{ form_label(formpersona.professio, 'Professió', { 'label_attr': {'class': 'sr-only'} }) }}
							{{ form_widget(formpersona.professio, { 'attr': {'class': 'form-control', 'placeholder': 'Professió', 'tabindex': 10} }) }}
							<span class="input-group-addon"></span>
						</div>
					</div>
				</div>
				
			</div> 
		</div>
		<div class="col-md-2 col-sm-2 col-xs-12 foto-dadespersonals bottom25">
			{{ form_widget(formpersona.foto, { 'attr': {'class': 'foto-persona'} }) }} 
			{{ form_widget(formpersona.fotoupld) }} 
			<div class="galeria-upload">
				{% if persona.foto is not null and persona.foto.width > 0 and persona.foto.height > 0 %}
			   		<div class="image-upload">
			   			<img src="{{ persona.foto.webPath }}" alt="{{ persona.foto.titol }}" width="30px"/>
			   		</div>
			   	{% else %}
					<div class="image-upload"><span class="box-center-txt">Pujar foto<br/>(click)</span></div>
				{% endif %}
			</div>
			{% if persona.foto is not null and persona.foto.width > 0 and persona.foto.height > 0 %}
				<div class="galeria-remove-foto">
					<a class="remove-foto link" href="{{ path('FecdasBundle_esborrararxiufederat', { 'persona': persona.id, 'arxiu':0, 'foto': 1, 'certificat': 0  } ) }}" tabindex="11"><span class="fa fa-trash fa-1x gray"></span></a>
				</div>
			{% endif %}
		</div>
	</div>
	{% endblock %}
	{% block formpersona_adreca %}
	<!-- <div class="row">
		<div id="adreca-header" class="col-md-12 col-sm-12 col-xs-12">
			<h3>Adreça</h3>
		</div>
	</div> -->
	<div class="row adreca-persona">
		<div id="formpersona-addradreca" class="col-md-6 col-sm-6 col-xs-12">
		  	<div class="form-group">
		  		<div class="input-group">
					 <span class="input-group-addon">&nbsp</span>
				    {{ form_label(formpersona.addradreca, 'Adreça', { 'label_attr': {'class': 'sr-only'} }) }}
				    {{ form_widget(formpersona.addradreca, { 'attr': {'class': 'form-control', 'placeholder': 'Adreça', 'tabindex': 12} }) }}
				</div>
			</div>
		</div>
		<div id="formpersona-addrpob" class="col-md-4 col-sm-6 col-xs-12">
		  	<div class="form-group">
		  		<div class="input-group">
					 <span class="input-group-addon">Població</span>
				    {{ form_label(formpersona.addrpob, 'Població', { 'label_attr': {'class': 'sr-only required'} }) }}
				    {{ form_widget(formpersona.addrpob, { 'attr': {'class': 'form-control', 'placeholder': 'Població', 'tabindex': 13} }) }}
				</div>
			</div>
		</div>
		<div id="formpersona-addrcp" class="col-md-2 col-sm-6 col-xs-8">
		  	<div class="form-group">
		  		<div class="input-group">
					 <span class="input-group-addon">CP</span>
				    {{ form_label(formpersona.addrcp, 'CP', { 'label_attr': {'class': 'sr-only required'} }) }}
				    {{ form_widget(formpersona.addrcp, { 'attr': {'class': 'form-control form-control-center', 'placeholder': 'CP', 'tabindex': 14}  }) }}
				</div>
			</div>
		</div>
		<div class="clearfix visible-md-block"></div>
		<div id="formpersona-addrprovincia" class="col-md-4 col-sm-6 col-xs-12">
		  	<div class="form-group">
		  		<div class="input-group">
					 <span class="input-group-addon">Província</span>
    				{{ form_label(formpersona.addrprovincia, 'Província', { 'label_attr': {'class': 'sr-only required'} }) }}
    				{{ form_widget(formpersona.addrprovincia, { 'attr': {'class': 'form-control', 'placeholder': 'Província', 'tabindex': 15}, 'separator': '=====' }) }}
				</div>
			</div>
		</div>
		<div id="formpersona-addrcomarca" class="col-md-5 col-sm-8 col-xs-12">
		  	<div class="form-group">
		  		<div class="input-group">
					 <span class="input-group-addon">Comarca</span>
    				{{ form_label(formpersona.addrcomarca, 'Comarca', { 'label_attr': {'class': 'sr-only required'} }) }}
    				{{ form_widget(formpersona.addrcomarca, { 'attr': {'class': 'form-control', 'placeholder': 'Comarca', 'tabindex': 16} }) }}
				</div>
			</div>
		</div>
		<div id="formpersona-addrnacionalitat" class="col-md-3 col-sm-4 col-xs-8">
		  	<div class="form-group">
				{{ form_label(formpersona.addrnacionalitat, 'Nacionalitat', { 'label_attr': {'class': 'sr-only required'} }) }}
				{{ form_widget(formpersona.addrnacionalitat, { 'attr': {'class': 'form-control', 'placeholder': 'Nacionalitat', 'tabindex': 17} }) }}
			</div>
		</div>
	</div> 
	{% endblock %}
	{% block formpersona_altres %}
	<div class="row">
		<div class="col-md-12">
			<div id="tabs-persona">
    	  		<ul>
    	    		<li><a href="#tabs-llicencies">Llicències</a></li>
    	    		<li><a href="#tabs-titulacions">Titulacions CMAS</a></li>
    	    		<li><a href="#tabs-altrestitulacions">Altres titulacions</a></li>
    	    		<li><a href="#tabs-docencies">Docències</a></li>
    	    		<li><a href="#tabs-arxius">Arxius...</a></li>
    			</ul>
    			<div id="tabs-llicencies">
    				<div class="row">
    					{% if admin %}
    						{% set llicencies = persona.getLlicenciesSortedByDate(true, true) %}
    					{% else %}
    						{% set llicencies = persona.metapersona.getLlicenciesSortedByDate() %}
    					{% endif %}
    					{% include 'FecdasBundle:Titulacions:llicencieshistorial.html.twig' %}
    				</div>
    			</div>
    			<div id="tabs-titulacions">
    				{% set titulacions = persona.metapersona.getTitulacionsSortedByDate( admin ) %}
    				{% set altrestitulacions = '' %}
    			    <div class="row">
    					{% include 'FecdasBundle:Titulacions:titulacionshistorial.html.twig' %}
    				</div>
    			</div>
    			<div id="tabs-altrestitulacions">
    				{% set altrestitulacions = persona.metapersona.getAltrestitulacions() %}
    				{% set titulacions = '' %}
    			    <div class="row">
    					{% include 'FecdasBundle:Titulacions:titulacionshistorial.html.twig' %}
    				</div>
    				<div class="space20"></div>
    			    <div class="row">
    					<div class="col-md-offset-2 col-md-10 col-xs-12 col-last-right">
    						<div class="form-group">
    							<div class="input-group">
    								{{ form_widget(formpersona.altrestitolscurrent) }}
    								<div class="input-group-addon">Altres titulacions</div>
    								{{ form_widget(formpersona.altretitol, { 'attr': {'class': 'form-control'} }) }}
    								<span class="input-group-btn">
    									<a class="add-titol-extern btn btn-default" href="javascript:void(0);">Afegir <span class="fa fa-plus fa-1x green"></span></a>
    								</span>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			
    			<div id="tabs-docencies">
    				{% set docencies = [] %}
    				<div class="row">
    					{% include 'FecdasBundle:Titulacions:docencieshistorial.html.twig' %}
    				</div>
    			</div>
    			<div id="tabs-arxius">
    			{% block formpersona_arxius %}
    				{% set arxius = persona.arxius %}
    			    <div class="row">
    			    	<div class="col-md-5">
    		    			<h4>Carregar arxiu</h4>
    		    			<div class="form-group">
    		    			    {{ form_widget(formpersona.arxiu) }} 
    							{{ form_widget(formpersona.arxiuupld, { 'attr': {'class': 'form-control hidden'} }) }}
    							<div class="file-upload">
       								<div class="input-group">
       									<span class="input-group-addon"></span>
       									<input id="upload-file-info" class="upload-file-info form-control" type="text" tabindex="18">
       							        <span class="input-group-addon input-group-addon-action">
       							        	<a class="input-append" href="javascript:void(0);"><i class="fa fa-folder-open fa-1x orange"></i></a>
       							        </span>
       							        {# if persona.certificat == null %}<span class="input-subtext blue">Certificat mèdic no disponible</span>{% endif #}
       						        </div>
       						        {#
       						        <div class="file-info historial-certificat space10">
       								{% if persona.certificat != null %}
       									<span class="blue">descarregar certificat</span> 
       									<a href="{{ persona.certificat.webPath }}" target="_blank" title="{{ persona.certificat.titol }}" class="link">
       										  <span class="fa fa-download fa-1x orange"></span> 
       									</a>
       									<a class="remove-file link" href="javascript:void(0);"><span class="fa fa-trash fa-1x red"></span></a>
       								{% endif %}
       								</div>
       								#}
    							</div>
    						</div>
    			    	</div>
    			    	<div class="col-md-7">
    			    		<div class="arxius-historial">
    							<h4>Arxius personals</h4>
    							<div class="table-responsive taula-historial">
    							<table class="table">
    								<tbody>
    								{% for arxiu in arxius %}
    									<tr>
    										<td class="historial-title"><span>{{ arxiu.titol }}</span></td>
    										<td class="historial-path"><a href="{{ arxiu.webPath }}" target="_blank" title="{{ arxiu.titol }}" class="link">{{ arxiu.path }}</a></td>
    										<td class="historial-icona">
    											<a href="{{ arxiu.webPath }}" target="_blank" title="{{ arxiu.titol }}" class="link">
    											{% if arxiu.esImatge == true and arxiu.width > 0 and arxiu.height > 0 %}
    								   				<img src="{{ arxiu.webPath }}" alt="{{ arxiu.titol }}" width="20px"/>
    										   	{% else %}
    										   		{% if arxiu.esPdf == true %} <span class="fa fa-file-pdf-o fa-1x red"></span> {% endif %}
    										   		{% if arxiu.esWord == true %} <span class="fa fa-file-word-o fa-1x blue"></span> {% endif %}
    										   		{% if arxiu.esExcel == true %} <span class="fa fa-file-excel-o fa-1x green"></span> {% endif %}
    											{% endif %}
    											</a>
    										</td>
    										<td class="historial-remove">
    											<a class="remove-file link" href="{{ path('FecdasBundle_esborrararxiufederat', { 'persona': persona.id, 'arxiu':arxiu.id, 'foto': 0, 'certificat': 0  } ) }}"><span class="fa fa-trash fa-1x red"></span></a>
    										</td>
    									</tr>
    								{% else %}
    									<tr><td>No hi ha arxius</td></tr>
    								{% endfor %}
    								</tbody>
    							</table>
    							</div>
    						</div>
    					</div>			
    				</div>
    			{% endblock %}
    			</div>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block formpersona_buttons %}
	<div class="row">
		<div class="form-group">
			<div id="formpersona-cancel" class="persona-submit form-right">	
				<input type="submit" id="formpersona-button-cancel" class="form-button-cancel btn btn-default" value="Cancel·lar" name="formpersona-button-cancel" />
			</div>
			<div id="formpersona-remove" class="persona-submit form-right">	
				<input type="submit" id="formpersona-button-remove" class="forminput-inside btn btn-default" value="Esborrar" name="formpersona-button-remove"/>
			</div>
			<div id="formpersona-submit" class="persona-submit form-right">	
				<input type="submit" id="formpersona-button-save" class="forminput-inside btn btn-default" value="Desar i tancar" name="formpersona-button-save"/>
			</div>
		</div>
	</div>	
	{% endblock %}
	<div id="error-persona"></div>
	<a id="formpersona-autocompleters" href="{{ path('FecdasBundle_ajaxpoblacions') }}" class="hidden"></a>
	<div id="formpersona-rest" class="hidden">	{{ form_rest(formpersona) }}</div>
{% block formpersona_end %}
{{ form_end(formpersona) }}
{% endblock %}