{# src/Fecdas/PartesBundle/Resources/views/Page/parte.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Renovació de llistes d'assegurats {% endblock %}

{% block body %}
    <header>
        <h1>Renovació de llistes d'assegurats</h1>
    </header>
   
    {% include 'FecdasBundle:Includes:messages.html.twig' %}
   
	<form id="formrenovar" action="{{ path('FecdasBundle_renovar') }}" method="post" {{ form_enctype(form) }}  class="appform">
		<div class="row">
			<div class="col-md-1 col-xs-2">
				<div id="formparte-any">
					<label class="required">Any</label>
					{{ form_widget(form.any, { 'id': 'parte_any', 'attr': {'class': 'form-control'} }) }}
				</div>
			</div>
			<div class="col-md-4 col-xs-6">
				<div class="form-group">
					{{ form_label(form.tipus, 'Tipus de llistat d\'assegurats') }}
					<div id="formparte-tipus" class="input-group">
					  	<span class="input-group-addon">Tipus</span>
						{{ form_widget(form.tipus, { 'id': 'parte_renovar_tipus', 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-xs-4">
				<div class="form-group">
					{{ form_label(form.dataalta, 'Validesa') }}
					<div id="formparte-dataalta" class="input-group">
		  				<span class="input-group-addon">Des de</span>
						{{ form_widget(form.dataalta, { 'attr': {'class': 'form-control formtime-calendar'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="form-right">
					<div class="required">&nbsp;</div>			
					<input type="submit" alt="Renovar llista" title="Renovar llista" 
						 id="formrenovar-button-renovar" class="btn" value="Renovar" name="formrenovar-button-renovar"/>
				</div>	
			</div>  
        </div>

		<div class="row">
			<div class="col-md-12">                
			{% if form.llicencies|length > 0 and form.llicencies|length == parte.numLlicencies %}
				<div class="table-header" class="clearfix">
					<div id="summary-header" class="row">
						<div id="header-totals" class="col-listheader col-md-8"> 
						Llicències vàlides des de <time datetime="{{ parte.dataalta|date('c') }}">{{ parte.dataalta|date('d/m/Y') }}</time>
			  			fins a <time datetime="{{ parte.datacaducitat|date('c') }}">{{ parte.datacaducitat|date('d/m/Y') }}</time></div>
			  			<div id="parte-preu" class="col-listheader col-md-4">Total: <div id="parte-preu-valor"></div> €</div>
		  			</div>
				</div>
				<div class="table-header">
					<div id="list-header">
					   	<div id="header-llicenciapersonaid" class="col-listheader hidden">&nbsp;</div>
					   	<div id="header-llicenciapersona" class="col-listheader">Persona</div>
					   	<div id="header-llicenciadni" class="col-listheader">DNI</div>
					   	<div id="header-llicenciacategoria" class="col-listheader">Categoria</div>
					   	<div id="header-llicenciaactivitatslong" class="col-listheader">Activitats</div>
					   	<div id="header-llicenciapreu" class="col-listheader">Preu</div>
			   			{% if parte.perEnviarFederat != true %}<div id="header-llicenciaenviarllicencia" class="col-listheader"><i class="fa fa-envelope fa-1x"></i></div>{% endif %}
					   	<div id="header-llicenciaactions" class="col-listheader  {% if form.llicencies|length > 6 %} header-llicenciaactions-scroll {% endif %}">Renovar?</div>
					</div>
				</div>
				<div class="table-scroll">
					<ol id="list-data">
					{% for llicencia in form.llicencies %}
						<li class="data-detall {% if llicencia.renovar is not defined %} data-detall-fosc {% endif %}">
							<div class="data-detall-cell llicencia-personaid hidden">{{  parte.llicencies[loop.index0].persona.id }}</div>
							<div class="data-detall-cell llicencia-persona">{{  parte.llicencies[loop.index0].persona.cognomsNom|cut(30, false, '...') }}</div>
							<div class="data-detall-cell llicencia-dni">{{  parte.llicencies[loop.index0].persona.dni }}</div>
							<div class="data-detall-cell llicencia-categoria">{{  parte.llicencies[loop.index0].categoria.categoria }}</div>
							<div class="data-detall-cell llicencia-activitatslong">{{ parte.llicencies[loop.index0].activitats }}</div>
							<div class="data-detall-cell llicencia-preu">{{  parte.llicencies[loop.index0].categoria.preuany(parte.any)|number_format(2, ',') }}€</div>
							{% if parte.perEnviarFederat != true %}
							<div class="data-detall-cell llicencia-enviarllicencia">		
							    {# if parte.llicencies[loop.index0].enviarllicencia == 1 %} Si 	{% else %} No {% endif #}
								<div class="checkbox-inline">{{ form_widget(llicencia.enviarllicencia[0]) }}{{ form_label(llicencia.enviarllicencia[0]) }}</div>
		      					<div class="checkbox-inline">{{ form_widget(llicencia.enviarllicencia[1]) }}{{ form_label(llicencia.enviarllicencia[1]) }}</div>
							</div>
							{% endif %}
							{% if llicencia.renovar is defined %}
							<div class="data-detall-cell llicencia-actions">{{ form_widget(llicencia.renovar, {'attr': {'class': 'renovar-checkbox', 'preu' : parte.llicencies[loop.index0].categoria.preuany(parte.any)} }) }}</div>
							{% else %}
								<div class="data-detall-cell llicencia-actions llicencia-no">
								{% if llicencia.existent is defined %}
									Llicència ja tramitada <a class="parte-action-view link" href="{{ path('FecdasBundle_parte', { 'id': llicencia.existent.vars.value, 'action':'view' }) }}" alt="Veure llista de la llicència" title="Veure llista de la llicència"><i class="fa fa-search blue"></i></a>
								{% else %}
									--
								{% endif %}
								</div>
							{% endif %}
			  			</li>
				   	{% endfor %}
					</ol>
				</div>
			{% else %}
				<div class="sms-notice">No hi ha llicències en aquesta llistats d'assegurats</div>
			{% endif %}
			</div>
		</div>
        <div id="formrenovar-rest" style="display:none">
			<div class="formparte-id">{{ form_widget(form.id) }}</div>
			<div class="formparte-id">{{ form_widget(form.cloneid) }}</div>
        	{{ form_rest(form) }}</div>
    </form>
     
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-partes");
	
	validarRenovarNoBuida();

	calcularPreuRenovar();
});

</script>

{% endblock %}

