{# src/Fecdas/PartesBundle/Resources/views/Page/club.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Gestió de clubs i usuaris{% endblock %}

{% block stylesheets %}
	
	<link href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block body %}
	<form id="formclub" action="{{ path('FecdasBundle_club') }}" method="post" {{ form_enctype(form) }}  class="appform">
	    <header>
			<div class="row">
				<div class="col-md-8"><h1>Gestió de clubs i usuaris</h1></div>
    		    <div class="col-md-4 col-last-right">
    		    	<div class="buttons-top-bootstrap">
						<div class="button-top"><a class="link formclub-save" href="javascript:void(0);" alt="Desar dades" 
							title="Desar dades"><i class="fa fa-save fa-1x green"></i></a></div> 
						<div class="button-top"><a class="link formclub-baixa" href="{{ path('FecdasBundle_baixaclub', { 'club' : club.codi }) }}" alt="Baixa club" 
							title="Baixa club"><i class="fa fa-trash-o fa-1x red"></i></a></div> 
						<div class="button-top"><a id="formclub-nou" class="link" target="_blank" href="javascript:void(0);" alt="Nou club" 
							title="Nou club"><i class="fa fa-plus-circle fa-1x blue"></i></a></div>
					</div> 
				</div>
			</div>
	    </header>
   
		<div class="row"><div class="col-md-12 block-errors">{% include 'FecdasBundle:Includes:messages.html.twig' %}</div></div>

   		<div class="row">
		{% if admin == true %}
			{% if form.nouclub is defined %}  {{ form_widget(form.nouclub) }} {% endif %}
			<div class="col-md-3">
			  	<div class="form-group">
			    	{{ form_label(form.clubs, 'Escollir club', { 'label_attr': {'class': 'sr-only'} }) }}
					{{ form_widget(form.clubs, { 'attr': {'class': 'form-control'} }) }}
				</div>
			</div>
			<div class="col-md-2">
			  	<div class="form-group">
			  		<div class="input-group">
						<span class="input-group-addon">Club</span>
						{{ form_widget(form.codi, { 'attr': {'class': 'form-control','placeholder':'Codi' } }) }}
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<div class="input-group" >
			  			<span class="input-group-addon required">Tipus</span>
						{{ form_widget(form.tipus, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="checkbox">
			    	<label>
			      		{{ form_widget(form.activat) }} Accés actiu
			    	</label>
				</div>
			</div>
		</div>
		{% endif %}
		<div id="tabs-club">
			<ul>
				<li><a href="#formclub-dades-tab1">Dades</a></li>
				{% if admin == true %} 
				<li><a href="#formclub-dades-tab3">Llicències admeses</a></li>
				<li><a href="#formclub-dades-tab4">Saldos</a></li>
				<li><a href="#formclub-dades-tab5">Dates i càrrecs</a></li>
				{% if form.nouclub is not defined %} 
					<li><a href="#formclub-dades-tab6">Nou usuari</a></li>
				{% endif %}
				{% endif %}
			</ul>
			
			<div id="formclub-dades-tab1" class="formclub-tab">		
				<div class="row">
					<div class="col-md-12">
						<h4 class="blue">Dades del club</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Nom*</span>
								{{ form_label(form.nom, 'Nom', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.nom, { 'attr': {'class': 'form-control','placeholder':'Nom *' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">CIF*</span>
								{{ form_label(form.cif, 'CIF', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.cif, { 'attr': {'class': 'form-control','placeholder':'CIF *' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-4">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Correu*</span>
								{{ form_label(form.mail, 'Correu', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.mail, { 'attr': {'class': 'form-control','placeholder':'Correu *' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon"><span class="fa fa-phone-square fa-1x"></span></span>
								{{ form_label(form.telefon, 'Telèfon', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.telefon, { 'attr': {'class': 'form-control','placeholder':'Telèfon' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon"><span class="fa fa-mobile fa-1x"></span></span>
								{{ form_label(form.mobil, 'Mòbil', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.mobil, { 'attr': {'class': 'form-control','placeholder':'Mòbil' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon"><span class="fa fa-fax fa-1x"></span></span>
								{{ form_label(form.fax, 'Fax', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.fax, { 'attr': {'class': 'form-control','placeholder':'Fax' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">www</span>
								{{ form_label(form.web, 'Web', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.web, { 'attr': {'class': 'form-control','placeholder':'Web' } }) }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4 class="blue">Adreça fiscal</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Adreça</span>
								{{ form_label(form.addradreca, 'Adreça', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addradreca, { 'attr': {'class': 'form-control','placeholder':'Adreça' } }) }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Pob.</span>
								{{ form_label(form.addrpob, 'Població', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addrpob, { 'attr': {'class': 'form-control','placeholder':'Població' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Comarca</span>
								{{ form_label(form.addrcomarca, 'Comarca', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addrcomarca, { 'attr': {'class': 'form-control','placeholder':'Comarca' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-2">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">CP</span>
								{{ form_label(form.addrcp, 'CP', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addrcp, { 'attr': {'class': 'form-control','placeholder':'CP' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<div class="input-group" >
								<span class="input-group-addon required">Prov.</span>
					  			{{ form_label(form.addrprovincia, 'Província', { 'label_attr': {'class': 'sr-only'} }) }}
					  			{{ form_widget(form.addrprovincia, { 'attr': {'class': 'form-control'} }) }}
							</div>
						</div>
					</div>
					<div class="col-md-1">
						<a id="formclub-copiaradreca" href="javascript:void(0);" class="btn btn-default" title="Copiar"><i class="fa fa-chevron-circle-down fa-1x blue"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4 class="blue">Adreça correu</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Adreça</span>
								{{ form_label(form.addradrecacorreu, 'Adreça', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addradrecacorreu, { 'attr': {'class': 'form-control','placeholder':'Adreça' } }) }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Pob.</span>
								{{ form_label(form.addrpobcorreu, 'Població', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addrpobcorreu, { 'attr': {'class': 'form-control','placeholder':'Població' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Comarca</span>
								{{ form_label(form.addrcomarcacorreu, 'Comarca', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addrcomarcacorreu, { 'attr': {'class': 'form-control','placeholder':'Comarca' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-2">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">CP</span>
								{{ form_label(form.addrcpcorreu, 'CP', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addrcpcorreu, { 'attr': {'class': 'form-control','placeholder':'CP' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<div class="input-group" >
					  			<span class="input-group-addon required">Prov.</span>
								{{ form_widget(form.addrprovinciacorreu, { 'attr': {'class': 'form-control'} }) }}
							</div>
						</div>
					</div>
				</div>
	        </div>
	        {% if admin == true %} 
	        <div id="formclub-dades-tab3" class="formclub-tab" >
				<div class="row">
					<div class="col-md-9">
						<div class="form-group">
							{{ form_label(form.tipusparte, 'Licències admeses (Manté CTRL per seleccionar vàries)', { 'label_attr': {'class': 'formlabel-outside'} }) }}
							<div class="input-group" >
					  			<span class="input-group-addon required"></span>
								{{ form_widget(form.tipusparte, { 'attr': {'class': 'form-control'} }) }}
							</div>
						</div>
					</div>
				</div>
	        </div>
	        <div id="formclub-dades-tab4" class="formclub-tab" >
	        	<div class="row">
					<div class="col-md-4">
						<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Estat</span>
					    		{{ form_label(form.estat, 'Estat:', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.estat, { 'attr': {'class': 'form-control'} }) }}
					    	</div>
					    </div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Compte comptable</span>
					    		{{ form_label(form.compte, 'Compte comptable', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.compte, { 'attr': {'class': 'form-control'} }) }}
					    	</div>
					    </div>
					</div>
				</div>
	        	<div class="row">
					<div class="col-md-4 form-inline">
			        	<div id="formclub-impressio" class="formfield-row">
							{{ form_label(form.impressio, 'Impressió llicències:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.impressio, { 'attr': {'class': 'checkbox'} }) }}
						</div>
						<div id="formclub-limitcredit" class="formfield-row">
							{{ form_label(form.limitcredit, 'Límit de crèdit:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"></span>
									{{ form_widget(form.limitcredit, { 'attr': {'class': 'form-control form-control-right'} }) }}
							    	<span class="input-group-addon input-group-addon-icon"><i class="fa fa-euro"></i></span>
							    </div>
						    </div>
					    </div>
			        	<div id="formclub-limitnotificacio" class="formfield-row">
							{{ form_label(form.limitnotificacio, 'Notificació límit superat:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"></span>
									{{ form_widget(form.limitnotificacio, { 'attr': {'class': 'form-control form-control-right'} }) }}
							    	<span class="input-group-addon input-group-addon-icon"><i class="fa fa-calendar"></i></span>
							    </div>
						    </div>
						</div>
					</div>
					<div class="col-md-4 form-inline">
						<div id="formclub-totalllicencies" class="formfield-row">
							{{ form_label(form.totalllicencies, 'Total llic. Gestor:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"></span>
									{{ form_widget(form.totalllicencies, { 'attr': {'class': 'form-control form-control-right'} }) }}
							    	<span class="input-group-addon input-group-addon-icon"><i class="fa fa-euro"></i></span>
							    </div>
						    </div>
						</div>
			        	<div id="formclub-totalduplicats" class="formfield-row">
							{{ form_label(form.totalduplicats, 'Total kits:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"></span>
									{{ form_widget(form.totalduplicats, { 'attr': {'class': 'form-control form-control-right'} }) }}
							    	<span class="input-group-addon input-group-addon-icon"><i class="fa fa-euro"></i></span>
							    </div>
						    </div>
						</div>
			        	<div id="formclub-totalaltres" class="formfield-row">
							{{ form_label(form.totalaltres, 'Total altres:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"></span>
									{{ form_widget(form.totalaltres, { 'attr': {'class': 'form-control form-control-right'} }) }}
							    	<span class="input-group-addon input-group-addon-icon"><i class="fa fa-euro"></i></span>
							    </div>
						    </div>
						</div>
					</div>
					<div class="col-md-4 form-inline">
						<div id="formclub-romanent" class="formfield-row">
							{{ form_label(form.romanent, 'Romanent:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"></span>
									{{ form_widget(form.romanent, { 'attr': {'class': 'form-control form-control-right'} }) }}
							    	<span class="input-group-addon input-group-addon-icon"><i class="fa fa-euro"></i></span>
							    </div>
						    </div>
						</div>
			        	<div id="formclub-ajustsubvencions" class="formfield-row">
							{{ form_label(form.ajustsubvencions, 'Ajust subvencions:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"></span>
									{{ form_widget(form.ajustsubvencions, { 'attr': {'class': 'form-control form-control-right'} }) }}
							    	<span class="input-group-addon input-group-addon-icon"><i class="fa fa-euro"></i></span>
							    </div>
						    </div>
						</div>
			        	<div id="formclub-totalpagaments" class="formfield-row">
							{{ form_label(form.totalpagaments, 'Total pagaments:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"></span>
									{{ form_widget(form.totalpagaments, { 'attr': {'class': 'form-control form-control-right'} }) }}
							    	<span class="input-group-addon input-group-addon-icon"><i class="fa fa-euro"></i></span>
							    </div>
						    </div>
						</div>
			        	<div id="formclub-saldoclub" class="formfield-row">
							{{ form_label(form.saldoclub, 'Saldo:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"></span>
									{{ form_widget(form.saldoclub, { 'attr': {'class': 'form-control form-control-right'} }) }}
							    	<span class="input-group-addon input-group-addon-icon"><i class="fa fa-euro"></i></span>
							    </div>
						    </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
					</div>
				</div>
	        </div>
<div id="formclub-dades-tab5" class="formclub-tab">		
				<div class="row">
					<div class="col-md-12">
						<h4 class="blue">Altres dades</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Registre</span>
								{{ form_label(form.registre, 'Número', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.registre, { 'attr': {'class': 'form-control','placeholder':'Número' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-7"><div class="col-md-comment">Número de registre al Consell Català de l'Esport</div></div>
					<div class="col-md-2 col-last-right">
						<div class="checkbox">
					    	<label>{{ form_widget(form.estatuts) }} Estatuts </label>
						</div>
			        	
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
							 	<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">Alta</span>
										{{ form_widget(form.dataalta, { 'attr': {'class': 'form-control form-control-center'} }) }}
										<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
							 	<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">Creació</span>
										{{ form_widget(form.datacreacio, { 'attr': {'class': 'form-control form-control-center'} }) }}
										<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
							 	<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">Últ. junta</span>
										{{ form_widget(form.datajunta, { 'attr': {'class': 'form-control form-control-center'} }) }}
										<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
							 	<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">Baixa</span>
										{{ form_widget(form.databaixa, { 'attr': {'class': 'form-control form-control-center'} }) }}
										<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h4 class="blue">Càrrecs junta directiva</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<div class="input-group" >
										<span class="input-group-addon required">Càrrec</span>
							  			{{ form_label(form.carrec, 'Càrrec', { 'label_attr': {'class': 'sr-only'} }) }}
							  			{{ form_widget(form.carrec, { 'attr': {'class': 'form-control'} }) }}
									</div>
								</div>
							</div>
							<div class="col-md-10">
								<div class="form-group">
									<div class="input-group" >
										<span class="input-group-addon required">Federat</span>
							  			{{ form_label(form.federats, 'Federat', { 'label_attr': {'class': 'sr-only'} }) }}
							  			{{ form_widget(form.federats, { 'attr': {'class': 'form-control'} }) }}
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-group">
									<div class="input-group" >
										<span class="input-group-addon required">Nom</span>
							  			{{ form_label(form.nommembre, 'Nom nou membre', { 'label_attr': {'class': 'sr-only'} }) }}
							  			{{ form_widget(form.nommembre, { 'attr': {'class': 'form-control'} }) }}
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<a id="formclub-addcarrec" href="{{ path('FecdasBundle_clubaddjunta', {'codi': club.codi }) }}" class="btn btn-default" title="Afegir"><i class="fa fa-chevron-circle-right fa-1x blue"></i></a>
								{{ form_widget(form.carrecs) }}
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						{% if carrecs|length > 0 %}
						<div class="table-scroll">
							<ol id="list-data">
								{% for key, carrec in carrecs %}
								<li class="data-detall">
									<div class="data-detall-cell userclub-junta-carrec">{{ carrec.carrec }}</div>
									<div class="data-detall-cell userclub-junta-nom hidden">{{ carrec.nom }}</div>
									<div class="data-detall-cell userclub-junta-text">
										<input id="club_nommembre_{{ key }}" class="form-control" type="text" name="club[nommembre]" value="{{ carrec.nom }}">
									</div>
									<div class="data-detall-cell userclub-junta-action">
										<a href="{{ path('FecdasBundle_clubupdatejunta', {'codi': club.codi, 'id': key } ) }}" data-key="{{ key }}" class="btn link formclub-updatecarrec" title="Actualitzar">
											<i class="fa fa-save fa-1x green"></i>
										</a>
										<a href="{{ path('FecdasBundle_clubremovejunta', {'codi': club.codi, 'id': key } ) }}" class="btn link formclub-removecarrec" title="Esborrar">
											<i class="fa fa-trash fa-1x red"></i>
										</a>
									</div>
								</li>
								{% endfor %}
				   			</ol>
						</div>
						{% else %}
							<div class="alert alert-info form-alert">
								<span class="fa fa-info-cicle fa-1x"></span>Sense informació de la Junta 
							</div>
						{% endif %}
					</div>
				</div>

			</div>	        
	        
	        <div id="formclub-dades-tab6" class="formclub-tab" {% if form.nouclub is defined %}  style="display:none" {% endif %} >
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							{{ form_label(form.user, 'User', { 'label_attr': {'class': ''} }) }}
							<div class="input-group" >
								<span class="input-group-addon input-group-addon-icon"><span class="fa fa-user fa-1x"></span></span>
								{{ form_widget(form.user, { 'attr': {'class': 'form-control','placeholder':'Nom d\'usuari' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							{{ form_label(form.role, 'Rol *', { 'label_attr': {'class': ''} }) }}
							<div class="input-group" >
								<span class="input-group-addon input-group-addon-icon"></span>
								{{ form_widget(form.role, { 'attr': {'class': 'form-control' } }) }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 form-user-password-manual">
						<div class="form-group">
							{{ form_label(form.pwd.first, 'Paraula clau *', { 'label_attr': {'class': ''} }) }}
							<div class="input-group" >
								<span class="input-group-addon input-group-addon-icon"><i class="fa fa-secret fa-1x"></i></span>
								{{ form_widget(form.pwd.first, { 'attr': {'class': 'form-control','placeholder':'Nova clau' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3 form-user-password-manual">
						<div class="form-group">
							{{ form_label(form.pwd.second, 'Repetir paraula clau *', { 'label_attr': {'class': ''} }) }}
							<div class="input-group" >
								<span class="input-group-addon input-group-addon-icon"><i class="fa fa-secret fa-1x"></i></span>
								{{ form_widget(form.pwd.second, { 'attr': {'class': 'form-control','placeholder':'Repetir clau' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3 form-user-password-random" style="display:none">
						<div class="form-group" >
							{{ form_label(form.randompwd, 'Paraula clau generada', { 'label_attr': {'class': ''} }) }}
							<div class="input-group" >
								<span class="input-group-addon input-group-addon-icon"><i class="fa fa-secret fa-1x"></i></span>
								{{ form_widget(form.randompwd, { 'attr': {'class': 'form-control','placeholder':'Paraula clau generada' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" >
							<label class="">&nbsp;</label>
							<div class="input-group" >
								<a id="formuserclub-random" href="javascript:void(0);" class="btn btn-default"><i class="fa fa-random fa-1x orange"></i> automàtic</a>
								<!-- <div class="checkbox-inline">
							    	<label>{# form_widget(form.forceupdate) #} Obliga a actualitzar	</label>
								</div> -->
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group" >
							<a id="formuserclub-add" class="btn btn-default" href="{{ path('FecdasBundle_usuariclub') }}" name="add-userclub"><i class="fa fa-chevron-circle-down fa-1x blue"></i> Confirmar usuari</a>
						</div>
					</div>
				</div>
	        </div>
	       	{% endif %}
        </div>
				
		<div id="formclub-rest">{{ form_rest(form) }}</div>
    </form>

	<div id="llista-usuarisclub">
	{% include "FecdasBundle:Security:clubllistausers.html.twig" %}
	</div> 
    <div id="edicio-persona" class="finestra-overlay"></div> 
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script src="{{ asset('js/jquery.datetimepicker.js') }}" type="text/javascript"></script>

<script type="text/javascript">

	$(document).ready(function(){
		setMenuActive("menu-admclubs");
		
		$("#menu-adm").click();
	
		$(function() {
			var tabactive = {{ tab }};
			$( "#tabs-club" ).tabs({
				active: tabactive 
			});
		});
		
		reloadClub();
	
		saveClub();

		baixaClub( "{{ path('FecdasBundle_club', { 'codiclub' : club.codi }) }}"  );
		
		copiarAdrecaClub();
		
		nouClub();
	
		addUserClick();
	
		randomPwdClick();
	
		var tableScroll = $('.table-scroll');
		if (tableScroll.hasOverflowY()) {
			$('.table-scroll').css({"width":"101.5%"});
		}

		$("select#club_clubs").select2({
			minimumInputLength: 2,
			allowClear: false,
			placeholder: "Escollir club... ",
		});
		
		// Remove label on Select
		$("select#club_clubs").change(function(e) {
			var url = "{{ path('FecdasBundle_club') }}";
			window.location = url+'?codiclub='+$(this).val();
		});

		$("select#club_federats").select2({
			minimumInputLength: 2,
			allowClear: true,
			placeholder: "Cercar federat del club... ",
		});

		$("select#club_federats").on("change", function(e) {
			// Canvi de persona
			var dades = e.added;
			// Exemple {"id":"47422","text":"Pere ABADAL GONZALEZ"}
			$("#club_nommembre").val(dades.text);
		});
		
		var current = new Date();
		var maxdate = new Date (current.getFullYear(), current.getMonth() + 1, current.getDay());
		initDateTimePicker ( // 1950
			$( '#club_dataalta' ), 
			new Date (1950, current.getMonth() + 1, current.getDay()), 
			maxdate, 
			current, 
			'dataalta-picker', 
			false,
			''
		);

		initDateTimePicker ( // 1990
				$( '#club_databaixa' ), 
				new Date (1990, current.getMonth() + 1, current.getDay()), 
				maxdate, 
				current, 
				'databaixa-picker', 
				false,
				''
		);

		initDateTimePicker ( // 1900 
				$( '#club_datacreacio' ), 
				new Date (1900, current.getMonth() + 1, current.getDay()), 
				maxdate, 
				current, 
				'datacreacio-picker', 
				false,
				''
		);

		initDateTimePicker ( // 1980 
				$( '#club_datajunta' ), 
				new Date (1980, current.getMonth() + 1, current.getDay()), 
				maxdate, 
				current, 
				'datajunta-picker', 
				false,
				''
		);

		showPersonClickClubs();

		$(".formclub-removecarrec").click(function(e) {
			e.preventDefault();
			var url = $(this).attr("href");  // Inclou id persona i codi club

			$('#progressbar').show();  // Rellotge

			var rowCarrec =  $(this).parents('.data-detall');

			$('.block-errors').html('');
			
			$.get(url, function(data, textStatus) {
				var sms = smsResultAjax('OK', data);
					
				rowCarrec.remove();

				$('#progressbar').hide();  // Rellotge

				$('.block-errors').html(sms);
				
	        }).fail( function(xhr, status, error) {
				 // xhr.status + " " + xhr.statusText, status, error
				 var sms = smsResultAjax('KO', xhr.responseText);
						 
				 $('#progressbar').hide();  // Rellotge
						 
				 $('.block-errors').html(sms);
			});
			
		});
		
		$(".formclub-updatecarrec").click(function(e) {
			e.preventDefault();

			var key = $(this).attr("data-key");

			var url = $(this).attr("href")+'&nommembre='+$('#club_nommembre_'+key).val();  // Inclou id persona i codi club

			$('#progressbar').show();  // Rellotge

			var rowCarrec =  $(this).parents('.data-detall');

			$('.block-errors').html('');
			
			$.get(url, function(data, textStatus) {
				var sms = smsResultAjax('OK', data);

				$('.userclub-junta-nom').html($('#club_nommembre_'+key).val());
					
				$('#progressbar').hide();  // Rellotge

				$('.block-errors').html(sms);
				
	        }).fail( function(xhr, status, error) {
				 // xhr.status + " " + xhr.statusText, status, error
				 var sms = smsResultAjax('KO', xhr.responseText);

				 $('#club_nommembre_'+key).val($('.userclub-junta-nom').html());
				 
				 $('#progressbar').hide();  // Rellotge
						 
				 $('.block-errors').html(sms);
			});
			
		});

		$("#formclub-addcarrec").click(function(e) {
			e.preventDefault();
			var url = $(this).attr("href");  // Inclou codi però no inclou id persona

			if ($('#club_nommembre').val() == '') {
				dialegError('Error', 'Cal escollir algun federat o indicar el nom del nou membre de la junta', 400, 0);
				return false;
			} 

			if ($('#club_carrec').val() == '') {
				dialegError('Error', 'Cal escollir un càrrec', 400, 0);
				return false;
			} 

			var id = $('#club_federats').val();
			var carrec = $('#club_carrec').val();
			var nommembre = $('#club_nommembre').val(); 

			url += '&id='+id+'&carrec='+carrec+'&nommembre='+nommembre;  
			
			$('#progressbar').show();  // Rellotge
			
			$.get(url, function(data, textStatus) {
				$('#progressbar').hide();  // Rellotge

				dialegInfoCallback('Junta actualitzada', data, 400, 0, function() {
					window.location = '{{ path('FecdasBundle_club') }}'+'?codiclub='+'{{ club.codi }}'+'&tab=3';
				});
				 
	        }).fail( function(xhr, status, error) {
				 // xhr.status + " " + xhr.statusText, status, error
				 var sms = smsResultAjax('KO', xhr.responseText);
						 
				 $('#progressbar').hide();  // Rellotge
						 
				 $('.block-errors').html(sms);
			});
			
		});
		
	});

</script>


{% endblock %}

