	{% for flashMessage in app.session.flashbag.get('error-notice') %}
	    <div class="sms-notice">
			{{ flashMessage }}
  		</div>	
	{% endfor %}

{% if club.usuaris|length > 0 %}
	<div class="table-header">	
		<div id="list-header">
		   	<div id="header-userclubuser" class="col-listheader">Usuari</div>
		   	<div id="header-userclublastaccess" class="col-listheader">Darrer accés</div>
		   	<div id="header-userclubrol" class="col-listheader">Rol</div>
		   	<!-- <div id="header-userclubforceupdate" class="col-listheader">Canvi clau</div> -->
		   	<div id="header-userclubactions" class="col-listheader">&nbsp;</div>
		</div>
	</div>
	<div class="table-scroll">
		<ol id="list-data">
			{% for userclub in club.usuaris %}
				{% if userclub.databaixa is null %}
				<li class="data-detall">
					<div class="data-detall-cell userclub-user">{{ userclub.user }}</div>
					<div class="data-detall-cell userclub-lastaccess">
					{% if userclub.lastaccess is not null %}
					{{ userclub.lastaccess|date("d/m/Y H:i:s") }}
					{% else %}
					--
					{% endif %}
					</div>
					<div class="data-detall-cell userclub-rol">{{ userclub.role }}</div>
					<!-- <div class="data-detall-cell userclub-forceupdate" class="form-left">
					{# if userclub.forceupdate == true #}
					Si
					{# else #}
					No
					{# endif #}
					</div> -->
					<div class="data-detall-cell userclub-actions">
					{% if admin == true %}
						<a class="label-remove-userclub link" href="javascript:void(0);" onclick="removedUserClick('{{ userclub.user }}');" alt="Esborrar usuari" title="Esborrar usuari"><i class="fa fa-trash fa-1x red"></i></a>
						<a class="label-resetpwd-userclub link" href="javascript:void(0);" onclick="resetPwdUserClick('{{ userclub.user }}');" alt="Reiniciar Password" title="Reiniciar Password"><i class="fa fa-random fa-1x orange"></i></a>
					{% endif %}
					</div>
				</li>
				{% endif %}
		   	{% endfor %}
		</ol>
	</div>
{% endif %}

