{# src/Fecdas/PartesBundle/Resources/views/Page/club.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Gestió de clubs i usuaris{% endblock %}

{% block body %}
	<form id="formclub" action="{{ path('FecdasBundle_club') }}" method="post" {{ form_enctype(form) }}  class="appform">
	    <header>
			<div class="row">
				<div class="col-md-8"><h1>Gestió de clubs i usuaris</h1></div>
    		    <div class="col-md-4 col-last-right">
    		    	<div class="buttons-top-bootstrap">
						<div class="button-top"><a class="link formclub-save" href="javascript:void(0);" alt="Desar dades" 
							title="Desar dades"><i class="fa fa-save fa-1x green"></i></a></div> 
						<div class="button-top"><a id="formclub-nou" class="link" target="_blank" href="javascript:void(0);" alt="Nou club" 
							title="Nou club"><i class="fa fa-plus-circle fa-1x blue"></i></a></div>
					</div> 
				</div>
			</div>
	    </header>
   
		{% for flashMessage in app.session.flashbag.get('error-notice') %}
   		<div class="row">
		    <div class="sms-notice">
				{{ flashMessage }}
	  		</div>	
		</div>
		{% endfor %}

   		<div class="row">
		{% if admin == true %}
			{% if form.nouclub is defined %}  {{ form_widget(form.nouclub) }} {% endif %}
			<div class="col-md-2">
			  	<div class="form-group">
			  		<div class="input-group">
						<span class="input-group-addon">Club</span>
						{{ form_widget(form.codi, { 'attr': {'class': 'form-control','placeholder':'Codi' } }) }}
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<div class="input-group" >
			  			<span class="input-group-addon required">Tipus</span>
						{{ form_widget(form.tipus, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="checkbox">
			    	<label>
			      		{{ form_widget(form.activat) }} Accés actiu
			    	</label>
				</div>
			</div>
		</div>
		{% endif %}
		<div id="tabs-club">
			<ul>
				<li><a href="#formclub-dades-tab1">Dades del club</a></li>
				<li><a href="#formclub-dades-tab2">Adreces</a></li>
				{% if admin == true %} 
				<li><a href="#formclub-dades-tab3">Llicències admeses</a></li>
				<li><a href="#formclub-dades-tab4">Saldos</a></li>
				{% if form.nouclub is not defined %} 
					<li><a href="#formclub-dades-tab5">Nou usuari</a></li>
				{% endif %}
				{% endif %}
			</ul>
			<div id="formclub-dades-tab1" class="formclub-tab">		
				<div class="row">
					<div class="col-md-5">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Nom*</span>
								{{ form_label(form.nom, 'Nom', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.nom, { 'attr': {'class': 'form-control','placeholder':'Nom *' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">CIF*</span>
								{{ form_label(form.cif, 'CIF', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.cif, { 'attr': {'class': 'form-control','placeholder':'CIF *' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-4">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Correu*</span>
								{{ form_label(form.mail, 'Correu', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.mail, { 'attr': {'class': 'form-control','placeholder':'Correu *' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon"><span class="fa fa-phone-square fa-1x"></span></span>
								{{ form_label(form.telefon, 'Telèfon', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.telefon, { 'attr': {'class': 'form-control','placeholder':'Telèfon' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon"><span class="fa fa-mobile fa-1x"></span></span>
								{{ form_label(form.mobil, 'Mòbil', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.mobil, { 'attr': {'class': 'form-control','placeholder':'Mòbil' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon"><span class="fa fa-fax fa-1x"></span></span>
								{{ form_label(form.fax, 'Fax', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.fax, { 'attr': {'class': 'form-control','placeholder':'Fax' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">www</span>
								{{ form_label(form.web, 'Web', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.web, { 'attr': {'class': 'form-control','placeholder':'Web' } }) }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4 class="blue">Adreça fiscal</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Adreça</span>
								{{ form_label(form.addradreca, 'Adreça', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addradreca, { 'attr': {'class': 'form-control','placeholder':'Adreça' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Pob.</span>
								{{ form_label(form.addrpob, 'Població', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addrpob, { 'attr': {'class': 'form-control','placeholder':'Població' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-2">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">CP</span>
								{{ form_label(form.addrcp, 'CP', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addrcp, { 'attr': {'class': 'form-control','placeholder':'CP' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<div class="input-group" >
								<span class="input-group-addon required">Prov.</span>
					  			{{ form_label(form.addrprovincia, 'Província', { 'label_attr': {'class': 'sr-only'} }) }}
					  			{{ form_widget(form.addrprovincia, { 'attr': {'class': 'form-control'} }) }}
							</div>
						</div>
					</div>
					<div class="col-md-1">
						<a id="formclub-copiaradreca" href="javascript:void(0);" class="btn btn-default" title="Copiar"><i class="fa fa-chevron-circle-down fa-1x blue"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4 class="blue">Adreça correu</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Adreça</span>
								{{ form_label(form.addradrecacorreu, 'Adreça', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addradrecacorreu, { 'attr': {'class': 'form-control','placeholder':'Adreça' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">Pob.</span>
								{{ form_label(form.addrpobcorreu, 'Població', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addrpobcorreu, { 'attr': {'class': 'form-control','placeholder':'Població' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-2">
			  			<div class="form-group">
			  				<div class="input-group">
					    		<span class="input-group-addon input-group-addon-icon">CP</span>
								{{ form_label(form.addrcpcorreu, 'CP', { 'label_attr': {'class': 'sr-only'} }) }}
								{{ form_widget(form.addrcpcorreu, { 'attr': {'class': 'form-control','placeholder':'CP' } }) }}
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<div class="input-group" >
					  			<span class="input-group-addon required">Prov.</span>
								{{ form_widget(form.addrprovinciacorreu, { 'attr': {'class': 'form-control'} }) }}
							</div>
						</div>
					</div>
				</div>
	        </div>
	        {% if admin == true %} 
	        <div id="formclub-dades-tab3" class="formclub-tab" >
	        	<div id="formclub-club_tipusparte" >
						{{ form_label(form.tipusparte, 'Licències admeses (Manté CTRL per seleccionar vàries)', { 'label_attr': {'class': 'formlabel-outside'} }) }}
						{{ form_widget(form.tipusparte, { 'attr': {'class': 'formfield-outside'} }) }}
				</div>
	        </div>
	        <div id="formclub-dades-tab4" class="formclub-tab" >
	        	<div class="colleft">
		        	<div id="formclub-estat" class="formfield-row">
							{{ form_label(form.estat, 'Estat:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.estat, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
		        	<div id="formclub-impressio" class="formfield-row">
							{{ form_label(form.impressio, 'Impressió llicències:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.impressio, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
		        	<div id="formclub-limitcredit" class="formfield-row">
							{{ form_label(form.limitcredit, 'Límit de crèdit:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.limitcredit, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
		        	<div id="formclub-limitnotificacio" class="formfield-row">
							{{ form_label(form.limitnotificacio, 'Notificació límit superat:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.limitnotificacio, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
				</div>
				<div class="colmiddle">
		        	<div id="formclub-ajustsubvencions" class="formfield-row">
							{{ form_label(form.ajustsubvencions, 'Ajust subvencions:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.ajustsubvencions, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
					<div id="formclub-totalllicenciesweb" class="formfield-row">
							{{ form_label(form.totalllicenciesweb, 'Total llicències:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.totalllicenciesweb, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
					<div id="formclub-totalllicencies" class="formfield-row">
							{{ form_label(form.totalllicencies, 'Total llic. Gestor:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.totalllicencies, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
		        	<div id="formclub-totalkits" class="formfield-row">
							{{ form_label(form.totalkits, 'Total kits:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.totalkits, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
		        	<div id="formclub-totalaltres" class="formfield-row">
							{{ form_label(form.totalaltres, 'Total altres:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.totalaltres, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
				</div>
				<div class="colright">
		        	<div id="formclub-romanent" class="formfield-row">
							{{ form_label(form.romanent, 'Romanent:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.romanent, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
		        	<div id="formclub-totalpagaments" class="formfield-row">
							{{ form_label(form.totalpagaments, 'Total pagaments:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.totalpagaments, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
					<div id="formclub-dummy" class="formfield-row">
						<div class="formlabel-left" >&nbsp;</div>
						<div class="formfield-right">&nbsp;</div>
					</div>
					<div id="formclub-dummy" class="formfield-row">
						<div class="formlabel-left" >&nbsp;</div>
						<div class="formfield-right">&nbsp;</div>
					</div>
		        	<div id="formclub-saldoclub" class="formfield-row">
							{{ form_label(form.saldoclub, 'Saldo:', { 'label_attr': {'class': 'formlabel-left'} }) }}
							{{ form_widget(form.saldoclub, { 'attr': {'class': 'formfield-right'} }) }}
					</div>
				</div>
	        </div>
	        <div id="formclub-dades-tab5" class="formclub-tab" {% if form.nouclub is defined %}  style="display:none" {% endif %} >
	        	<a id="formclub-usuarinou" href="{{ path('FecdasBundle_usuariclub') }}" style="display:none"></a>
				<div class="form-row clearfix">
					<div id="formuserclub-user"  class="form-left">
						{{ form_label(form.user, 'Usuari*', { 'label_attr': {'class': 'formlabel-outside'} }) }}
						{{ form_widget(form.user, { 'attr': {'class': 'formfield-outside', 'autocomplete': 'off'}}) }}
					</div>
					<div id="formuserclub-role"  class="form-left">
						{{ form_label(form.role, 'Rol*', { 'label_attr': {'class': 'formlabel-outside'} }) }}
						{{ form_widget(form.role, { 'attr': {'class': 'formfield-outside'}}) }}
					</div>
				</div>
				<div class="form-row clearfix">
					<div id="formuserclub-pwd" class="form-left">
						{{ form_label(form.pwd.first, 'Nova paraula clau*', { 'label_attr': {'class': 'formlabel-outside'} }) }}
						{{ form_widget(form.pwd.first, { 'attr': {'class': 'formfield-outside'}}) }}
					</div> 
					<div id="formuserclub-pwdrepeat" class="form-left">
						{{ form_label(form.pwd.second, 'Repeteix la paraula clau*', { 'label_attr': {'class': 'formlabel-outside'} }) }}
						{{ form_widget(form.pwd.second, { 'attr': {'class': 'formfield-outside'}}) }}
					</div> 
					<div id="formuserclub-randompwd" class="form-left" style="display:none">
						{{ form_label(form.randompwd, 'Paraula clau generada*', { 'label_attr': {'class': 'formlabel-outside'} }) }}
						{{ form_widget(form.randompwd, { 'attr': {'class': 'formfield-outside'}}) }}
					</div> 
					<div id="formuserclub-random"  class="form-left">
						<label class="formlabel-outside required">&nbsp;</label>
						<a id="formuserclub-random" href="#" class="btn btn-default"><i class="fa fa-random fa-1x orange"></i> automàtic</a>
					</div>
					<div id="formuserclub-forceupdate" class="form-left">
						{{ form_label(form.forceupdate, 'Obliga a actualitzar', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
						{{ form_widget(form.forceupdate, { 'attr': {'class': 'formcheckbox-right'} }) }}
					</div>
				</div>
				<div class="form-row form-row-bottom clearfix">
	       			<div class="textaccio">
						<a id="formuserclub-add" class="btn btn-default" href="javascript:void(0);" name="add-userclub"><i class="fa fa-chevron-circle-down fa-1x blue"></i> Confirmar usuari</a>
					</div>
				</div>
	        </div>
	       	{% endif %}
        </div>
				
		<div id="formclub-rest">{{ form_rest(form) }}</div>
    </form>

	<div id="llista-usuarisclub">
	{% include "FecdasBundle:Security:clubllistausers.html.twig" %}
	</div> 
     
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-admclubs");
	
	$("#menu-adm").click();

	$(function() {
		$( "#tabs-club" ).tabs();
	});
	
	reloadClub();

	saveClub();
	
	copiarAdrecaClub();
	
	nouClub();

	addUserClick();

	randomPwdClick();

	var tableScroll = $('.table-scroll');
	if (tableScroll.hasOverflowY()) {
		$('.table-scroll').css({"width":"101.5%"});
	}
	
});

</script>


{% endblock %}

