{% include 'FecdasBundle:Includes:messages.html.twig' %}

{% if club.getUsuarisDistinct|length > 0 %}
	{% set rolsDistinct = club.getRolsDistinct %}
	<table class="table-scroll table">
		<thead class="table-header">	
			<tr id="list-header">
			   	<th id="header-userclubuser" class="col-listheader" rowspan="2">Usuari</th>
			   	<th id="header-userclublastaccess" class="col-listheader" rowspan="2">Darrer accés</th>
			   	<th id="header-userclubrolspan" class="col-listheader" colspan="{{ rolsDistinct|length }}">Rols</th>
			   	<th id="header-userclubactions" class="col-listheader" rowspan="2">&nbsp;</th>
			</tr>
			<tr id="summary-header">
				{% for role in rolsDistinct %}
			   		<th id="header-userclubrol" class="col-listheader userclub-rol-{{ rolsDistinct|length }}">
			   			{{ role|capitalize }}
			   			{% if role ==  constant('FecdasBundle\\Controller\\BaseController::ROLE_INSTRUCTOR') or
			   				  role ==  constant('FecdasBundle\\Controller\\BaseController::ROLE_FEDERAT') %}
			   				  <br/><span class="title-comment">(Federat/Instructor)</span>
			   			{% endif %}
			   		</th>
			   	{% endfor %}
			</tr>
		</thead>
	
		<tbody id="list-data">
			{% for userdistinct in club.getUsuarisDistinct %}
				{% set userclub = userdistinct.userclub %}
				{% set metapersona = userclub.metapersona %}
				{% set llicenciaVigent = null %}
				<tr class="data-detall">
					<td class="data-detall-cell userclub-user">
					    {{ userclub.user }}
					    {% if metapersona != null %}
							{% set nomuserclub = metapersona.nomCognoms %}
							{% set llicenciaVigent = metapersona.llicenciaVigent %}
							{% set persona = metapersona.personaClub(club) %}
							<br/>
							<span class="title-comment">
								{% if persona != null %}
									{% set nomuserclub = persona.nomCognoms %}
									<a class="formpersona-openmodal link" href="{{ path('FecdasBundle_persona', { 'id': persona.id }) }}" name="modal" 
								 		alt="Veure les dades d'aquesta persona" title="Veure les dades d'aquesta persona">
								 		{{ nomuserclub }}  <i class="fa fa-user fa-1x red"></i>
								 	</a>
								{% else %}
									{# Persona d'un altre club. No es poden consultar les seves dades  #}
									{{ nomuserclub }}
								{% endif %}
							</span>
						{% endif %}	
					</td>
					<td class="data-detall-cell userclub-lastaccess">
						{% if userclub.lastaccess is not null %}
						{{ userclub.lastaccess|date("d/m/Y H:i:s") }}
						{% else %}
						--
						{% endif %}
					</td>
						
					{% for userclubrole in userdistinct.rols %}
						{% if userclubrole == '' %}
							<td class="data-detall-cell userclub-rol userclub-rol-{{ rolsDistinct|length }} userclub-rol-empty">
								Sense accés 
								<a class="add-userroleclub link" href="{{ path('FecdasBundle_usuariclub',{ 'action': 'addrole', 'id': userclub.id, 'role': rolsDistinct|keys[loop.index0] } ) }}" 
									data-role="{{ rolsDistinct|keys[loop.index0] }}" data-user="{{ userclub.user }}" data-id="{{ userclub.id }}" alt="Afegir accés {{ rolsDistinct|keys[loop.index0] }}" title="Afegir accés {{ rolsDistinct|keys[loop.index0] }}">
									<i class="fa fa-unlock fa-1x green"></i>
								</a>
							</td>
						{% else %}
							<td class="data-detall-cell userclub-rol userclub-rol-{{ rolsDistinct|length }} userclub-rol-{{ userclubrole.role }}">
								{{ userclubrole.role|capitalize }}
								{% set smsDel = "Desactivar l'accés "~userclubrole.role~" per l'usuari "~userclubrole.usuari.user %}
								<a class="remove-userroleclub link" href="{{ path('FecdasBundle_usuariclub',{ 'action': 'removerole', 'id': userclubrole.id } ) }}" alt="{{ smsDel }}" title="{{ smsDel }}">
									<i class="fa fa-lock fa-1x orange"></i>
								</a>
								{% if userclubrole.isRoleInstructor %}
									{% if llicenciaVigent == null %}
										<br/><span class="title-comment">(No disposa de llicència vigent)</span>
									{% else %}
										{% if not llicenciaVigent.esTecnic %}
											<br/><span class="title-comment">(La llicència actual no és tècnica)</span>
										{% endif %}
									{% endif %}
								{% endif %}
							</td>
						{% endif %}
					{% endfor %}
					<!-- <div class="data-detall-cell userclub-forceupdate" class="form-left">
					{# if userclub.forceupdate == true #}
					Si
					{# else #}
					No
					{# endif #}
					</div> -->
					<td class="data-detall-cell userclub-actions">
						<a class="reset-pwduserclub link" href="{{ path('FecdasBundle_usuariclub',{ 'action': 'resetpwd', 'id': userclub.id } ) }}"  alt="Reiniciar password de l'usuari {{ userclub.user }}" title="Reiniciar password  de l'usuari {{ userclub.user }}"><i class="fa fa-magic fa-1x blue"></i></a>
						<a class="del-userclub link" href="{{ path('FecdasBundle_usuariclub',{ 'action': 'removeuser', 'id': userclub.id } ) }}"  alt="Donar de baixa l'usuari {{ userclub.user }}" title="Donar de baixa l'usuari {{ userclub.user }}"><i class="fa fa-trash fa-1x red"></i></a>
					</td>
				</tr>
		   	{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="alert alert-success" role="alert">Cap usuari</div>
{% endif %}

