{# src/Fecdas/PartesBundle/Resources/views/Security/politicaprivacitat.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Política de Privacitat {% endblock %}

{% block body %}
	<div class="privacitat static-page page-center">
	
		{{ parent() }}
		
		<div class="privacitat-content content-center"> 
		    <header>
	        	<h1>Política de Privacitat</h1>
		    </header>
			<div class="row">
	   		 	<div class="col-md-12">
					<h2>Qui és el responsable del tractament de les seves dades de caràcter personal?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>A l'efecte del que estableix el Reglament Europeu 2016/679 del Parlament Europeu i del Consell de 27 d'abril de 2016 l'informa que la Federació Catalana d’Activitats Subaquàtiques (FECDAS) amb domicili a Moll de la Vela, 1 – Zona Fòrum 08930 Sant Adrià de Besòs, mitjançant el seu representant Òscar Montferrer i Pardo amb el següent compte de correu electrònic <a class="link" href="mailto:{{ MAIL_FECDAS }}">{{ MAIL_FECDAS }}</a>, és el responsable del tractament les seves dades de caràcter personal.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Amb quina finalitat tractarem les seves dades personals?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>La FECDAS utilitza i tracta les dades personals recollides amb diferents finalitats en funció del que vostè hagi autoritzat i consentit expressament. Aquestes finalitats poden ser:</p>
	   				<ul>
	   					<li>Possible ús de cookies pròpies i de tercers per millorar la seva experiència en la navegació i en futures visites com; controlar el trànsit i la comunicació de dades, identificar la sessió, accedir a parts d'accés restringit, permetre a l'usuari accedir al servei amb algunes característiques de caràcter general predefinides, millorar la web mitjançant estimacions sobre números i patrons d'ús així com analitzar el comportament dels usuaris.</li>
	   					<li>Una part de la informació recollida per les cookies pot ser de caràcter personal i obtenim les seves dades personals a partir de quan vostè hagi consentit expressament el seu ús en entrar en el nostre lloc web.</li>
	   					<li>El tractament de les seves dades personals recollides mitjançant cookies només es realitzarà després de l'acceptació del sistema de galetes a la casella/botó corresponent.</li>
	   					<li>Compliment dels nostres deures i obligacions de naturalesa legal respecte de manteniment de dades, així com per poder donar compliment a qualsevol requeriment d'informació cursat per una autoritat competent. Entre aquestes obligacions s'inclou el lliurament, en determinades circumstàncies, de dades de caràcter personal als esmentats òrgans.</li>
	   				</ul>
	   				<p>Aquest tractament de dades està basat en l'existència per a la FECDAS d'una obligació legal de col·laboració amb aquests organismes.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Quina és la legitimació per al tractament de les seves dades i què passa si no va facilitar les dades sol·licitades?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>L'ús de les seves dades en les condicions i per a la finalitats anteriorment descrites està permès per la normativa de protecció de dades europea de conformitat amb les següents bases jurídiques:</p>
	   				<ul>
	   					<li>Per a l'ús de cookies que tracten dades de caràcter personal s'ha obtingut el seu consentiment (se li ha presentat un formulari de consentiment que ha estat acceptat).</li>
	   				</ul>
	   				<p>Per al compliment dels nostres deures i obligacions de naturalesa legal i atès que el tractament de les seves dades és necessari per complir amb els nostres deures i obligacions legals, estarà obligat a facilitar les seves dades personals per imperatiu legal. La negativa a subministrar les seves dades personals podria suposar la impossibilitat de complir amb aquestes obligacions legals i l'autoritat competent es les requerirà en segona instància.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Durant quan temps conservarem les seves dades?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>Les seves dades personals seran conservades durant el temps necessari per complir la finalitat per a la qual es van recollir i quan sigui procedent durant el temps en què es pugui exigir algun tipus de responsabilitat derivada d'una relació o obligació.</p>
	   				<p>Si les seves dades han estat recollides per diverses finalitats diferents que ens obliguen a conservar-les durant terminis diferents aplicarem el termini de conservació més llarg.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Mesures de seguretat:</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>La FECDAS es compromet a complir la seva obligació de secret de les dades de caràcter personal i del seu deure de guardar-les. Encara que en les transmissions de dades a través d'internet o des d'una web no és possible garantir una protecció absoluta contra intrusions, dediquem els màxims esforços per mantenir les mesures de protecció físiques, electròniques i procedimentals per garantir la protecció de les seves dades personals i evitar la seva alteració, pèrdua, tractament o ús no autoritzat.</p>
	   				<p>En aquells casos en què li haguem facilitat una contrasenya, o vostè l'hagi escollit, que li permeti accedir a determinades parts de la nostra web o de qualsevol altre portal sota el nostre control, serà de caràcter personal i intransferible i vostè es fa responsable de mantenir-la en secret i de complir amb tots els altres procediments de seguretat que li notifiquem.</p>
	   				<p>Les seves dades personals no podran ser cedides a tercers sense la seva prèvia autorització, llevat obligació legal.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Quins són els seus drets quan ens facilita les seves dades?</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>Li recordem que vostè té dret a:</p>
	   				<ul>
	   					<li>Revocar el seu consentiment per al tractament de dades per a aquests fins, en els casos en què el tractament de les seves dades estigui condicionat al consentiment.</li>
	   					<li>Sol·licitar més detalls i informació sobre l'ús que fem de les seves dades personals.</li>
	   					<li>Corregir inexactituds en la informació que mantenim.</li>
	   					<li>Esborrar informació.</li>
	   					<li>Oposar-se a qualsevol tractament de les seves dades que prengui com a base jurídica l'interès legítim a menys que els nostres motius per dur a terme aquest tractament compensin qualsevol possible perjudici cap als seus drets de protecció de dades.</li>
	   					<li>Restringir i limitar la manera en què utilitzem les seves dades mentre s'investiga una reclamació.</li>
	   					<li>Sol·licitar la portabilitat de les seves dades personals.</li>
	   				</ul>
	   				<p>Pot exercir qualsevol d'aquests drets mitjançant sol·licitud dirigida a la FECDAS per escrit al Moll de la Vela, 1 – Zona Fòrum 08930 Sant Adrià de Besòs, trucant al telèfon <a href=tel:933560543">93 356 05 43</a> o comunicant-ho per escrit a la nostra adreça de correu electrònic <a class="link" href="mailto:{{ MAIL_FECDAS }}">{{ MAIL_FECDAS }}</a>.</p>
	   				<p>Si vostè exercís algun d'aquests drets, comprovarem que està facultat realment per a això, i li respondrem en un mes o en el termini màxim que preveu la normativa espanyola, si aquest fos inferior.</p>
	   				<p>Si no està satisfet amb la manera en que utilitzem la seva informació o amb la nostra resposta davant l'exercici de qualsevol d'aquests drets, pot presentar una reclamació davant l'Agència Espanyola de Protecció de Dades o altres òrgans competents.</p>
	   				<p>Si té algun dubte sobre qualsevol de la informació exposada pot contactar en tot moment amb el nostre Delegat de protecció de dades: per escrit a Moll de la Vela, 1 – Zona Fòrum 08930 Sant Adrià de Besòs. i/o en el següent compte de correu electrònic <a class="link" href="mailto:{{ MAIL_FECDAS }}">{{ MAIL_FECDAS }}</a>.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>Cookies:</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>El web utilitza un seguit de cookies pròpies i de tercers que recapten informació durant la navegació de l'usuari de la web per tal de millorar la seva experiència durant la mateixa.</p>
	   				<p>En l'apartat de "Política de cookies" indiquem les galetes utilitzades per la web que queden emmagatzemades en el terminal que utilitza l'usuari per a poder accedir i navegar per la mateixa. Per a més informació consulti la nostra <a class="link" href="{{ path('FecdasBundle_politicacookies') }}">política de cookies</a>.</p>
	   			</div>
	   		</div>
	   	
	   	</div>
   	</div>
{% endblock %}
