{# src/Fecdas/PartesBundle/Resources/views/Page/contact.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Recuperació de contrasenya {% endblock %}

{% block fecdas_login %}
<!-- Login page doesn't load login (bubble) form) -->
	
{% endblock %}

{% block body %}
	<div class="recovery page-center">

		{{ parent() }}

		<div class="recovery-content content-center"> 
		    <header>
		        <h1>Recuperació de clau</h1>
		    </header>
		
		    {% for flashMessage in app.session.flashbag.get('sms-notice') %}
		    <div class="sms-notice">
				{{ flashMessage }}
		  	</div>	
			{% endfor %}
	   	 
	   		{{ form_start(form, {'action': path('FecdasBundle_pwdrecovery'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'form-recovery'}}) }}
	   			<p>Indica l'usuari (adreça de correu) per reiniciar la paraula clau.</p>
	
		   		<div id="formlogin-user">
					{{ form_label(form.user, 'Usuari', { 'label_attr': {'class': 'formlabel-inside'} }) }}
					{{ form_widget(form.user, { 'attr': {'class': 'forminput-inside'} }) }}
				</div>
		
		    	<div id="formlogin-rest">	{{ form_rest(form) }}</div>
		
			    <div id="formlogin-submit">	
					<input type="submit" class="forminput-inside" value="Envia" />
				</div>        
	   
			{{ form_end(form) }}
	   	
	   	</div>
   	</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-login");
	
	helpBubbles("#login_user", '<p>L\'usuari és una adreça de correu electrònic. p.e. </p>\
				<p>maildelclub@domini.com</p>');
				
});
</script>
{% endblock %}
