{# src/Fecdas/PartesBundle/Resources/views/Security/pwdrecovery.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Recuperació de contrasenya {% endblock %}

{% block fecdas_login %}
<!-- Login page doesn't load login (bubble) form) -->
	
{% endblock %}

{% block body %}
	<div class="recovery page-center">

		{{ parent() }}

		<div class="recovery-content content-center"> 
		    <header>
		        <h1>Recuperació de clau</h1>
		    </header>
		
		    <div class="row"><div class="col-md-12 block-errors">{% include 'FecdasBundle:Includes:messages.html.twig' %}</div></div>
	   	 
	   		{{ form_start(form, {'action': path('FecdasBundle_pwdrecovery'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'form-recovery'}}) }}
	   		<div class="row">
	   			<div class="col-md-12">
	   				<p>Indica l'usuari (adreça de correu) per reiniciar la paraula clau.</p>
	   			</div>
	
				<div class="col-md-12">
					<div class="form-group input-group">
	   					<span class="input-group-addon input-group-addon-icon"><i class="fa fa-envelope fa-1x blue"></i></span>
						{{ form_label(form.user, 'Adreça de correu', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.user, { 'attr': {'class': 'form-control','placeholder':'Adreça de correu'} }) }}
					</div>
				</div>
		
		    	<div id="formlogin-rest">	{{ form_rest(form) }}</div>
		
				<div class="col-md-12">
					<input type="submit" class="btn btn-default forminput-inside btn-block" value="Envia" />
				</div>   
			</div>        
	   
			{{ form_end(form) }}
	   	
	   	</div>
   	</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-login");
	
	helpBubbles("#login_user", '<p>L\'usuari és una adreça de correu electrònic. p.e. </p>\
				<p>maildelclub@domini.com</p>');
				
});
</script>
{% endblock %}
