{# src/Fecdas/PartesBundle/Resources/views/Security/termesicondicions.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Termes i Condicions d'ús {% endblock %}

{% block body %}
	<div class="termes static-page page-center">
	
		{{ parent() }}
		
		<div class="termes-content content-center"> 
		    <header>
	        	<h1>Termes i Condicions d'ús</h1>
		    </header>
			<div class="row">
				<div class="col-md-12">
					<h2>1. General</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>A continuació hi ha els termes i les condicions que regulen l’accés i ús als continguts de la web <a class="link" href="{{ path('FecdasBundle_homepage') }}">www.fecdasgestio.cat</a> (d’ara endavant, els termes i les condicions).</p>
	   				<p>Els termes i les condicions són de caràcter general i regulen el contingut de la web en el seu conjunt. No obstant això, algun servei o contingut específic de la web pot requerir pel seu accés i ús l’acceptació d’uns termes i condicions particulars per part de l’usuari.</p>
	   				<p></p>
	   			</div>
				<div class="col-md-12">
					<h2>2. Identificació del titular de l'espai web</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>La web <a class="link" href="{{ path('FecdasBundle_homepage') }}">www.fecdasgestio.cat</a> (d’ara endavant, la web) pertany a la Federació Catalana d’Activitats Subaquàtiques (FECDAS) (d’ara endavant, l’empresa), la qual en té la titularitat.</p>
	   				<p>Domicili social:<br/>
                        Moll de la Vela, 1 – Zona Fòrum<br/>
                        08930 Sant Adrià de Besòs<br/>
                        Telèfon: <a href=tel:933560543">93 356 05 43</a><br/>
                        A/e: <a class="link" href="mailto:info@fecdas.cat">info@fecdas.cat</a><br/>
                        CIF: Q5855006B</p>
	   				<p>Dades registrals: Entitat privada d’utilitat pública, inscrita en el Registre del Consell Català de l’Esport amb el número 1888.</p>
	   			</div>
				<div class="col-md-12">
					<h2>3. Usuari: acceptació dels termes i les condicions d'ús de la web</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>S’entendrà com a usuari qualsevol persona que accedeixi, navegui o utilitzi els continguts i/o serveis que es puguin trobar a la web en tot moment. D’ara endavant, es farà referència a l’usuari d’aquesta web com a usuari.</p>
	   				<p>Els usuaris accepten els termes i les condicions sense cap condició o reserva.</p>
	   				<p>Els continguts i serveis oferts per la companyia són de naturalesa canviant i, per tant, la companyia es reserva el dret de modificar sense previ avís aquests termes i condicions per ajustar-los al nou contingut. Conseqüentment, l’usuari reconeix i accepta l’obligació de revisar i complir els termes i les condicions que es trobin vigents en tot moment.</p>
	   				<p>En tot cas, es presumeix que l’accés i ús de la web i, per tant, l’acceptació dels termes i les condicions, inclosa la política de privacitat i qualsevol altres termes i condicions particulars que puguin incloure apartats o serveis específics de la web, és realitzat per persones més grans de 18 anys o, en el cas de menors d’edat, tutelades, és a dir, que actuen sota la deguda supervisió del tutor o responsable legal.</p>
	   			</div>
				<div class="col-md-12">
					<h2>4. Accés a la web i als continguts reservats a usuaris registrats</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>L’accés a la web és de caràcter lliure i gratuït. Amb tot, la creació del registre de l’usuari el produeix el club esportiu federat a què pertany i l’usuari individual rep el dret de navegar-hi i gestionar les seves dades. Així mateix, també pot ser necessari que l’usuari faciliti dades de caràcter personal quan lliurement vulgui fer ús de serveis oferts que així ho requereixin.</p>
	   				<p>Les dades que faciliti l’usuari en qualsevol dels apartats que es trobin dins la web quedaran sotmeses a la política de privacitat de la companyia.</p>
	   				<p>En tot cas, quan l’usuari opti per registrar-se en qualsevol dels apartats o serveis que ofereix la web, aquest es compromet a indicar la informació requerida, que haurà de ser verídica i lícita.</p>
	   				<p>En el supòsit que la companyia proporcioni a l’usuari una contrasenya, escollida o no per l’usuari, aquest últim se’n fa responsable i es compromet a fer-ne un ús exclusiu i mantenir-la en secret, fent ús de la diligència necessària per custodiar-la i evitar que sigui coneguda per tercers que puguin suplantar-ne la identitat.</p>
	   				<p>En el supòsit que l’usuari detecti que s’ha fet un ús no autoritzat de la seva contrasenya o tingui consciència que l’ha perduda, aquest es compromet a notificar l’incident corresponent de forma immediata a la companyia mitjançant els enllaços destinats expressament a aquest efecte o a l’adreça <a class="link" href="mailto:info@fecdas.cat">info@fecdas.cat</a>.</p>
	   				<p>En cap cas l’empresa es fa responsable de l’ús de la contrasenya per part de tercers no autoritzats ni de la pèrdua d’aquesta per part de l’usuari.</p>
	   			</div>
				<div class="col-md-12">
					<h2>5. Ús de la web, dels seus continguts i serveis</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>L’usuari de la web es compromet a fer un ús d’aquesta i dels seus continguts i serveis d’acord amb els termes i les condicions, així com a respectar i complir en tot moment la llei i qualsevol disposició normativa vigent i aplicable.</p>
	   				<p>Queda prohibit l’ús i accés a la web mitjançant qualsevol aplicació, programa informàtic o sistema anàleg que pugui malmetre o obstaculitzar-ne el funcionament normal, incloent-hi l’alteració, l’eliminació o el bloqueig dels continguts i serveis que s’hi ofereix, o de qualsevol altre mecanisme que els pugui afectar, especialment aquells que puguin comportar la privació de l’accés i ús a la web, o qualsevol part d’aquesta, a tercers.</p>
	   				<p>Queda igualment prohibit l’accés a la web mitjançant programes o altres mecanismes informàtics que, de forma voluntària o involuntària, puguin resultar en una sobrecàrrega dels recursos utilitzats per la companyia per mantenir la web accessible al públic i/o que permetin un accés no autoritzat als apartats de la web no accessibles al públic en general o al sistema informàtic en què es troba allotjada; de manera que puguin introduir virus o altres programes maliciosos o scripts que causin errors en el sistema informàtic esmentat o en el funcionament de la web.</p>
	   				<p>En tot cas, l’usuari es compromet a fer un ús adequat dels continguts i serveis de la web, especialment pel que fa a qualsevol apartat en què se li permeti participar, en el qual regiran també els principis de bona fe i de respecte als altres usuaris, la companyia i qualsevol altre tercer.</p>
	   			</div>
				<div class="col-md-12">
					<h2>6. Propietat intel·lectual i industrial</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>Tots els drets de propietat industrial dels continguts de la web, inclosos dissenys, aplicacions, programes, codis, etc., pertanyen a l’empresa o aquesta està autoritzada degudament pel titular per fer-ne ús en aquesta web.</p>
	   				<p>S’autoritza l’usuari a visualitzar, copiar, imprimir, guardar en qualsevol format i suport els continguts de la web, sempre que es realitzi únicament i exclusivament per a ús personal. No obstant això, es prohibeix a l’usuari dur a terme qualsevol de les accions que s’indiquen en aquest paràgraf quan: (i) l’usuari utilitzi un canal, suport o mitjà al qual puguin tenir accés, de manera directa o indirecta, una pluralitat de persones; (ii) quan aquestes tinguin una finalitat comercial, o (iii) l’ús comporti l’alteració, la modificació, la fragmentació o la descompilació dels continguts.</p>
	   				<p>Per tant, queda expressament prohibida qualsevol reproducció, distribució o comunicació pública de qualsevol contingut que es trobi a la web sense l’autorització prèvia i expressa per escrit de l’empresa.</p>
	   				<p>Sens perjudici del que s’ha esmentat, diversos continguts o serveis de la web poden especificar uns termes i condicions d’ús que siguin més o menys restrictius, els quals prevaldran en relació amb el contingut o servei afectat per aquests.</p>
	   				<p>L’empresa únicament autoritza a referenciar els continguts que apareixen a la web en d’altres webs o comunicacions, sempre que aquestes webs o comunicacions mantinguin el principi de bona fe i respecte i compleixin plenament amb la legislació vigent i la resta de termes i condicions, especialment pel que fa a la prohibició de reproducció o dels continguts que es mostren a la web, amb finalitats diferents de les permeses en aquests termes i condicions, sense l’autorització expressa i prèvia per escrit de la companyia.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>7. Responsabilitat i garanties limitades</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>L’empresa es compromet a fer tot el possible per mantenir el funcionament de la web en condicions òptimes d’ús, així com a evitar errors de servidor, de programació i dels continguts i serveis que s’hi ofereixen. No obstant això, la companyia no assumeix cap responsabilitat respecte els errors eventuals que puguin sorgir o aparèixer i, per tant, no garanteix la plena funcionalitat ni els continguts i/o serveis que la web ofereix.</p>
	   				<p>Sens perjudici del que s’ha esmentat, l’empresa garanteix que voluntàriament la web no incorporarà programari maliciós (malware), virus i altres scripts o programes de naturalesa maliciosa i es compromet a informar, mitjançant la política de privacitat, de tot l’ús d’aplicacions i d’altres programes, scripts, etc. que recullin dades de l’usuari que puguin ser objecte de tractament posterior.</p>
	   				<p>L’empresa informa l’usuari que diversos continguts i/o serveis oferts dins la web poden ser proveïts per tercers i que, per tant, per accedir-hi o fer-ne ús l’usuari també n’haurà d’acceptar els termes i les condicions (dels tercers). En tot cas, l’usuari allibera de tota responsabilitat l’empresa respecte de totes aquelles qüestions vinculades a continguts i/o serveis de tercers que s’identifiquin expressament com a tercers.</p>
	   				<p>En tot cas, l’empresa no es fa responsable dels diversos danys i perjudicis que pugui ocasionar la discontinuïtat del serveis, continguts i funcionalitat de la web, així com tampoc de qualsevol altra anomalia que presenti la web, inclosos virus, programari maliciós (malware), scripts i programes maliciosos que resultin de la interferència no autoritzada de tercers o de tercers autoritzats que siguin víctima d’interferències d’altres tercers.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>8. Política de privacitat</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>La política de privacitat de l’empresa (d’ara endavant, la política de privacitat) compleix tots els requisits establerts en les disposicions aplicables en matèria de protecció de dades de caràcter personal, que en l’actualitat es troben recollides en la Llei orgànica 15/1999, de protecció de dades de caràcter personal (d’ara endavant, “LOPD”), i en el reglament que la desenvolupa, Reial decret 1720/2007.</p>
	   				<p>L’acceptació dels termes i les condicions inclou l’acceptació de la política de privacitat de l’empresa, la qual en forma part i es pot trobar a l’enllaç següent: <a class="link" href="{{ path('FecdasBundle_politicaprivacitat') }}">política de privacitat</a>. En el mateix enllaç s’inclou la informació sobre la <a class="link" href="{{ path('FecdasBundle_politicacookies') }}">política de cookies</a> i la informació relativa a les aplicacions de tercers instal·lades a la web.</p>
	   			</div>
	   			<div class="col-md-12">
					<h2>9. Llei aplicable i jurisdicció</h2>
				</div>
	   		 	<div class="col-md-12">
	   				<p>Qualsevol qüestió relativa a la interpretació, el compliment i la validesa dels termes i les condicions que pugui sorgir entre l’usuari i l’empresa s’analitzarà d’acord amb els mateixos termes i condicions, en primer lloc, i la normativa catalana, en segon, i subsidiàriament l’espanyola, d’aplicació en tot moment.</p>
	   				<p>En el supòsit de conflicte entre l’usuari i la companyia que resulti i/o estigui vinculat i/o relacionat amb els termes i les condicions, les parts acorden expressament sotmetre’l als jutjats i tribunals competents de la Ciutat de Barcelona.</p>
	   			</div>
	   		</div>
	   	
	   	</div>
   	</div>
{% endblock %}
