{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block javascriptshead %}
 	
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Racó de l'usuari{% endblock %}

{% block body %}
	<div class="raco-usuari page-center"> 
		{{ parent() }}
	    
		<div class="formuser-main content-center"> 
		    <header>
		        <h1>Racó de l'usuari</h1>
		    </header>
		
		    <div class="row">
		    	<div class="col-md-12 block-errors">
		    		{% include 'FecdasBundle:Includes:messages.html.twig' %}
		    	</div>
		    </div>
		    
		    {{ form_start(form, {'action': path('FecdasBundle_user'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'form-formuser'}}) }}
		     <p class="subtitle blue">Actualització de la clau</p>	
	    	 <div id="formuser-user">
				{{ form_label(form.user, 'Usuari', { 'label_attr': {'class': 'formlabel-inside'} }) }}
				{{ form_widget(form.user, { 'attr': {'class': 'forminput-inside'} }) }}
			 </div> 
	    	 <div id="formuser-pwd">
				{{ form_label(form.pwd.first, 'Nova paraula clau', { 'label_attr': {'class': 'formlabel-inside'} }) }}
				{{ form_widget(form.pwd.first, { 'attr': {'class': 'forminput-inside'} }) }}
			 </div> 
	    	 <div id="formuser-pwdrepeat">
				{{ form_label(form.pwd.second, 'Repeteix la paraula clau', { 'label_attr': {'class': 'formlabel-inside'} }) }}
				{{ form_widget(form.pwd.second, { 'attr': {'class': 'forminput-inside'} }) }}
			 </div> 
			 <!-- <div id="formuser-forceupdate">
			 	{# form_label(form.forceupdate, 'Obliga a actualitzar', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) #}
				{# form_widget(form.forceupdate, { 'attr': {'class': 'formcheckbox-right'} }) #}
			 </div>
			  -->
			 <div id="formuser-rest">
			 	{{ form_widget(form.recoverytoken) }}
			 	{{ form_widget(form.usertoken) }}
			 	{{ form_rest(form) }}</div>
       	 	 <div id="formuser-submit" class="parte-submit form-left" >	
		 	 	<input type="submit" id="formuser-button-submit" class="btn btn-default" value="Actualitza" name="formuser-button-submit"/>
			 </div>
	   		{{ form_end(form) }}
	   	</div>
   	</div>


	
	<div class="formuser-main content-center">
		
	</div>
    
{% endblock %}

