{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block javascriptshead %}
 	
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Racó de l'usuari{% endblock %}

{% block body %}
	<div class="raco-usuari page-center"> 
		{{ parent() }}
	    
		<div class="formuser-main content-center"> 
		    <header>
		        <h1>Racó de l'usuari</h1>
		    </header>
		
		    <div class="row">
		    	<div class="col-md-12 block-errors">
		    		{% include 'FecdasBundle:Includes:messages.html.twig' %}
		    	</div>
		    </div>
		    
		    {{ form_start(form, {'action': path('FecdasBundle_user'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'form-formuser'}}) }}
		    <div class="row">
        		<div class="col-md-12">
        		     <p class="subtitle blue">Actualització de la clau</p>
        		</div>
        		<div class="col-md-12">
        			<div class="form-group input-group">
	   					<span class="input-group-addon input-group-addon-icon"><i class="fa fa-envelope fa-1x blue"></i></span>
	   					{{ form_label(form.user, 'Usuari', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.user, { 'attr': {'class': 'form-control','placeholder':'Usuari'} }) }}
					</div>
				</div>
				<div class="col-md-12">
        	    	<div class="form-group input-group">
	   					<span class="input-group-addon input-group-addon-icon"><i class="fa fa-key fa-1x blue"></i></span>
	   					{{ form_label(form.pwd.first, 'Nova paraula clau', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.pwd.first, { 'attr': {'class': 'form-control','placeholder':'Nova paraula clau'} }) }}
					</div>  
				</div>
				<div class="col-md-12">
					<div class="form-group input-group">
	   					<span class="input-group-addon input-group-addon-icon"><i class="fa fa-key fa-1x blue"></i></span>
	   					{{ form_label(form.pwd.second, 'Repeteix la paraula clau', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.pwd.second, { 'attr': {'class': 'form-control','placeholder':'Repeteix la paraula clau'} }) }}
					</div>
				</div>
				<div class="col-md-12">
					<!-- <div class="col-md-9">
    					<div class="checkbox">
      					<label>
        					{# form_widget(form.forceupdate, { 'attr': {'class': 'form-checkbox'} }) #}Obliga a actualitzar
      					</label>
      					</div>
    				</div>-->
        			 <div id="formuser-rest"  class="hidden">{{ form_widget(form.recoverytoken) }} {{ form_widget(form.usertoken) }} {{ form_rest(form) }}</div>
        			 
			   		 <button class="user-submit btn btn-default btn-block" type="submit"><i class="fa fa-save fa-1x blue"></i> Desar</button>
					 
        		</div>
        		<div class="col-md-12 space50">
        		     <p class="title-info">Darrera connexió: <span>{{ form.vars.value.lastaccess|date("d/m/Y H:i:s") }}</span></p>
        		</div>
			 </div>
	   		{{ form_end(form) }}
	   	</div>
   	</div>
	
	<div class="formuser-main content-center">
		
	</div>
    
{% endblock %}

