{# src/Fecdas/PartesBundle/Resources/views/Page/curs.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% form_theme form with ['FecdasBundle:Includes:formtheming.html.twig', _self] %}

{% block _curs_instructors_entry_row %}
    {% set docent = form  %}
	{% set proto = true  %}
    {% include 'FecdasBundle:Titulacions:cursdocent.html.twig' %}
{% endblock %}

{% block _curs_collaboradors_entry_row %}
    {% set docent = form  %}
	{% set proto = true  %}
    {% include 'FecdasBundle:Titulacions:cursdocent.html.twig' %}
{% endblock %}

{% block _curs_participants_entry_row %}
    {% set participant = form  %}
	{% set proto = true  %}
	{% set participantdata = participant.vars.data  %}
    {% include 'FecdasBundle:Titulacions:cursalumnerow.html.twig' %}
{% endblock %}

{% block stylesheets %}
	
	<link href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Informació curs{% endblock %}

{% block body %}
	<header>
		<div class="row">
			<div class="col-md-8"><h1><a href="{{ path('FecdasBundle_cursos') }}">Llistat de cursos</a> > Edició</h1></div>
	        <div class="col-md-4 col-last-right">
				<div class="buttons-top-bootstrap">
					{% if admin and not curs.esNou %}
					<div class="button-top"><a class="link delete-curs" href="{{ path('FecdasBundle_curs', { 'id': curs.id, 'action' : 'remove' }) }}" alt="Anul·lar curs" 
							title="Anul·lar curs"><i class="fa fa-trash fa-1x systemblue"></i></a></div>
					{% endif %} 
					<div class="button-top"><a class="link export-pdf" href="{{ path('FecdasBundle_actacurspdf', { 'id': curs.id }) }}" alt="Descarregar acta curs" 
							title="Descarregar acta curs"><i class="fa fa-file-pdf-o fa-1x red"></i></a></div>
				</div> 
			</div>
			{% if not curs.finalitzat %}
			<div class="row">
				<div class="col-md-12">
				<div id="curs-process-block">
					<div class="buttons-curs-process">
					    {% if curs.esNou or curs.editable %}
    						<span class="step-description"><span class="step-step green">Pas 1.</span> Instructor: Introduïr les dades i desar</span>
    					{% endif %}
    
    					<div class="button-step {% if (curs.esNou or curs.editable) and roleinstructor %}button-step-active {% endif %}">
    						<a class="link save-curs" href="{{ path('FecdasBundle_curs', { 'action' : 'save' }) }}" data-action="save" alt="Desar dades curs" 
    							title="Desar dades curs">
    							<i class="fa-stack fa-xs"><i class="fa fa-circle fa-stack-2x green"></i><i class="fa fa-floppy-o fa-stack-1x fa-inverse"></i></i>
    						</a>
    					</div>
                        
    					{% if roleinstructor %}
    						{% if curs.editable and not curs.esNou %}
							<span class="step-description"><span class="step-step orange">Pas 2.</span> Instructor: Confirmar les dades i validació per part del club</span>
    						{% endif %}
    						
    						<div class="button-step {% if curs.editable and not curs.esNou %}button-step-active{% endif %}">
    							<a class="link close-curs" href="{{ path('FecdasBundle_curs', { 'action' : 'close' }) }}" data-action="close" alt="Tancar per validació del club" 
    								title="Tancar per validació del club">
    									<i class="fa-stack fa-xs"><i class="fa fa-circle fa-stack-2x orange"></i><i class="fa fa-lock fa-stack-1x fa-inverse"></i></i>
    							</a>
    						</div>	
						{% else %}
						    {% if curs.tancat %}
    							<span class="step-description"><span class="step-step orange">Pas 2.</span> Club: Reobrir el curs per editar-lo</span>
    						{% endif %}
    
    						<div class="button-step {% if curs.tancat %}button-step-active {% endif %}">
    							<a class="link save-curs" href="{{ path('FecdasBundle_curs', { 'action' : 'unclose' }) }}" data-action="unclose" alt="Reobrir curs" 
    								title="Reobrir curs">
    								<i class="fa-stack fa-xs"><i class="fa fa-circle fa-stack-2x orange"></i><i class="fa fa-unlock fa-stack-1x fa-inverse"></i></i>
    							</a>
    						</div>
						{% endif %}
						
						{% if curs.tancat %}
							<span class="step-description"><span class="step-step red">Pas 3.</span> Club: Validar les  dades i notificar a la Federació </span>
						{% endif %}
						
						<div class="button-step {% if curs.tancat %}button-step-active{% endif %}">
							<a class="link validate-curs" href="{{ path('FecdasBundle_curs', { 'action' : 'validate' }) }}" data-action="validate" alt="Validar i notificar a la Federació" 
								title="Validar i notificar a la Federació">
									<i class="fa-stack fa-xs"><i class="fa fa-circle fa-stack-2x red"></i><i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i></i>
							</a>
						</div>  
						
						{% if curs.validat %}
							<span class="step-description"><span class="step-step blue">Pas 4.</span> Federació: Completar les dades i consolidar el curs i les titulacions dels participants </span>
						{% endif %}
						
						<div class="button-step {% if curs.validat %}button-step-active{% endif %}">
							<a class="link finalize-curs" href="{{ path('FecdasBundle_curs', { 'action' : 'finalize' }) }}" data-action="finalize" alt="Consolidació del curs" 
								title="Consolidació del curs">
								<i class="fa-stack fa-xs"><i class="fa fa-circle fa-stack-2x blue"></i><i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i></i>
							</a>
						</div>  	
					</div>
					</div> 
				</div>
			</div>
			{% endif %}
		</div>
   	</header>
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
    
	{{ form_start(form, {'action': path('FecdasBundle_curs'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'formcurs'}}) }}
		
		{{ form_widget(form.action) }}
		<div class="row">
			<div class="col-md-2">
			    <div class="form-group">
			    	{{ form_label(form.num, 'Num. Acta') }}
					<div class="input-group"><div class="input-group-addon"></div>{{ form_widget(form.num, { 'attr': {'class': 'form-control'} }) }}</div>
				</div>{{ form_errors(form.num)  }}
			 </div>
			<div class="col-md-3  col-xs-12">
				<div class="form-group">
				   	{{ form_label(form.club, 'Realitzat pel club', { 'label_attr': {'class': ''} }) }}
					{{ form_widget(form.club, { 'attr': {'class': 'form-control'} }) }}
				</div>{{ form_errors(form.club)  }}
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="form-group">
				   	{{ form_label(form.titol, 'Del curs', { 'label_attr': {'class': ''} }) }}
					{{ form_widget(form.titol, { 'attr': {'class': 'form-control'} }) }}
				</div>{{ form_errors(form.titol)  }}
			</div>
			<div class="col-md-2 col-xs-4">
				<div class="form-group">
					{{ form_label(form.datadesde, 'Data inici') }}
					<div class="input-group" >
						{{ form_widget(form.datadesde, { 'attr': {'class': 'form-control formtime-calendar'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>{{ form_errors(form.datadesde)  }}
				</div>
			</div>
		   	<div class="col-md-2 col-xs-4">
				<div class="form-group">
					{{ form_label(form.datafins, 'Finalització prevista') }}
					<div class="input-group" >
						{{ form_widget(form.datafins, { 'attr': {'class': 'form-control formtime-calendar'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>{{ form_errors(form.datafins)  }}
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<h2 class="blue">Equip docent del curs</h2>
			</div>
			<div class="col-md-8 col-last-right">
				{% if requeriments.titol != '' %}
    				<p class="title-info for-title-h2">Hi ha <strong class="highlight">{{ requeriments.errors.total }} problemes</strong>. Consulta l'informe del compliment de requeriments del curs 
    					<a class="link open-informe" href="javascript:void(0)" alt="Informe requeriments del curs" title="Informe requeriments del curs"><b>aquí</b>&nbsp;&nbsp;<i class="fa fa-external-link-square fa-1x blue"></i></a>
    				</p>
    				<div id="informe-requeriments" class="hidden container-fluid">{% include 'FecdasBundle:Titulacions:cursinformerequeriments.html.twig'  %}</div>
				{% endif %} 
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="tabs-docents">
			  		<ul>
			    		<li><a href="#tabs-direccio">Director/s</a></li>
			    		<li><a href="#tabs-instructors">Instructors</a></li>
			    		<li><a href="#tabs-collaboradors">Col·laboradors</a></li>
					</ul>
					<div id="tabs-direccio">
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<div class="row">
										<div class="col-md-2">
										    {{ form_label(form.auxdirector, 'Director:', { 'label_attr': {'class': 'space10'} }) }}
										</div>
										<div class="col-md-10">
											<div class="input-group">
												<span class="input-group-addon input-group-addon-icon"><span class="fa fa-search fa-1x"></span></span>
												{{ form_widget(form.auxdirector, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon input-group-addon-icon">Num. <span class="fa fa-address-card-o fa-1x"></span></span>
										{{ form_widget(form.auxcarnet, { 'attr': {'class': 'form-control'} }) }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<div class="row">
										<div class="col-md-2">
										    {{ form_label(form.auxcodirector, 'Co-director:', { 'label_attr': {'class': 'space10'} }) }}
										</div>
										<div class="col-md-10">
											<div class="input-group">
												<span class="input-group-addon input-group-addon-icon"><span class="fa fa-search fa-1x"></span></span>
												{{ form_widget(form.auxcodirector, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon input-group-addon-icon">Num. <span class="fa fa-address-card-o fa-1x"></span></span>
										{{ form_widget(form.auxcocarnet, { 'attr': {'class': 'form-control'} }) }}
									</div>
								</div>
							</div>					
						</div>
					</div>
					<div id="tabs-instructors">
						{% set proto = true %}
						{% set tipus = "instructor" %}
						{% set docents = form.instructors %}
						{% set prototype = form_row(form.instructors.vars.prototype)  %}
						{% set titol = "Instructors que han impartit classes" %}
						{% set auxdocent = form.auxinstructor %}
						{% include 'FecdasBundle:Titulacions:cursdocentstaula.html.twig' %}
					</div>
					<div id="tabs-collaboradors">
						{% set proto = false %}
						{% set tipus = "collaborador" %}
						{% set docents = form.collaboradors %}
						{% set prototype = form_row(form.collaboradors.vars.prototype) %}
						{% set titol = "Han col·laborat com a equip de seguretat" %}
						{% set auxdocent = form.auxcollaborador %}
						{% include 'FecdasBundle:Titulacions:cursdocentstaula.html.twig' %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% include 'FecdasBundle:Titulacions:cursalumnestaula.html.twig'  %}
			</div>
		</div>
		
		
		<div id="formcurs-rest" class="hidden">{{ form_rest(form) }}</div>
		
		<div id="error" class="sms-notice" style="display:none"> </div>
		
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- Datetime plugin's. http://xdsoft.net/jqplugins/datetimepicker/ -->
	<script src="{{ asset('js/jquery.datetimepicker.js') }}" type="text/javascript"></script>

	<script type="text/javascript">

		var instructorsHolder, collaboradorsHolder, alumnesHolder;
	
		function addItemCollection(holder, newItemclass, item) {
		    // Get the data-prototype explained earlier
		    var prototype = holder.data('prototype');
			
		    // get the new index
		    var index = holder.data('index');

			if (index == 0) holder.children('.empty-alert').addClass('hidden'); 
		    
		    // Replace '__name__' in the prototype's HTML to
		    // instead be a number based on how many items we have
		    var newForm = prototype.replace(/__name__/g, index);
		    // increase the index with one for the next item
		    index++;
		    holder.data('index', index);
		    // Display the form in the page in an li, before the "Add a tag" link li
		    var $newFormLi = $(newForm);
		    $newFormLi.removeClass('curs-form-prototype').addClass( newItemclass+'-form-row data-detall' );

		    // Set selected persona values
		    $newFormLi.find('.col-id input').val( 0 );
		    $newFormLi.find('.col-'+newItemclass+'-meta input').val( item.meta );
		    $newFormLi.find('.col-'+newItemclass+'-dni input').val( item.text );
		    $newFormLi.find('.col-'+newItemclass+'-nom input').val( item.nomcognoms );

			// Canviar/esborrar foto des de la taula d'alumnes
		    holder.append($newFormLi);

			// Només per alumnes
			if ($newFormLi.find('.data-detall-cell.col-'+newItemclass+'-foto input[type="file"]').length > 0) {
    			//addFotoActionsBottom($newFormLi.find('.data-detall-cell.col-'+newItemclass+'-foto .galeria-upload'));

				$uplFoto = $newFormLi.find('.data-detall-cell.col-'+newItemclass+'-foto input[type="file"]');

				imageUploadForm('#'+$uplFoto.attr('id'), 104);
			}
			if ($newFormLi.find('.data-detall-cell.col-'+newItemclass+'-certificat input[type="file"]').length > 0) {
				$uplCertificat = $newFormLi.find('.data-detall-cell.col-'+newItemclass+'-certificat input[type="file"]');
				
				prepareFileInput( $uplCertificat );
			}
		};

		function removeItemCollection(holder, elClick) {
			var parentRow = elClick.parents('li');
	        var parentTable = parentRow.parents('.list-data');
	        
	        var index = holder.data('index');
	        index--;
	        holder.data('index', index);

	        if (index === 0) {
		        // Últim
	        	parentTable.children('.empty-alert').removeClass('hidden'); 
		    }
	        
	        parentRow.remove();
		};


		$(document).ready(function(){
			setMenuActive("menu-cursos");

			// Informe errors
			
			$('a.open-informe').on('click', function(e) {
				// prevent the link from creating a "#" on the URL
				e.preventDefault();	

				//var strHtml = $('#informe-requeriments').html();
				var strHtml = $('#informe-requeriments').clone().removeClass('hidden')[0].outerHTML;
				
				dialegInformacio(strHtml, 'Informe compliment requeriments', 'auto', 835, closeDialegConfirmacio, function() { });
			});

			// Init Upload files
			$('.col-alumne-foto input[type="file"]').each(function() {
				imageUploadForm('#'+$(this).attr('id'), 104);

				addFotoActionsBottom ( $(this).next(".galeria-upload") );
	        });

			$('.col-alumne-certificat input[type="file"]').each(function() {
				prepareFileInput( $(this) );
	        });

			// Init remove foto i certificat
			prepareRemoveFotoGaleria( "#list-data-alumnes", function( clkElem ) {
				// Accions addicionals. Esborrar dades camp hidden foto
				clkElem.parent('.galeria-remove-foto').prev('input[type="hidden"]').val('')
			});
			prepareRemoveFile( "#list-data-alumnes", "" );

				
			// Prepare collections holders
			instructorsHolder = $('ul.docents-curs.instructors');
			collaboradorsHolder	= $('ul.docents-curs.collaboradors');
			alumnesHolder	= $('ul.alumnes-curs');

			instructorsHolder.data('index', instructorsHolder.find('.docent-form-row').length);	
			collaboradorsHolder.data('index', collaboradorsHolder.find('.docent-form-row').length);
			alumnesHolder.data('index', alumnesHolder.find('.alumne-form-row').length);

			$('a.add-instructor').on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();
				if ($('#curs_auxinstructor').val() == '') {
					dialegError('Error', 'Cal escollir un instructor', 400, 0);
					return false;
				} 
		        // add a new intructor form
		        addItemCollection(instructorsHolder, 'docent', $("#curs_auxinstructor").select2("data"));
		        $("#curs_auxinstructor").select2("data", "");
		    });

			$('a.add-collaborador').on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

                if ($('#curs_auxcollaborador').val() == '') {
                	dialegError('Error', 'Cal escollir un instructor', 400, 0);
                	return false;
                } 
		        // add a new col·laborador form
                addItemCollection(collaboradorsHolder, 'docent', $("#curs_auxcollaborador").select2("data"));
                $("#curs_auxcollaborador").select2("data", "");
		    });

			$('a.add-alumne').on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();
                if ($('#curs_auxalumne').val() == '') {
                	dialegError('Error', 'Cal escollir algun participant', 400, 0);
                	return false;
                }
		        // add a new intructor form
		        addItemCollection(alumnesHolder, 'alumne', $("#curs_auxalumne").select2("data"));
                $("#curs_auxalumne").select2("data", "");
		    });

			
			$("select#curs_club").select2({
				minimumInputLength: 2,
				allowClear: true,
				placeholder: 'Escollir club'
			});
			
			$("select#curs_titol").select2({
				minimumInputLength: 2,
				allowClear: true,
				placeholder: 'Escollir títol'
			});

			var current = new Date();
			var mindate = new Date (current.getFullYear(), current.getMonth()-1, current.getDay());
			var maxdate = new Date (current.getFullYear(), current.getMonth()+3, current.getDay());
			initDateTimePicker ( 
				$( '#curs_datadesde' ), 
				mindate, 
				maxdate, 
				current, 
				'desde-picker', 
				false,
				function (ct, $input) {  // current_time i $input el control
					/*if ( $input.val() == '') {
					}*/
				}
			);

			$( '#curs_datadesde' ).datetimepicker( {'allowBlank': false} );
			$( '#curs_datadesde' ).datetimepicker( {'validateOnBlur': false} );
			
			var currentfin = new Date (current.getFullYear(), current.getMonth(), current.getDay()+10);
			initDateTimePicker ( 
				$( '#curs_datafins' ), 
				mindate, 
				maxdate, 
				currentfin, 
				'fins-picker', 
				false,
				function (ct, $input) {
					/*if ( $input.val() == '') {
					}*/
				}
			);

			$( '#curs_datafins' ).datetimepicker( {'allowBlank': false} );
			$( '#curs_datafins' ).datetimepicker( {'validateOnBlur': false} );
			
				
			$( "#tabs-docents" ).tabs();

			// Select per dni
			var urlConsultaPerDni = "{{ path('FecdasBundle_jsonpersona', { 'admin': admin }) }}";
			urlConsultaPerDni += '&club='+$('#curs_club').val();
			urlConsultaPerDni += '&desde='+$('#curs_datadesde').val();  // data inici del curs, per validar llicència
			urlConsultaPerDni += '&fins='+$('#curs_datafins').val();  // data final del curs, per validar llicència
			var urlConsultaDocentPerDniNom = urlConsultaPerDni+'&nom=1&tecnic=1';


			callbackPropagate = function(added) {
				// added = {"id":52052,"text":"52628669F","nomcognoms":"Alex2 MACIA PEREZ","mail":null,"telf":"","nascut":"21/12/1972","poblacio":null,"nacionalitat":"ESP"}
				$(".alert.alert-dismissible, .alert.field-error-alert").remove();
				
		    };
			selectionFormat = function(item) {
		        return item.text+"-"+item.nomcognoms;
		    };

		    resultFormat = function(item) {
		        return item.text+"-"+item.nomcognoms;
		    };
			
			//								elem_sel, 				placeholder, 			minInput, allowclear, url, callbackPropagateValues, selectionFunction, selectionFormat, resultFormat, onclearingFunction, loadedFunction										
			init_cercapernomdnimail_JSON('#curs_auxdirector', 'Cercar al director per nom o DNI', 5, true, urlConsultaDocentPerDniNom, callbackPropagate, selectionFormat, resultFormat );

			init_cercapernomdnimail_JSON('#curs_auxcodirector', 'Cercar al co-director per nom o DNI', 5, true, urlConsultaDocentPerDniNom,  callbackPropagate, selectionFormat, resultFormat );	
			
			
			init_cercapernomdnimail_JSON('#curs_auxinstructor', 'Cercar instructor per nom o DNI', 5, true, urlConsultaDocentPerDniNom, callbackPropagate, selectionFormat, resultFormat);

			init_cercapernomdnimail_JSON('#curs_auxcollaborador', 'Cercar col·laborador per nom o DNI', 5, true, urlConsultaDocentPerDniNom, callbackPropagate, selectionFormat, resultFormat);

			init_cercapernomdnimail_JSON('#curs_auxalumne', 'Cercar DNI alumne', 5, true, urlConsultaPerDni, callbackPropagate, selectionFormat, resultFormat);
			
			// Delegate
			$( "#llista-alumnes" ).on( "click", ".remove-alumne", function( e ) {
		        //Cancel the link behavior
		        e.preventDefault();
		        
		        removeItemCollection(alumnesHolder, $(this));
			});

			// Delegate
			$( "#tabs-instructors" ).on( "click", ".remove-docent", function( e ) {
		        //Cancel the link behavior
		        e.preventDefault();
		        
				removeItemCollection(instructorsHolder, $(this));
			});
			
			// Delegate
			$( "#tabs-collaboradors" ).on( "click", ".remove-docent", function( e ) {
		        //Cancel the link behavior
		        e.preventDefault();

				removeItemCollection(collaboradorsHolder, $(this));
		        
			});

			$('a.delete-curs').click( function(e) {
				//Cancel the link behavior
		        e.preventDefault();

				var url = $(this).attr('href');
		        var strText = 'Segur que vols anul·lar aquest curs?';	
				dialegConfirmacio(strText, 'Anul·lar curs', 'auto', 400, function() {
					// Continue
					window.location = url;	
					
				}, function() {
					//Cancel
					closeDialegConfirmacio();
				}, function() {
					//Open
				});
			});			
			
			$('.button-step a').click( function(e) {
				//Cancel the link behavior
		        e.preventDefault();

		        var action = $(this).attr('data-action');
				
		        var activeLink = $(this).parent('.button-step-active').length;
		        if (activeLink == 0) {
					strInfo = 'Opció no disponible';
		        	if (action == 'save') strInfo += '. Només els instructors poden editar les dades del curs';
		        	if (action == 'close') strInfo += '. Només els instructors poden tancar el curs per tal que el Club les validi ';		        			        
		        	if (action == 'unclose') strInfo += '. Només es pot reobrir un curs si està tancat i pendent de validació, només el Club pot reobrir el curs ';
		        	if (action == 'validate') strInfo += '. Per poder validar un curs cal que l\'instructor l\'hagi tancat primer. Només el Club pot confirmar la validesa de les dades del curs ';
		        	if (action == 'finalize') strInfo += '. Per poder finalitzar un curs cal que el Club l\'hagi validat primer. Només des de la Federació es pot finalitzar un curs ';
		        	dialegError('Avís', strInfo, 400, 0);
		        	return false;
		        }

				var roleinstructor = '{{ roleinstructor }}';
				var roleclub = '{{ roleclub }}';
				var admin = '{{ admin }}';

				$('#curs_action').val( action ); 

				if (action == 'save') {

					if (!roleinstructor) {
						dialegError('Error', 'Només els instructors poden editar les dades del curs', 400, 0);
			        	return false;
					}
					
					$('#formcurs').submit();
				}

				if (action == 'close') {

					if (!roleinstructor) {
						dialegError('Error', 'Només els instructors poden tancar el curs', 400, 0);
			        	return false;
					}
					
					var strText = 'Un cop confirmades les dades del curs no es podran modificar.<br/>Segur que vols continuar?';	
					dialegConfirmacio(strText, 'Confirmar les dades per validació per part del club', 'auto', 400, function() {
						// Continue
						$('#formcurs').submit();
					}, function() {
						//Cancel
						closeDialegConfirmacio();
					}, function() {
						//Open
					});
				}

				if (action == 'unclose') {
					if (!roleclub) {
						dialegError('Error', 'Només el Club pot reobrir el curs per editar-lo', 400, 0);
			        	return false;
					}
					
					var strText = 'Vols tornar a obrir el curs perquè l\'instructor pugui editar-lo?';	
					dialegConfirmacio(strText, 'Reobrir el curs', 'auto', 400, function() {
						// Continue
						$('#formcurs').submit();
					}, function() {
						//Cancel
						closeDialegConfirmacio();
					}, function() {
						//Open
					});
				}

				if (action == 'validate') {
					if (!roleclub) {
						dialegError('Error', 'Només el Club pot confirmar la validesa de les dades del curs', 400, 0);
			        	return false;
					}
					
					var strText = 'Un cop validades les dades del curs no es podran modificar.<br/>Segur que vols continuar?';	
					dialegConfirmacio(strText, 'Validar les dades per notificar a la Federació', 'auto', 400, function() {
						// Continue
						$('#formcurs').submit();
					}, function() {
						//Cancel
						closeDialegConfirmacio();
					}, function() {
						//Open
					});
				}

				if (action == 'finalize') {
					if (!admin) {
						dialegError('Error', 'Només des de la Federació es pot finalitzar un curs', 400, 0);
			        	return false;
					}
					
					var errors = '{{ requeriments.errors.total }}';

					var strText = ''
					if (!isNaN(errors)) {
						strText = 'No s\'han pogut revisar els errors del curs.<br/>Segur que vols continuar?';
					} else {
						if (errors > 0) {
							strText = 'S\'ha detectat '+errors+' errades a la revisió dels requeriments del curs.<br/>Segur que vols continuar?';
						} else {
							strText = 'La revisió dels requeriments del curs és correcte.<br/>Vols continuar?';
						}
					}
					dialegConfirmacio(strText, 'Finalitzar curs', 'auto', 400, function() {
						// Continue
						$('#formcurs').submit();
					}, function() {
						//Cancel
						closeDialegConfirmacio();
					}, function() {
						//Open
					});
				}
			});
		});

	</script>

{% endblock %}

