<div class="row">
	<div class="col-md-8">
		<h2 class="blue">Relació d'alumnes aptes</h2>
	</div>
	{% if curs.editable == true %}
		<div class="col-md-4 space20">
			<h4 class="blue">Pujar documents</h4>
		</div>	
		<div id="formalumne-cerca" class="col-md-12">
			{{ form_widget(form.participantscurrent) }}
			{% set formalumne = form.formalumne %}
			{{ form_widget(form.formalumne.id) }}
			{{ form_widget(formalumne.num, { 'attr': {'class': 'form-control form-control-center hidden'} }) }}
			<div class="row">
				<div class="col-md-8 col-sm-12">
					<div class="row">
						<div class="col-md-5 col-sm-6">
						    <div class="form-group">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-icon"><span class="fa fa-search fa-1x"></span> DNI</span>
									{{ form_widget(formalumne.dni, { 'attr': {'class': 'form-control form-control-center'} }) }}
								</div>
							</div>
						</div>
						<div class="col-md-7 col-sm-6">
							<div class="form-group">
							   	<div class="input-group">
									<span class="input-group-addon input-group-addon-icon group-addon-md">Nom</span>
									{{ form_widget(formalumne.nomcognoms, { 'attr': {'class': 'form-control'} }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">	
						<div class="col-md-5 col-sm-6">
							<div class="form-group">
							   	<div class="input-group">
									<span class="input-group-addon input-group-addon-icon group-addon-md"><span class="fa fa-phone fa-1x"></span></span>
									{{ form_widget(formalumne.telefon, { 'attr': {'class': 'form-control form-control-center'} }) }}
								</div>
							</div>
						</div>
						<div class="col-md-7 col-sm-6">
							<div class="form-group">
							   	<div class="input-group">
									<span class="input-group-addon input-group-addon-icon group-addon-md"><span class="fa fa-envelope fa-1x"></span></span>
									{{ form_widget(formalumne.mail, { 'attr': {'class': 'form-control'} }) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">	
						<div class="col-md-4 col-sm-6">
							<div class="form-group">
							   	<div class="input-group">
									<span class="input-group-addon input-group-addon-icon">Nascut</span>
									{{ form_widget(formalumne.datanaixement, { 'attr': {'class': 'form-control form-control-center'} }) }}
								</div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="form-group">
							   	<div class="input-group">
									<span class="input-group-addon input-group-addon-icon group-addon-lg">Població</span>
									{{ form_widget(formalumne.poblacio, { 'attr': {'class': 'form-control'} }) }}
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4">
							<div class="form-group">
							   	<div class="input-group">
									<span class="input-group-addon input-group-addon-icon group-addon-md"><span class="fa fa-globe fa-1x"></span></span>
									{{ form_widget(formalumne.nacionalitat, { 'attr': {'class': 'form-control form-control-center'} }) }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-offset-0 col-md-4  col-sm-offset-6 col-sm-6">
					<div class="row">
						<div class="col-md-4">
							{{ form_widget(form.formalumne.fotoupld) }}
							<div class="galeria-upload galeria-upload-proto">
								<div class="image-upload"><span class="box-center-txt">Pujar foto<br/>(click)</span></div>
							</div>
						</div>
						<div class="col-md-8">
							{{ form_widget(form.formalumne.certificatupld) }}
							<div class="certificat-upload certificat-proto">
								<p class="titol blue">Certificat mèdic</p>
								<div class="form-group">
									<div class="input-group" style="position:relative;">
										<span class="input-group-addon"></span>
										<input id="upload-file-info" class="form-control" type="text">
								        <span class="input-group-addon input-group-addon-action">
								        	<a class="input-append" href="javascript:void(0);"><i class="fa fa-folder-open fa-1x orange"></i></a>
								        </span>
							        </div>
								</div>
							</div>
							<div class="col-last-right">
								<a class="add-alumne link" href="javascript:void(0);" ><i class="fa fa-chevron-circle-down fa-2x blue"></i></a> 
							</div>	
						</div> 
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	<div id="llista-alumnes" class="col-md-12">
		<div class="table-header">
			<div id="list-header" class="list-docent-curs-header">
				<div class="col-id hidden">&nbsp;</div>
				<div class="col-listheader col-alumne-dni">DNI</div>
				<div class="col-listheader col-alumne-nom">Nom i cognoms<br/><span class="subtitle">(Adreça electrònica)</span></div>
				<div class="col-listheader col-alumne-poblacio">Població<br/><span class="subtitle">(Nascut)</span></div>
				<div class="col-listheader col-alumne-foto">Foto</div>
				<div class="col-listheader col-alumne-certificat">Certificat</div>
				<div class="col-listheader col-alumne-num">Num.</div>
				<div class="col-listheader col-alumne-actions">&nbsp;</div>
			</div>
		</div>
		<div class="table-noscroll">
   			<ul id="list-data-alumnes" class="list-data alumnes-curs" data-prototype="{{ form_widget(form.alumnes.vars.prototype)|e('html_attr') }}">
				{# for participant in curs.participantsSortedByCognomsNom %} 
					{% set meta = participant.persona %} 
					{% set alumne = meta.personaClub(participant.club) %} 
					{% if alumne == null %}
						{% set alumne = meta.ultimesDadesPersonals %}
					{% endif %}
				{% endfor #}
				{% for alumne in form.alumnes %}
					{% include 'FecdasBundle:Titulacions:cursalumnerow.html.twig'  %}
				{% endfor %}
				
				<li class="data-detall empty-alert {% if form.alumnes|length == 0 %}hidden{% endif %}"><div class="data-detall-cell" colspan="7"><div class="alert alert-success" role="alert">Cap participant</div></div></li>
			 </ul> 
		</div>				 
	</div>
</div>
	