{% set persona = null %}
{% if participantdata is not null and participantdata.metapersona is not null %}
    {% set persona = participantdata.metapersona.persona(curs.club) %}	
{% endif %}

<li class="{% if proto %}curs-form-prototype{% else %}alumne-form-row data-detall{% endif %}">
	<div class="col-id col-seq hidden">{{ form_widget(participant.id) }}</div>
	<div class="data-detall-cell col-alumne-meta hidden">{{ form_widget(participant.metapersona) }}</div>
	<div class="data-detall-cell col-alumne-dni">{{ form_widget(participant.auxdni, { 'attr': {'class': 'form-control form-control-center'} }) }}</div>
	<div class="data-detall-cell col-alumne-nom">{{ form_widget(participant.auxnom, { 'attr': {'class': 'form-control form-control-left'} }) }}</div>
   	<div class="data-detall-cell col-alumne-certificat">
   	    {{ form_widget(participant.certificat) }}
   		{{ form_widget(participant.certificatupld) }}
   		<div class="file-upload">
   			{% if proto or (curs.editable and roleinstructor) %}
    			<div class="input-group">
    				<span class="input-group-addon"></span>
        			<input id="upload-file-{% if proto or persona is null %}__name__{% else %}{{ persona.id }}{% endif %}-info" class="upload-file-info form-control" type="text">
        			<span class="input-group-addon input-group-addon-action">
        				<a class="input-append" href="javascript:void(0);"><i class="fa fa-folder-open fa-1x orange"></i></a>
        			</span>
        		</div>
    		{% endif %}
    		<div class="file-info">
   			{% if persona is not null and persona.certificat is not null %}
   				<span class="blue">descarregar certificat</span> 
				<a href="{{ persona.certificat.webPath }}" target="_blank" title="{{ persona.certificat.titol }}" class="link">
					  <span class="fa fa-download fa-1x orange"></span> 
				</a>
				<a class="remove-file link" href="javascript:void(0);"><span class="fa fa-trash fa-1x red"></span></a>
   			{% else %}
   				{% if proto or (curs.editable and roleinstructor) %}
   				{% else %}
   						<span class="blue">Certificat mèdic no disponible </span>
    	   				<span class="subtitle">asdasd </span>
   				{% endif %}
   			{% endif %}
   			</div>
   		</div>
   	</div>	
	<div class="data-detall-cell col-alumne-foto">
        {{ form_widget(participant.foto) }}
		{{ form_widget(participant.fotoupld) }}
		
		<span class="galeria-upload" href="javascript:void(0);">
			{% if persona is not null and persona.foto is not null and persona.foto.width > 0 and persona.foto.height > 0 %}
				<div class="image-upload">
  		   			<a href="{{ persona.foto.webPath }}" target="_blank" download="{{ persona.foto.path }}" class="nolink">
   		   				<img src="{{ persona.foto.webPath }}" alt="{{ persona.foto.titol }}" width="30px"/>
   		   			</a>
   		   		</div>
			{% else %}
	   			{% if proto or (curs.editable and roleinstructor)  %}
	   				<div class="image-upload"><span class="box-center-txt">Pujar foto<br/>(click)</span></div>
	   			{% else %}
	   				<div class="image-noupload"><span class="box-center-txt">Imatge no<br/>disponible</span></div>
	   			{% endif %}
			{% endif %}
   		</span>	
   	</div>
	<div class="data-detall-cell col-alumne-num">{{ form_widget(participant.num, { 'attr': {'class': 'form-control form-control-center'} }) }}</div>
	<div class="data-detall-cell col-actions">
		{% if proto or (curs.editable and roleinstructor) %}<a class="remove-alumne link" href="javascript:void(0);" ><i class="fa fa-remove fa-1x red"></i></a>{% endif %}
	</div>
</li>

