{# src/Fecdas/PartesBundle/Resources/views/Page/curs.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% form_theme form 'FecdasBundle:Includes:formtheming.html.twig' %}

{% block stylesheets %}
	
	<link href="{{ asset('css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
	
	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Informació curs{% endblock %}

{% block body %}
	<header>
		<div class="row">
			<div class="col-md-8"><h1><a href="{{ path('FecdasBundle_cursos') }}">Llistat de cursos</a> > Edició</h1></div>
	        <div class="col-md-4 col-last-right">
				<div class="buttons-top-bootstrap">
					<div class="button-top"><a class="link export-pdf" href="{{ path('FecdasBundle_actacurspdf') }}" alt="Descarregar acta curs" 
							title="Descarregar acta curs"><i class="fa fa-file-pdf-o fa-1x red"></i></a></div> 

				</div> 
			</div>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<div class="buttons-curs-process">
						{% if curs.esNou %}
							<span class="step-description"><span class="step-step green">Pas 1.</span> Instructor: Introduïr les dades i desar</span>
						{% endif %}

						<div class="button-step {% if curs.esNou %}button-step-active {% endif %}">
							<a class="link save-curs" href="{{ path('FecdasBundle_curs', { 'action' : 'save' }) }}" data-action="save" alt="Desar dades curs" 
								title="Desar dades curs">
								<i class="fa-stack fa-xs"><i class="fa fa-circle fa-stack-2x green"></i><i class="fa fa-floppy-o fa-stack-1x fa-inverse"></i></i>
							</a>
						</div>

						{% if curs.editable and not curs.esNou %}
							<span class="step-description"><span class="step-step orange">Pas 2.</span> Instructor: Confirmar les dades i validació per part del club</span>
						{% endif %}
						
						<div class="button-step {% if curs.editable and not curs.esNou %}button-step-active{% endif %}">
							<a class="link close-curs" href="{{ path('FecdasBundle_curs', { 'action' : 'close' }) }}" data-action="close" alt="Tancar per validació del club" 
								title="Tancar per validació del club">
									<i class="fa-stack fa-xs"><i class="fa fa-circle fa-stack-2x orange"></i><i class="fa fa-lock fa-stack-1x fa-inverse"></i></i>
							</a>
						</div>	
						
						{% if curs.tancat %}
							<span class="step-description"><span class="step-step red">Pas 3.</span> Club: Validar les  dades i notificar a la Federació </span>
						{% endif %}
						
						<div class="button-step {% if curs.tancat %}button-step-active{% endif %}">
							<a class="link validate-curs" href="{{ path('FecdasBundle_curs', { 'action' : 'validate' }) }}" data-action="validate" alt="Validar i notificar a la Federació" 
								title="Validar i notificar a la Federació">
									<i class="fa-stack fa-xs"><i class="fa fa-circle fa-stack-2x red"></i><i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i></i>
							</a>
						</div>  
						
						{% if curs.validat %}
							<span class="step-description"><span class="step-step blue">Pas 4.</span> Federació: Completar les dades i consolidar el curs i les titulacions dels participants </span>
						{% endif %}
						
						<div class="button-step {% if curs.validat %}button-step-active{% endif %}">
							<a class="link finalize-curs" href="{{ path('FecdasBundle_curs', { 'action' : 'finalize' }) }}" data-action="finalize" alt="Consolidació del curs" 
								title="Consolidació del curs">
								<i class="fa-stack fa-xs"><i class="fa fa-circle fa-stack-2x blue"></i><i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i></i>
							</a>
						</div>  	
					</div> 
				</div>
			</div>
		</div>
   	</header>
	{% include 'FecdasBundle:Includes:messages.html.twig' %}
    
	{{ form_start(form, {'action': path('FecdasBundle_curs'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'formcurs'}}) }}
		
		{{ form_widget(form.action) }}
		<div class="row">
			<div class="col-md-2">
			    <div class="form-group">
			    	{{ form_label(form.num, 'Num. Acta') }}
					<div class="input-group"><div class="input-group-addon"></div>{{ form_widget(form.num, { 'attr': {'class': 'form-control'} }) }}</div>
				</div>{{ form_errors(form.num)  }}
			 </div>
			<div class="col-md-3  col-xs-12">
				<div class="form-group">
				   	{{ form_label(form.club, 'Realitzat pel club', { 'label_attr': {'class': ''} }) }}
					{{ form_widget(form.club, { 'attr': {'class': 'form-control'} }) }}
				</div>{{ form_errors(form.club)  }}
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="form-group">
				   	{{ form_label(form.titol, 'Del curs', { 'label_attr': {'class': ''} }) }}
					{{ form_widget(form.titol, { 'attr': {'class': 'form-control'} }) }}
				</div>{{ form_errors(form.titol)  }}
			</div>
			<div class="col-md-2 col-xs-4">
				<div class="form-group">
					{{ form_label(form.datadesde, 'Data inici') }}
					<div class="input-group" >
						{{ form_widget(form.datadesde, { 'attr': {'class': 'form-control formtime-calendar'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>{{ form_errors(form.datadesde)  }}
				</div>
			</div>
		   	<div class="col-md-2 col-xs-4">
				<div class="form-group">
					{{ form_label(form.datafins, 'Finalització prevista') }}
					<div class="input-group" >
						{{ form_widget(form.datafins, { 'attr': {'class': 'form-control formtime-calendar'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>{{ form_errors(form.datafins)  }}
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h2 class="blue">Equip docent del curs</h2>
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div id="tabs-docents">
			  		<ul>
			    		<li><a href="#tabs-direccio">Director/s</a></li>
			    		<li><a href="#tabs-instructors">Instructors</a></li>
			    		<li><a href="#tabs-collaboradors">Col·laboradors</a></li>
					</ul>
					<div id="tabs-direccio">
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<div class="row">
										<div class="col-md-2">
										    {{ form_label(form.auxdirector, 'Director:', { 'label_attr': {'class': 'space10'} }) }}
										</div>
										<div class="col-md-10">
											<div class="input-group">
												<span class="input-group-addon input-group-addon-icon"><span class="fa fa-search fa-1x"></span></span>
												{{ form_widget(form.auxdirector, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon input-group-addon-icon">Num. <span class="fa fa-address-card-o fa-1x"></span></span>
										{{ form_widget(form.auxcarnet, { 'attr': {'class': 'form-control'} }) }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<div class="row">
										<div class="col-md-2">
										    {{ form_label(form.auxcodirector, 'Co-director:', { 'label_attr': {'class': 'space10'} }) }}
										</div>
										<div class="col-md-10">
											<div class="input-group">
												<span class="input-group-addon input-group-addon-icon"><span class="fa fa-search fa-1x"></span></span>
												{{ form_widget(form.auxcodirector, { 'attr': {'class': 'form-control'} }) }}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon input-group-addon-icon">Num. <span class="fa fa-address-card-o fa-1x"></span></span>
										{{ form_widget(form.auxcocarnet, { 'attr': {'class': 'form-control'} }) }}
									</div>
								</div>
							</div>					
						</div>
					</div>
					<div id="tabs-instructors">
						{% set proto = true %}
						{% set tipus = "instructor" %}
						{% set docents = form.instructors %}
						{% set prototype = form.instructors.vars.prototype %}
						{% set titol = "Instructors que han impartit classes" %}
						{% set auxdocent = form.auxinstructor %}
						{% include 'FecdasBundle:Titulacions:cursdocentstaula.html.twig' %}
					</div>
					<div id="tabs-collaboradors">
						{% set proto = false %}
						{% set tipus = "collaborador" %}
						{% set docents = form.colaboradors %}
						{% set prototype = form.colaboradors.vars.prototype %}
						{% set titol = "Han col·laborat com a equip de seguretat" %}
						{% set auxdocent = form.auxcolaborador %}
						{% include 'FecdasBundle:Titulacions:cursdocentstaula.html.twig' %}
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				{% include 'FecdasBundle:Titulacions:cursalumnestaula.html.twig'  %}
			</div>
		</div>
		
		
		<div id="formcurs-rest" class="hidden">{{ form_rest(form) }}</div>
		
		<div id="error" class="sms-notice" style="display:none"> </div>
		
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- Datetime plugin's. http://xdsoft.net/jqplugins/datetimepicker/ -->
	<script src="{{ asset('js/jquery.datetimepicker.js') }}" type="text/javascript"></script>

	<script type="text/javascript">

		var instructorsHolder, collaboradorsHolder, alumnesHolder;
	
		function addInstructorForm(instructorsHolder) {
		    // Get the data-prototype explained earlier
		    var prototype = instructorsHolder.data('prototype');

		    // get the new index
		    var index = instructorsHolder.data('index');

		    // Replace '__name__' in the prototype's HTML to
		    // instead be a number based on how many items we have
		    var newForm = prototype.replace(/__name__/g, index);

		    // increase the index with one for the next item
		    instructorsHolder.data('index', index + 1);

		    // Display the form in the page in an li, before the "Add a tag" link li
		    var $newFormLi = $('<li class="docent-form-row"></li>').append(newForm);
		    instructorsHolder.append($newFormLi);

		    
		};

		function removeItemCollection(holder, elClick) {
			var parentRow = elClick.parents('li');
	        var parentTable = parentRow.parents('.list-data');
	        
	        var index = holder.data('index');
	        index--;
	        holder.data('index', index);

	        if (index === 0) {
		        // Últim
	        	parentTable.children('.empty-alert').removeClass('hidden'); 
		    }
	        
	        parentRow.remove();
		};

		
		
		clearAlumneForm = function() {

			// Clear form
			$('#curs_formalumne_id').val('');
			//$('#curs_formalumne_dni').val( );
			
			$('#curs_formalumne_nomcognoms').val( '' );
			$('#curs_formalumne_mail').val( '' );
			$('#curs_formalumne_telefon').val( '' );
			$('#curs_formalumne_datanaixement').val( '' );
			$('#curs_formalumne_poblacio').val( '' );
			$('#curs_formalumne_nacionalitat').val( '' );


			// Remove foto galeria i certificat si escau
			$("#formalumne-cerca .remove-foto").click();

			$('#curs_formalumne_certificatupld').val('');
			$(".certificat-upload.certificat-proto #upload-file-info").val('');
		};

		$(document).ready(function(){
			setMenuActive("menu-cursos");

			// Prepare collections holders
			instructorsHolder = $('ul.docents-curs.instructors');
			collaboradorsHolder	= $('ul.docents-curs.collaboradors');
			alumnesHolder	= $('ul.alumnes-curs');

			instructorsHolder.data('index', instructorsHolder.find(':input').length);	
			collaboradorsHolder.data('index', collaboradorsHolder.find(':input').length);
			alumnesHolder.data('index', alumnesHolder.find(':input').length);

			$('a.add-instructor').on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new intructor form
		        addInstructorForm(instructorsHolder);
		    });

			$('a.add-collaborador').on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new col·laborador form
		        addCollaboradorForm(collaboradorsHolder);
		    });

			$('a.add-alumne').on('click', function(e) {
		        // prevent the link from creating a "#" on the URL
		        e.preventDefault();

		        // add a new intructor form
		        addAlumneForm(alumnesHolder);
		    });


			
			$("select#curs_club").select2({
				minimumInputLength: 2,
				allowClear: true,
				placeholder: 'Escollir club'
			});
			
			$("select#curs_titol").select2({
				minimumInputLength: 2,
				allowClear: true,
				placeholder: 'Escollir títol'
			});

			imageUploadForm("#curs_formalumne_fotoupld", 104);

			prepareFileInput( $("#curs_formalumne_certificatupld") );

			removeFotoGaleria( "#formalumne-cerca, #llista-alumnes" );
			
			var current = new Date();
			var mindate = new Date (current.getFullYear(), current.getMonth()-1, current.getDay());
			var maxdate = new Date (current.getFullYear(), current.getMonth()+3, current.getDay());
			initDateTimePicker ( 
				$( '#curs_datadesde' ), 
				mindate, 
				maxdate, 
				current, 
				'desde-picker', 
				false,
				function (ct, $input) {  // current_time i $input el control
					/*if ( $input.val() == '') {
					}*/
				}
			);

			$( '#curs_datadesde' ).datetimepicker( {'allowBlank': false} );
			$( '#curs_datadesde' ).datetimepicker( {'validateOnBlur': false} );
			
			var currentfin = new Date (current.getFullYear(), current.getMonth(), current.getDay()+10);
			initDateTimePicker ( 
				$( '#curs_datafins' ), 
				mindate, 
				maxdate, 
				currentfin, 
				'fins-picker', 
				false,
				function (ct, $input) {
					/*if ( $input.val() == '') {
					}*/
				}
			);

			$( '#curs_datafins' ).datetimepicker( {'allowBlank': false} );
			$( '#curs_datafins' ).datetimepicker( {'validateOnBlur': false} );
			
				
			$( "#tabs-docents" ).tabs();

			// Select per dni
			var urlConsultaPerDni = "{{ path('FecdasBundle_jsonpersona', { 'admin': admin }) }}";
			urlConsultaPerDni += '&club='+$('#curs_club').val();
			urlConsultaPerDni += '&desde='+$('#curs_datadesde').val();  // data inici del curs, per validar llicència
			urlConsultaPerDni += '&fins='+$('#curs_datafins').val();  // data final del curs, per validar llicència
			var urlConsultaDocentPerDniNom = urlConsultaPerDni+'&nom=1&tecnic=1';


			callbackPropagate = function(added) {
				$(".alert.alert-dismissible").remove();
		    };
			selectionFormat = function(item) {
		        return item.text+"-"+item.nomcognoms;
		    };

		    resultFormat = function(item) {
		        return item.text+"-"+item.nomcognoms;
		    };
			
			//								elem_sel, 				placeholder, 			minInput, allowclear, url, callbackPropagateValues, selectionFunction, selectionFormat, resultFormat, onclearingFunction, loadedFunction										
			init_cercapernomdnimail_JSON('#curs_auxdirector', 'Cercar al director per nom o DNI', 5, true, urlConsultaDocentPerDniNom, callbackPropagate, selectionFormat, resultFormat );

			init_cercapernomdnimail_JSON('#curs_auxcodirector', 'Cercar al co-director per nom o DNI', 5, true, urlConsultaDocentPerDniNom,  callbackPropagate, selectionFormat, resultFormat );	
			
			
			init_cercapernomdnimail_JSON('#curs_auxinstructor', 'Cercar instructor per nom o DNI', 5, true, urlConsultaDocentPerDniNom, callbackPropagate, selectionFormat, resultFormat);

			init_cercapernomdnimail_JSON('#curs_auxcolaborador', 'Cercar col·laborador per nom o DNI', 5, true, urlConsultaDocentPerDniNom, callbackPropagate, selectionFormat, resultFormat);
			
			init_cercapernomdnimail_JSON('#curs_formalumne_dni', 'Cercar DNI alumne', 5, true, urlConsultaPerDni, function ( added ) {
				/*
				{"id":52052,"text":"52628669F","nomcognoms":"Alex2 MACIA PEREZ","mail":null,"telf":"","nascut":"21/12/1972","poblacio":null,"nacionalitat":"ESP"}
				*/
				$('#curs_formalumne_id').val( added.id );
				$('#curs_formalumne_nomcognoms').val( added.nomcognoms );
				$('#curs_formalumne_mail').val( added.mail );
				$('#curs_formalumne_telefon').val( added.telf );
				$('#curs_formalumne_datanaixement').val( added.nascut );
				$('#curs_formalumne_poblacio').val( added.poblacio );
				$('#curs_formalumne_nacionalitat').val( added.nacionalitat );

			}, function(item) {

		        return item.text;

			}, resultFormat, function( e ) {
				// On Clearing  => e.val, e.added, e.removed
				// Reset form fields
				clearAlumneForm();
			});

			/*
			$('.add-alumne').click( function(e) {
				// Si hi ha algú seleccionat afegir les dades del formulari
				e.preventDefault();				
				
				$(".alert.alert-dismissible").remove();
				
				if ($('#curs_formalumne_dni').val() === '') {
					var sms = smsResultAjax('KO', 'Cal escollir algún alumne');
		   			$('#formalumne-cerca').prepend(sms);
		   			return false;
				} 

				// Valida que no estigui ja a la llista
	        	var idAlumne = $('#curs_formalumne_id').val(); 

				if ($('#curs_participantscurrent').val().trim().indexOf( idAlumne ) !== -1) {
					var sms = smsResultAjax('KO', 'Aquesta persona ja es troba a la llista');
		   			$('#formalumne-cerca').prepend(sms);
		   			return false;
				}
				
				var newRowClass = 'alumne-row_'+$('#curs_formalumne_id').val();
				var newIdAlumne = $('#curs_formalumne_id').clone();
				var newFotoUpld = $('#curs_formalumne_fotoupld').clone();
				var newCertificatUpld = $('#curs_formalumne_certificatupld').clone();
				var newNumTitulacio = $('#curs_formalumne_num').clone();

				//var totalNous = $('.alumne-row-new').length;  <= cal aprofitar forats que deixa l'esborrat
				var totalNous = 0;
				
				while ( $('#'+newCertificatUpld.attr('id')+'_'+totalNous).length !== 0 ) {
					totalNous++;
				}

				newIdAlumne.attr('name', newIdAlumne.attr('name')+'['+totalNous+']');
				newIdAlumne.attr('id', newIdAlumne.attr('id')+'_'+totalNous);
				
				newFotoUpld.attr('name', newFotoUpld.attr('name')+'['+totalNous+']');
				newFotoUpld.attr('id', newFotoUpld.attr('id')+'_'+totalNous);
				
				newCertificatUpld.attr('name', newCertificatUpld.attr('name')+'['+totalNous+']');
				newCertificatUpld.attr('id', newCertificatUpld.attr('id')+'_'+totalNous);
				
				newNumTitulacio.attr('name', newNumTitulacio.attr('name')+'['+totalNous+']');
				newNumTitulacio.attr('id', newNumTitulacio.attr('id')+'_'+totalNous);
				newNumTitulacio.removeClass('hidden');

				
				var htmlLi = [];
				htmlLi.push('<li class="alumne-row data-detall '+newRowClass+' alumne-row-new">');
				htmlLi.push('   <div class="col-id col-seq col-alumne-id hidden"></div>');
				htmlLi.push('   <div class="data-detall-cell col-alumne-dni">'+$('#s2id_curs_formalumne_dni .select2-chosen').html()+'</div>');
				htmlLi.push('   <div class="data-detall-cell col-alumne-nom">'+$('#curs_formalumne_nomcognoms').val());
				if ($('#curs_formalumne_mail').val() != '') {
					htmlLi.push('      <br/><span class="subtitle">'+$('#curs_formalumne_mail').val()+'</span>');
				}
				htmlLi.push('   </div>');
				htmlLi.push('   <div class="data-detall-cell col-alumne-poblacio">'+$('#curs_formalumne_poblacio').val());
				if ($('#curs_formalumne_nacionalitat').val() != '') {
					htmlLi.push('      ('+$('#curs_formalumne_nacionalitat').val()+')');
				}
				if ($('#curs_formalumne_mail').val() != '') {
					htmlLi.push('      <br/><span class="subtitle">'+$('#curs_formalumne_datanaixement').val()+'</span>');
				}
				htmlLi.push('   </div>');
				htmlLi.push('   <div class="data-detall-cell col-alumne-foto"></div>');
				htmlLi.push('   <div class="data-detall-cell col-alumne-certificat"></div>');
				htmlLi.push('   <div class="data-detall-cell col-alumne-num"></div>');
				htmlLi.push('   <div class="data-detall-cell col-alumne-actions">');
				htmlLi.push('      <a class="remove-alumne link" href="javascript:void(0);" data-id="'+$('#curs_formalumne_id').val()+'" ><i class="fa fa-remove fa-1x red"></i></a>');
				htmlLi.push('   </div>');
				htmlLi.push('</li>');

				if ($('#list-data.alumnes-curs').children('.alumne-row').length == 0) {
					$('#list-data.alumnes-curs').children('.alumne-empty-alert').addClass('hidden');
				}

				$('#list-data.alumnes-curs').append(htmlLi.join( '' ));

				$('#list-data.alumnes-curs .'+newRowClass+' .col-alumne-id').append(newIdAlumne);
				$('#list-data.alumnes-curs .'+newRowClass+' .col-alumne-foto').append(newFotoUpld);
				$('#list-data.alumnes-curs .'+newRowClass+' .col-alumne-foto').append( $('.galeria-upload.galeria-upload-proto').clone().removeClass('galeria-upload-proto') );
				$('#list-data.alumnes-curs .'+newRowClass+' .col-alumne-certificat').append(newCertificatUpld);
				$('#list-data.alumnes-curs .'+newRowClass+' .col-alumne-certificat').append( $('.certificat-upload.certificat-proto .form-group .input-group ').clone() );
				$('#list-data.alumnes-curs .'+newRowClass+' .col-alumne-num').append(newNumTitulacio);

				// Canviar/esborrar foto des de la taula d'alumnes
				addFotoActionsBottom(newFotoUpld.next('.galeria-upload'));

				imageUploadForm('#'+newFotoUpld.attr('id'), 104);

				prepareFileInput( newCertificatUpld );
				
				//if ($('#curs_participantscurrent').val().trim() == '') {
	        	//	$('#curs_participantscurrent').val( idAlumne );
	        	//} else {
		        //	var current = $('#curs_participantscurrent').val().trim().split(";");
		        //	current.push( idAlumne );
		        //	$('#curs_participantscurrent').val( current.join(";") );
	        	//}
				// Clear form
				$('#curs_formalumne_dni').select2("data", "");
				clearAlumneForm();

			});

			*/
			
			// Delegate
			$( "#llista-alumnes" ).on( "click", ".remove-alumne", function( e ) {
		        //Cancel the link behavior
		        e.preventDefault();
		        
		        removeItemCollection(alumnesHolder, $(this));
			});

			// Delegate
			$( "#tabs-instructors" ).on( "click", ".remove-docent", function( e ) {
		        //Cancel the link behavior
		        e.preventDefault();
		        
				removeItemCollection(instructorsHolder, $(this));
			});
			
			// Delegate
			$( "#tabs-collaboradors" ).on( "click", ".remove-docent", function( e ) {
		        //Cancel the link behavior
		        e.preventDefault();

				removeItemCollection(collaboradorsHolder, $(this));
		        
			});
			
			$('.button-step a').click( function(e) {
				//Cancel the link behavior
		        e.preventDefault();
				
				$('#curs_action').val( $(this).attr('data-action') ); 
			
				$('#formcurs').submit();
			});
		});

	</script>

{% endblock %}

