<div class="row">
	<div class="col-md-5">
		<h3 class="blue space5">{{ titol }}</h3>
	</div>
	{% if curs.editable == true and (admin or roleinstructor) %}
	<div class="col-md-7 col-last-right">
		<div class="form-inline">	
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon input-group-addon-icon"><span class="fa fa-search fa-1x"></span></span>
					{{ form_widget(auxdocent, { 'attr': {'class': 'form-control'} }) }}
				</div>
			</div>
			<div class="form-group">
				<a class="add-docent add-{{ tipus }} link" href="javascript:void(0);" ><i class="fa fa-chevron-circle-down fa-2x blue"></i></a>
			</div> 
		</div>
	</div>
	{% endif %}
	<div class="col-md-12">
		{% set key = constant('FecdasBundle\\Controller\\BaseController::CONTEXT_REQUERIMENT_GENERAL') %}
		{% set dadesGenerals = requeriments[key] %}
		{% set immersionspiscina = 0 %}
		{% set immersionsmar = 0 %}
		{% if dadesGenerals.immersions[120] is defined %}
		    {% set immersionspiscina = dadesGenerals.immersions[120].valor1 %}
		{% endif %}
		{% if dadesGenerals.immersions[121] is defined %}
		    {% set immersionsmar = dadesGenerals.immersions[121].valor1 %}
		{% endif %}
		<div class="table-header">
			<div id="list-header" class="list-docent-curs-header">
				<div class="col-id hidden">&nbsp;</div>
				<div class="col-meta hidden">&nbsp;</div>
				<div class="col-listheader col-docent-dni">DNI</div>
				<div class="col-listheader col-docent-nom">Nom i cognoms</div>
				<div class="col-listheader col-docent-carnet">Núm. carnet</div>
				<div class="col-listheader col-docent-hpiscina">Immesions Piscina{% if immersionspiscina > 0 %}<br/>(min. {{ immersionspiscina }}){% endif %}</div>
				<div class="col-listheader col-docent-hmar">Immesions Mar{% if immersionsmar > 0 %}<br/>(min. {{ immersionsmar }}){% endif %}</div>
				{% if curs.editable == true and (admin or roleinstructor) %}<div class="col-listheader col-actions">&nbsp;</div>{% endif %}
			</div>
		</div>
		<div class="table-noscroll">
   			<ul id="list-data-{{ tipus }}s" class="list-data docents-curs {{ tipus }}s" data-prototype="{{ prototype|e('html_attr') }}">
				{% set proto = false %}
					
				{% for docent in docents %}
					{% include 'FecdasBundle:Titulacions:curscolabora.html.twig' %}
				{% endfor %}
				<li class="empty-alert {% if docents|length > 0 %}hidden{% endif %}"><div class="alert alert-success" role="alert">Cap {{ tipus }} assignat</div></li>
			 </ul> 
		</div>				 
	</div>
</div>
	