{# src/Fecdas/PartesBundle/Resources/views/Titulacions/cursos.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Relació de cursos del Club{% endblock %}

{% block body %}
   	<header>
		<div class="row">
			<div class="col-md-8"><h1>Relació de cursos</h1></div>
	        <div class="col-md-4 col-last-right">
				<div class="buttons-top-bootstrap">
					<div class="button-top"><a class="link export-pdf" href="{{ path('FecdasBundle_cursos', { 'format': 'pdf' } ) }}" alt="Descarregar els cursos" 
							title="Descarregar els cursos"><i class="fa fa-file-pdf-o fa-1x red"></i></a></div> 
					<div class="button-top"><a class="link export-csv" href="{{ path('FecdasBundle_cursos', { 'format': 'csv' } ) }}" alt="Exportar dades dels cursos" 
							title="Exportar dades dels cursos"><i class="fa fa-file-excel-o fa-1x green"></i></a></div>	
				</div> 
			</div>
		</div>
   	</header>
   	
   	<section id="form-filtre-cursos">
    	<div class="row">
			<div class="col-md-12 col-xs-12">
		   		{% include 'FecdasBundle:Includes:messages.html.twig' %}
		   	</div>
		</div>
		{{ form_start(form, {'action': path('FecdasBundle_cursos'), 'method': 'GET', 'attr': {'class': 'appform', 'id':'form_cursos'}}) }}
		<div class="row">
    	{% if admin or roleinstructor %}
    		<div class="col-md-4 col-sm-8 col-xs-12">
			  	<div class="form-group">
			    	{{ form_label(form.clubs, 'Clubs', { 'label_attr': {'class': ''} }) }}
					{{ form_widget(form.clubs, { 'attr': {'class': 'form-control'} }) }}
				</div>
			</div>
		{% endif %}
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="form-group">
				   	{{ form_label(form.participant, 'Alumne', { 'label_attr': {'class': ''} }) }}
				   	<div class="input-group" >
					    {{ form_widget(form.participant, { 'attr': {'class': 'form-control'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-users fa-1x"></span></span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="form-group">
				   	{{ form_label(form.titols, 'Titols CMAS', { 'label_attr': {'class': ''} }) }}
					{{ form_widget(form.titols, { 'attr': {'class': 'form-control'} }) }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-6">
				<div class="form-group">
					{{ form_label(form.desde, 'des de') }}
					<div class="input-group" >
						{{ form_widget(form.desde, { 'attr': {'class': 'form-control formtime-calendar'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>
				</div>
			</div>
		   	<div class="col-md-3 col-sm-4 col-xs-6">
				<div class="form-group">
					{{ form_label(form.fins, 'fins') }}
					<div class="input-group" >
						{{ form_widget(form.fins, { 'attr': {'class': 'form-control formtime-calendar'} }) }}
						<span class="input-group-addon input-group-addon-icon open-calendar"><span class="fa fa-calendar fa-1x"></span></span>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-4">
				<div class="form-group">
					<label>&nbsp;</label>
					<div class="checkbox">
				    	<label>
				      		{{ form_widget(form.pervalidar) }} Pendents de validació
				    	</label>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-4">
				<div class="form-group">
					<label>&nbsp;</label>
					<div class="checkbox">
				    	<label>
				      		{{ form_widget(form.finalitzat) }} Finalitzat
				    	</label>
					</div>
				</div>
			</div>
			{% if roleinstructor or admin %}
			<div class="col-md-2 col-sm-12 col-xs-4 col-last-right">
				<div class="form-group">
					<label>&nbsp;</label>
					<a class="btn btn-default nou-curs" href="{{ path('FecdasBundle_curs') }}">Nou curs <i class="fa fa-plus green"></i></a>
				</div>
			</div>
			{% endif %}
		</div> 
		{{ form_end(form) }}
	</section>
	
	<section id="llista-cursos">
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
            		<table class="table">
               			<thead>
               				<tr class="data-detall-header">
                			   	<th id="header-curs-id" class="col-listheader hidden">&nbsp;</th>
        				   		<th id="header-curs-num" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(cursos, 'Num.', 'c.num') }}
        				   			<span class="listheader-icon {% if cursos.isSorted('c.num') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></th>
        				   		<th id="header-curs-titol" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(cursos, 'Títol', 't.titol') }}
        				   			<span class="listheader-icon {% if cursos.isSorted('t.titol') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></th>
        				   		<th id="header-curs-entrada" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(cursos, 'Entrada', 'c.dataentrada') }}
        				   			<span class="listheader-icon {% if cursos.isSorted('c.dataentrada') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></th>
        				   		<th id="header-curs-dates" class="col-listheader col-listheader-sortable">{{ knp_pagination_sortable(cursos, 'Durada', 'c.datadesde') }}
        				   			<span class="listheader-icon {% if cursos.isSorted('c.datadesde') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></th>
        				   		<th id="header-curs-alumnes" class="col-listheader collistheader-noorder">Alumnes</th>
        				   		<th id="header-curs-docents" class="col-listheader collistheader-noorder">Docents</th>
        				   		<th id="header-curs-estat" class="col-listheader collistheader-noorder">Estat</th>
        				   		<th id="header-curs-actions" class="col-listheader collistheader-noorder total-rowcount" data-total="{{ cursos.getTotalItemCount }}">
        				   			Total: {{ cursos.getTotalItemCount|number_format(0, ',', '.') }}
        				   		</th>
            				</tr> 
                		</thead>
        				<tbody>
                            {% for curs in cursos %}
        					<tr class="data-detall{% if curs.anulat %} data-detall-fosc{% endif %}">
            					<td class="data-detall-cell curs-id hidden">{{ curs.id }}</td>
            		   			<td class="data-detall-cell curs-num">{{ curs.num }}</td>
            		   			<td class="data-detall-cell curs-titol">
            		   				{{ curs.titol.llistaText }}
            		   				{% if admin or roleinstructor %}	
            		   					<br/><span class="curs-club">
            		   					{% if not curs.historic %}	
            		   						<a href="/club?codiclub={{ curs.club.codi }}" title="Veure dades del club" alt="Veure dades del club">{{ curs.clubInfo }}</a>
            		   					{% else %}
            		   						{{ curs.clubInfo }}
            		   					{% endif %}
            		   					</span>
            			   			{% endif %}
            	   				</td>
            	   				<td class="data-detall-cell curs-entrada">{{ curs.dataentrada|date('d/m/y') }}</td>
            		   			<td class="data-detall-cell curs-dates">{{ curs.datadesde|date('d/m/y') }} a<br/>{{ curs.datafins|date('d/m/y') }}</td>
            		   			<td class="data-detall-cell curs-alumnes {{ curs.estatcolor }}">{{ curs.alumnes(admin)|nl2br }}</td>
            		   			<td class="data-detall-cell curs-docents {{ curs.estatcolor }}">{{ curs.equipdocent|nl2br }}</td>
            		   			<td class="data-detall-cell curs-estat {{ curs.estatcolor }}">{{ curs.estat }}</td>
            		   			<td class="data-detall-cell curs-actions">
            						<a class="curs-action-edit link" href="{{ path('FecdasBundle_curs', { 'id': curs.id }) }}" alt="Accedir al curs" title="Accedir al curs">
            						{% if curs.editable %} <i class="fa fa-pencil text-info blue"></i> {% else %} <i class="fa fa-search text-info blue"></i> {% endif %}
            						</a>
            						{% if admin == true and not curs.anulat %}
            							<a class="curs-action-baixa link" href="{{ path('FecdasBundle_curs', sortparams|merge({ 'id': curs.id, 'action': 'remove' }) ) }}" alt="Baixa" title="Baixa">
            		   						<i class="fa fa-trash-o text-danger red"></i></a>
            	   					{% endif %}
            		   			</td>
            		   		</tr>
            		   		{% else %}
            		   		<tr class="data-detall">
            					<td class="data-detall-cell" colspan="7"><div class="sms-notice">No hi ha cursos per mostrar</div></td>
            				</tr>
            		   		{% endfor %} 
        				</tbody>
        			</table>
    			</div>
    		</div>
    		<div class="col-md-12">
    		    {% if cursos.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(cursos, null, sortparams) }}</div>{% endif %}
    		</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<script type="text/javascript">
	
	getUrlWithFilterParams = function(url) {
		var club = $( "#form_clubs" ).val();
		var pervalidar = ($( '#form_pervalidar' ).is(':checked')?1:0);
		var finalitzat = ($( '#form_finalitzat' ).is(':checked')?1:0);
		var desde = $( "#form_desde" ).val();
		var fins = $( "#form_fins" ).val();
		var titol = $( "#form_titols" ).val();
		var participant = $( "#form_participant" ).val();  

		return url + "&clubs="+club+"&pervalidar="+pervalidar+"&finalitzat="+finalitzat+"&desde="+desde+"&fins="+fins+"&titols="+titol+"&participant="+participant;
	}

	filtreLlistacursos = function() {

		window.location = getUrlWithFilterParams("{{ path('FecdasBundle_cursos', sortparams)|raw }}");
	}

	$(document).ready(function(){

		setMenuActive("menu-cursos");
		
		
		$("#form_clubs, #form_titols, #form_desde, #form_fins, #form_pervalidar, #form_finalitzat, #form_participant ").change(function() {
			filtreLlistacursos();
	    });

		$("select#form_titols").select2({
			minimumInputLength: 2,
			allowClear: true,
			placeholder: 'Escollir títol'
		});

		var current = new Date();
		var mindate = new Date (current.getFullYear()-5, current.getMonth(), current.getDay());
		var maxdate = new Date (current.getFullYear()+1, current.getMonth(), current.getDay());
		initDateTimePicker ( 
			$( '#form_desde' ), 
			mindate, 
			maxdate, 
			current, 
			'desde-picker', 
			false,
			function (selectedDateTime) {
				//filtreLlistacursos();  
			}
		);
	
		initDateTimePicker ( 
			$( '#form_fins' ), 
			mindate, 
			maxdate, 
			current, 
			'fins-picker', 
			false,
			function (selectedDateTime) {
				//filtreLlistacursos();
			}
		);

		$('.export-pdf, .export-csv').click( function(e) {
			e.preventDefault();

			if ($('.total-rowcount').attr('data-total') > 1000) {
				dialegInfo("Nombre excessiu de cursos", "El límit de l'informe són 1000 cursos", 400, 'auto');
				return;
			}
			
			var url = getUrlWithFilterParams($(this).attr('href'));
			window.location = url;
		});

		
		// filtre clubs disponible per admins
		{% if admin == true  %} 

			$("select#form_clubs").select2({
				minimumInputLength: 2,
				allowClear: true,
				placeholder: 'Escollir club'
			});
		
			$('.curs-action-baixa').click( function(e) {
				e.preventDefault();
	
				var url = getUrlWithFilterParams($(this).attr('href'));
				
				var strHtml = '<p>Segur que vols anul·lar el curs?</p>';
				
				dialegConfirmacio(strHtml, 'Baixa curs', 'auto', 400, function() { 
					
					window.location = url;
					 
				}, function() { closeDialegConfirmacio(); }, function() { });
			});
		    
			
		{% endif %}
	});
	
	</script>		

{% endblock %}
