<div class="titulacions-historial">
	<a class="close" href="#"><img style="cursor: pointer;" src="/images/close.png"></a>

	{% if titulacions != '' %}
		<div class="historial-titol">Titulacions CMAS de <span>{{ persona.getNomCognoms() }}</div>
	
		<div class="taula-historial historial-items historial-cmas">
			{% for titulacio in titulacions %}
				<div class="item-historial {% if titulacio.anulada %}data-detall-fosc{% endif %}">
					<div class="historial-camp historial-titulacio">{{ titulacio.titol.llistaText }}</div> 
					<div class="historial-camp historial-num">{{ titulacio.num }}</div>
					<div class="historial-camp historial-superacio">
						{% if titulacio.consolidada %} 
							{{ titulacio.datasuperacio|date('d/m/Y') }}
						{% else %}
							pendent de finalitzar
						{% endif %}
					</div>
					
					{% if admin == true or titulacio.checkClub(club) == true %}
						{% if admin == true %}<div class="historial-camp historial-club">({{ titulacio.club }})</div>{% endif %}
						<div class="historial-camp historial-curs">
							CURS: {{ titulacio.curs.num }} {{ titulacio.curs.datadesde|date('d/m/y') }} - {{  titulacio.curs.datafins|date('d/m/y') }}
						</div>
						<div class="historial-camp historial-action"><a class="curs-action-view link" href="{{ path('FecdasBundle_curs', { 'id': titulacio.curs.id, 'action':'view' }) }}" alt="Veure curs" title="Veure curs">
							<i class="fa fa-search fa-1x blue"></i></a></div>
					{% endif %}
				</div>
			{% endfor %}
			{% if titulacions|length == 0 %}
				<div class="alert alert-success space20" role="alert">Cap titulació</div>
			{% endif %}
		</div>
	{% endif %}

	{% if altrestitulacions != '' %}
		<div class="historial-titol">Altres titulacions</div>
	
		<div class="taula-historial historial-items historial-altrestitols">
			<div class="item-historial item-blank hidden">
				<div class="historial-camp historial-titulacio"></div> 
				<div class="historial-camp historial-action"><a class="remove-titol-extern link" data-id="{{ 'ID_REPLACE'  }}" href="{{ path('FecdasBundle_curs', { 'id': 'ID_REPLACE' }) }}" alt="Treure títol" title="Treure títol">
						<i class="fa fa-trash fa-1x red"></i></a></div>
			</div>
			{% for titulacio in altrestitulacions %}
				<div class="item-historial">
					<div class="historial-camp historial-titulacio">{{ titulacio.llistaText }}</div> 
					<div class="historial-camp historial-action"><a class="remove-titol-extern link" data-id="{{ titulacio.id  }}" href="javascript:void(0);" alt="Treure títol" title="Treure títol">
							<i class="fa fa-trash fa-1x red"></i></a></div>
				</div>
			{% endfor %}
			<div class="alert alert-success space20 {% if altrestitulacions|length != 0 %}hidden{% endif %}" role="alert">Cap titulació</div>
		</div>
	{% endif %}
</div>



