   	{% include 'FecdasBundle:Includes:messages.html.twig' %}

    <div id="llista-altrestitulacionsfederat" class="llista-titulacionsfederat">
    	{% if altrestitulacions|length > 0 %}
		<table class="table">
			<thead>	
    		   	<tr class="data-detall-header">
    		   		<th scope="col" id="header-altrestitulacionsfederatid" class="col-listheader hidden">id</th>
    		   		<th scope="col" id="header-altrestitulacionsfederatcodi" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(altrestitulacions, 'Codi', 'codi') }}
    		   				<span class="listheader-icon {% if (sortparams['sort'] == 'codi') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></th>
    		   		<th scope="col" id="header-altrestitulacionsfederattitol" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(altrestitulacions, 'Títol', 'titol') }}
    		   				<span class="listheader-icon {% if (sortparams['sort'] == 'titol') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></th>
    		   		<th scope="col" id="header-altrestitulacionsfederatorganisme" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(altrestitulacions, 'Organisme', 'organisme') }}
    		   				<span class="listheader-icon {% if (sortparams['sort'] == 'organisme') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></th>
    		   	</tr>
		   	</thead>
   		   	<tbody class="table-noscroll table-noscroll-large">
   				{% for titulacio in altrestitulacions %}
   					<tr class="data-detall">
   				   		<td class="data-detall-cell altrestitulacionsfederat-id hidden">{{ titulacio.id }}</td>
   				   		<td class="data-detall-cell altrestitulacionsfederat-codi col-noresponsive">{{ titulacio.codi }}</td>
   				   		<td class="data-detall-cell altrestitulacionsfederat-titol col-noresponsive">{{ titulacio.titol }}</td>
   				   		<td class="data-detall-cell altrestitulacionsfederat-organisme col-noresponsive">{{ titulacio.organisme }}</td>
   			   		</tr>
   				{% endfor %}
   			</tbody>
	   	</table> 
    	{% if total > 5 %}<div class="navigation">Pàgines: {{ knp_pagination_render(altrestitulacions, null, sortparams) }}</div>{% endif %}		
    	{% else %}
    	    <div class="sms-notice">Sense dades per mostrar</div>
    	{% endif  %}
	</div>