{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Informació dels clubs{% endblock %}

{% block body %}
    <div id="list-forms" class="row">
    	<div class="col-md-12">
			<header>
		        <h1>Situació dels clubs</h1>
		    </header>
		</div>
		<div class="col-md-12">
			{% for flashMessage in app.session.flashbag.get('error-notice') %}
	    		<div class="sms-notice">
					{{ flashMessage }}
	  			</div>	
			{% endfor %}
		</div>
	</div>
	{{ form_start(form, {'action': path('FecdasBundle_clubs'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'formclubs'}}) }}
		<div class="row">
			<div class="col-md-5">
			 	<div class="form-group">
					<label>Club</label>
					<div id="formrebut-club"  class="">
						{{ form_widget(form.clubs, { 'attr': {'class': 'form-control form-control-left'} }) }}
					</div>
				</div>
			</div>
			<div class="col-md-2">
			 	<div class="form-group">
					<label>Estat</label>
					<div id="formrebut-club"  class="">
						{{ form_widget(form.estat, { 'attr': {'class': 'form-control form-control-left'} }) }}
					</div>
				</div>
			</div>
			<div class="col-md-5 col-last-right">
				<label>&nbsp;</label>
				<button class="btn btn-default" type="submit"><i class="fa fa-search blue"></i> Consulta</button>
			</div> 
		</div>
    {{ form_end(form) }}
    <div id="list-clubs" class="row">	
    	<div class="col-md-12">
	    	<div class="table-header">	
		   		<div id="list-header">
			   		<div id="header-clubscodi" class="col-listheader">codi</div>
			   		<div id="header-clubsnom" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(clubs, 'Club', 'c.nom') }}
			   			<span class="listheader-icon {% if clubs.isSorted('c.nom') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
			   		<div id="header-clubspartes" class="col-listheader listheader-noorder">Comandes {{"now"|date('Y')}}<span class="listheader-order"></span></div>
			   		<div id="header-clubspagats" class="col-listheader listheader-noorder">Pagades per web<span class="listheader-order"></span></div>
			   		<div id="header-clubsllicencies" class="col-listheader listheader-noorder">Llic. {{"now"|date('Y')}}<span class="listheader-order"></span></div>
			   		<div id="header-clubsimport" class="col-listheader listheader-noorder">Total<span class="listheader-order"></span></div>
			   		<div id="header-clubspagatweb" class="col-listheader listheader-noorder">Total llic.<span class="listheader-order"></span></div>
			   		<div id="header-clubsestat" class="col-listheader listheader-noorder">Estat<span class="listheader-order"></span></div>
			   		<div id="header-clubslimit" class="col-listheader listheader-noorder">Límit de crèdit<span class="listheader-order"></span></div>
			   		<div id="header-clubsgessaldos" class="col-listheader listheader-noorder">Saldo<span class="listheader-order"></span></div>
				   	<div id="header-clubsactions" class="col-listheader listheader-noorder total-rowcount">Total: {{ clubs.getTotalItemCount|number_format(0, ',', '.') }}</div>
			   	</div>
			</div>
			{% if clubs|length > 0 %}
			<div class="table-scroll col-md-12">
			   	<ol id="list-data">
				{% for club in clubs %}
					{% set dades = club.DadesCurrent %}
			   		<li class="data-detall">
				   		<div class="data-detall-cell club-codi">{{ club.codi }}</div>
				   		<div class="data-detall-cell club-nom">{{ club.nom }}</div>
			   			<div class="data-detall-cell club-partes">{{ dades['comandes'] }}</div>
			   			<div class="data-detall-cell club-pagats">{{ dades['pagats'] }}</div>
			   			<div class="data-detall-cell club-llicencies">{{ dades['llicencies'] }}</div>
			   			<div class="data-detall-cell club-import">{{ dades['import'] |number_format(2, ',', '.') }} €</div>
			   			<div class="data-detall-cell club-pagatweb">{{ dades['importpartes'] |number_format(2, ',', '.') }} €</div>
			   			<div class="data-detall-cell club-estat">
			   			{{ club.estat.descripcio }}
			   			{% if club.impressio == 1 %}<br/><span>(Pot imprimir sempre)</span>{% endif %}
			   			</div>
			   			<div class="data-detall-cell club-limit" data-limit="{{ club.limitcredit }}">{{ club.limitcredit|number_format(2, ',', '.') }} €</div>
			   			<div class="data-detall-cell club-gessaldos">
			   				{{ club.saldo|number_format(2, ',', '.') }} €
				   			<div class="detall-saldos">
								<h3>Detall saldos</h3>
								<h4>Total: <span>{{ club.saldo|number_format(2, ',', '.') }} €</span></h4>
					   			<p>Romanent: <span>{{ club.romanent|number_format(2, ',', '.') }} €</span></p>
					   			<p>Factures Llicències:&nbsp;&nbsp;<span>{{ club.totalllicencies|number_format(2, ',', '.') }} €</span></p>
					   			<p>Factures Duplicats: <span>{{ club.totalduplicats|number_format(2, ',', '.') }} €</span></p>
					   			<p>Altres factures: <span>{{ club.totalaltres|number_format(2, ',', '.') }} €</span></p>
					   			<p>Pagaments rebuts: <span>{{ club.totalpagaments|number_format(2, ',', '.') }} €</span></p>
					   			<p>Ajust subvencions: <span>{{ club.ajustsubvencions|number_format(2, ',', '.') }} €</span></p>
				   			</div>
			   			</div>
			   			<div class="data-detall-cell club-actions">
			   			<a class="clubs-action-upd link" alt="Canviar estat a 'Pagament diferit'" title="Canviar estat a 'Pagament diferit'" href="{{ path('FecdasBundle_canviestatclub', { 'codiclub': club.codi, 'action': constant('FecdasBundle\\Controller\\BaseController::CLUB_PAGAMENT_DIFERIT') }) }}">
			   				<i class="fa fa-thumbs-up green fa-1x"></i></a>
			   			<a class="clubs-action-upd link" alt="Canviar estat a 'Pagament immediat'" title="Canviar estat a 'Pagament immediat'" href="{{ path('FecdasBundle_canviestatclub', { 'codiclub': club.codi, 'action': constant('FecdasBundle\\Controller\\BaseController::CLUB_PAGAMENT_IMMEDIAT') }) }}">
			   				<i class="fa fa-credit-card orange fa-1x"></i></a>
			   			<a class="clubs-action-upd link" alt="Canviar estat a 'Sense tramitació'" title="Canviar estat a 'Sense tramitació'" href="{{ path('FecdasBundle_canviestatclub', { 'codiclub': club.codi, 'action': constant('FecdasBundle\\Controller\\BaseController::CLUB_SENSE_TRAMITACIO') }) }}">
			   				<i class="fa fa-thumbs-down red fa-1x"></i></a>
			   			<a class="clubs-action-view link" alt="Veure dades del club" title="Veure dades del club" href="{{ path('FecdasBundle_club', { 'codiclub': club.codi }) }}">
			   				<i class="fa fa-search blue fa-1x"></i></a>
						</div>
			   		</li>
			   	{% endfor %}
				</ol>
			</div>
			{% if clubs.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(clubs, null, sortparams) }}</div>{% endif %}
		</div>
   	{% else %}
   		<div class="table-header col-md-12"><div class="sms-notice">No hi cap club en aquest estat</div></div>
    {% endif %}
    </div>
    
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-admsaldos");

	clubCanviEstat();
	
	$("#menu-adm").click();

	$('#form_estat').change(function () {
		// Recarrega consulta afegint la dades del formulari
		var url = "{{ path('FecdasBundle_clubs', sortparams)|raw }}";
		url += '&codi='+$("#form_clubs").val();
		clubsSaldosReload(url);
	});
	
	$('#formclubs').submit(function () {
		// Recarrega consulta afegint la dades del formulari
		var url = "{{ path('FecdasBundle_clubs', sortparams)|raw }}";
		url += '&codi='+$("#form_clubs").val();
		clubsSaldosReload(url);
		return false;
	});

	
	$("#form_clubs").select2({
		minimumInputLength: 2,
		allowClear: true,
		placeholder: 'Seleccionar club'
	});

	$("#form_clubs").change( function() {
		var url = "{{ path('FecdasBundle_clubs', sortparams)|raw }}";
		url += '&codi='+$("#form_clubs").val();
		clubsSaldosReload(url);
	});

	
	//sortLlista("col-listheader", "list-data");

	helpBubblesLlista(".club-gessaldos", ".detall-saldos"); 
	
	var tableScroll = $('.table-scroll');
	if (tableScroll.hasOverflowY()) {
		$('.table-scroll').css({"width":"101.5%"});
	}

});

</script>

{% endblock %}

