{# src/Fecdas/PartesBundle/Resources/views/Admin/recents.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}

  	{{ form_javascript(form) }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Comunicacions recents{% endblock %}

{% block body %}
	<header>
        <h1>Comunicacions recents</h1>
    </header>

    {% include 'FecdasBundle:Includes:messages.html.twig' %}
    
    <div id="list-forms">
    	<form id="formrecents" action="{{ path('FecdasBundle_recents') }}" method="post" {{ form_enctype(form) }}  class="appform">
    		<div class="row">
				<div class="col-md-3">
				  	<div class="form-group">
				    	{{ form_label(form.clubs, 'Filtre per club', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.clubs, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">Estat</div>
							{{ form_widget(form.estat, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group form-group-2-inline">
						<div class="input-group">
							<div class="input-group-addon input-group-addon-2-inline">Factura</div>
							{{ form_widget(form.numfactura, { 'attr': {'class': 'form-control form-2-control-inline '} }) }}
							{{ form_widget(form.anyfactura, { 'attr': {'class': 'form-control form-select form-2-control-inline '} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group form-group-2-inline">
						<div class="input-group">
							<div class="input-group-addon">Rebut</div>
							{{ form_widget(form.numrebut, { 'attr': {'class': 'form-control form-2-control-inline '} }) }}
							{{ form_widget(form.anyrebut, { 'attr': {'class': 'form-control form-select form-2-control-inline '} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.baixa) }} Incloure baixes
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.nopagat) }} No pagades
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.noimpres) }} No impreses
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.compta) }} Pendent enviar comptabilitat
				    	</label>
					</div>
				</div>
				{#<div class="col-md-4  col-last-right">
					<a class="link imprimir-pendents" href="{{ path('FecdasBundle_imprimirpendents', sortparams)|raw }}" alt="Imprimir pendents" 
						title="Imprimir pendents">Imprimir pendents BORRAR <i class="fa fa-print blue fa-2x"></i></a>
				</div>#}	
			</div>
	   	</form>
    </div>
    <!--  <div id="list-header" class="clearfix"> -->
    <br/>
    <div id="list-recents">
    	{% include 'FecdasBundle:Admin:recentstaula.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

recentsParams = function() {
	var params = []; 
	params.push( {'name':'clubs','value': $('#form_clubs').val()} );
	params.push( {'name':'estat','value': $('#form_estat').val()} );
	
	params.push( {'name':'numrebut','value': $('#form_numrebut').val()} );
	params.push( {'name':'anyrebut','value': $('#form_anyrebut').val()} );
	params.push( {'name':'numfactura','value': $('#form_numfactura').val()} );
	params.push( {'name':'anyfactura','value': $('#form_anyfactura').val()} );
	
	params.push( {'name':'baixa','value': ($('#form_baixa').is(':checked'))?1:0} );
	params.push( {'name':'nopagat','value': ($('#form_nopagat').is(':checked'))?1:0} );
	params.push( {'name':'noimpres','value': ($('#form_noimpres').is(':checked'))?1:0} );
	params.push( {'name':'compta','value': ($('#form_compta').is(':checked'))?1:0} );
	
	//params.push( {'name':'nosincro','value': ($('#form_nosincro').is(':checked'))?1:0} );
	
	return params;
};


obrirTaulaSortidaLlicencies = function(url, title, txtSubmit, callbackSubmit) {
	$('.alert.alert-dismissible').remove();
	
	$.get(url, function(data) {
		
		$("#dialeg").html(data);
					
		var ewidth = $(window).width()*0.8;
		if (ewidth > 800) ewidth = 800;
		var eheight = $(document).height()*0.8;
					
		$("#dialeg").dialog({
			buttons :[
			            {
			              text: txtSubmit,
			              click: callbackSubmit
						},
						{
				          text: "Cancel·lar",
				          click: function() {
				        	  $(this).dialog("destroy");
				          }
						}
			          ], 
		    show: 1000,
		    modal: true,
		    resizable: true,
		    width: ewidth,
		    height: eheight,
		    minWidth: 400,
		    title: title
		 });
	
		eventFilterTable("#formfederatssortida", "#table-federats", url);
		
	}).fail( function(xhr, status, error) {
		 var sms = smsResultAjax('KO', xhr.responseText);
		 
		 $("#list-forms").prepend(sms);
	});

};

submitEnviarLllicencies = function(action, parteRow) {
	var url = $('#formfederatssortida').attr("action");
	var params = $('#formfederatssortida').serializeArray();
	//params.push( {'name':'submitaction','value': action} );

	obrirMascaraBlock( '#table-federats' );
	
	$.post(url, params, function(data) {

		var sms = smsResultAjax('OK', data);

		//if ($('#form_noimpres').is(':checked')) parteRow.remove();
		printTaulaRecents();

		$("#list-forms").prepend(sms);

		$("#dialeg").dialog("destroy");
	}).fail( function(xhr, status, error) {
		 // xhr.status + " " + xhr.statusText, status, error
		 var sms = smsResultAjax('KO', xhr.responseText);
		 
		 $("#list-federats-sortida-llicencies").prepend(sms);

		 tancarMascaraBlock( '#table-federats' );
	     
	});
};


eventFilterTable = function (containerSel, taulaSel, url) {

	var timeout;
	// Camp de text per a filtre. Detect input filtre. Si text = '' o text >= 3 sends ajax call		
	$(containerSel).on( 'input', '#form_filtre', function(e) {
		if(timeout) {
		    clearTimeout(timeout);
		    timeout = null;
		}
					
		var filtre = $(this).val(); 
					  
		if ( $(this).data('lastval') != filtre ) {
			 
			$(this).data('lastval', filtre);

		    if (filtre == '' || filtre.length >= 3) {
		    	obrirMascaraBlock(  taulaSel );

		    	$('.alert.alert-dismissible').remove();
		    	
		    	timeout = setTimeout( function() {
					
					url += '&filtre='+filtre;

					$.get(url, function(data) {

						$(taulaSel).remove();
						$(containerSel).append(data);

						tancarMascaraBlock( taulaSel );
					}).fail( function(xhr, status, error) {
						 var sms = smsResultAjax('KO', xhr.responseText);
						 
						 $(containerSel).prepend(sms);

						 tancarMascaraBlock( taulaSel );
					});	
					
				}, 1000);
			}
		};
	});
}

printTaulaRecents = function() {

	$('.alert.alert-dismissible').remove();
	
	var url = "{{ path('FecdasBundle_recents', sortparams)|raw }}";
	var params = recentsParams();

	for ( var i in params ) url=url+'&'+params[i].name+'='+params[i].value;
	
	$.get(url, function(data) {

		$("#list-recents").html(data);

	}).fail( function(xhr, status, error) {
		 // xhr.status + " " + xhr.statusText, status, error
		 var sms = smsResultAjax('KO', xhr.responseText);
		 
		 $("#list-forms").prepend(sms);
	});
};


$(document).ready(function(){
	setMenuActive("menu-admllistes");

	$("#menu-adm").click();

	selectRecentsClub();

	$('#form_clubs, #form_numfactura, #form_numrebut, #form_estat, #form_baixa, #form_nopagat, #form_noimpres, #form_compta').change(function () {
		// Recarrega consulta afegint la dades del formulari
		var url = "{{ path('FecdasBundle_recents', sortparams)|raw }}";
		var params = recentsParams();

		for ( var i in params ) url=url+'&'+params[i].name+'='+params[i].value;
		window.location = url; 
	});

	/*$('.imprimir-pendents').click(function (e) {
		e.preventDefault();
		
		var url = $(this).attr('href');
		var params = recentsParams();

		for ( var i in params ) url=url+'&'+params[i].name+'='+params[i].value;
		window.location = url; 
	});*/

	// Delegate
	$( "#main-col" ).on( "click", ".confirmar-pagament", function(e) {
		e.preventDefault();
		confirmarPagament($(this).attr("href"), "Confirmació de pagament");
	});

	// Delegate
	$( "#main-col" ).on( "click", ".parterecents-action-print", function(e) {
		e.preventDefault();

		// Obrir form selecció federats
		var url = $(this).attr("href");

		obrirTaulaSortidaLlicencies(url, 'Impressió llicències plàstic', 'Imprimir', function() {
			$('.alert.alert-dismissible').remove();
			$('#formfederatssortida').submit();
			printTaulaRecents();
			$("#dialeg").dialog("destroy");
	    });
	});

	// Delegate
	$( "#main-col" ).on( "click", ".enviament-llicencies", function(e) {
		e.preventDefault();

		var parteRow = $(this).parents('li.data-detall');  // Si només s'estan mostrant les no impreses, després de l'eviament s'esborrarà la fila
		
		// Obrir form selecció federats
		var url = $(this).attr("href");

		obrirTaulaSortidaLlicencies(url, 'Enviament llicències per mail', 'Enviar', function() {
			$('.alert.alert-dismissible').remove();
	   		submitEnviarLllicencies('final', parteRow);
	    });
		
	});

	$( "#dialeg" ).on( "click", "#form_checkall", function() {
		var checked = $(this).is(':checked');
	
		if (checked) {
			$('.checkbox-federat').not(".checkbox-federat[disabled='disabled']").each(function(){ this.checked = true; });				
		} else {
			$('.checkbox-federat').not(".checkbox-federat[disabled='disabled']").each(function(){ this.checked = false; });
		};
	});
	
	//sortLlista("col-listheader", "list-data");

	var tableScroll = $('.table-scroll');
	if (tableScroll.hasOverflowY()) {
		$('.table-scroll').css({"width":"101.5%"});
	}

});

</script>

{% endblock %}

