{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}

  	{{ form_javascript(form) }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Comunicacions recents{% endblock %}

{% block body %}
	<header>
        <h1>Comunicacions recents</h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('error-notice') %}
        <div class="sms-notice">
  			{{ flashMessage }}
  		</div>	
	{% endfor %}
    
    <div id="list-forms">
    	<form id="formrecents" action="{{ path('FecdasBundle_recents') }}" method="post" {{ form_enctype(form) }}  class="appform">
    		<div class="row">
				<div class="col-md-3">
				  	<div class="form-group">
				    	{{ form_label(form.clubs, 'Filtre per club', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.clubs, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">Estat</div>
							{{ form_widget(form.estat, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group form-group-2-inline">
						<div class="input-group">
							<div class="input-group-addon input-group-addon-2-inline">Factura</div>
							{{ form_widget(form.numfactura, { 'attr': {'class': 'form-control form-2-control-inline '} }) }}
							{{ form_widget(form.anyfactura, { 'attr': {'class': 'form-control form-select form-2-control-inline '} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group form-group-2-inline">
						<div class="input-group">
							<div class="input-group-addon">Rebut</div>
							{{ form_widget(form.numrebut, { 'attr': {'class': 'form-control form-2-control-inline '} }) }}
							{{ form_widget(form.anyrebut, { 'attr': {'class': 'form-control form-select form-2-control-inline '} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.baixa) }} Incloure baixes
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.nopagat) }} No pagades
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.noimpres) }} No impreses
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.compta) }} Pendent enviar comptabilitat
				    	</label>
					</div>
				</div>
			</div>
	   	</form>
    </div>
    <!--  <div id="list-header" class="clearfix"> -->
    <br/>
    <div id="list-recents">
    	<div class="table-header">	
	   		<div id="list-header">
		   		<div id="header-parterecentsid" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(partes, 'Albarà', 'p.num') }}
		   			<span class="listheader-icon {% if partes.isSorted('p.num') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-parterecentsfactura" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(partes, 'Factura', 'p.factura') }}
		   			<span class="listheader-icon {% if partes.isSorted('p.factura') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-parterecentsentrada" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(partes, 'Entrada', 'p.dataentrada') }}
		   			<span class="listheader-icon {% if partes.isSorted('p.dataentrada') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-parterecentsdata" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(partes, 'Inici', 'p.dataalta') }}
		   			<span class="listheader-icon {% if partes.isSorted('p.dataalta') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-parterecentsclub" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(partes, 'Club', 'c.nom') }}
		   				<span class="listheader-icon {% if partes.isSorted('c.nom') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-parterecentstipus" class="col-listheader listheader-noorder">Tipus<span class="listheader-order"></span></div>
		   		<div id="header-parterecentspreu" class="col-listheader listheader-noorder">Preu<span class="listheader-order"></span></div>
		   		<div id="header-parterecentsinfo" class="col-listheader listheader-noorder">Informació<span class="listheader-order"></span></div>
		   		<div id="header-parterecentsactions" class="col-listheader listheader-noorder total-rowcount">Total: {{ partes.getTotalItemCount|number_format(0, ',', '.') }}</div>
		   	</div>
		</div>
		{% if partes|length > 0 %}
		<div class="table-noscroll">
		   	<ol id="list-data">
			{% for parte in partes %}
		   		<li class="data-detall 
		   		{% if parte.impres == false  %} parte-per-imprimir {% endif %}
				{% if parte.comandaPagada == false  %} parte-pendent {% endif %}
		   		{% if parte.databaixa is not null %} data-detall-fosc {% endif %}">
			   		<div class="data-detall-cell parterecents-id">{{ parte.numalbara }}</div>
			   		<div class="data-detall-cell parterecents-factura">
			   			{% for factura in parte.factures %}
			   				
			   				<a class="comanda-action-factura {% if factura.esanulacio == true %}red{% endif %} link" href="{{ path('FecdasBundle_facturatopdf', { 'id': factura.id}) }}" alt="{{ factura.infoToolTip(admin) }}" title="{{ factura.infoToolTip(admin) }}">
		   						{{ factura.numfactura }}
								<i class="fa fa-file-pdf-o fa-1x red"></i></a>
			   			
			   			{% endfor %}
			   		</div>
			   		<div class="data-detall-cell parterecents-entrada"><time datetime="{{ parte.dataentrada|date('c') }}">{{ parte.dataentrada|date('d/m/y') }}</time></div>
		   			<div class="data-detall-cell parterecents-data"><time datetime="{{ parte.dataalta|date('c') }}">{{ parte.dataalta|date('d/m/y') }}</time></div>
		   			<div class="data-detall-cell parterecents-club">{{ parte.club.nom }}</div>
		   			<div class="data-detall-cell parterecents-tipus">{{ parte.tipus.codi }} ({{ parte.numLlicencies }})</div>
		   			<div class="data-detall-cell parterecents-preu">{{ parte.getTotalDetalls|number_format(2, ',') }} €</div>
		   			<div class="data-detall-cell parterecents-info">{{ parte.infoLlistat|nl2br }}</div>
		   			<div class="data-detall-cell parterecents-actions">
		   			{% if parte.comandaPagada == false  %}
		   				<a class="confirmar-pagament link" href="{{ path('FecdasBundle_confirmapagament', { 'id': parte.id }) }}" 
		   					alt="Confirmar pagament" title="Confirmar pagament"><i class="fa fa-euro green"></i></a>
		   			{% endif %}
		   				<a class="parterecents-action-print link" href="{{ path('FecdasBundle_imprimirparte', { 'id': parte.id }) }}" alt="Imprimir" title="Imprimir">
		   					<i class="fa fa-print blue"></i></a>
		   				<a class="parterecents-action-view link" href="{{ path('FecdasBundle_parte', { 'id': parte.id, 'action':'view' }) }}" alt="Veure" title="Veure">
		   					<i class="fa fa-search orange"></i></a>
					</div>
		   		</li>
		   	{% endfor %}
			</ol>
		</div>
		{% if partes.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(partes, null, sortparams) }}</div>{% endif %}
   	{% else %}
        <div class="sms-notice">Cap comunicació</div>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-admllistes");

	$("#menu-adm").click();

	$('.confirmar-pagament').click(function(e) {
		e.preventDefault();
		confirmarPagament($(this).attr("href"), "Confirmació de pagament");
	});
	
	selectRecentsClub();

	$('#form_clubs').change(function () {
		// Recarrega consulta afegint la dades del formulari
		recentsReload("{{ path('FecdasBundle_recents', sortparams)|raw }}");
	});
	$('#form_numfactura').change(function () {
		// Recarrega consulta afegint la dades del formulari
		recentsReload("{{ path('FecdasBundle_recents', sortparams)|raw }}");
	});
	$('#form_numrebut').change(function () {
		// Recarrega consulta afegint la dades del formulari
		recentsReload("{{ path('FecdasBundle_recents', sortparams)|raw }}");
	});
	$('#form_estat').change(function () {
		// Recarrega consulta afegint la dades del formulari
		recentsReload("{{ path('FecdasBundle_recents', sortparams)|raw }}");
	});
	$('#form_baixa').change(function () {
		// Recarrega consulta afegint la dades del formulari
		recentsReload("{{ path('FecdasBundle_recents', sortparams)|raw }}");
	});
	$('#form_nopagat').change(function () {
		// Recarrega consulta afegint la dades del formulari
		recentsReload("{{ path('FecdasBundle_recents', sortparams)|raw }}");
	});
	$('#form_noimpres').change(function () {
		// Recarrega consulta afegint la dades del formulari
		recentsReload("{{ path('FecdasBundle_recents', sortparams)|raw }}");
	});
	$('#form_compta').change(function () {
		// Recarrega consulta afegint la dades del formulari
		recentsReload("{{ path('FecdasBundle_recents', sortparams)|raw }}");
	});
	//sortLlista("col-listheader", "list-data");

	var tableScroll = $('.table-scroll');
	if (tableScroll.hasOverflowY()) {
		$('.table-scroll').css({"width":"101.5%"});
	}

	$('.parterecents-action-print').click(function(e) {
		//e.preventDefault();

		/*	
		dialegConfirmacio('Això es una prova', "test...", 0, 550, 
		function() {
        	console.log('si');
        }, 
        function() {
        	console.log('no');
        });*/
	});

	
	
});

</script>

{% endblock %}

