{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}

  	{{ form_javascript(form) }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Comunicacions recents{% endblock %}

{% block body %}
	<header>
        <h1>Comunicacions recents</h1>
    </header>

    {% include 'FecdasBundle:Includes:messages.html.twig' %}
    
    <div id="list-forms">
    	<form id="formrecents" action="{{ path('FecdasBundle_recents') }}" method="post" {{ form_enctype(form) }}  class="appform">
    		<div class="row">
				<div class="col-md-3">
				  	<div class="form-group">
				    	{{ form_label(form.clubs, 'Filtre per club', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.clubs, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">Estat</div>
							{{ form_widget(form.estat, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group form-group-2-inline">
						<div class="input-group">
							<div class="input-group-addon input-group-addon-2-inline">Factura</div>
							{{ form_widget(form.numfactura, { 'attr': {'class': 'form-control form-2-control-inline '} }) }}
							{{ form_widget(form.anyfactura, { 'attr': {'class': 'form-control form-select form-2-control-inline '} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group form-group-2-inline">
						<div class="input-group">
							<div class="input-group-addon">Rebut</div>
							{{ form_widget(form.numrebut, { 'attr': {'class': 'form-control form-2-control-inline '} }) }}
							{{ form_widget(form.anyrebut, { 'attr': {'class': 'form-control form-select form-2-control-inline '} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.baixa) }} Incloure baixes
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.nopagat) }} No pagades
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.noimpres) }} No impreses
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.compta) }} Pendent enviar comptabilitat
				    	</label>
					</div>
				</div>
				<div class="col-md-4  col-last-right">
					<a class="link imprimir-pendents" href="{{ path('FecdasBundle_imprimirpendents', sortparams)|raw }}" alt="Imprimir pendents" 
						title="Imprimir pendents">Imprimir pendents <i class="fa fa-print blue fa-2x"></i></a>
				</div>	
			</div>
	   	</form>
    </div>
    <!--  <div id="list-header" class="clearfix"> -->
    <br/>
    <div id="list-recents">
    	<div class="table-header">	
	   		<div id="list-header">
		   		<div id="header-parterecentsid" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(partes, 'Albarà', 'p.num') }}
		   			<span class="listheader-icon {% if partes.isSorted('p.num') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-parterecentsfactura" class="col-listheader col-noresponsive listheader-noorder">Factura</div>
		   		<div id="header-parterecentsentrada" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(partes, 'Entrada', 'p.dataentrada') }}
		   			<span class="listheader-icon {% if partes.isSorted('p.dataentrada') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-parterecentsdata" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(partes, 'Inici', 'p.dataalta') }}
		   			<span class="listheader-icon {% if partes.isSorted('p.dataalta') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-parterecentsclub" class="col-listheader col-noresponsive col-listheader-sortable">{{ knp_pagination_sortable(partes, 'Club', 'c.nom') }}
		   				<span class="listheader-icon {% if partes.isSorted('c.nom') %} listheader-icon-{{ sortparams['direction'] }} {% endif %}"></span></div>
		   		<div id="header-parterecentstipus" class="col-listheader listheader-noorder">Tipus<span class="listheader-order"></span></div>
		   		<div id="header-parterecentsenviar" class="col-listheader listheader-noorder"><i class="fa fa-envelope fa-1x"></i><span class="listheader-order"></span></div>
		   		<div id="header-parterecentspreu" class="col-listheader listheader-noorder">Preu<span class="listheader-order"></span></div>
		   		<div id="header-parterecentsinfo" class="col-listheader listheader-noorder">Informació<span class="listheader-order"></span></div>
		   		<div id="header-parterecentsactions" class="col-listheader listheader-noorder total-rowcount">Total: {{ partes.getTotalItemCount|number_format(0, ',', '.') }}</div>
		   	</div>
		</div>
		{% if partes|length > 0 %}
		<div class="table-noscroll">
		   	<ol id="list-data">
			{% for parte in partes %}
		   		<li class="data-detall 
		   		{% if parte.impres == false  %} parte-per-imprimir {% endif %}
				{% if parte.comandaPagada == false  %} parte-pendent {% endif %}
		   		{% if parte.databaixa is not null %} data-detall-fosc {% endif %}">
			   		<div class="data-detall-cell parterecents-id">{{ parte.numalbara }}</div>
			   		<div class="data-detall-cell parterecents-factura">
			   			{% for factura in parte.factures %}
			   				<a class="comanda-action-factura {% if factura.esanulacio == true %}red{% endif %} link" href="{{ path('FecdasBundle_facturatopdf', { 'id': factura.id}) }}" alt="{{ factura.infoToolTip(admin) }}" title="{{ factura.infoToolTip(admin) }}">
								{% if factura.import < 0 %}<span class="red">(-){{ factura.numfactura }}</span>
			   					{% else %}{{ factura.numfactura }}{% endif %}			   			
								<i class="fa fa-file-pdf-o fa-1x red"></i></a>
			   			
			   			{% endfor %}
			   		</div>
			   		<div class="data-detall-cell parterecents-entrada"><time datetime="{{ parte.dataentrada|date('c') }}">{{ parte.dataentrada|date('d/m/y') }}</time></div>
		   			<div class="data-detall-cell parterecents-data"><time datetime="{{ parte.dataalta|date('c') }}">{{ parte.dataalta|date('d/m/y') }}</time></div>
		   			<div class="data-detall-cell parterecents-club">{{ parte.club.nom }}</div>
		   			<div class="data-detall-cell parterecents-tipus">{{ parte.tipus.codi }}</div>
		   			<div class="data-detall-cell parterecents-enviar">{{ parte.numEnviar }}/{{ parte.numLlicencies }}</div>
		   			<div class="data-detall-cell parterecents-preu">
		   				{% if parte.isFacturaModificada == true %}
			   			<strike>{{ parte.getTotalDetalls|number_format(2, ',', '.') }}€</strike><br/>
			   			{{ parte.totalComanda|number_format(2, ',', '.') }}€
			   			{% else %}
			   			{{ parte.totalComanda|number_format(2, ',', '.') }}€
			   			{% endif %}
		   			</div>
		   			<div class="data-detall-cell parterecents-info">{{ parte.infoLlistat|nl2br }}</div>
		   			<div class="data-detall-cell parterecents-actions">
			   			{% if parte.perEnviarFederat == true  %}
			   				<a class="enviament-llicencies link" href="{{ path('FecdasBundle_llicenciespermail', { 'id': parte.id }) }}" 
			   					alt="Enviament llicències per mail" title="Enviament llicències per mail"><i class="fa fa-envelope systemblue"></i></a>
			   			{% endif %}
			   			{% if parte.comandaPagada == false  %}
			   				<a class="confirmar-pagament link" href="{{ path('FecdasBundle_confirmapagament', { 'id': parte.id }) }}" 
			   					alt="Confirmar pagament" title="Confirmar pagament"><i class="fa fa-euro green"></i></a>
			   			{% endif %}
		   				{% if parte.perImprimir == true  %}<a class="parterecents-action-print link" href="{{ path('FecdasBundle_imprimirparte', { 'id': parte.id }) }}" alt="Imprimir" title="Imprimir">
		   					<i class="fa fa-print blue"></i></a>{% endif %}
		   				<a class="parterecents-action-view link" href="{{ path('FecdasBundle_parte', { 'id': parte.id, 'action':'view' }) }}" alt="Veure" title="Veure">
		   					<i class="fa fa-search orange"></i></a>
					</div>
		   		</li>
		   	{% endfor %}
			</ol>
		</div>
		{% if partes.getTotalItemCount > 10 %}<div class="navigation">Pàgines: {{ knp_pagination_render(partes, null, sortparams) }}</div>{% endif %}
   	{% else %}
        <div class="sms-notice">Cap comunicació</div>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

recentsParams = function() {
	var params = []; 
	params.push( {'name':'clubs','value': $('#form_clubs').val()} );
	params.push( {'name':'estat','value': $('#form_estat').val()} );
	
	params.push( {'name':'numrebut','value': $('#form_numrebut').val()} );
	params.push( {'name':'anyrebut','value': $('#form_anyrebut').val()} );
	params.push( {'name':'numfactura','value': $('#form_numfactura').val()} );
	params.push( {'name':'anyfactura','value': $('#form_anyfactura').val()} );
	
	params.push( {'name':'baixa','value': ($('#form_baixa').is(':checked'))?1:0} );
	params.push( {'name':'nopagat','value': ($('#form_nopagat').is(':checked'))?1:0} );
	params.push( {'name':'noimpres','value': ($('#form_noimpres').is(':checked'))?1:0} );
	params.push( {'name':'compta','value': ($('#form_compta').is(':checked'))?1:0} );
	
	//params.push( {'name':'nosincro','value': ($('#form_nosincro').is(':checked'))?1:0} );
	
	return params;
};

submitEnviarLllicencies = function(action) {
	var url = $('#formfederatspermail').attr("action");
	var params = $('#formfederatspermail').serializeArray();
	//params.push( {'name':'submitaction','value': action} );

	obrirMascaraBlock( '#table-federats' );
	
	$.post(url, params, function(data) {
		var sms = smsResultAjax('OK', data);
		 
		$("#list-forms").prepend(sms);
		 
		$("#dialeg").dialog("destroy");
	}).fail( function(xhr, status, error) {
		 // xhr.status + " " + xhr.statusText, status, error
		 var sms = smsResultAjax('KO', xhr.responseText);
		 
		 $("#list-federats-enviament-mail").prepend(sms);

		 tancarMascaraBlock( '#table-federats' );
	     
	});
};


eventFilterTable = function (containerSel, taulaSel, url) {

	var timeout;
	// Camp de text per a filtre. Detect input filtre. Si text = '' o text >= 3 sends ajax call		
	$(containerSel).on( 'input', '#form_filtre', function(e) {
		if(timeout) {
		    clearTimeout(timeout);
		    timeout = null;
		}
					
		var filtre = $(this).val(); 
					  
		if ( $(this).data('lastval') != filtre ) {
			 
			$(this).data('lastval', filtre);

		    if (filtre == '' || filtre.length >= 3) {
		    	obrirMascaraBlock(  taulaSel );

		    	$('.alert.alert-dismissible').remove();
		    	
		    	timeout = setTimeout( function() {
					
					url += '&filtre='+filtre;

					$.get(url, function(data) {

						$(taulaSel).remove();
						$(containerSel).append(data);

						tancarMascaraBlock( taulaSel );
					}).fail( function(xhr, status, error) {
						 var sms = smsResultAjax('KO', xhr.responseText);
						 
						 $(containerSel).prepend(sms);

						 tancarMascaraBlock( taulaSel );
					});	
					
				}, 1000);
			}
		};
	});
}


$(document).ready(function(){
	setMenuActive("menu-admllistes");

	$("#menu-adm").click();

	$('.confirmar-pagament').click(function(e) {
		e.preventDefault();
		confirmarPagament($(this).attr("href"), "Confirmació de pagament");
	});
	
	selectRecentsClub();

	$('#form_clubs, #form_numfactura, #form_numrebut, #form_estat, #form_baixa, #form_nopagat, #form_noimpres, #form_compta').change(function () {
		// Recarrega consulta afegint la dades del formulari
		var url = "{{ path('FecdasBundle_recents', sortparams)|raw }}";
		var params = recentsParams();

		for ( var i in params ) url=url+'&'+params[i].name+'='+params[i].value;
		window.location = url; 
	});

	$('.imprimir-pendents').click(function (e) {
		e.preventDefault();
		
		var url = $(this).attr('href');
		var params = recentsParams();

		for ( var i in params ) url=url+'&'+params[i].name+'='+params[i].value;
		window.location = url; 
	});


	/*$( "#dialeg" ).on( "click", ".veure-llicencia-digital", function(e) {
		e.preventDefault();

		var url = $(this).attr("href");

		$.get(url, function(data) {

			window.open().write(data);
			//document.write(data)
			
		}).fail( function(xhr, status, error) {
			 var sms = smsResultAjax('KO', xhr.responseText);
			 
			 $("#list-forms").prepend(sms);
		});	
	});*/
	
	$('.enviament-llicencies').click(function(e) {
		e.preventDefault();

		// Obrir form selecció federats
		var url = $(this).attr("href");

		$.get(url, function(data) {
			
			$("#dialeg").html(data);
						
			var ewidth = $(window).width()*0.8;
			if (ewidth > 800) ewidth = 800;
			var eheight = $(document).height()*0.8;
						
			$("#dialeg").dialog({
				buttons : {
		           	"Enviar" : function() {
		           		$('.alert.alert-dismissible').remove();
		           		submitEnviarLllicencies('final');
		       		},
		           	"Cancel·lar" : function() {
		             	$(this).dialog("destroy");
		           	}
		       	},
			    show: 1000,
			    modal: true,
			    resizable: true,
			    width: ewidth,
			    height: eheight,
			    minWidth: 400,
			    title: 'Enviament llicències per mail'
			 });

			eventFilterTable("#formfederatspermail", "#table-federats", url);
			
		}).fail( function(xhr, status, error) {
			 var sms = smsResultAjax('KO', xhr.responseText);
			 
			 $("#list-forms").prepend(sms);
		});

		
		
	});

	$( "#dialeg" ).on( "click", "#form_checkall", function() {
		var checked = $(this).is(':checked');
	
		if (checked) {
			$('.checkbox-federat').not(".checkbox-federat[disabled='disabled']").each(function(){ this.checked = true; });				
		} else {
			$('.checkbox-federat').not(".checkbox-federat[disabled='disabled']").each(function(){ this.checked = false; });
		};
	});
	
	//sortLlista("col-listheader", "list-data");

	var tableScroll = $('.table-scroll');
	if (tableScroll.hasOverflowY()) {
		$('.table-scroll').css({"width":"101.5%"});
	}

});

</script>

{% endblock %}

