{# src/Fecdas/PartesBundle/Resources/views/Admin/recents.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Comunicacions recents{% endblock %}

{% block body %}
	<header>
        <h1>Comunicacions recents</h1>
    </header>

    {% include 'FecdasBundle:Includes:messages.html.twig' %}
    
    <div id="list-forms">
    	{{ form_start(form, {'action': path('FecdasBundle_recents'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'formrecents'}}) }}
    		<div class="row">
				<div class="col-md-3">
				  	<div class="form-group">
				    	{{ form_label(form.clubs, 'Filtre per club', { 'label_attr': {'class': 'sr-only'} }) }}
						{{ form_widget(form.clubs, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">Estat</div>
							{{ form_widget(form.estat, { 'attr': {'class': 'form-control'} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group form-group-2-inline">
						<div class="input-group">
							<div class="input-group-addon input-group-addon-2-inline">Factura</div>
							{{ form_widget(form.numfactura, { 'attr': {'class': 'form-control form-2-control-inline '} }) }}
							{{ form_widget(form.anyfactura, { 'attr': {'class': 'form-control form-select form-2-control-inline '} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group form-group-2-inline">
						<div class="input-group">
							<div class="input-group-addon">Rebut</div>
							{{ form_widget(form.numrebut, { 'attr': {'class': 'form-control form-2-control-inline '} }) }}
							{{ form_widget(form.anyrebut, { 'attr': {'class': 'form-control form-select form-2-control-inline '} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group">
						<div class="input-group">
							<div class="input-group-addon input-group-addon-2-inline">DNI</div>
                            {{ form_label(form.dni, 'DNI', { 'label_attr': {'class': 'sr-only'} }) }}
							{{ form_widget(form.dni, { 'attr': {'class': 'form-control form-select form-2-control-inline '} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-3">
				    <div class="form-group">
						<div class="input-group">
							<div class="input-group-addon input-group-addon-2-inline">Nom</div>
                            {{ form_label(form.nom, 'DNI', { 'label_attr': {'class': 'sr-only'} }) }}
							{{ form_widget(form.nom, { 'attr': {'class': 'form-control form-select form-2-control-inline '} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-6">
				    <div class="form-group">
						<div class="input-group">
							<div class="input-group-addon input-group-addon-2-inline"><i class="fa"><b>@</b></i> e-Mail</div>
                            {{ form_label(form.mail, 'e-Mail', { 'label_attr': {'class': 'sr-only'} }) }}
							{{ form_widget(form.mail, { 'attr': {'class': 'form-control form-select form-2-control-inline '} }) }}
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.baixa) }} Incloure baixes
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.nopagat) }} No pagades
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.noimpres) }} No impreses
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.noenviat) }} No enviades
				    	</label>
					</div>
					<div class="checkbox-inline">
				    	<label>
				      		{{ form_widget(form.compta) }} Pendent enviar comptabilitat
				    	</label>
					</div>
				</div>
				{#<div class="col-md-4  col-last-right">
					<a class="link imprimir-pendents" href="{{ path('FecdasBundle_imprimirpendents', sortparams)|raw }}" alt="Imprimir pendents" 
						title="Imprimir pendents">Imprimir pendents BORRAR <i class="fa fa-print blue fa-2x"></i></a>
				</div>#}	
			</div>
	   	{{ form_end(form) }}
    </div>
    <!--  <div id="list-header" class="clearfix"> -->
    <br/>
    <div id="list-recents">
    	{% include 'FecdasBundle:Admin:recentstaula.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

	<script type="text/javascript">

    $(document).ready(function(){
    	setMenuActive("menu-admllistes");
    
    	$("#menu-adm").click();
    
    	selectRecentsClub();
    
    	$('#form_clubs, #form_numfactura, #form_numrebut, #form_nom, #form_dni, #form_mail, #form_estat, #form_baixa, #form_nopagat, #form_noimpres, #form_noenviat, #form_compta').change(function () {
    		// Recarrega consulta afegint la dades del formulari
    		var url = "{{ path('FecdasBundle_recents', sortparams)|raw }}";
    		var params = recentsParams();
    
    		for ( var i in params ) url=url+'&'+params[i].name+'='+params[i].value;
    		window.location = url; 
    	});
    
    	/*$('.imprimir-pendents').click(function (e) {
    		e.preventDefault();
    		
    		var url = $(this).attr('href');
    		var params = recentsParams();
    
    		for ( var i in params ) url=url+'&'+params[i].name+'='+params[i].value;
    		window.location = url; 
    	});*/
    
    	// Delegate
    	$( "#main-col" ).on( "click", ".confirmar-pagament", function(e) {
    		e.preventDefault();
    		confirmarPagament($(this).attr("href"), "Confirmació de pagament", parseInt($(this).attr("data-enviar")) > 0);
    	});
    
    	// Delegate
    	$( "#main-col" ).on( "click", ".parterecents-action-print", function(e) {
    		e.preventDefault();
    
    		// Obrir form selecció federats
    		var url = $(this).attr("href");
    		var urlFiltre = "{{ path('FecdasBundle_taulallicenciesfiltre') }}";
    		var urlCallback = "{{ path('FecdasBundle_recents', sortparams)|raw }}";
    
    		obrirTaulaSortidaLlicencies(url, urlFiltre, 'Impressió llicències plàstic', 'Imprimir', function() {
    			$('.alert.alert-dismissible').remove();
    			if ($(".checkbox-federat:checked").length > 0) {
    				$('#formfederatssortida').submit();
    				printTaulaRecents( urlCallback );
    				$("#dialeg").dialog("destroy");
    			} else {
    				var sms = smsResultAjax('KO', 'No hi ha cap llicència seleccionada');
    	    		 
    	    		$("#table-federats").prepend(sms);
        		}
    	    });
    	});
    
    	// Delegate
    	$( "#main-col" ).on( "click", ".enviament-llicencies", function(e) {
    		e.preventDefault();
    
    		// Obrir form selecció federats
    		var url = $(this).attr("href");
    		var urlFiltre = "{{ path('FecdasBundle_taulallicenciesfiltre') }}";
    
    		obrirTaulaSortidaLlicencies(url, urlFiltre, 'Enviament llicències per mail', 'Enviar', function() {
    			$('.alert.alert-dismissible').remove();
    			var urlCallback = "{{ path('FecdasBundle_recents', sortparams)|raw }}";
    	   		submitEnviarLllicencies(urlCallback, printTaulaRecents );
    	    });
    		
    	});
    
    });

</script>

{% endblock %}

