{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasPartesBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
   	 {{ form_javascript(form) }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Relació d'assegurats del Club{% endblock %}

{% block body %}
	<header>
        <h1>Relació d'assegurats vigents</h1>
    </header>

   	<form action="{{ path('FecdasPartesBundle_assegurats') }}" method="post" {{ form_enctype(form) }}  class="appform">
   		<div class="form-row clearfix">
			<div id="formassegurats-clubs" class="form-left">
				{{ form_widget(form.clubs, { 'attr': {'class': 'formfield-outside'} }) }}
			</div>
			<div id="formassegurats-vigent" class="form-left">
				{{ form_label(form.vigent, 'Només mostrar llista amb llicència vigent', { 'attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.vigent, { 'attr': {'class': 'formcheckbox-right'} }) }}
			</div>
			<!-- <div class="button-top"><a href="{# path('FecdasPartesBundle_llistestopdf', { 'club': club }) #}">
				<img src="{# asset('images/icon-pdf.png') #}" alt="Descarregar les llistes" 
				title="Descarregar les llistes" width="25px"></a></div> -->
			
		</div>
   		<div class="form-row clearfix">
			<div id="formassegurats-dni" class="form-left">
				{{ form_label(form.dni, 'DNI/NIE', { 'attr': {'class': 'formlabel-inside'} }) }}
				{{ form_widget(form.dni, { 'attr': {'class': 'forminput-inside'} }) }}
			</div> 
   			<div id="formassegurats-nom" class="form-left">
				{{ form_label(form.nom, 'Nom', { 'attr': {'class': 'formlabel-inside'} }) }}
				{{ form_widget(form.nom, { 'attr': {'class': 'forminput-inside'} }) }}
			</div> 
        	<div id="formassegurats-cognoms" class="form-left">
				{{ form_label(form.cognoms, 'Cognoms', { 'attr': {'class': 'formlabel-inside'} }) }}
				{{ form_widget(form.cognoms, { 'attr': {'class': 'forminput-inside'} }) }}
			</div> 
			<div id="formassegurats-submit" class="form-right">	
				<input type="submit" class="forminput-inside" value="Cerca" name="formassegurats-button-search"/>
			</div> 
   		</div>
    </form>

    {% if app.session.hasFlash('error-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('error-notice') }}
    </div>
	{% endif %}
   	<div id="list-header">
   		<div id="header-asseguratid" class="col-listheader">id</div>
   		<div id="header-asseguratdni" class="col-listheader">DNI<span class="listheader-order"></span></div>
   		<div id="header-asseguratnom" class="col-listheader">Nom<span class="listheader-order"></span></div>
   		<div id="header-asseguratcognoms" class="col-listheader">Cognoms<span class="listheader-order"></span></div>
   		<div id="header-asseguratvigencia" class="col-listheader listheader-noorder">Vigència</div>
   		<div id="header-assegurattipusdesc" class="col-listheader listheader-noorder">Tipus</div>
   		<div id="header-asseguratactions" class="col-listheader listheader-noorder">&nbsp;</div>
   	</div>
	{% if persones|length > 0 %}
   	<ol id="list-data">
	{% for persona in persones %}
		{% if vigents != true or (vigents == true and persona.llicenciaVigent is not null)  %}
	   		<li class="data-detall-dobleespai data-detall">
		   		<div class="assegurat-id">{{ persona.id }}</div>
		   		<div class="assegurat-dni">{{ persona.dni }}</div>
		   		<div class="assegurat-nom">{{ persona.nom }}</div>
		   		<div class="assegurat-cognoms">{{ persona.cognoms }}</div>
		   		{% if persona.llicenciaVigent is not null and persona.llicenciaVigent.parte is not null %}
		   			<div class="assegurat-vigencia">
				   		<time datetime="{{ persona.llicenciaVigent.parte.dataalta|date('c') }}">{{ persona.llicenciaVigent.parte.dataalta|date('d/m/Y') }}</time>
				   		<time datetime="{{ persona.llicenciaVigent.datacaducitat|date('c') }}">{{ persona.llicenciaVigent.datacaducitat|date('d/m/Y') }}</time>
			   		</div>
					<div class="assegurat-tipusdesc">{{ persona.llicenciaVigent.parte.tipus.descripcio }}</div>
	   				<div class="assegurat-actions"><a class="parte-action-view" href="{{ path('FecdasPartesBundle_parte', { 'id': persona.llicenciaVigent.parte.id, 'action':'view' }) }}">
	   					<img src="{{ asset('images/icon-view.png') }}" alt="Veure Llista" title="Veure llicència" width="23px"></a></div>
	   			{% else %}
	   				<div class="assegurat-novigent"></div>
	   				<div class="assegurat-actions"></div>
		   		{% endif %}		
	   			<div class="assegurat-actions"><a class="assegurats-openmodal" href="{{ path('FecdasPartesBundle_persona') }}" name="modal">
	   				<img src="{{ asset('images/icon-edit-user.png') }}" alt="Editar dades federat" title="Veure Llista" width="23px"></a></div>
	   		</li>
   		{% endif %}	
	{% endfor %}
	</ol>
   	{% else %}
   		
        <div class="sms-notice">No hi ha assegurats vigents per aquest club</div>
    {% endif %}
    
    <div id="edicio-persona" class="finestra-overlay"></div>
    
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-assegurats");
	
	helpBubbles("#form_dni", '<p>Indica tot o part del <b>DNI/NIE</b> a cercar</p>');
	
	helpBubbles("#form_nom", '<p>Indica tot o part del <b>NOM</b> a cercar</p>\
	<p>La cerca no distingeix majúscules o minúscules</p>');

	helpBubbles("#form_cognoms", '<p>Indica tot o part dels <b>COGNOMS</b> a cercar</p>\
	<p>La cerca no distingeix majúscules o minúscules</p>');

	showPersonClickAssegurats();

	sortLlista("col-listheader", "list-data");
	
	
	
	
});

</script>


{% endblock %}
