{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasPartesBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
	<script src="{{ asset('js/jquery-ui-1.8.21.custom.min.js') }}" type="text/javascript"></script>
   	 {{ form_javascript(form) }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Relació d'assegurats del Club{% endblock %}

{% block body %}
	<header>
        <h1>Relació d'assegurats vigents</h1>
    </header>

    {% if app.session.hasFlash('error-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('error-notice') }}
    </div>
	{% endif %}
    
    <div class="clearfix">
    	<form action="{{ path('FecdasPartesBundle_assegurats') }}" method="post" {{ form_enctype(form) }}  class="appform">
    		<div class="formassegurats-row">
				<div id="formassegurats-clubs" class="form-left">
					{{ form_widget(form.clubs, { 'attr': {'class': 'formfield-outside'} }) }}
				</div>
	   			<div id="formassegurats-submit" class="form-right">	
					<input type="submit" class="forminput-inside" value="Cerca" name="formassegurats-button-search"/>
				</div> 
    		</div>
    		<div class="formassegurats-row">
				<div id="formassegurats-dni" class="form-left">
					{{ form_label(form.dni, 'DNI/NIE', { 'attr': {'class': 'formlabel-inside'} }) }}
					{{ form_widget(form.dni, { 'attr': {'class': 'forminput-inside'} }) }}
				</div> 
    			<div id="formassegurats-nom" class="form-left">
					{{ form_label(form.nom, 'Nom', { 'attr': {'class': 'formlabel-inside'} }) }}
					{{ form_widget(form.nom, { 'attr': {'class': 'forminput-inside'} }) }}
				</div> 
	        	<div id="formassegurats-cognoms" class="form-left">
					{{ form_label(form.cognoms, 'Cognoms', { 'attr': {'class': 'formlabel-inside'} }) }}
					{{ form_widget(form.cognoms, { 'attr': {'class': 'forminput-inside'} }) }}
				</div> 
    		</div>
	    </form>
    </div>
   	<div id="list-header">
   		<div id="header-asseguratid" class="col-listheader">id</div>
   		<div id="header-asseguratdni" class="col-listheader">DNI</div>
   		<div id="header-asseguratnom" class="col-listheader">Nom</div>
   		<div id="header-asseguratcognoms" class="col-listheader">Cognoms</div>
   		<div id="header-asseguratvigencia" class="col-listheader">Vigència</div>
   		<div id="header-assegurattipusdesc" class="col-listheader">Tipus</div>
   		<div id="header-asseguratactions" class="col-listheader">&nbsp;</div>
   	</div>
	{% if llicencies|length > 0 %}
   	<ol id="list-data">
	{% for llicencia in llicencies %}
   		<li class="data-detall-dobleespai data-detall">
	   		<div class="assegurat-id">{{ llicencia.id }}</div>
	   		<div class="assegurat-dni">{{ llicencia.persona.dni }}</div>
	   		<div class="assegurat-nom">{{ llicencia.persona.nom }}</div>
	   		<div class="assegurat-cognoms">{{ llicencia.persona.cognoms }}</div>
	   		<div class="assegurat-vigencia">
	   		<time datetime="{{ llicencia.parte.dataalta|date('c') }}">{{ llicencia.parte.dataalta|date('d/m/Y') }}</time>
	   		<time datetime="{{ llicencia.datacaducitat|date('c') }}">{{ llicencia.datacaducitat|date('d/m/Y') }}</time>
	   		</div>
   			<div class="assegurat-tipusdesc">{{ llicencia.parte.tipus.descripcio }}</div>
   			<div class="assegurat-actions"><a class="parte-action-view" href="{{ path('FecdasPartesBundle_parte', { 'id': llicencia.parte.id, 'action':'view' }) }}"><img src="{{ asset('images/icon-view.png') }}" alt="Veure Llista" title="Veure Llista" width="23px"></a></div>
   		</li>
   		{% endfor %}
	</ol>
   	{% else %}
   		
        <div class="sms-notice">No hi ha assegurats vigents per aquest club</div>
    {% endif %}
    
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	helpBubbles("#form_dni", '<p>Indica tot o part del <b>DNI/NIE</b> a cercar</p>');
	
	helpBubbles("#form_nom", '<p>Indica tot o part del <b>NOM</b> a cercar</p>\
	<p>La cerca no distingeix majúscules o minúscules</p>');

	helpBubbles("#form_cognoms", '<p>Indica tot o part dels <b>COGNOMS</b> a cercar</p>\
	<p>La cerca no distingeix majúscules o minúscules</p>');
	
});

</script>


{% endblock %}
