{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasPartesBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
   	 {{ form_javascript(form) }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Consulta Llicència Activa per DNI{% endblock %}

{% block body %}
	<header>
        <h1>Consulta de llicències amb el DNI</h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('error-notice') %}
    <div class="sms-notice">
		{{ flashMessage }}
  	</div>	
	{% endfor %}
    <div class="formdni-main">
		<form id="form-consultadni" action="{{ path('FecdasPartesBundle_busseig') }}" method="post" {{ form_enctype(form) }}  class="appform">
	    	<div id="formdni-dni">
				{{ form_label(form.dni, 'Indica el dni', { 'label_attr': {'class': 'formlabel-inside'} }) }}
				{{ form_widget(form.dni, { 'attr': {'class': 'forminput-inside'} }) }}
			</div> 
			<div id="formdni-dni-consultadni" class="parte-submit">	
				<input type="submit" id="formdni-dni-button-submit" class="forminput-inside" value="Consulta" name="formdni-dni-button-submit"/>
				<img width="21px" id="help-querydni" src="{{ asset('images/icon-query.png') }}" style="cursor: pointer;">
			</div>
	    </form>
		<div class="sms-footer">Consulta si una persona té una llicència / assegurança vigent a data d'avui.
		Per garantir la protecció de les dades personals el resultat només serà afirmatiu o negatiu.
		En cas de dubte poseu-vos en contacte directament amb la federació</div>
    </div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-busseig");
	
	validarConsultaBusseig();

	helpBubbles("#help-querydni", '<p align="left">El format del DNI ha de ser <b>12345678X</b></p>\
			<p align="left">En cas de menors que no disposin de DNI</p>\
			<p align="left">cal afegir el prèfix \'P\' o \'M\' al DNI del</p>\
			<p align="left">pare o la mare respectivament. P.e. <b>P12345678X.</b></p>\
			<p align="left">També es pot fer la cerca sense la darrera lletra.</p>\
			<p align="left">Per estrangers indicar el número d\'identificació equivalet</p>');
			
});

</script>


{% endblock %}

