{% extends 'FecdasPartesBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
	<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.core.js"></script>
	<script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.slide.js"></script>
   	 {{ form_javascript(form) }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Petició de duplicats de carnets{% endblock %}

{% block body %}
	<header>
        <h1>Petició de duplicats</h1>
    </header>

   	<form id="formduplicats" action="{{ path('FecdasPartesBundle_duplicats') }}" method="post"  enctype="multipart/form-data" class="appform">
   		<div class="form-row clearfix">
   			<div id="formduplicats-persones" class="form-left">
				{{ form_widget(form.persona, { 'attr': {'class': 'forminput-inside ', 'style': 'width:100%'} }) }}
			</div> 
			<div id="formduplicats-carnets" class="form-left">
				{{ form_widget(form.carnet, { 'attr': {'class': 'formfield-outside'} }) }}
			</div>
		</div>
		<div id="formduplicats-dades" class="form-row clearfix"></div>
    </form>

    {% for flashMessage in app.session.flashbag.get('error-notice') %}
    <div class="sms-notice">
		{{ flashMessage }}
  	</div>	
	{% endfor %}
    
	<div id="llista-duplicats">
		<div class="table-header">	
		   	<div id="list-header">
		   		<div id="header-duplicatid" class="col-listheader">id</div>
		   		<div id="header-duplicatpeticio" class="col-listheader">Petició<span class="listheader-order"></span></div>
		   		<div id="header-duplicatdni" class="col-listheader">DNI<span class="listheader-order"></span></div>
		   		<div id="header-duplicatnom" class="col-listheader">Nom<span class="listheader-order"></span></div>
		   		<div id="header-duplicatcarnet" class="col-listheader">Carnet<span class="listheader-order"></span></div>
		   		<div id="header-duplicatfoto" class="col-listheader">Foto<span class="listheader-order"></span></div>
		   		<div id="header-duplicatimpressio" class="col-listheader">Impresa<span class="listheader-order"></span></div>
		   		<div id="header-duplicatextra" class="col-listheader">Observacions<span class="listheader-order"></span></div>
		   		<div id="header-duplicatactions" class="col-listheader listheader-noorder">
		   		<a class="duplicat-mostrarmes" href="{{ path('FecdasPartesBundle_duplicats', { 'limit': limit }) }}">mostrar més</a></div>
		   	</div>
	   	</div>
		{% if duplicats|length > 0 %}
		<div class="table-scroll">
		   	<ol id="list-data">
			{% for duplicat in duplicats %}
				{% if admin == true or (admin != true and duplicat.databaixa is not null) %}
			   		<li class="data-detall {% if duplicat.databaixa is not null %} data-detall-fosc {% endif %}">
				   		<div class="data-detall-cell duplicat-id">{{ duplicat.id }}</div>
				   		<div class="data-detall-cell duplicat-peticio"><time datetime="{{ duplicat.datapeticio|date('c') }}">{{ duplicat.datapeticio|date('d/m/y') }}</time></div>
				   		<div class="data-detall-cell duplicat-dni">{{ duplicat.persona.dni }}</div>
				   		<div class="data-detall-cell duplicat-nom">{{ duplicat.persona.cognomsNom }}</div>
				   		<div class="data-detall-cell duplicat-carnet">{{ duplicat.textCarnet }}</div>
				   		<div class="data-detall-cell duplicat-foto">{% if duplicat.foto is not null %}
				   		<a href="{{ duplicat.foto.webPath }}" target="_blank" download="{{ duplicat.foto.path }}"><img src="{{ duplicat.foto.webPath }}" alt="{{ duplicat.foto.titol }}" width="30px"/></a>{% endif %}
				   		</div>
				   		<div class="data-detall-cell duplicat-impressio">
				   		{% if duplicat.dataimpressio is null %}
				   			{% if admin == true %}
					   			<a class="duplicat-impres" href="{{ path('FecdasPartesBundle_imprespeticio', { 'id': duplicat.id }) }}">
			   							<img src="{{ asset('images/icon-ok.png') }}" alt="Duplicat imprès" title="Duplicat imprès" width="23px"></a>
			   				{% endif %}
			   			{% else %}
			   				{{ duplicat.dataimpressio|date('d/m/y') }}
			   			{% endif %}
			   			</div>
				   		<div class="data-detall-cell duplicat-extra">{{ duplicat.infoLlistat }}</div>
				   		<div class="data-detall-cell duplicat-actions">
					   		{% if duplicat.factura is not null %} 
								<a class="duplicat-factura" href="{{ path('FecdasPartesBundle_facturapeticio', { 'id': duplicat.id}) }}">
										<img src="{{ asset('images/icon-factura.png') }}" alt="Factura" title="Factura" width="23px"></a>
							{% else %}
								<a class="duplicat-albara" href="{{ path('FecdasPartesBundle_albarapeticio', { 'id': duplicat.id}) }}">
										<img src="{{ asset('images/icon-print.png') }}" alt="Albarà" title="Albarà" width="23px"></a>
							{% endif %}
				   			{% if admin == true %}
					   			<a class="duplicat-dades" href="{{ path('FecdasPartesBundle_pagamentpeticioconfirm', { 'id': duplicat.id }) }}">
		   							<img src="{{ asset('images/icon-euro.png') }}" alt="Afegir dades facturació i/o pagament" title="Afegir dades facturació i/o pagament" width="23px"></a>
				   			{% else %}
								<a class="duplicat-pagament" href="{{ path('FecdasPartesBundle_pagamentpeticio', { 'id': duplicat.id}) }}">
									<img src="{{ asset('images/icon-creditcard.png') }}" alt="Pagament On-line" title="Pagament On-line" width="23px"></a>
							{% endif %}
				   			{% if admin == true %}
			   					{% if duplicat.databaixa is null %}
			   					<a class="duplicat-esborrar" href="{{ path('FecdasPartesBundle_anularpeticio', { 'id': duplicat.id }) }}">
			   							<img src="{{ asset('images/icon-remove.png') }}" alt="Anul·lar petició" title="Anul·lar petició" width="23px"></a>
			   					{% endif %}
			   				{% endif %}
			   			</div>
			   		</li>
			   	{% endif %}
			{% endfor %}
			</ol>
		</div>
	   	{% else %}
	        <div class="sms-notice">Sense peticions</div>
	    {% endif %}
	</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-duplicats");

	actionsFormDuplicats("{{ path('FecdasPartesBundle_duplicatsform') }}");

	loadCalendar($( "#duplicat_desde" ));

	varisAdminPeticioDuplicat();
	
	sortLlista("col-listheader", "list-data");

	var tableScroll = $('.table-scroll');
	if (tableScroll.hasOverflowY()) {
		$('.table-scroll').css({"width":"101.5%"});
	}

});

</script>


{% endblock %}
