{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasPartesBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
 	<script src="{{ asset('js/jquery.ui.datepicker-ca.js') }}" type="text/javascript"></script>
   	{{ form_javascript(form) }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Importar llicències CSV{% endblock %}

{% block body %}
	<header>
        <h1>Importar llicències</h1>
    </header>

	<div class="formcsv-main">
    {% for flashMessage in app.session.flashbag.get('error-notice') %}
	    <div class="sms-notice">
			{{ flashMessage }}
  		</div>	
	{% endfor %}
		<form id="formcsv-import" action="{{ path('FecdasPartesBundle_importcsv') }}" method="post" {{ form_enctype(form) }}  class="appform">
			<div class="form-row clearfix">
				<div id="formcsv-dataalta" class="form-left">
					<label class="formlabel-outside required">Validesa des de</label>
					{{ form_widget(form.dataalta, { 'attr': {'class': 'formfield-outside formdate-calendar'} }) }}
				</div>
				<div id="formcsv-tipus" class="form-left" data-ajax-route="{{ path('FecdasPartesBundle_gettipuspartes') }}">
					{{ form_label(form.tipus, 'Tipus de llistat d\'assegurats', { 'label_attr': {'class': 'formlabel-outside'} }) }}
					{{ form_widget(form.tipus, { 'attr': {'class': 'formfield-outside'} }) }}
					<img width="21px" id="help-tipusparte" src="{{ asset('images/icon-query.png') }}" style="cursor: pointer;">
				</div>
				<div id="formcsv-file" class="form-left prettyFile">
					<label class="formlabel-outside required">Fitxer de llicències (CSV)</label>
					{# form_label(form.importfile, 'Fitxer de llicències', { 'label_attr': {'class': 'formlabel-inside'} }) #}
					{{ form_widget(form.importfile, { 'attr': {'class': 'forminput-inside'} }) }}
					<div class="input-append formfield-outside">
	       				<input class="input-large" type="text">
	       				<div class="textaccio">
							<a id="browse-file" href="javascript:void(0);">navegar<img width="20" src="{{ asset('images/icon-browse.gif') }}" ></a>
						</div>
	    			</div>
				</div>
				<div id="formcsv-button" class="form-left parte-submit">	
					<input type="submit" id="formcsv-button-submit" class="forminput-inside" value="Importar" name="formcsv-button-submit"/>
				</div>
			</div>
			
			 {{ form_rest(form) }}
	    </form>
		
		
		<div class="info-bloc">
		<p class="info-bold">Instruccions i recursos diversos d'ajuda</p>
		<p>El fitxer de llicències CSV (Comma-separated values) és un fitxer senzill on cada fila conté les dades d'una llicència 
		separades per <span class="info-bold">";"</span>. A més cada dada ha d'estar delimitada per dobles cometes <span class="info-bold">" "</span>.</p> 
		<p>CSV és un format obert i universal, la majoria de paquests d'ofimàtica permeten desar les dades en aquest format: 
		<span class="info-bold">Excel, Access, Open Office, Libre Office, etc... </span> </p>
		<p>Als següents enllaços disposeu d'un fitxer d'exemple en el format requerit, conté la capcelera amb les dades que cal incloure en l'ordre correcte. 
		També hi ha un document amb una descripció més detallada dels diferents camps.</p>
		<div class="info-resource"><a href="{{ asset('media/exemple.csv')  }}" target="_blank"><img width="30" src="{{ asset('images/icon-csv.png') }}">Fitxer buit amb capcelera</a></div>
		<div class="info-resource"><a href="{{ asset('media/intruccions_importcsv.pdf')  }}" target="_blank"><img width="30" src="{{ asset('images/icon-pdf.png') }}">Descripció dels camps</a></div></div>
    </div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-import");

	loadCalendar($( "#form_dataalta" ));

	var curYear = new Date().getFullYear();

	$( "#form_dataalta" ).datepicker( "option", "minDate" , new Date({{ datesparte['min']['any'] }}, {{ datesparte['min']['mes'] }} - 1, {{ datesparte['min']['dia'] }}) );
	$( "#form_dataalta" ).datepicker( "option", "maxDate" , new Date({{ datesparte['max']['any'] }}, {{ datesparte['max']['mes'] }} - 1, {{ datesparte['max']['dia'] }}) );

	prepareFileInput();
	
    reloadTipusParte();
	
	if ($("#form_tipus option").length == 1) {
		/* Només si hi ha disponible més d'una llicència */
		$("#help-tipusparte").hide();
	} else {
		helpBubbles("#help-tipusparte", '<p align="left" style="text-decoration: underline"><b>Llicències federatives habilitades per competir</b></p>\
				<p align="left"><b>A</b>: Llicència federativa anual fins a 31/12.</p>\
				<p align="left"><b>AC</b>: Llicència federativa habilitada per competició temporada, fins 31/08</p>\
				<p align="left"><b>AE</b>: Llicència federativa 365 dies a partir de l\'alta.</p>\
				<p align="left"><b>AQ</b>: Llicència federativa Reduïda, darrer Quatrimestre, des del 01/09 fins 31/12. <br/>Habilitada per competició temporada</p>\
				<p align="left" style="text-decoration: underline"><b>Assegurances no habilitades per competir</b></p>\
				<p align="left"><b>B</b>: Assegurança federativa anual fins a 31/12.</p>\
				<p align="left"><b>B 365</b>: Assegurança federativa 365 dies a partir de l\'alta. <br/>\
				Per a bussejadors o instructors que no tenen una titulació FECDAS/CMAS. <br/>\
				No habilitada per competició ni per fer cursos federats.</p>\
				<p align="left"><b>D</b>: Assegurança per un dia.</p>');
	};	
	
});

</script>


{% endblock %}

