{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasPartesBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/flux.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}


{% block javascriptshead %}
	{{ parent() }} 	
	<script src="{{ asset('js/flux.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Pàgina d'inici{% endblock %}

{% block body %}
	<header>
        <h1>Benvinguts!</h1>
        {% for flashMessage in app.session.flashbag.get('sms-notice') %}
        <div class="sms-notice">
  			{{ flashMessage }}
  		</div>	
		{% endfor %}
        <p>Esteu a la pàgina d'entrada del sistema de tramitació de llicències federatives de la Federació Catalana d'Activitats Subaquàtiques (<a href="http://www.fecdas.cat" target="_blank">FECDAS</a>).</p>
        <p>Un cop hi hagueu entrat, aquest servei també us pot ser útil per tenir un accès ràpid a la llista de persones a què el vostre club ha tramitat la llicència,
         per esbrinar si una persona té una llicència federativa vigent i per posar-vos en contacte amb la FECDAS a través del correu electrònic.</p>
        {% if enquestausuari is defined and enquestausuari == true %}
			<br/><div class="sms-notice">Actualment hi ha una enquesta activa, hi podeu accedir <a class="featured enquesta-action-open" href="{{ path('FecdasPartesBundle_enquestausuari') }}">aquí</a></div>
		{% endif %}
    </header>

	<div id="slider">
		<!--[if lt IE 8]><div class="fluxslider"><![endif]-->
    	<img id="sliderimg1" src="{{ asset('images/header_1.jpg') }}" />
    	<img id="sliderimg2" src="{{ asset('images/header_2.jpg') }}" style="display:none"/>
    	<img id="sliderimg3" src="{{ asset('images/header_3.jpg') }}" style="display:none"/>
    	<img id="sliderimg4" src="{{ asset('images/header_4.jpg') }}" style="display:none"/>
    	<img id="sliderimg5" src="{{ asset('images/header_5.jpg') }}" style="display:none"/>
    	<img id="sliderimg6" src="{{ asset('images/header_6.jpg') }}" style="display:none"/>
    	<img id="sliderimg7" src="{{ asset('images/header_7.jpg') }}" style="display:none"/>
    	<img id="sliderimg8" src="{{ asset('images/header_8.jpg') }}" style="display:none"/>
    	<img id="sliderimg9" src="{{ asset('images/header_9.jpg') }}" style="display:none"/>
    	<img id="sliderimg10" src="{{ asset('images/header_10.jpg') }}" style="display:none"/>
    	<!--[if IE]></div><![endif]-->
	</div>
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		setMenuActive("menu-home");
		
 		fluxhomepage();

		browserAdvice();
	});
	</script>
{% endblock %}

