{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasPartesBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Pagament de llicències dels Clubs{% endblock %}

{% form_theme formpayment _self %}

{% block hidden_widget %}
	<input type="hidden" {{ block('attributes') }} value="{{ value }}" name="{{ name }}"/>
{% endblock %}

{% block body %}
	<header>
        <h1>Pagament de llicències</h1>
    </header>

    {% if app.session.hasFlash('error-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('error-notice') }}
    </div>
	{% endif %}
    
    <div id="fact-header">
    	<input id="parte_id" type="hidden" value="{{ parte.id }}" name="parte[id]">
	   	<div id="fact-dadesclub">
    		<ol id="list-data">
	   			<li class="data-detall">
	   				<div class="fact-titol">Club</div>
	   				<div id="fact-club">{{ parte.club.nom }}</div>
	   		   	</li>
	   		   	<li class="data-detall">
	   		   		<div class="fact-titol">Adreça</div>
	   		   		<div id="fact-adreca">{{ parte.club.addradreca }}</div>
	   		   	</li>
	   		   	<li class="data-detall">
	   		   		<div class="fact-titol">Població</div>
	   		   		<div id="fact-pobcp">{{ parte.club.addrpob }} ({{ parte.club.addrcp}}) </div>
	   		   	</li>
	   		   	<li class="data-detall">
	   		   		<div class="fact-titol">Província</div>
	   		   		<div id="fact-prov">{{ parte.club.addrprovincia }}</div>
	   		   	</li>
	   		   	<li class="data-detall">
	   		   		<div class="fact-titol">Telèfon</div>
	   		   		<div id="fact-telefon">{{ parte.club.telefon }}</div>
		   		</li>
			</ol>
	   	</div>	   		
	   	<div id="fact-dadesfactura">
    		<ol id="list-data">
    			<!-- El num factura va fora, el procés és en el retorn del TPV -->
    			<!-- 
	   			<li class="data-detall">
	   				<div class="fact-titol">Número (Prov)</div>
	   		   		<div id="fact-num">{# parte.numfactura #}</div>
	   		   	</li> -->
	   			<li class="data-detall">
	   		   		<div class="fact-titol">Data</div>
	   		   		<div id="fact-data">{{ "now"|date("m/d/Y") }}</div>
	   		   	</li>
	   		   	<li class="data-detall">
	   		   		<div class="fact-titol">CIF</div>
	   		   		<div id="fact-cif">{{ parte.club.cif }}</div>
	   		   	</li>
	   		</ol>
	   		
	   		<form id="formpayment" action="{{ payment.url }}" method="post" {{ form_enctype(formpayment) }}  class="appform">
	   			{{ form_widget(formpayment.preu, { 'name': 'Ds_Merchant_Amount'} ) }}
	   			{{ form_widget(formpayment.numordre, { 'name': 'Ds_Merchant_Order'} ) }}
	   			{{ form_widget(formpayment.codi, { 'name': 'Ds_Merchant_MerchantCode'} ) }}
	   			{{ form_widget(formpayment.terminal, { 'name': 'Ds_Merchant_Terminal'} ) }}
	   			{{ form_widget(formpayment.moneda, { 'name': 'Ds_Merchant_Currency'} ) }}
	   			{{ form_widget(formpayment.tipusTx, { 'name': 'Ds_Merchant_TransactionType'} ) }}
	   			{{ form_widget(formpayment.urlmerchant, { 'name': 'Ds_Merchant_MerchantURL'} ) }}
	   			{{ form_widget(formpayment.paymethods, { 'name': 'Ds_Merchant_PayMethods'} ) }}
	   			{{ form_widget(formpayment.lang, { 'name': 'Ds_Merchant_ConsumerLanguage'} ) }}
	   			{{ form_widget(formpayment.desc, { 'name': 'Ds_Merchant_ProductDescription'} ) }}
	   			{{ form_widget(formpayment.titular, { 'name': 'Ds_Merchant_Titular'} ) }}
	   			{{ form_widget(formpayment.fecdas, { 'name': 'Ds_Merchant_MerchantName'} ) }}
	   			{{ form_widget(formpayment.dades, { 'name': 'Ds_Merchant_MerchantData'} ) }}
	   			{{ form_widget(formpayment.signatura, { 'name': 'Ds_Merchant_MerchantSignature'} ) }}
	   			<div id="formpayment-buttons" class="payment-submit">
					<input type="submit" id="formpayment-button-payment" class="forminput-inside" value="Confirmar" name="formpayment-button-payment"/>
				</div> 
	   		</form>
	   	</div>
    </div>
    <div id="fact-detall">
    	<div id="list-header" class="clearfix">
   			<div id="header-factdetallid" class="col-listheader">id</div>
   			<div id="header-factdetallcodi" class="col-listheader">Codi</div>
		   	<div id="header-factdetalldesc" class="col-listheader">Descripció</div>
		   	<div id="header-factdetallquantitat" class="col-listheader">Quantitat</div>
		   	<div id="header-factdetallpreuunitat" class="col-listheader">Preu<br/>Unitat</div>
		   	<div id="header-factdetallpreusiva" class="col-listheader">Preu<br/>Total</div>
		   	<div id="header-factdetalliva" class="col-listheader">I.V.A.<br/>({{ parte.tipus.iva }}%)</div>
		   	<div id="header-factdetallpreutotal" class="col-listheader">Total</div>
   		</div>
   		
   		{% if detall|length > 0 %}
   		<ol id="list-data">
		{% for lineadetall in detall %}
	   		<li class="data-detall">
		   		<div class="factdetall-id">{# llicencia.id #}</div>
		   		<div class="factdetall-codi">{{ lineadetall.codi }}</div>
		   		<div class="factdetall-desc">{{ lineadetall.desc }}</div>
		   		<div class="factdetall-quantitat">{{ lineadetall.quant }}</div>
		   		<div class="factdetall-preuunitat">{{ lineadetall.preuunitat|number_format(2, '.', ',') }}</div>
		   		<div class="factdetall-preusiva">{{ lineadetall.preusiva|number_format(2, '.', ',') }}</div>
		   		<div class="factdetall-iva">{{ lineadetall.iva|number_format(2, '.', ',') }}</div>
		   		<div class="factdetall-preutotal">{{ lineadetall.totaldetall|number_format(2, '.', ',') }}</div>
	   		</li>
   		{% endfor %}
   			<li id="factdetall-totals" class="data-detall">
   				<div class="factdetall-tab"></div>
		   		<div class="factdetall-totalparcial">{{ totals.totalparcial|number_format(2, '.', ',') }}</div>
		   		<div class="factdetall-iva">{{ totals.iva|number_format(2, '.', ',') }}</div>
		   		<div class="factdetall-total">{{ totals.total|number_format(2, '.', ',') }} €</div>
		   	</li>	
		</ol>
		
		{%  if (parte.hasIVA == false) %}
		<div class="sms-footer">Factura exempta d'I.V.A. segons la llei 49/2002</div>
		{% endif %}
  	 	{% else %}
      	<div class="sms-notice">No hi ha llicències en aquesta llista</div>
  		{% endif %}
    </div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

function tpv() { 
	vent=
	document.forms[0].submit();
	return false;
}

$(document).ready(function() {
    $('#formpayment').submit(function() {
    	window.open('','tpv','width=800,height=600,scrollbars=yes,resizable=yes,status=yes,menubar=no,location=no');
        this.target = 'tpv';
    });
});


</script>


{% endblock %}

