{% for flashMessage in app.session.flashbag.get('sms-notice') %}
    <div class="sms-notice">
		{{ flashMessage }}
  	</div>	
{% endfor %}

{% if parte.numLlicencies > 0 %}
<div class="table-header">
	<div id="summary-header">
		<div id="header-totals" class="col-listheader">Resum - 
		Llicències vàlides des de <time datetime="{{ parte.dataalta|date('c') }}">{{ parte.dataalta|date('d/m/Y') }}</time>
	  	fins a <time datetime="{{ parte.datacaducitat|date('c') }}">{{ parte.datacaducitat|date('d/m/Y') }}</time></div>
	   	<div id="parte-preu" class="col-listheader">Total: {{ parte.getPreuTotalIVA|number_format(2, ',') }} (iva inc.)</div>
	</div>
</div>
<div class="table-noscroll">
	<ul id="summary-data">
		<li class="data-totals data-detall">
			<div class="data-detall-cell parte-titol">Per categoria</div>
	  		<div class="data-detall-cell parte-totals">Aficionats</div>
	   		<div class="data-detall-cell parte-totals">Infantils</div>
	   		<div class="data-detall-cell parte-totals">Tècnics</div>
	   	</li>
		<li class="data-totals data-detall">
			<div class="data-detall-cell parte-totals" style="text-align:left">   	
			<a id="parte-resum-more-show" href="#"><img style="cursor: pointer;" src="{{ asset('images/icon_dropdown.png') }}"></a>
	   		<a id="parte-resum-more-hide" href="#" style="display:none"><img style="cursor: pointer;" src="{{ asset('images/icon_dropup.png') }}"></a>
			</div>
	  		<div class="data-detall-cell parte-totals">{{ parte.numAficionats }}</div>
	   		<div class="data-detall-cell parte-totals">{{ parte.numInfantils }}</div>
	   		<div class="data-detall-cell parte-totals">{{ parte.numTecnics }}</div>
	   	</li>
	</ul>
   	{% if (parte.isAsseguranca != true) %}
	<ul id="summary-data-hidden">
	   	<li class="data-detall">
			<div class="data-detall-cell parte-titol">Per activitat</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Apnea</div><div class="parte-totals-n"> {{ parte.getNumActivitat('apnea') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Natació amb Aletes</div><div class="parte-totals-n"> {{ parte.getNumActivitat('natacio') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Video Subaquàtic</div><div class="parte-totals-n"> {{ parte.getNumActivitat('videosub') }}</div></div>
	   	</li>
		<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Escafandrisme</div><div class="parte-totals-n"> {{ parte.getNumActivitat('escafandrisme') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Biologia i Medi</div><div class="parte-totals-n"> {{ parte.getNumActivitat('biologia') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Rugbi Subaquàtic</div><div class="parte-totals-n"> {{ parte.getNumActivitat('rugbi') }}</div></div>
	   	</li>
		<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Foto Sub Apnea</div><div class="parte-totals-n"> {{ parte.getNumActivitat('fotosubapnea') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Orientació</div><div class="parte-totals-n"> {{ parte.getNumActivitat('orientacio') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Busseig Esportiu</div><div class="parte-totals-n"> {{ parte.getNumActivitat('besportiu') }}</div></div>
	   	</li>
	   	<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Fotografia Sub.</div><div class="parte-totals-n"> {{ parte.getNumActivitat('fotocine') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Pesca Submarina</div><div class="parte-totals-n"> {{ parte.getNumActivitat('pesca') }}</div></div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Busseig Ampolles</div><div class="parte-totals-n"> {{ parte.getNumActivitat('bampolles') }}</div></div>
	   	</li>
	   	<li class="data-detall">
			<div class="data-detall-cell parte-titol">&nbsp;</div>
			<div class="data-detall-cell parte-totals"><div class="parte-totals-t">Hockei Sub</div><div class="parte-totals-n"> {{ parte.getNumActivitat('hockey') }}</div></div>
	   	</li>
	</ul>
	{% endif %} 
</div>
   	

<div class="table-header">
	<div id="list-header">
		<div id="header-parteid" class="col-listheader">{{ parte.id }}</div> 
		<!-- recull parte id, per informar input parte_id quan es fa l'alta de la 
		primera llicència que crea el parte. Veure my-jquery-scripts / addLlicenciaClick -->
	   	<div id="header-llicenciapersona" class="col-listheader">Llicències<span class="listheader-order"></span></div>
	   	<div id="header-llicenciadni" class="col-listheader">DNI o equivalent<span class="listheader-order"></span></div>
	   	<div id="header-llicenciacategoria" class="col-listheader">Categoria<span class="listheader-order"></span></div>
	   	<div id="header-llicenciaactivitats" class="col-listheader">Activitats</div>
	   	<div id="header-llicenciaenviarllicencia" class="col-listheader"><img src="{{ asset('images/icon_sobre.png') }}" alt="Rebre llicència per correu" title="Rebre llicència per correu" width="30px"></div>
	   	<div id="header-llicenciaactions" class="col-listheader">&nbsp;</div>
	</div>
</div>
<div class="table-scroll">
	<ol id="list-data">
		{% for llicencia in parte.llicenciessortedbyname %}
			{# if llicencia.id != "" #}
			{% if llicencia.persona.nom is defined %}
				{% if llicencia.databaixa is null %}
				<li class="data-detall">
	  				<div class="data-detall-cell llicencia-id">{{ llicencia.id }}</div>
					<div class="data-detall-cell llicencia-persona">{{ llicencia.persona.cognomsNom }}</div>
					<div class="data-detall-cell llicencia-dni">{{ llicencia.persona.dni }}</div>
					<div class="data-detall-cell llicencia-categoria">{{ llicencia.categoria.categoria }}</div>
					<div class="data-detall-cell llicencia-activitats">{{ llicencia.activitats }}</div>
					<div class="data-detall-cell llicencia-enviarllicencia">		
					{% if llicencia.enviarllicencia == 1 %} Si 	{% else %} No {% endif %}
					</div>
					<div class="data-detall-cell llicencia-actions">
					{% if parte.allowPrintLlicencia == true %}
						<a href="{{ path('FecdasPartesBundle_licensetopdf', { 'id': llicencia.id}) }}"><img src="{{ asset('images/icon-license.png') }}" alt="llicència" title="llicència" width="23px"></a>
					{% endif %}
					<a class="label-edit-llicencia" href="javascript:loadLlicencia({{ llicencia.id }});"><img src="{{ asset('images/icon-view.png') }}" alt="Edita" title="Edita" width="23px"></a>
					{% if admin == true and not parte.pagat and (parte.pendentSincronitzar or parte.pendent) %}
						<a href="#" name="remove-llicencia" value="{{ llicencia.id }}"><img src="{{ asset('images/icon-remove.png') }}" alt="Esborra" title="Esborra" width="23px"></a>
					{% endif %}
					</div>
	  			</li>
	  			{% endif %}
	   		{% endif %}
	   	{% endfor %}
	</ol>
</div>
{% else %}
<div class="sms-notice">No hi ha llicències en aquesta llistats d'assegurats</div>
{% endif %}

