{# src/Fecdas/PartesBundle/Resources/views/Page/index.html.twig #}
{% extends 'FecdasPartesBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Llista de comunicacions del club{% endblock %}

{% block body %}
	<header>
        <h1>Llistes de comunicacions</h1>
    </header>
    {% if app.session.hasFlash('error-notice') %}
    <div class="sms-notice">
        {{ app.session.flash('error-notice') }}
    </div>
	{% endif %}
    
    <div id="partes-main">
	    <div id="list-forms">
	    	<form action="{{ path('FecdasPartesBundle_partes') }}" method="post" {{ form_enctype(form) }}  class="appform">
	      		<div id="formpartes-clubs" class="form-left">
					{# form_label(form.clubs, 'Data Alta', { 'attr': {'class': 'formlabel-outside'} }) #}
					{{ form_widget(form.clubs, { 'attr': {'class': 'formfield-outside'} }) }}
				</div> 
				{% if true %} Les llistes pedents de pagament no tenen validesa fins que es confirmi el seu pagament {% endif %}
				<div id="formpartes-submit" class="form-right">	
					<input type="submit" class="forminput-inside" value="Nou comunicat" name="formpartes-button-new"/>
				</div> 
		   	</form>
	    </div>
	    <div class="table-header">	
		   	<div id="list-header">
		   		<div id="header-parteid" class="col-listheader">id</div>
		   		<div id="header-parteany" class="col-listheader">Any<span class="listheader-order"></span></div>
		   		<div id="header-partedata" class="col-listheader">Data alta<span class="listheader-order"></span></div>
		   		<div id="header-partetipusdesc" class="col-listheader">Tipus<span class="listheader-order"></span></div>
		   		<div id="header-partetotal" class="col-listheader">Llicències<span class="listheader-order"></span></div>
		   		<div id="header-parteimport" class="col-listheader">Preu<span class="listheader-order"></span></div>
		   		<div id="header-partefactura" class="col-listheader">Factura<span class="listheader-order"></span></div>
		   		<div id="header-parteestat" class="col-listheader"> &nbsp;<span class="listheader-order"></span></div>
		   		<div id="header-parteactions" class="col-listheader"> &nbsp;</div>
		   	</div>
	   	</div>
		{% if partes|length > 0 %}
		<div class="table-scroll">
		   	<ol id="list-data">
			{% for parte in partes %}
		   		<li class="data-detall {% if parte.isPassat %} data-detall-fosc {% endif %}" {% if parte.numLlicencies == 0 %} style="display:none" {% endif %} >
			   		<div class="data-detall-cell parte-id">{{ parte.id }}</div>
		   			<div class="data-detall-cell parte-any">{{ parte.any }}</div>
		   			<div class="data-detall-cell parte-data"><time datetime="{{ parte.dataalta|date('c') }}">{{ parte.dataalta|date('d/m/Y') }}</time></div>
		   			<div class="data-detall-cell parte-tipusdesc">{{ parte.tipus.descripcio }}</div>
		   			<div class="data-detall-cell parte-total">{{ parte.numLlicencies }}</div>
		   			<div class="data-detall-cell parte-import">{{ parte.getPreuTotalIVA|number_format(2, ',', '.') }} €</div>
		   			<div class="data-detall-cell parte-factura">
		   			{% if parte.numfactura is not null %}
		   				{{ parte.numfactura }}
		   			{% else %}
		   				{% if parte.getPendent or parte.dataalta|date('Y') < 2013 %}&nbsp;{% else %}pendent{% endif %}
		   			{% endif %}
		   			</div>
		   			<div class="data-detall-cell parte-estat">{{ parte.getInfoLlistat }}</div>
		   			<div class="data-detall-cell parte-actions">
		   				{% if parte.allowRenovar and parte.numLlicencies > 0 %}
		   				<a class="parte-action-renew" href="{{ path('FecdasPartesBundle_renovar', { 'id': parte.id }) }}"><img src="{{ asset('images/icon-renovar.png') }}" alt="Renovar" title="Renovar" width="23px"></a>
		   				{% endif %}
		   				<a class="parte-action-view" href="{{ path('FecdasPartesBundle_parte', { 'id': parte.id, 'action':'view' }) }}"><img src="{{ asset('images/icon-view.png') }}" alt="Editar Veure" title="Editar Veure" width="23px"></a>
		   			</div>
		   		</li>
		   		{% endfor %}
			</ol>
		</div>
	   	{% else %}
	        	<div class="sms-notice">No hi ha llistats d'assegurats per aquest club</div>
	    {% endif %}
	    </div>	
    <div class="sms-footer">Per esborrar alguna llista cal posar-se en contacte amb la Federació</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-partes");
	
	removeParteLink();

	sortLlista("col-listheader", "list-data");

	var tableScroll = $('.table-scroll');
	if (tableScroll.hasOverflowY()) {
		$('.table-scroll').css({"width":"101.5%"});
	}
});

</script>


{% endblock %}

