{# src/Fecdas/PartesBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('js/genemu/select2-3.4.5/select2.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/style.css?v=2.05') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/responsive.css?v=2.01') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/redmond/jquery.ui.theme.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/redmond/jquery-ui.min.css') }}" type="text/css" rel="stylesheet" />
    {% if roleform is defined %}
    {{ form_stylesheet(roleform) }}
    {% endif %}
{% endblock %}

{% block fecdas_logo %}
	<a href="http://www.fecdas.cat" target="_blank">
	<img src="{{ asset('images/fecdaslogo.png') }}">
	</a>
{% endblock %}

{% block fecdas_title %}
    Aplicació de tramitació de llistes d'assegurats<br/> <i>Federació Catalana d'Activitats Subaquàtiques</i>
{% endblock %}

{% block fecdas_login %} 
	{# if ( not ( app.session.has('username') and app.session.has('remote_addr') ) or
    	  ( app.session.get('remote_addr') != app.request.server.get("REMOTE_ADDR") ) )  #}
    	<div id="menu-user">
			
			<div class="btn-group menu-user-dropdown">
			  <a class="btn btn-primary user-login" href="#"><i class="fa fa-user fa-fw"></i>{% if authenticated == true %}{{ app.session.get('username') }} {% else %} entrada{% endif %}</a>
			  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
			    <span class="fa fa-caret-down"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="{{ path('FecdasBundle_contact') }}">Contacte <i class="fa fa-envelope-o fa-fw"></i></a></li>
			    <li><a href="http://www.fecdas.cat/faqs.php" target="_blank">FAQ <i class="fa fa-info fa-fw"></i></a></li>
				{% if authenticated == true  %}
					{% if enquestausuaripendent is defined and enquestausuaripendent == true %}
						<li><a class="featured enquesta-action-open" href="{{ path('FecdasBundle_enquestausuari') }}">Enquesta <i class="fa fa-question fa-fw"></i></a></li>
					{% endif %}
					<li><a href="{{ path('FecdasBundle_user') }}">Racó d'usuari <i class="fa fa-key fa-fw"></i></a></li>
					<li><a href="{{ path('FecdasBundle_logout') }}">Tancar sessió <i class="fa fa-sign-out fa-fw"></i></a></li>
				{% else %}
					<li><a href="{{ path('FecdasBundle_login') }}">Iniciar sessió <i class="fa fa-sign-in fa-fw"></i></a></li>	
				{% endif %}	
			    {% if roleform is defined %}
			    <li class="divider"></li>
			    <li>{{ form_label(roleform.role) }}</li>
			    <li><p>{{ form_widget(roleform.role) }} <i class="fa fa-exchange fa-fw"></i></p></li>
				{% endif %}
			  </ul>
			</div>
		</div>
   	
	
{% endblock %}

{% block menu_navigation %}

	{% if authenticated == true  %}
	<div class="container">
		<nav class="navbar navbar-default" >
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Menú</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li id="menu-home"><a href="{{ path('FecdasBundle_homepage') }}">Inici <span class="sr-only">Inici</span></a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tramitació <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		          	<li id="menu-parte" class="separator"><a href="{{ path('FecdasBundle_parte') }}">Introduir noves llicències</a></li>
					<li id="menu-import"><a href="{{ path('FecdasBundle_importcsv') }}">Importació de llicències</a></li>
					<li class="divider"></li>
					<li id="menu-duplicats"><a href="{{ path('FecdasBundle_duplicats', {'sort': 'd.datapeticio', 'direction':'desc'}) }}">Duplicats</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Comandes <span class="caret"></span></a>
			        <ul class="dropdown-menu" role="menu">
   			          	<li id="menu-comanda"><a href="{{ path('FecdasBundle_graellaproductes') }}"><i class="fa fa-shopping-cart"></i>  Cistella ( {{ cartItems }} )</a></li>
						<li class="divider"></li>
			          	<li id="menu-kits" class="separator"><a href="{{ path('FecdasBundle_graellaproductes', { 'sort': 'p.descripcio', 'direction':'asc', 'tipus':3 }) }}">Kits</a></li>
			          	<li id="menu-merchandising" class="separator"><a href="{{ path('FecdasBundle_graellaproductes', { 'sort': 'p.descripcio', 'direction':'asc', 'tipus':4 }) }}">Merchandising</a></li>
			          	<li id="menu-cursos"><a href="{{ path('FecdasBundle_graellaproductes', { 'sort': 'p.descripcio', 'direction':'asc', 'tipus':5 }) }}">Cursos</a></li>
			          	<li id="menu-altres"><a href="{{ path('FecdasBundle_graellaproductes', { 'sort': 'p.descripcio', 'direction':'asc', 'tipus':6 }) }}">Altres</a></li>
			          	<!-- <li id="menu-altres"><a href="{# path('FecdasBundle_graellaproductes', { 'sort': 'p.descripcio', 'direction':'asc', 'tipus':6 }) #}">Miscel·lània</a></li> -->
						{% if admin == true %}
						<li class="divider">Admin</li>
			          	<li id="menu-productes-llicencies"><a href="{{ path('FecdasBundle_graellaproductes', { 'sort': 'p.descripcio', 'direction':'asc', 'tipus':1 }) }}">Llicències</a></li>
			          	<li id="menu-productes-duplicats"><a href="{{ path('FecdasBundle_graellaproductes', { 'sort': 'p.descripcio', 'direction':'asc', 'tipus':2 }) }}">Duplicats</a></li>
			          	{% endif %}
			          	<li class="divider"></li>
			          	<li id="menu-comandes"><a href="{{ path('FecdasBundle_comandes', { 'sort': 'c.dataentrada', 'direction':'desc' }) }}">Comandes</a></li>
 		            </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Consulta <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		          	<li id="menu-partes"><a href="{{ path('FecdasBundle_partes', { 'sort': 'p.dataalta', 'direction':'desc' }) }}">Llicències</a></li>
		          	<li class="divider"></li>
		          	<li id="menu-assegurats"><a href="{{ path('FecdasBundle_assegurats', { 'sort': 'e.cognoms', 'direction':'asc' }) }}">Assegurats</a></li>
					{% if busseig == true  %}
			            <li class="divider"></li>
						<li id="menu-busseig"><a href="{{ path('FecdasBundle_busseig') }}">Llicències amb el DNI</a></li>
					{% endif %}
		          </ul>
		        </li>
		      </ul>
		      {% if admin == true  %}
		      	<ul class="nav navbar-nav navbar-right"><li><p class="navbar-text"><i class="admin-nav">ADMINISTRACIÓ </i></p></li></ul>
		      	<ul class="nav navbar-nav navbar-right">
		      		<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clubs i usuaris <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			          	<li id="menu-admnouclub" class="separator"><a href="{{ path('FecdasBundle_club', { 'action': 'nouclub' }) }}">Nou club</a></li>
			          	<li id="menu-admnouusuari" class="separator"><a href="{{ path('FecdasBundle_club', { 'action': 'adduser' }) }}">Afegir usuari</a></li>
			          	<li id="menu-admclubs"><a href="{{ path('FecdasBundle_club') }}">Edició clubs</a></li>
			          	<li class="divider"></li>
			          	<li id="menu-admincarnet"><a href="{{ path('FecdasBundle_imprimircarnet') }}">Carnets</a></li>
			          </ul>
			        </li>	
		      		<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Llicències <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			          	<li id="menu-admconsulta" class="separator"><a href="{{ path('FecdasBundle_consultaadmin') }}">Consulta amb criteris</a></li>
			          	<li id="menu-admllistes" class="separator"><a href="{{ path('FecdasBundle_recents', { 'sort': 'p.dataalta', 'direction':'desc' }) }}">Llistes recents</a></li>
			          	<li id="menu-admpendents" class="separator"><a href="{{ path('FecdasBundle_recents', { 'sort': 'p.dataalta', 'direction':'desc', 'nopagat': 1 }) }}">Pendents pagament</a></li>
			          	<li id="menu-admperimprimir" class="separator"><a href="{{ path('FecdasBundle_recents', { 'sort': 'p.dataalta', 'direction':'desc', 'noimpres': 1 }) }}">Per imprimir</a></li>
			          	<li id="menu-admperimprimir"><a href="{{ path('FecdasBundle_recents', { 'sort': 'p.dataalta', 'direction':'desc', 'compta': 1 }) }}">Per enviar a comptabilitat</a></li>
			          </ul>
			        </li>	
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facturació <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			          	<li id="menu-admsaldos" class="separator"><a href="{{ path('FecdasBundle_clubs', { 'sort': 'c.nom', 'direction':'asc' }) }}">Saldos clubs</a></li>
			          	<li id="menu-admingresos" class="separator"><a href="{{ path('FecdasBundle_ingresos', { 'sort': 'r.datapagament', 'direction':'desc' }) }}">Ingressos i rebuts</a></li>
			          	<li id="menu-admrebut"><a href="{{ path('FecdasBundle_nouingres') }}">Nou ingrès</a></li>
			          	<li class="divider"></li>
			          	<li id="menu-admproductes" class="separator"><a href="{{ path('FecdasBundle_productes', { 'sort': 'p.descripcio', 'direction':'asc' }) }}">Llistat de productes</a></li>
			          	<li id="menu-admproducte"><a href="{{ path('FecdasBundle_nouproducte') }}">Nou producte</a></li>
			          	<li class="divider"></li>
			          	<li id="menu-admcomandes"><a href="{{ path('FecdasBundle_comandes', { 'sort': 'c.dataentrada', 'direction':'desc' }) }}">Comandes</a></li>
			          	<li class="divider"></li>
			          	<li id="menu-admtraspas"><a href="{{ path('FecdasBundle_traspascomptabilitat') }}">Enviar comptabilitat</a></li>
			          </ul>
			        </li>
			        <li class="dropdown">	
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Enquestes <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			        	<li id="menu-admenquesta" class="separator"><a href="{{ path('FecdasBundle_enquesta') }}">Nova enquesta</a></li>
			        	<li id="menu-admenquestes" class="separator"><a href="{{ path('FecdasBundle_enquestes') }}">Enquestes</a></li>
			          	<li id="menu-admestadistiques"><a href="{{ path('FecdasBundle_estadistiques') }}">Estadistiques</a></li>
			          </ul>
			        </li>
		      	</ul>
		      {% else %}
		      	<ul class="nav navbar-right"><li id="menu-contact"><a class="navbar-brand" href="{{ path('FecdasBundle_contact') }}"><i class="fa fa-envelope"></i></a></li></ul>
			{% endif %}
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
    {% endif %} 
	
{% endblock %}


{% block body %}
	<nav>
	{% if authenticated != true  %}
		<ul class="nav nav-pills">
			<li id="menu-home" role="presentation"><a href="{{ path('FecdasBundle_homepage') }}"><i class="fa fa-home"></i>Inici</a></li>
			<li id="menu-login" role="presentation"><a href="{{ path('FecdasBundle_login') }}"><i class="fa fa-user"></i>Entrar</a></li>
			<li id="menu-contact" role="presentation"><a href="{{ path('FecdasBundle_contact') }}"><i class="fa fa-envelope"></i>Contacte</a></li>
		</ul>
	{% endif %}
	</nav>
{% endblock %}


{% block javascripts %}
 	
	{{ parent() }}

	<script src="{{ asset('js/my-jquery-script.js?v=2.06') }}" type="text/javascript"></script>	
    <script src="{{ asset('js/my-jquery-script-admin.js?v=2.04') }}" type="text/javascript"></script>
    
    <script src="{{ asset('js/genemu/select2-3.4.5/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/genemu/select2-3.4.5/select2_locale_ca.js') }}" type="text/javascript"></script>
	
	{% if roleform is defined %}
	    {{ form_javascript(roleform) }}
	{% endif %}

	<script type="text/javascript">
		if (($.browser.msie && parseInt($.browser.version, 10) < 8) ||
		    ($.browser.webkit && parseInt($.browser.version, 10) < 14) ||
		    ($.browser.mozilla && parseInt($.browser.version, 10) < 11) ||
		    ($.browser.opera && parseInt($.browser.version, 10) < 11)) {
			/* http://browsershots.org
			IE >= 9, Firefox >= 11, Chorme >=14, Opera >= 11, Safari >= 5 */
			location.href="/browsernotsupported.html";
		};
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
			
			formFocus();
	
			showEnquestaClick();
	
			mainMenuClick();
	
			changeRoleClub("{{ path('FecdasBundle_changerole') }}");
	
			
		});
	
		$('#menu-user')
		  .css('opacity', 0)
		  .slideDown('slow')
		  .animate(
		    { opacity: 1 },
		    { queue: false, duration: 'slow' }
		  );
		
	</script>


{% endblock %}
