{# src/Fecdas/PartesBundle/Resources/views/Enquestes/enquesta.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block javascriptshead %}
 	{{ parent() }}
   	<script src="{{ asset('js/jquery.ui.datepicker-ca.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}Aplicació gestió FECDAS. Gestió d'enquestes {% endblock %}

{% block body %}
    <header>
        <h1><a href="{{ path('FecdasBundle_enquestes') }}">Enquestes i resultats</a> > Enquesta</h1>
    </header>
   
	{{ form_start(form, {'action': path('FecdasBundle_enquesta'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'formenquesta'}}) }}
		{%  if form_errors(form) is not empty %}
			<div class="sms-notice">{{ form_errors(form)  }}</div>
		{% endif %}	

		<div id="formenquesta-id">
			{{ form_widget(form.id) }}
		</div>
		<div class="form-row clearfix">
			<div id="formenquesta-desc" class="form-left">
				{{ form_label(form.descripcio, 'Descripció', { 'label_attr': {'class': 'formlabel-outside'} }) }}
				{{ form_widget(form.descripcio, { 'attr': {'class': 'formfield-outside'} }) }}
			</div>
			<div id="formenquesta-dates" class="form-left">
				{{ form_label(form.datainici, 'S\'activarà en data', { 'label_attr': {'class': 'formlabel-outside'} }) }}
				{{ form_widget(form.datainici, { 'attr': {'class': 'formfield-outside formdate-calendar'} }) }}
				{{ form_label(form.datafinal, 'Es tancarà en data', { 'label_attr': {'class': 'formlabel-outside'} }) }}
				{{ form_widget(form.datafinal, { 'attr': {'class': 'formfield-outside formdate-calendar'} }) }}
			</div>
        </div>
         
        <div class="form-row clearfix">
			<div id="formenquesta-submit" class="enquesta-submit">	
				<input type="submit" id="formenquesta-button-save" class="forminput-inside" value="Desar" name="formenquesta-button-save"/>
			</div>
        </div>
		<div id="formenquesta-rest">	{{ form_rest(form) }}</div>

        {% for flashMessage in app.session.flashbag.get('error-notice') %}
        <div class="sms-notice">
  			{{ flashMessage }}
  		</div>	
		{% endfor %}		
    {{ form_end(form) }}

    <div id="progressbar" style="display:none"><img src="/images/icon_progress.gif"></div>
    
	<div id="seleccio-preguntes">
		<div class="bloc-preguntes">
			<div class="table-header">	
				<div id="list-header">
					<div class="col-listheader">Preguntes seleccionades</div> 
				</div>
			</div>
			<div class="table-scroll">	
				<ul id="sortablesi" class="connectedSortable">
					{% for pregunta in preguntessi %}
						<li id="pregunta_{{ pregunta.id }}">
		  					<span class="pregunta-id">{{ pregunta.id }} - </span>
		  					<span class="pregunta-tipus">({{ pregunta.tipus }})</span>
		  					<span class="pregunta-enunciat">{{ pregunta.enunciat }}</span>
	  					</li>
			   		{% endfor %}
				</ul>
			</div>
		</div>
		<div class="bloc-preguntes bloc-preguntes-dreta">
			<div class="table-header">
				<div id="list-header">
					<div class="col-listheader">Preguntes excloses</div> 
				</div>
			</div>
			<div class="table-scroll">
				<ul id="sortableno" class="connectedSortable">
					{% for pregunta in preguntesno %}
						<li id="pregunta_{{ pregunta.id }}"  class="data-detall">
			  				<span class="pregunta-id">{{ pregunta.id }}</span>
			  				<span class="pregunta-tipus">({{ pregunta.tipus }})</span>
			  				<span class="pregunta-enunciat">{{ pregunta.enunciat }}</span>
		  				</li>
		  			{% else %}
		  				<li class="pregunta-excluded"><span>cap pregunta exclosa</span></li>
				   	{% endfor %}
				</ul>
			</div>
		</div>
	</div> 
     
{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<script src="{{ asset('js/my-jquery-script-enquestes.js') }}" type="text/javascript"></script>
	
	<script type="text/javascript">
	
	$(document).ready(function(){
		setMenuActive("menu-admenquesta");
		
		$("#menu-adm").click();
	
		loadCalendar($( "#enquesta_datainici" ));
		loadCalendar($( "#enquesta_datafinal" ));
		
		gestionarSortables();
	
		submitEnquestes('{{ path('FecdasBundle_enquestes') }}');
	
		var tableScroll = $('.table-scroll');
		if (tableScroll.hasOverflowY()) {
			$('.table-scroll').css({"width":"101.5%"});
		}
	});

	</script>


{% endblock %}

