{{ form_start(form, {'action': path('FecdasBundle_enquestausuari'), 'method': 'POST', 'attr': {'class': 'modalform', 'id':'formenquesta'}}) }}
	{% if action == "preview" %}<div id="enquesta-preview"></div>{% endif %}
	<div class="enquesta-descripcio">{{ enquesta.descripcio|nl2br }}</div>
	<div id="formenquesta-preguntes">
		<table class="jqplot-table-legend"><tbody><tr><td><td>1-gens</td><td><td>2-poc</td><td><td>3-suficient</td><td><td>4-bastant</td><td><td>5-molt</td></tr></tbody></table>
		{% for camp in form %}
			{% if camp != form.id and camp != form._token %}
	    	<div class="enquesta-row clearfix">
	        	{{ form_label(camp, null) }}
	        	{{ form_widget(camp) }}
	    	</div>
			{% endif %}
		{% endfor %}
		<div id="formenquesta-rest">{{ form_rest(form) }}</div>
	</div>
	
	<div id="error-enquesta"></div>
{{ form_end(form) }}




