{# src/Fecdas/PartesBundle/Resources/views/Page/parte.html.twig #}
{% extends 'FecdasBundle::layout.html.twig' %}

{% block title %}Aplicació gestió FECDAS. Renovació de llistes d'assegurats {% endblock %}

{% block body %}
    <header>
         <h1><a href="{{ path('FecdasBundle_assegurats') }}">Assegurats</a> > Renovació de llicència</h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('error-notice') %}
	    <div class="sms-notice">
  			{{ flashMessage }}
  		</div>	 
	{% endfor %}    
	
    {{ form_start(form, {'action': path('FecdasBundle_renovarllicencia'), 'method': 'POST', 'attr': {'class': 'appform', 'id':'formrenovar'}}) }}
		<div class="table-header">	
	    	<div id="list-header">
				<div class="col-listheader">Tipus: {{ parte.tipus.descripcio }} - {{ parte.clubparte.nom }}</div>
			</div>
		</div>
	
		<div id="formparte-llicencia" class="parte-llicencia">
			<div class="row">
				<div class="col-md-4 col-sm-5 col-xs-12">
					<div class="form-group">
						{{ form_label(form.personashow, 'Nom i cognoms') }}
						{{ form_widget(form.personashow, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="form-group">
						{{ form_label(form.categoria, 'Tipus') }}
						{{ form_widget(form.categoria, { 'attr': {'class': 'form-control'}, 'id': 'parte_llicencies_categoria_select' }) }}
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					<div class="form-group">
						{{ form_label(form.datacaducitatshow, 'Data de caducitat') }}
						{{ form_widget(form.datacaducitatshow, { 'attr': {'class': 'form-control form-control-center'} }) }}
						{{ form_widget(form.datacaducitat, { 'id': 'parte_llicencies_datacaducitat' }) }}
					</div>
				</div>
				{% if parte.perImprimir == true and parte.perEnviarFederat != true %}
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="form-group">
						<label>
    						Rebre llicència per correu?
    						<div class="checkbox-inline">{{ form_widget(form.enviarllicencia[0]) }}{{ form_label(form.enviarllicencia[0]) }}</div>
    		      			<div class="checkbox-inline">{{ form_widget(form.enviarllicencia[1]) }}{{ form_label(form.enviarllicencia[1]) }}</div>
						</label>
					</div>
				</div>
				{% else %}
					{{ form_widget(form.enviarllicencia) }}
				{% endif %}
				<div class="col-md-3 col-sm-6 col-xs-6 col-last-right">
					<div class="form-group">
						<label class="required"><span class="" style="color:transparent">.</span></label>
						<a id="formllicencia-renovar"  type="submit" class="btn btn-default">Renovar llicència <i class="fa fa-check blue"></i></a>
					</div>
				</div>

			</div>
			
			<!--  NO mostra checks per Fusell i No CMAs, no habilitada per competició -->
			<div class="form-row clearfix hidden" {% if (parte.asseguranca == true) %} style="display:none" {% endif %}>
				<div class="llicencia-check seleccionar-tot">
			 		<label class="formlabel-lefttocheckbox"  for="llicencia_seleccionat-tot">Seleccionar tot</label>
					<input id="llicencia_seleccionat-tot" class="formcheckbox-right" type="checkbox" name="seleccionar-tot">
				</div>
			</div>
			<div class="form-row clearfix hidden" {% if (parte.asseguranca == true) %} style="display:none" {% endif %}>
				<div class="llicencia-check">
				{{ form_label(form.apnea, 'Apnea', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.apnea, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.escafandrisme, 'Escafandrisme', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.escafandrisme, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.fotosubapnea, 'Foto Sub Apnea', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.fotosubapnea, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.fotocine, 'Fotografia Sub.', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.fotocine, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.hockey, 'Hockei Sub', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.hockey, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.natacio, 'Natació amb Aletes', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.natacio, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.biologia, 'Biologia i Medi', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.biologia, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.orientacio, 'Orientació', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.orientacio, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.pesca, 'Pesca Submarina', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.pesca, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.videosub, 'Video Subaquàtic', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.videosub, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.rugbi, 'Rugbi Subaquàtic', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.rugbi, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.besportiu, 'Busseig Esportiu', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.besportiu, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
				<div class="llicencia-check">
				{{ form_label(form.bampolles, 'Busseig Ampolles', { 'label_attr': {'class': 'formlabel-lefttocheckbox'} }) }}
				{{ form_widget(form.bampolles, { 'attr': {'class': 'formcheckbox-right'} }) }}
				</div>
			</div>
	
			<div id="formrenovar-rest"  class="hidden">
				<div class="formparte-id">{{ form_widget(form.cloneid) }}</div>
	        	{{ form_rest(form) }}
	        </div>
        
        </div>
    {{ form_end(form) }}
     
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

$(document).ready(function(){
	setMenuActive("menu-partes");

	selectAllChecks();

	$('#formllicencia-renovar').click(function(e) {
		//Cancel the link behavior
	    e.preventDefault();

		if ($("#llicencia_renovar_enviarllicencia_0").prop("checked") == false &&
			$("#llicencia_renovar_enviarllicencia_1").prop("checked") == false) { // Radio button
				dialegError("Error", "cal indicar si es vol rebre la llicència per correu", 400);
				return false;
		}
	    
	    $("#formrenovar").submit();
	});
	        
});

</script>

{% endblock %}

